@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.ChecklistEditorBlock {
  $b: &;

  @include size(auto);
  @include flex(flex-start, flex-start);
  min-width: 18px;
  margin-left: -1.5em;

  & > *:not(&__text) {
    cursor: pointer;

    & * {
      cursor: pointer;
    }
  }

  & > .sw-checkbox {
    margin-top: 4px;
  }

  &__text {
    @include font(15px, $deepBlue-80, 27px);
    cursor: text;
    word-wrap: break-word;
  }

  &--checked {

    #{$b}__text {
      @include font(15px, $deepBlue-30, 27px);
    }
  }
}
