@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.ChecklistEditorBlock {
  $b: &;

  @include size(auto);
  @include flex(flex-start, flex-start);
  min-width: 18px;
  margin-left: -1.5em;

  & > *:not(&__text) {
    cursor: pointer;

    & * {
      cursor: pointer;
    }
  }

  &__text {
    line-height: 18px;
  	font-size: 15px;
  	color: $deepBlue-80;
    position: relative;
    cursor: text;
    word-wrap: break-word;
  }

  &--checked {

    #{$b}__text {
      color: $deepBlue-30;
      text-decoration: line-through;
    }
  }
}
