@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.sw-text-editor {
  width: 100%;
}

.DraftEditor-root {
  position: relative;
  text-align: initial;

  & * {
    cursor: text;
  }
}

.DraftEditor-editorContainer {
  height: inherit;
  position: relative;
  text-align: initial;
  z-index: 1;
}

.public-DraftEditor-content {
  @include font(15px, $deepBlue-80, 27px);
  width: 100%;
  height: inherit;
  min-height: 49vh;
  text-align: initial;
  color: $deepBlue-100;
  padding: 45px 0;
  padding-top: 21px;

  & h1 {
    @include font(27px, $deepBlue-100, 36px);
  }

  & h2 {
    @include font(21px, $deepBlue-100, 27px);
  }

  & ul {
    display: block;
    list-style-type: disc;
    margin: 3px 0;
    padding-left: 3px;
  }

  & ol {
    padding-left: 3px;
  }

  & li {
    list-style: initial;

  }

  &[contenteditable="true"] {
    -webkit-user-modify: read-write-plaintext-only;
  }
}

.public-DraftEditorPlaceholder-root {
  @include font(15px, $deepBlue-30, 27px);
  position: absolute;
  z-index: 0;
  left: 1px; top: 21px;
}

.DraftEditorPlaceholder-hidden {
  display: none
}

.public-DraftEditor-block {
  position: relative;
}

.DraftEditor-link {
  $b: &;

  color: $blue-100;
  cursor: pointer;
  position: relative;

  & * {
    cursor: pointer;
  }

  &:hover {
    text-decoration: underline;

    #{$b}__tooltip {
      opacity: 1;
      pointer-events: all;
      transform: translateY(-120%) translateX(-50%);
      transition: .15s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        left: 0; bottom: 0;
        @include size(100%, 20px);
        background-color: transparent;
        transform: translateY(100%);
      }
    }
  }

  &__tooltip {
    @include flex(flex);
    @include size(250px, 30px);
    background-color: white;
    border-radius: 6px;
    border: 1px solid $deepBlue-10;
    box-shadow: 0px 0px 10px 1px rgba($deepBlue-20,0.3);
    cursor: default;
    left: 50%; top: 0;
    padding-left: 10px;
    position: absolute;
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: .15s ease-in-out;
  }

  &__tooltip-content {
    @include size(calc(100% - 30px), 100%);
    cursor: default;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
  }

  &__button {
    @include size(30px);
    @include flex();
    cursor: default;
    position: relative;
    z-index: 2;

    &:hover {
      #{$b}__icon {
        fill: $deepBlue-80;
      }
    }
  }

  &__icon {
    @include size(24px);
    cursor: default;
    fill: $deepBlue-40;
  }
}

.DraftEditor-alignLeft .public-DraftStyleDefault-block {
  text-align: left;
}

.DraftEditor-alignLeft .public-DraftEditorPlaceholder-root {
  left: 0;
  text-align: left;
}

.DraftEditor-alignCenter .public-DraftStyleDefault-block {
  text-align: center;
}

.DraftEditor-alignCenter .public-DraftEditorPlaceholder-root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.DraftEditor-alignRight .public-DraftStyleDefault-block {
  text-align: right;
}

.DraftEditor-alignRight .public-DraftEditorPlaceholder-root {
  right: 0;
  text-align: right;
}


// FB styles
.public-DraftStyleDefault-block {
  position: relative;
  white-space: pre-wrap;
}

.public-DraftStyleDefault-ltr {
  direction: ltr;
  text-align: left;
}

.public-DraftStyleDefault-rtl {
  direction: rtl;
  text-align: right;
}

.public-DraftStyleDefault-listLTR {
  direction: ltr;
}

.public-DraftStyleDefault-listRTL {
  direction: rtl;
}

.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  margin: 16px 0;
  padding: 0;
}

.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
  margin-left: 1.5em;
}

.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listRTL {
  margin-right: 1.5em;
}

.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR {
  margin-left: 3em;
}

.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listRTL {
  margin-right: 3em;
}

.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listLTR {
  margin-left: 4.5em;
}

.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listRTL {
  margin-right: 4.5em;
}

.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listLTR {
  margin-left: 6em;
}

.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listRTL {
  margin-right: 6em;
}

.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listLTR {
  margin-left: 7.5em;
}

.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listRTL {
  margin-right: 7.5em;
}

.public-DraftStyleDefault-unorderedListItem {
  list-style-type: square;
  position: relative;
}

.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth0 {
  list-style-type: disc;
}

.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1 {
  list-style-type: circle;
}

.public-DraftStyleDefault-orderedListItem {
  list-style-type: none;
  position: relative;
}

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before {
  left: -36px;
  position: absolute;
  text-align: right;
  width: 30px;
}

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL:before {
  position: absolute;
  right: -36px;
  text-align: left;
  width: 30px;
}

.public-DraftStyleDefault-orderedListItem:before {
  content: counter(ol0) ". ";
  counter-increment: ol0;
}

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before {
  content: counter(ol1) ". ";
  counter-increment: ol1;
}

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before {
  content: counter(ol2) ". ";
  counter-increment: ol2;
}

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before {
  content: counter(ol3) ". ";
  counter-increment: ol3;
}

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4:before {
  content: counter(ol4) ". ";
  counter-increment: ol4;
}

.public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset {
  counter-reset: ol0;
}

.public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset {
  counter-reset: ol1;
}

.public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset {
  counter-reset: ol2;
}

.public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset {
  counter-reset: ol3;
}

.public-DraftStyleDefault-depth4.public-DraftStyleDefault-reset {
  counter-reset: ol4;
}
