@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

// ======================================================
// Blocks
// ======================================================

.compatible-invite {
  padding: 30px 0;
}

.compatible-invite .form {
  padding-top: 30px;
}

// ======================================================
// Elements
// ======================================================

.compatible-invite {

  &__hint {
    @include font(15px, $deepBlue-60, 24px, 400);
    margin-top: 12px;
    font-style: italic;
  }
}

.compatible-invite .form {
  $b: '.form';

  #{$b}__send-button {
    display: inline-block;
    float: right;
    margin-top: 9px;
  }
}

@media (max-width: 600px) {
  .compatible-invite .form {
    $b: '.form';

    #{$b}__send-button {
      display: block;
      float: initial;
      margin-top: 9px;
    }
  }
}
