@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

// ======================================================
// Blocks
// ======================================================

.compatible-invite {
  padding: 30px 0;
  overflow: hidden;
}

.compatible-invite .form {
  padding-top: 30px;
}

// ======================================================
// Elements
// ======================================================

.compatible-invite .form {
  $b: '.form';

  #{$b}__send-button {
    display: inline-block;
    float: right;
    margin-top: 9px;
  }
}

@media (max-width: 600px) {
  .compatible-invite .form {
    $b: '.form';

    #{$b}__send-button {
      display: block;
      float: initial;
      margin-top: 9px;
    }
  }
}
