@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.add-step__list {
  $b: &;

  @include size(100%, auto);
  @include flex(column);
  max-width: 780px;
  padding-top: 30px;
  margin-bottom: -30px;

  .step {
    $e: getElementSelectorInBlock(#{&}, #{$b});

    @include size(100%, auto);
    min-height: 72px;
    padding-left: 39px;
    position: relative;

    &:hover {
      z-index: 5;
    }

    &:before, &:after {
      content: '';
      position: absolute;
    }

    &:before {
      @include size(1px, calc(100% - 25px));
      background-color: $deepBlue-10;
      left: 10px; top: 20px;
      transition: .3s ease;
    }

    &:after {
      @include size(9px);
      background-color: $deepBlue-100;
      border-radius: 50%;
      border: 2px solid $deepBlue-100;
      left: 6px; top: 4px;
      transition: .3s ease;
    }

    &:last-child:not(:first-child) {
      animation: showStep .5s ease-in-out forwards;

      .step__title {
        animation: showTitle .2s .25s ease-in-out forwards;
        opacity: 0;
      }
    }

    &--last:before {
      height: 0;
    }

    &--last:after {
      background-color: $bg;
      transition: .3s ease;
    }

    &__header {
      @include size(100%, auto);
      @include flex(center, space-between);
      padding-right: 9px;
      position: relative;
    }

    &__title {
      @include size(90%, auto);
      border-bottom: 1px solid transparent;
      color: $deepBlue-100;
      font-size: 15px;
      line-height: 1.2;
      padding: 25px 0;
      transition: .1s ease-in-out;
      transform: translateY(-25px);

      &:focus + .step__input-border {
        opacity: 1;
        transition: .1s ease-in-out;
      }
    }

    &__input-border {
      @include size(90%, 1px);
      position: absolute;
      left: 0; bottom: 38px;
      background-color: $blue-100;
      opacity: 0;
      pointer-events: none;
      transition: .1s ease-in-out;
    }

    &__assignees {
      transform: translateY(-25px);
      opacity: 0;
      animation: showTitle .4s ease forwards;
    }
  }
}

@keyframes showTitle {
  to {
    opacity: 1;
  }
}

@keyframes showStep {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, -20% 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, -20% 100%);
  }
}
