@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
@import '~styles/_functions.scss/';

.add-goal {
  $b: &;

  @include size(100%);
  @include flex(center, flex-start, column);
  position: relative;
  overflow-y: auto;

  &__header {
    @include size(100%, auto);
    @include flex(center, space-between);
    max-width: 780px;
    padding: 45px 0;
    position: relative;
  }

  &__title {
    @include size(80%, auto);
    border-bottom: 1px solid transparent;
    color: $deepBlue-100;
    font-size: 26px;
    line-height: 36px;
    padding: 9px 0;
    transition: .2s ease-in-out;

    &:focus {
      border-bottom: 1px solid $blue-100;
      transition: .2s ease-in-out;
    }
  }

  .step {
    $e: getElementSelectorInBlock(#{&}, #{$b});

    @include size(100%, auto);
    min-height: 60px;
    padding-left: 25px;
    position: relative;

    &:not(:first-child) {
      margin-top: 12px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0; top: 0;
      @include size(1px, 100%);
      background-color: $deepBlue-10;
    }

    &:after {
      content: '';
      position: absolute;
      left: -10px; top: 0px;
      @include size(20px);
      border: 5px solid $bg;
      border-radius: 50%;
      background-color: $deepBlue-100;
    }

    #{$e}__header {
      @include size(100%, 36px);
      @include flex(center, flex-start);
      transform: translateY(-9px);
    }

    #{$e}__title {
      font-size: 15px;
      color: $deepBlue-100;
      line-height: 1.2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    #{$e}__actions {
      padding-left: 18px;
      @include flex(none);
      opacity: 0;
      transition: .2s;
    }

    #{$e}__btn {

      &--add-person {

      }

      &--note {
        margin-left: 9px;
      }

      &--trash {
        margin-left: 9px;
      }
    }

    #{$e}__assignees {
      @include flex(flex);
      flex-wrap: wrap;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      color: $blue-100;
      transform: translateY(-10px);

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      #{$e}__actions {
        opacity: 1;
        transition: .2s;
      }
    }
  }

  &__btn {


    &--context {

    }
  }
}
