@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-form {
  @include size(100%, auto);
  @include flex(flex-start, flex-start, column);
  max-width: 550px;
  position: relative;
  // overflow-y: hidden;

  &__header {
    @include size(100%, auto);
    position: relative;


    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  &__icon {
    left: calc(-83px / 2); top: 1px;
    position: absolute;

    &--svg {
      @include size(14px);
      fill: $deepBlue-30;
      stroke: $deepBlue-30;
      top: 3px;
    }

    &--font {
      color: $deepBlue-30;
      font-size: 15px;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    color: #333d59;
  }

  &__description {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    color: #4c546d;
    margin-bottom: 30px;
  }

  &__*:empty {
    display:none;
  }
}
