@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-textarea {
  $b: &;
  @include size(100%, auto);

  &__input {
    @include size(100%, auto);
    color: $deepBlue-80;
    border-left: 3px solid $deepBlue-10;
    background-color: $deepBlue-5;
    font-size: 12px;
    line-height: 1.5;
    padding: 12px;
    resize: none;
    transition: .15s;

    &::-webkit-input-placeholder {
      color: $deepBlue-40;
      font-style: italic;
    }

    &:focus {
      border-color: $blue-100;
      outline: none;
      transition: .15s;
    }
  }

  &__*:empty {
    display:none;
  }
}
