@import '../../global-styles/mixins';

$gridTopbarHeight: 55px;

.sw-grid-topbar {
  $action-button-width: 24px;
  $action-button-height: 18px;

  @include size(100%, $gridTopbarHeight);
  background-color: #FAFAFA;
  padding: 0 10px;
  position: relative;
  overflow: visible;
  z-index: 99;
  @include flex(center, space-between);

  &__content {
    height: 100%;
    margin-left: 18px;
    @include flex(center, center);

    &--title {
      font-size: 21px;
      line-height: 21px;
      font-weight: 900;
      color: $deepBlue-100;
    }

    &--seperator {
      @include size(1px, 16px);
      background-color: $deepBlue-20;
      margin: 0 9px;
      margin-top: 2px;
      // on hover of the tile to 60
    }

    &--subtitle {
      color: $deepBlue-20;
      letter-spacing: .3px;
      font-size: 9px;
      font-weight: 700;
      text-transform: uppercase;

      // on hover of the tile to 60
    }
  }

  &:hover & {

    &__actions {
      opacity: 1;
    }
  }

  &--shown & {

    &__actions {
      opacity: 1;
    }
  }

  &__actions {
    $actionsWidth: $action-button-width * 3 + (6px * 2);
    @include size($actionsWidth, 100%);
    @include flex(center, space-around);
    opacity: 0;

    &--collapse {
      @include size($action-button-width, $action-button-height);
      border-radius: 6px;
      background-color: $deepBlue-10;
      transition: 0s;

      @include flex(center, center);

      .collapse-icon {
        @include size();
        @include flex(center, center);
        transition: 0s;

        svg g {
          fill: $deepBlue-40
        }
      }

      &:hover {
        background-color: $deepBlue-60;
        transition: 0s;

        .collapse-icon {
          transition: 0s;

          svg g {
            fill: $deepBlue-5
          }
        }
      }
    }

    &--fullscreen {
      @include size($action-button-width, $action-button-height);
      border-radius: 5px;
      background-color: $deepBlue-10;
      transition: 0s;

      @include flex(center, center);

      .fullscreen-icon {
        @include size();
        @include flex(center, center);
        transition: 0s;

        svg g {
          fill: $deepBlue-40
        }
      }

      &:hover {
        background-color: $deepBlue-60;
        transition: 0s;

        .fullscreen-icon {
          transition: 0s;

          svg g {
            fill: $deepBlue-5
          }
        }
      }
    }

    &--context {
      @include size($action-button-width, $action-button-height);
      border-radius: 5px;
      background-color: $deepBlue-10;
      transition: 0s;

      @include flex(center, center);

      .context-icon {
        @include size();
        @include flex(center, center);
        transition: 0s;

        svg g {
          fill: $deepBlue-40
        }

        .context-menu {
          min-width: 270px;
          position: absolute;
          bottom: -120px;
          right: 12px;
          background-color: white;
          box-shadow: 0px 1px 10px 1px rgba($deepBlue-80, 0.1);;
          border-radius: 6px;
          padding: 6px;

          &--closed {
            display: none;
          }

          &--open {
            display: block;
          }

          &__element {
            @include size(100%, 54px);
            @include flex(center, flex-start);
            color: $deepBlue-80;
            font-size: 15px;
            border-radius: 3px;
            text-align: right;
            padding: 0 12px;

            &:hover {
              color: $deepBlue-100;
              background-color: $blue-10;
            }
          }
        }
      }

      &:hover {
        background-color: $deepBlue-60;
        transition: 0s;

        .context-icon {
          transition: 0s;

          svg g {
            fill: $deepBlue-5
          }
        }
      }
    }
  }
}

.context-menu__click-bg {
  position: fixed;
  left: 0;
  top: 0;
  @include size(100%, 100%);
  background-color: rgba($deepBlue-100,.2);
}
