$transitionTime: .25s;
$opacityTransitionTime: .1s;
$rippleTransitionTime: .35s;
$defaultTransformTransition: transform $transitionTime ease-in-out;
.sw-resizeable-grid {
  &.sw-collapse {
    &.sw-collapse-overlayIn,
    &.sw-collapse-scaling{
      .sw-resizeable-column {
        transition: $defaultTransformTransition;
      }
      .sw-resizeable-row {
        transition: $defaultTransformTransition, background-color .1s;
      }
    }
    &.sw-collapse-overlayIn,
    &.sw-collapse-scaling,
    &.sw-collapse-afterScaling {
      .sw-collapse-affected-column,
      .sw-collapse-affected-row {
        opacity: 0;
        visibility: hidden;
      }

      .sw-collapsed-row, .sw-collapse-column, .sw-collapse-row {
        background-color: $deepBlue-5;

        > * {
          opacity: 0;
          visibility: hidden;
          transition: visibility 0s $opacityTransitionTime, opacity $opacityTransitionTime;
        }
      }
    }
    &.sw-collapse-afterScaling {
      .sw-resizeable-column {
        transition: transform 0s;
      }
      .sw-resizeable-row {
        transition: transform 0s;
      }
    }
    &.sw-collapse-overlayOut {
      .sw-collapse-affected-column,
      .sw-collapse-affected-row {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s, opacity .35s;
      }

      .sw-collapsed-row, .sw-collapse-column, .sw-collapse-row {
        transition: background-color .35s;

        > * {
          opacity: 1;
          visibility: visible;
          transition: visibility 0s, opacity .35s;
        }
      }
    }
  }
}
