@import '../../global-styles/mixins';

.sw-grid-topbar {
  $action-button-width: 24px;
  $action-button-height: 18px;

  @include size(100%, 55px);
  background-color: #FBFBFB;
  padding: 0 10px;
  position: relative;

  @include flex(center, space-between);

  &__content {
    height: 100%;

    @include flex(center, center);

    &--title {
      font-size: 14px;
      font-weight: 500;
      color: $deepBlue-100;
      margin-left: 10px;
    }

    &--seperator {
      @include size(1px, 15px);
      background-color: $deepBlue-40;
      margin: 0 10px;
    }

    &--subtitle {
      color: $deepBlue-40;
      letter-spacing: 1px;
      font-size: .7em;
    }
  }

  &__actions {
    @include size(60px, 100%);
    @include flex(center, space-around);

    &--collapse {
      @include size($action-button-width, $action-button-height);
      border-radius: 6px;
      background-color: $deepBlue-10;
      transition: 0s;

      @include flex(center, center);

      .collapse-icon {
        @include size();
        @include flex(center, center);
        fill: $deepBlue-40;
        transition: 0s;
      }

      &:hover {
        background-color: $deepBlue-90;
        transition: 0s;

        .collapse-icon {
          fill: $deepBlue-5;
          transition: 0s;

          svg {
            fill: red
          }

          svg path {
            fill: red
          }
        }
      }
    }

    &--fullscreen {
      @include size($action-button-width, $action-button-height);
      border-radius: 5px;
      background-color: $deepBlue-10;
      transition: 0s;

      @include flex(center, center);

      .fullscreen-icon {
        fill: $deepBlue-40;
        transition: 0s;
      }

      &:hover {
        background-color: $deepBlue-90;
        transition: 0s;

        .fullscreen-icon {
          fill: $deepBlue-5;
          transition: 0s;
        }
      }
    }
  }
}
