@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

// ======================================================
// Block
// ======================================================

.compatible-header {
  @include size(100%, auto);

  &#{&}--center {
    text-align: center;
  }
}

// ======================================================
// Elements
// ======================================================

.compatible-header {

  &__title-container {
    @include size(100%, auto);
  }

  h1#{&}__title {
    @include font(36px, $deepBlue-90, 48px, 300);
  }

  h3#{&}__subtitle {
    @include font(15px, $deepBlue-60, 24px, 400);
    margin-top: 12px;
  }
}

// ======================================================
// Media queries
// ======================================================

@media (max-width: 600px) {

  .compatible-header {
    h1#{&}__title {
      @include font(30px, $deepBlue-90, 39px, 300);
      display: block;
      text-align: center;
    }

    h3#{&}__subtitle {
      display: block;
      text-align: center;
    }
  }
}

@media (max-height: 800px) {
  .compatible-header .compatible-header__title-container {
    padding-top: 21px;
  }
}
