@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

.workflow__list {
  @include size(100%, 100%)
  @include flex(center, flex-start, column);
  background-color: $bg;
  padding: 60px 30px;
  overflow-y: auto;
}
