@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

$itemWidth: 550px;

.workflow__item {
  @include size(100%, auto);
  @include flex(flex-start, flex-start);
  max-width: $itemWidth;
  position: relative;
  flex: none;


  &:not(:first-of-type) {
    margin-top: 21px;
  }

  &__icon {
    @include size(84px);
    @include flex();
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgba(0, 12, 46, 0.09);
    overflow: hidden;
    padding: 15px;
  }

  &__content {
    $contentWidth: calc(100% - 84px - 18px);

    @include size($contentWidth, 84px);
    @include flex(flex-start, center, column);
    padding-left: 18px;
    position: relative;
  }

  &__title {
    @include size(100%, auto);
    color: $deepBlue-80;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__description {
    @include size(100%, auto);
    color: $deepBlue-40;
    font-weight: 500;
    line-height: 1.75;
    font-size: 12px;
    margin-top: 12px;
  }

  &__button {
    @include flex();
    align-self: flex-end;
    background-color: white;
    padding: 9px 15px;
    box-shadow: 0 1px 1px 1px rgba(0, 12, 46, 0.09);
    margin-top: 9px;
    font-size: 12px;
    text-transform: uppercase;
    color: $deepBlue-40;
    font-weight: 500;
    border-radius: 3px;

    &:hover {
      color: $deepBlue-60;
    }

    i {
      margin-left: 9px;
      font-size: 18px;
    }
  }
}
