@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.mention-text {
  $el: &;
  width: 100%;
  &__control {
    backgroundColor: '#fff';
  }
  &__highlighter, &__input {
    // use same font in highlighter and input !important!!!
    @include font(15px, $deepBlue-90, 21px);
  }
  &__highlighter {
    strong {
      background-color: $blue-20;
    }
  }
  &__input {
    margin: 0;
  }
  &--singleLine {
    #{$el}__control {
      display: 'inline-block';
      width: 130px;
    }
    #{$el}__highlighter {
      padding: 1px;
      border: '2px inset transparent';
    }
    #{$el}__input {
      padding: 1px;
      border: '2px inset';
    }
  }
  &--multiLine {
    #{$el}__control {
      border: '1px solid silver';
    }
    #{$el}__highlighter {
      padding: 9px;
    }
    #{$el}__input {
      padding: 9px;
      min-height: 63px;
      outline: 0;
      border: 0;
    }

  }
  &__suggestions {
    box-shadow: 0 1px 20px 3px rgba($blue-160, .1);
    // overflow: hidden;
    border-radius: 3px;
    width: 300px;
    &__list {
      max-height: 162px;
      overflow: auto;

    }
    &__item {
      padding-left: 10px;
      width: 100%;
      &--focused {
        background-color: $blue-20;
      }
    }
    
  }
}