@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
@import '~styles/_functions.scss/';

$step-size: 20px;
$small-dot-size: 4px;
$big-dot-size: 10px;

.progress-bar {
  $b: &;
  @include size(100%, auto);
  border: none;
  position: relative;

  &:after {
    content: '';
    @include size(100%, 400%);
    position: absolute;
    left: 0; top: -200%;
  }

  &__progress {
    @include size(100%, 15px);
    background-color: $green-color;
    margin: 1px 0;
    -webkit-clip-path: inset(0 98% 0 0 round 5px);
  }

  &__tooltip {
    @include size(300px, auto);
    background: $deepBlue-100;
    border-radius: 3px;
    position: absolute;
    left: 50%; bottom: -15px;
    transform: translateY(100%) translateX(-50%);
    z-index: 9;
    padding: 15px;
    display: none;

    &:before, &:after {
      content: '';
      position: absolute;
    }

    &:before {
      @include size(15px);
      left: calc(50% - 9px); top: -8px;
      transform: rotate(45deg);
      background-color: $deepBlue-100;
    }

    &:after {
      @include size(100%, 25px);
      left: 0; top: -25px;
    }
  }

  &:hover > &__tooltip {
    display: block;
  }

  .tooltip {
    $e: &;
    $elementSelector: str-replace(#{$e}, #{$b});

    @include size(270px, 60px);
    @include flex(flex-start, center);
    @include flex(column);
    border-radius: 3px;

    &__title {
      color: $deepBlue-70;
      font-size: 15px;
      font-weight: 500;
      padding-left: 39px;
      position: relative;

      &:before {
        @include size(9px);
        content: '';
        position: absolute;
        left: 15px; top: 4px;
        border-radius: 50%;
        background-color: $deepBlue-70
      }
    }

    &__assignee {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      color: $deepBlue-70;
      padding-left: 39px;
      margin-top: 6px;
    }

    &--completed {

      #{$elementSelector}__title {
        color: white;

        &:before {
          background-color: $green-color;
        }
      }
    }

    &:hover {
      background-color: $blue-100;

      #{$elementSelector}__title {
        color: $bg;
      }

      #{$elementSelector}__assignee {
        color: $bg;
      }

      &:not(#{$elementSelector}--completed) {

        #{$elementSelector}__title:before {
          background-color: $bg;
        }
      }
    }
  }
}
