@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.comment {
  $b: &;
  $flexIgnoreList: '#{$b}__profile-initials', '#{$b}__profile-pic';

  @include size(100%, auto);
  @include flexContainer('row', left, top, $selectorsToIgnoreFlex: $flexIgnoreList);
  animation: fadeCommentin .25s ease-in-out forwards;
  opacity: 0;
  transform: translateY(10px);
}

// ======================================================
// Elements
// ======================================================

.comment {
  $b: &;
  padding-bottom: 12px;

  &__profile-pic {
    @include size(36px);
    border-radius: 3px;

    img {
      @include size(36px);
      border-radius: 3px;
    }
  }

  &__profile-initials {
    @include size(36px);
    @include flexContainer('row', center, center);
    @include font(12px, $deepBlue-100); 
    background-color: $deepBlue-10;
    border-radius: 3px;
  }

  &__side {
    @include size(100%, auto);
    padding-left: 9px;
  }

  &__name {
    @include font(12px, $deepBlue-100, 15px, 500);
  }

  &__content {
    @include font(12px, $deepBlue-100, 15px);
    padding-top: 3px;
    b {
      font-size: 12px;
      color: $deepBlue-100;
      font-weight: 500;
    }
    &:before {
      content: " ";
    }
  }

  &__timestamp {
    @include font(12px, $deepBlue-50, 15px);
    padding-top: 3px;

    &:before {
      content: " ";
    }
  }

  &__reactions {
    padding-left: 12px;
  }
  &__attachments {
    @include size(100%, auto);
    @include flexContainer('row') {
      flex-wrap: wrap;
    };
    .attachment-item {
      border: 1px solid $deepBlue-5;
      margin-right: 6px;
      margin-top: 6px;
    }
  }
}

@keyframes fadeCommentin {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
