@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.onboarding {
  @include size(100%, auto);
  border-top: 1px solid $deepBlue-100;
}

// ======================================================
// Elements
// ======================================================

.onboarding {
  $b: &;

  &__item {
    $flexIgnoreList: '#{$b}__indicator', '#{$b}__button';

    @include size(100%, 85px);
    @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
    transition: .1s ease;
  }

  &__indicator {
    @include size(36px);
    @include flexContainer('row', center, center);
    background-color: $deepBlue-5;
    border-radius: 50%;
    margin-left: 12px; margin-right: 21px;
    overflow: hidden;

    &:after {
      @include size(100%);
      background-color: $green-color;
      border-radius: 50%;
      content: '';
      left: 0; top: 0;
      position: absolute;
      transform: scale(0);
      transition: .3s .3s ease;
    }

    #{$b}__svg {
      @include svg-color(white);
      opacity: 1;
      stroke-dasharray: 18.48540687561035;
      stroke-dashoffset: 18.48540687561035;
      transition: .3s ease;
      z-index: 2;
    }
  }

  &__tutorial_section {
    @include flex(row, space-between);
    margin-top: 50px;
  }

  &__content {
    @include size(100%, auto);
  }

  &__title {
    @include font(18px, $deepBlue-90, 24px);
  }

  &__subtitle {
    @include font(12px, $deepBlue-50, 15px, 500);
    margin-top: 3px;
  }

  &__button {
    @include size(24px);
    margin: 0 21px;
    opacity: 0;
    transform: translateX(-10px);
    transition: .2s ease;

    #{$b}__svg {
      @include svg-color($deepBlue-80);
      transition: .2s ease;
    }
  }

  &__tutorial_image {
    margin-top: 20px;
    opacity: 0.6;
    transform: translateY(0px);
    filter: grayscale(100%);
    transition: .2s ease;
    cursor: pointer;
  }
}

// svg

.onboarding {

  &__svg {
    @include size(24px);
  }
}

// Progress

.onboarding {
  $b: &;

  &__progress {
    @include size(66px);
    @include flexContainer('row', center, center);
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      left: 2px; top: 2px;
      @include size(62px);
      border-radius: 50%;
      border: 2px solid $deepBlue-5;
    }

    #{$b}__svg {
      @include size(66px);
      @include svg-color($green-color);
      position: absolute;
      left: 0; top: 0;
      stroke-width: 1;
      transform: rotate(-90deg);
      z-index: 2;
      transition: .5s ease;
    }

  }

  &__progress-number {
    @include font(15px, $deepBlue-30, 20px, 500);
  }

  &__splash {
		@include size(66px);
		background-color: $green-color;
		border-radius: 50%;
		left: 50%; top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		will-change: width, height;
		transition: .3s all ease-in-out;
    clip-path: circle(0% at 50% 50%);
		-webkit-clip-path: circle(0% at 50% 50%);

		#{$b}__progress-number {
			@include font($c: white);
			position: absolute;
			left: 50%; top: 50%;
			transform: translate(-50% ,-50%);
		}
	}
}

// ======================================================
// Modifiers
// ======================================================

.onboarding {
  $b: &;

  &__item {
    &--completed {

      #{$b}__indicator {
        &:after {
          transform: scale(1);
          transition: .3s ease;
        }
      }

      #{$b}__svg {
        stroke-dashoffset: 0;
        transition: .3s .3s ease;
      }
    }
  }

  &__progress {

    &--completed {

      &:after {
        border-color: transparent;
        transition: .1s cubic-bezier(.7,.07,.42,1.68);
      }

      #{$b}__splash {
        clip-path: circle(100% at 50% 50%);
  			-webkit-clip-path: circle(100% at 50% 50%);
  			transition: .7s cubic-bezier(.7,.07,.42,1.68);
  		}
    }
  }
}

// ======================================================
// Targeting
// ======================================================

.onboarding {
  $b: &;

  &__item:not(:last-child) {
    border-bottom: 1px solid $deepBlue-6;
  }

  &__subtitle:empty {
    margin-top: 0;
  }
}

// ======================================================
// Hovers
// ======================================================

.onboarding {
  $b: &;

  &__item:hover {
    background-color: $blue-5;
    transition: .1s ease;

    #{$b}__button {
      opacity: 1;
      transform: translateX(0px);
      transition: .2s ease;
    }
  }

  &__tutorial_image:hover {
    opacity: 1;
    filter: grayscale(0%);
    transform: translateY(5px);
    transition: .2s ease;
  }
}
