@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.goal-list-section {
  @include size(100%, auto);
}

// ======================================================
// Elements
// ======================================================

.goal-list-section {
  $b: &;

  &__header {
    @include size(100%, 43px);
    @include flexContainer('row', between, center);
    background-color: white;
    border-bottom: 1px solid $deepBlue-15;
    left: 0; top: 0;
    position: sticky;
    z-index: 99;
  }

  &__side {
    @include size(auto, 100%);
    @include flexContainer('row', left, center);
    &:hover {
      #{$b}__title {
        color: $blue-100;
      }
      #{$b}__mini-svg {
        @include svg-color($blue-100);
      }
    }

  }

  &__mini-svg {
    @include size(18px);
    @include svg-color($deepBlue-100);
  }

  &__title {
    @include font(13px, $deepBlue-90, 18px, 500);
    letter-spacing: .3px;
    padding-left: 3px;
    padding-top: 3px;
  }
}

// ======================================================
// Targeting
// ======================================================

.goal-list-section {

  &:not(:first-child) {
    margin-top: 24px;
  }
}
