@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.goal-selector {
  @include size(342px, auto);
  background-color: $bg;
  border-radius: 3px;
  box-shadow: 0 1px 20px 3px rgba(5,57,128,0.1);
  border: 1px solid #E5E6EA;
}
