*, *:before, *:after, h1, h2, h3, h4, h5, h6, p, a, input, ul, li, button, textarea {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	text-decoration: none;
	list-style: none;
	position: relative;
	font-family: 'Roboto';
	resize: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input::-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto'
}

.hidden {
    display: none;
}
h1 {
    font-size: 66px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 34px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    font-size: 15px;
}


html {
    width: 100%;
    height:100%;
    overflow: hidden;
    body{
        width: 100%;
        height:100%;
        overflow: hidden;
        //font-smooth: always;
        //transform: rotate(-0.0000000001deg);
        //text-rendering: optimizeLegibility !important;
        //-webkit-font-smoothing: antialiased !important;
    }
}
* {
    cursor:default;
}

*,*:before,*:after,form,input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
    cursor: text;
    border:0;
}
input:focus{
    border:0;
    outline: 0;
    outline-offset: 0;
}
html.touch body {
    @include breakpoint(tablet-horizontal) {
        min-width: 1180px;
    }
}
ul{
    list-style:none;
    padding-left:0;
    li{
        list-style:none;
    }
}
.row {
    margin-left:0px;
    margin-right:0px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(black,0);
    //border-radius: 50px;
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(black,.1);
    //border-radius: 50px;
}

#content{
    height: 100%;

		> * {
			height: inherit !important;
		}
    .main{
        height: 100%;
        .active-app{
            height:100%;
            padding-top: 60px;
        }
    }
}

.height-100 {
	height: 100%;
}

svg {
    pointer-events: none;
}
a:focus {
    outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.hidden {
    display: none;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.top-bar-container{
    height:$top-bar-height;
		background-color: #fff;
    position:absolute;
    width:100%;
    z-index: 1999;
    top:0;
		box-shadow: $swipes-shadow-one;
    // This is the default background color of navbar
    h5{
        text-align: center;
        line-height: $top-bar-height;
				color: #555;
				font-weight: 300;
    }
    .add-button{
        position:absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        width:60px;
        padding: 10px;
        height: $top-bar-height;
    }
}
