
// Topbar variables
$top-bar-height: 60px;

$sidebar-dark-color: #1B1E23;
$unselected-color: #9E9E9E;
$unselected-text-color: #ffffff;
$unread-text-color: #010D2E;
$dark-background: #252d51;
$white-background: #ffffff;

$online-green: #66cc8f;
$busy-yellow: #FF512F;
$orange: #e85c41;

$sidebar-width: 210px;


$deepBlue-20: #CCCED5;
$deepBlue-40: #999EAC;
$deepBlue-60: #666D82;
$deepBlue-80: #333D59;
$deepBlue-100: #000C2F;
$deepBlue-120: #000923;

$studioGray-20: #F4F4F5;
$studioGray-40: #E8E9EB;
$studioGray-60: #DDDEE0;
$studioGray-80: #D1D3D6;
$studioGray-100: #C6C8CC;
$studioGray-120: #959699;

$blue-10: #E6F7FE;
$blue-20: #CDEFFE;
$blue-40: #9BDFFD;
$blue-60: #6BD0FD;
$blue-80: #3DC0FC;
$blue-100: #1DB1FC;
$blue-120: #168DCA;
$blue-140: #116A97;


$red-20: #FEDAD2;
$red-40: #FEB5A5;
$red-60: #FD9078;
$red-80: #FD6B4B;
$red-100: #FC461E;
$red-120: #BD3516;

$red: #F44336;
$matBlue: #2E90EB;

$green-color: #4CAF50;
$red-color: #FC461E;
$yellow-color: #FFCA28;

$swipes-shadow-one: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
$swipes-shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$swipes-shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$swipes-shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$swipes-shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
