@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

$topbarSize: 38px;

.topbar {
  $b: &;
  @include size(100%, $topbarSize);
  position: relative;
  user-select: none;
  z-index: 9999;
  flex: none;
  -webkit-app-region: drag;
  overflow: hidden;

  &__gradient {
    @include size(100%);

    &--main {

    }

    &--status {
      background-color: $bg;
      opacity: 0;
      @include flex();
      position: absolute;
      left: 0; top: 0;
      pointer-events: none;
      transition: .2s ease;
    }

    &--indicate {
      opacity: .3;
      transition: .2s ease;

      #{$b}__title {
        opacity: 1;
      }
    }
  }

  &__title {
    line-height: $topbarSize;
    color: $deepBlue-80;
    padding-top: 3px;
    opacity: 0;
  }
}
