@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

$topbarSize: 38px;

.topbar {
  $b: &;
  @include size(100%, $topbarSize);
  position: relative;
  user-select: none;
  z-index: 9999;
  flex: none;
  -webkit-app-region: drag;
  overflow: hidden;

  &__gradient {
    @include size(100%);

    &--main {

    }

    &--status {
      background-color: $bg;
      @include flex();
      position: absolute;
      left: 0; top: 0;
      transform: translateX(100%);
      transition: .2s ease;
    }

    &--indicate {
      transform: translateX(0%);
      transition: .2s ease;
    }
  }

  &__title {
    line-height: $topbarSize;
    color: $deepBlue-100;
  }
}
