@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

$topbarSize: 38px;

.topbar {
  $b: &;
  @include size(100%, $topbarSize);
  position: relative;
  user-select: none;
  z-index: 9999;
  flex: none;
  -webkit-app-region: drag;
  overflow: hidden;

  &__gradient {
    @include size(100%);

    &--main {

    }

    &--status {
      background-color: rgba($bg, 0);
      @include flex();
      position: absolute;
      left: 0; top: 0;
      pointer-events: none;
      transition: .2s ease;
    }

    &--indicate {
      @include flex();
      background-color: rgba($bg, .5);
      pointer-events: all;
      transition: .2s ease;

      #{$b}__title, #{$b}__retry-btn {
        opacity: 1;
      }
    }
  }

  &__title {
    @include font(13px, $deepBlue-100, 500);
    opacity: 0;
  }

  &__retry-btn {
    @include font(13px, $blue-100, 500);
    margin-left: 9px;
    opacity: 0;
    -webkit-app-region: no-drag;

    &:hover {
      text-decoration: underline;
    }
  }
}
