@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";


.sign {
	@include size(100%, 100%);
	@include flex(center, center);
	background-color: $deepBlue-100;
	margin: 0;
	overflow: hidden;
	padding: 0;

	&__wrapper {
		@include size(100%, 100%);
		overflow-y: auto;
		padding: 50px 0;
		position: relative;
    animation: signFadeIn .6s ease-in-out forwards;
    opacity: 0;
    transform: translateY(50px);

    @keyframes signFadeIn {
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
	  }
	}

	&__logo {
		@include size(60px, 60px);
		left: 30px; top: 30px;
		position: absolute;

		svg {
			@include size();
		}
	}

	&__headline {
		color: white;
		font-size: 3em;
		font-weight: 100;
		text-align: center;
	  padding-top: calc(272px / 3);
	}

	&__card {
		@include size(350px, auto);
		background-color: white;
		border-radius: 5px;
		box-shadow: $swipes-shadow-five;
		margin-left: calc(50% - (350px / 2));
		margin-top: 50px;
		overflow: hidden;
		position: relative;
	}

	&__title {
		color: $deepBlue-80;
		font-size: 1.2em;
		font-weight: 400;
		padding-top: 40px;
		padding: 50px 0;
		text-align: center;
		text-transform: uppercase;
	}

	&__form {
		@include size(100%, auto);
		@include flex(center, center, column);
		margin-top: -30px;
		position: relative;

		&__button {
			@include size(100%, 70px);
			cursor: default;
			margin-top: 20px;

			&--submit {
				background-color: $blue-100;
				color: white;

				&:hover, &:focus {
					background-color: $blue-80;
				}
			}
		}
	}

	&__subheadline {
		color: $deepBlue-60;
		font-size: 1em;
		font-weight: 400;
		text-align: center;
	  padding-top: 50px;
	}

	&__button {
		color: $deepBlue-40;
		font-size: 1em;
		font-weight: 400;
		text-align: center;
	  margin-top: 15px;

		a {
			color: $deepBlue-40;
			font-size: 1em;
			font-weight: 400;

			&:hover {
				color: $studioGray-100;
				text-decoration: underline;
			}

			&:visited {
				color: $deepBlue-40;
			}
		}
	}
}

#layer1 {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;

	path {
		fill: none;
		stroke: rgba($blue-80,.4);
	}
}

#layer2 {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;

	path {
		fill: none;
		stroke: rgba($deepBlue-80,.6);
	}
}
