@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

// ======================================================
// Block
// ======================================================

.sign-in {
	@include size(100%);
	// background-color: $blue-100;
}

// ======================================================
// Element
// ======================================================

// containers

.sign-in {

	&__card {
		@include size(100%, calc(100% - 60px));
		@include widthSpecifications(initial, 660px);
		@include border-radius(6px, 6px, 0px, 0px);
		animation: showSignIn 1s ease forwards;
		background-color: $bg;
		border: 1px solid $deepBlue-10;
		box-shadow: 0 6px 12px 1px rgba(0,12,47,0.3);
		margin: 0 auto;
		margin-top: calc(60px - 38px);
		padding-top: 60px;
	}

	&__header {
		@include size(100%, auto);
		padding: 0 45px;
	}

	&__content {
		@include size(100%, auto);
		padding: 0 45px;
	}

	&__footer {
		@include size(100%, 60px);
		@include flexContainer('row', right, center);
		border-top: 1px solid $deepBlue-10;
		padding: 0 30px;
	}
}

// Ui

.sign-in {

	&__logo {
		margin-bottom: 45px;
	}

	&__svg {
		@include size(72px, 9px);
		@include svg-color($deepBlue-20);
	}

	&__title {
		@include font(36px, $deepBlue-90, 48px, 300);
	}

	&__subtitle {
		@include font(15px, $deepBlue-60, 24px);
		margin-top: 12px;
		margin-bottom: 45px;
	}

	&__error-status {
		@include font(12px, $red-80);
		margin-bottom: 8px;
	}
}
