@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.preview-field {
  $b: &;

  @include size(100%, auto);
  position: relative;

  &:not(:first-child) {
    #{$b}__header {
      @include size(calc(100% - 44px), 1px);
      background-color: $deepBlue-10;
      position: relative;
      position: absolute;
      left: 22px; top: 0;
    }

    #{$b}__title {
      position: absolute;
      right: 0; top: 6px;
      font-size: 9px;
      font-weight: 500;
      text-transform: uppercase;
      color: $deepBlue-40;
    }
  }
}
