@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.goals {
  $b: &;

  @include size(100%);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  position: relative;

  &__nav-bar {
    @include size(100%, auto);
    max-width: 600px;
    z-index: 5;
    margin: 0 auto;
  }
}

.fab {
  $b: &;

  @include size(44px);
  @include flex();
  border-radius: 50%;
  position: fixed;
  right: 21px; bottom: 21px;
  transition: all .2s ease-in-out;
  z-index: 5;

  &:hover {
    transition: all .2s ease-in-out;
  }

  &__icon {
    @include size(12px);
  }

  &--add {
    background-color: $blue-100;
    box-shadow: 0 1px 20px 3px rgba($blue-100, 0.4);

    &:hover {
      background-color: $blue-120;
      box-shadow: 0 1px 10px 3px rgba($blue-120, 0.4);
    }

    #{$b}__icon {
      fill: white;
    }
  }

  &--delete {
    background-color: $salmon;
    box-shadow: 0 1px 20px 3px rgba($salmon, 0.4);

    &:hover {
      $hoverColor: darken($salmon, 5%);
      background-color: $hoverColor;
      box-shadow: 0 1px 10px 3px rgba($hoverColor, 0.4);
    }

    #{$b}__icon {
      @include size();
      @include flex();
      font-size: 18px;
      color: white;
    }
  }
}

.goals-timeline {
  @include size(100%);
  position: absolute;
  left: 0; top: 0px;
  padding-top: 60px;
}

.goals-step-transition {
  //empty
  @include size(100%);
  position: absolute;
  left: 0; top: 0;
  &-enter {
    opacity: 0;
    transform: translateY(20px);
    transition: all .2s ease-in-out;
    will-change: opacity,  transform;

    &-active {
      opacity: 1;
      transform: translateY(0px);
      transition: all .2s ease-in-out .2s;
      will-change: opacity,  transform;
    }
  }

  &-leave {
    opacity: 1;
    transform: translateY(0px);
    transition: all .2s ease-in-out;
    will-change: opacity,  transform;

    &-active {
      opacity: 0;
      transform: translateY(20px);
      transition: all .2s ease-in-out;
      will-change: opacity,  transform;
    }
  }
}

.goals-list-wrap {
  @include size(100%);
  position: relative;
}

.goals-list-transition {
  &-enter {
    opacity: 0;
    transform: translateY(20px);
    transition: all .2s ease-in-out;
    will-change: opacity,  transform;

    &-active {
      opacity: 1;
      transform: translateY(0px);
      transition: all .2s ease-in-out .2s;
      will-change: opacity,  transform;
    }
  }

  &-leave {
    opacity: 1;
    transform: translateY(0px);
    transition: all .2s ease-in-out;
    will-change: opacity,  transform;

    &-active {
      opacity: 0;
      transform: translateY(20px);
      transition: all .2s ease-in-out;
      will-change: opacity,  transform;
    }
  }
}
