@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.step-submission {
  $b: &;

  @include size(100%, auto);
  @include flex(center, flex-start);
  flex: none;

  &__actions {
    @include size(100%, 45px);
    @include flex();
    border: 1px solid $blue-100;
    border-radius: 3px;
    margin: 30px 0;
  }

  &__button {
    @include size(100%);
    @include flex();
    font-size: 12px;
    font-weight: 700;
    color: $blue-100;
    text-transform: uppercase;
    letter-spacing: .5px;
    position: relative;
    transition: .1s;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        right: 0; top: 0;
        @include size(1px, 100%);
        background-color: $blue-100;
      }
    }

    &:hover {
      background-color: $blue-100;
      color: $bg;
      transition: .1s;
    }
  }

  &--disabled {
    #{$b}__actions {
      border: 1px solid $deepBlue-20;
    }

    #{$b}__button {
      pointer-events: none;
      cursor: wait;
      color: $deepBlue-20;
    }
  }
}
