@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$contHeight: 66px;


// ======================================================
// Block
// ======================================================

.goal-list-item {
  $b: &;
  $flexIgnoreList: '#{$b}__indicator', '#{$b}__assigning';

  @include size(100%, auto);
  @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
  border-bottom: 1px solid $deepBlue-6;
  padding: 0 6px;
  overflow: hidden;
  // transition: .2s ease;
  will-change: height;
}

.goal-item-tooltip {
  @include font(12px, $bg, 500);
  background-color: $deepBlue-100;
  padding: 10px 15px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadetooltip .3s ease forwards;
}

@keyframes fadetooltip {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

// ======================================================
// Elements
// ======================================================

.goal-list-item {
  $b: &;

  &__circle {
    @include size(14px);
    @include flexContainer('row', center, center);
    border: 2px solid $deepBlue-50;
    border-radius: 50%;
  }

  &__completed-svg {
    @include size(18px);
    @include svg-color(white);
    display: none;
  }

  &__content {
    $flexIgnoreList: '#{$b}__circle';

    @include size(100%, auto);
    @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
    @include heightSpecifications($contHeight, auto);
  }

  &__title {
    @include size(100%, auto);
    @include font(15px, $deepBlue-90, 24px);
    transition: .2s ease;
    padding: 20px 0;
    padding-left: 12px;
  }

  &__subtitle {
    @include size(100%, auto);
    @include flex(center, flex-start);
    @include flexContainer('row', left, center);
    overflow: hidden;
  }

  &__label {
    @include size(100%, auto);
    @include font(12px, $deepBlue-50, 15px);
    @include clampString(1);
    transition: .25s ease;
  }

  &__assigning {
    @include size(auto, 36px);
    @include flexContainer('row', left, center);
    padding-left: 12px;
    transition: .4s ease;
  }

  &__move {
    display: none;
  }
}

// ======================================================
// Modifiers
// ======================================================

.goal-list-item {
  $b: &;

  &#{&}--completed {
    @include size(100%, 49px);

    #{$b}__circle {
      @include size(24px);
      background-color: $green-color;
      border: none;
    }

    #{$b}__completed-svg {
      display: flex;
    }

    #{$b}__title {
      @include size(100%, auto);
      @include font(15px, $deepBlue-50, 24px);
      padding-left: 12px;
    }
  }

  &#{&}--move-to-later {

    &:hover {
      // #{$b}__assigning {
      //   transform: translateX(-42px);
      //   transition: .4s ease;
      // }
    }

    #{$b}__move {
      @include size(36px);
      @include flexContainer('row', center, center);
      border: 1px solid $deepBlue-10;
      border-radius: 50%;
      flex: none;
      position: absolute;
      right: 6px; top: 50%;
      transform: translateY(-50%) scale(0);
      opacity: 0;
      transition: transform .4s ease, opacity .4s ease, background-color .1s ease;

      &:hover {
        background-color: $deepBlue-70;
        border-color: $deepBlue-70;
        transition: .1s ease;

        #{$b}__move-svg {
          @include svg-color(white);
          transition: .1s ease;
        }
      }
    }

    #{$b}__move-svg {
      @include size(24px);
      @include svg-color($deepBlue-50);
      transition: .1s ease;
      transform: translateX(1px);
    }
  }
}

// ======================================================
// Hovers
// ======================================================

.goal-list-item {
  $b: &;

  &:hover {
    background-color: $blue-5;
    // transition: .2s ease;

    #{$b}__title {
      @include font($c: $blue-100);
      // transition: .2s ease;
    }

    #{$b}__move {
      opacity: 1;
      transform: translateY(-50%) scale(1);
      transition: transform .4s ease, opacity .4s ease, background-color .1s ease;
    }
  }
}
