@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$contHeight: 66px;


// ======================================================
// Block
// ======================================================

.goal-list-item {
  $b: &;
  $flexIgnoreList: '#{$b}__indicator', '#{$b}__assigning';

  @include size(100%, $contHeight);
  @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
  border-bottom: 1px solid $deepBlue-6;
  overflow: hidden;
  transition: .5s ease;
  will-change: height;
}

.goal-item-tooltip {
  @include font(12px, $bg, 500);
  background-color: $deepBlue-100;
  padding: 10px 15px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadetooltip .3s ease forwards;
}

@keyframes fadetooltip {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

// ======================================================
// Elements
// ======================================================

.goal-list-item {

  &__indicator {
    @include size(42px, 100%);
    @include flexContainer('row', center, center);
    transform-origin: 50% 50%;
    z-index: 100;
  }

  &__dot {
    @include size(6px);
    background-color: $deepBlue-20;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transition: .3s ease;
    pointer-events: none;
  }

  &__content {
    @include size(100%);
    @include flexContainer('column', left, center);
    @include heightSpecifications($contHeight, auto);
  }

  &__title {
    @include size(calc(100% - 50px), auto);
    @include font(18px, $deepBlue-80, 24px);
    @include truncateString();
    transition: color .1s ease;
  }

  &__subtitle {
    @include size(calc(100% - 50px), auto);
    @include flex(center, flex-start);
    @include flexContainer('row', left, center);
    overflow: hidden;
  }

  &__label {
    @include size(100%, auto);
    @include font(12px, $deepBlue-50, 15px);
    @include truncateString();
    transition: .25s ease;
  }

  &__assigning {
    @include size(auto, 30px);
    padding-left: 12px;
  }
}

// progress-bar

.goal-list-item {
  $b: &;

  .progress-bar {
    @include size(100%, 20px);
    @include flexContainer('row', left, center);
    // background-color: $bg;
    left: 1px; bottom: -20px;
    position: absolute;
    transition: .2s ease;

    & > * {
      opacity: 0;
      transition: .2s ease;
    }

    &__frame {
      @include size(180px, 9px);
      border: 1px solid $deepBlue-20;
      border-radius: 100px;
    }

    &__fill {
      @include size(initial, 5px);
      @include widthSpecifications(3%, 176px);
      background-color: $deepBlue-100;
      border-radius: 100px;
      margin-top: 1px;
      margin-left: 1px;
    }

    &__status {
      @include font(12px, $deepBlue-60);
      margin-left: 18px;
    }
  }
}


// ======================================================
// Modifiers
// ======================================================

.goal-list-item {
  $b: &;

  &--completed {

    #{$b}__dot {
      background-color: $green-color;
    }
  }

  &--starred {
    background-color: $blue-5;

    #{$b}__dot {
      background-color: $blue-100;
    }
  }

  .progress-bar {
    &--empty {
      .progress-bar__status {
          margin-left: 0;
       }
    }
  }

  &--to-starred {
    @include size(100%, 0px);
    opacity: 0;
    transition: height .5s ease, opacity .4s ease;
    will-change: height;
  }
}

// ======================================================
// Hovers
// ======================================================

.goal-list-item {
  $b: &;

  &:not(#{&}--to-starred) {
    &:hover {

      #{$b}__title {
        color: $blue-100;
        transition: color .15s ease;
      }

      #{$b}__dot {
        transform-origin: 50% 50%;
        transform: scale3d(2,2,1);
        transition: .25s cubic-bezier(1,0,.47,.59);
      }
    }

    #{$b}__indicator {

      &:hover {

        #{$b}__dot {
          background-color: $blue-100;
          transform-origin: 50% 50%;
          transform: scale3d(3,3,1);
          transition: .25s cubic-bezier(1,0,.47,.59);
        }
      }
    }
  }
}
