.card-content{
  padding-top: 50px;
  height: 100%;
  transition: filter .2s ease-in-out;
  position: relative;
  &.active {
    filter: blur(7px);
    transition: filter .2s .3s ease-in-out;
  }
}
.active-app.dragging, .active-app.resizing, .active-app.draggingDot{
  iframe{
    pointer-events: none;
  }
}

.card.draggingDot div.drop-overlay {
  display: block;

  &.hover {
    opacity: 1.0;
  }
}

.card-menu-overlay {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  z-index: 999;
  left: 0;
  top: 50px;
  background-color: rgba(255,255,255,1);
  transform-origin: 50% 0%;
  transform: scale3d(1,0,1);
  transition: transform .3s .2s ease-in-out, background-color .2s ease-in-out;

  .fake-list {
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &.active {
    transform-origin: 50% 0%;
    transform: scale3d(1,1,1);
    background-color: rgba(255,255,255,.3);
    transition: transform .3s ease-in-out, background-color .2s .3s ease-in-out;

    .fake-list {
      opacity: 1;
      transition: opacity .2s .5s ease-in-out;
    }
  }
}

.card{
  position: 'absolute';
  background: white;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 1px 4px 18px -5px #ccc;

  .card-container{

    position: relative;
    /*
      Drop overlay
    */
    .drop-overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left:0;
      display:none;
      background: #FFCA28;
      opacity: 0.8;
      z-index: 100;
      h6{
        text-align: center;
        width: 100%;
        position:absolute;
        top: 50%;
        margin-top: -30px;
      }
    }
    /*
      Resize bar!
    */
    .resize-bar{
      position: absolute;
      // Check visually by adding background
      //background: red;
      // Adjust thicknesses
      $barThickness: 3px;
      $cornerThickness: 8px;
      &.corner{
        width: $cornerThickness;
        height: $cornerThickness;
      }
      &.right{
        width: $barThickness;
        height:calc(100% - #{2 * $cornerThickness});
        right: 0;
        top:$cornerThickness;
        cursor: e-resize;
      }
      &.left{
        width: $barThickness;
        height:calc(100% - #{2 * $cornerThickness});
        left: 0;
        top:$cornerThickness;
        cursor: w-resize;
      }
      &.top{
        height:$barThickness;
        width: calc(100% - #{2 * $cornerThickness});
        top:0;
        right:$cornerThickness;
        cursor: n-resize;
      }
      &.bottom{
        height:$barThickness;
        width: calc(100% - #{2 * $cornerThickness});
        bottom:0;
        right:$cornerThickness;
        cursor: s-resize;
      }
      &.bottom-right{
        right: 0;
        bottom:0;
        cursor: nwse-resize;
      }
      &.bottom-left{
        left: 0;
        bottom:0;
        cursor: nesw-resize;
      }
      &.top-right{
        right: 0;
        top:0;
        cursor: nesw-resize;
      }
      &.top-left{
        left: 0;
        top:0;
        cursor: nwse-resize;
      }


    }
  }

}
.card-app-bar {
  width: 100%;
  height: 50px;
  //background-color: red;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid $studioGray-20;
  display: flex;

  &:hover {

    .card-actions {

      .card-action {

        &.minimize {

          .material-icons {
            opacity: 1;
          }
        }
      }
    }
  }

  .card-actions {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-action {
      width: 14px;
      height: 14px;
      background-color: $studioGray-40;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      &.minimize {

        .material-icons {
          font-size: 10px !important;
          color: $deepBlue-40;
          opacity: 0;
        }

        &:hover {
          background-color: $red-color;

          .material-icons {
            color: white !important;
          }
        }
      }
    }
  }

  .card-title {
    width: calc(100% - 50px - 50px);
    padding: 0 30px;
    color: $deepBlue-80;
    font-weight: 500;
    font-size: 13px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .material-icons {
      color: $deepBlue-40 !important;
      transform: translateY(6px);
    }
  }

  .card-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 30px;
    }
  }
}

.card-nav {
  width: 100%;
  height: calc(100% - 50px);
  background-color: white;
  position: fixed;
  overflow-y: auto;
  top: 50px;
  left: 0;
  z-index: 909;
  box-shadow: $swipes-shadow-one;
  transform-origin: 50% 0%;
  transform: scale3d(1,0,1);
  transition: .3s ease-in-out;
  transition-delay: .1s;

  &.opened {
    transform: scale3d(1,1,1);
    transform-origin: 50% 0%;
    transition: .3s ease-in-out;

    .nav-wrap {
      opacity: 1;
      transition-property: opacity;
      transition-duration: .1s;
      transition-delay: .3s;


      .nav-element:hover {
        background-color: $studioGray-20;
      }
    }
  }

  .nav-wrap {
    width: 100%;
    opacity: 0;

    &:first-child {

      .nav-title {
        border-top: 0px solid $studioGray-20;
      }
    }

    .nav-title {
      text-align: center;
      padding: 20px 0;
      font-size: 15px;
      color: $deepBlue-60;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      border-top: 1px solid $studioGray-40;
      border-bottom: 1px solid $studioGray-40;
    }

    .nav-element {
      text-align: center;
      padding: 15px 0;
      font-size: 13px;
      color: $deepBlue-60;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  li {
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    color: $deepBlue-60;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    transition: .1s ease-in-out;
  }
}
