$transitionTime: .5s;

.sw-resizeable-grid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  @extend %flex;
  justify-content: space-between;
  &.sw-grid-resizing{
    .sw-resizeable-row{
      pointer-events:none;
    }
  }
  .sw-resizeable-column {
    // width: 100%;
    height: 100%;
    will-change: transform, z-index, width;
    position: relative;
    z-index: 1;
    transition: z-index $transitionTime $transitionTime, transform $transitionTime ease-in-out;
    display: flex;
    flex-direction: column;
    // align-content: space-between;

    &.maximize {
      z-index: 99;
      transition: z-index $transitionTime;

     .sw-resizeable-row > .sw-resize-horizontal {
        visibility: hidden;
        transition: 0s;
      }
    }
  }

  .sw-resizeable-row {
    height: 100%;
    width: 100%;
    overflow: hidden;
    will-change: transform, z-index, width;
    position: relative;
    z-index: 1;
    transition:z-index $transitionTime $transitionTime, transform $transitionTime ease-in-out;
    display: flex;
    flex-direction: column;
    // display: none !important;

    &.maximize {
      z-index: 999;
      transition: z-index $transitionTime, transform $transitionTime ease-in-out;
    }

    &.move-away {
      transition: transform $transitionTime ease-in-out;
    }
  }

  .sw-resize-vertical {
    width: 30px;
    height: 100%;
    position: absolute;
    left: calc(0px - 15px);
    top: 0;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $deepBlue-20;
      cursor: col-resize;
      transition: .2s ease-in-out;
    }

    &:hover {
      &:after {
        width: 4px;
        transition: .2s ease-in-out;
      }
    }
  }

  .sw-resize-horizontal { // figure out how to do the trigger zones when we have rows
    height: 2px;
    width: 100%;
    background-color: $deepBlue-40;
    cursor: row-resize;
    position: absolute;
    left: 0;
    top: calc(0 - 1px);
    will-change: top;
    z-index: 2;

    &:hover {
      width: 8px;
      top: calc(0px - 4px);
    }
  }
}
