$transitionTime: 5s;

.sw-resizeable-grid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  @extend %flex;
  justify-content: space-between;

  &.sw-grid-resizing {

    .sw-resizeable-row > .sw-row-content { // no pointer events for row-content
      pointer-events: none;
    }

  }

  .sw-resizeable-column {
    height: 100%;
    will-change: transform, z-index, width;
    position: relative;
    z-index: 1;
    transition: z-index $transitionTime $transitionTime, transform $transitionTime ease-in-out;
    display: flex;
    flex-direction: column;

    &.transition-to-fullscreen {
      z-index: 99;
      transition: z-index $transitionTime;

      .sw-resizeable-row > .sw-resize-horizontal {
        display: none;
      }

      .sw-resize-vertical {
        display: none;
      }

      & + .sw-resizeable-column {
        .sw-resizeable-row > .sw-resize-horizontal {
          display: none;
        }

        .sw-resize-vertical {
          display: none;
        }
      }
    }
  }

  .sw-resizeable-row {
    height: 100%;
    width: 100%;
    overflow: hidden;
    will-change: transform, z-index, height;
    position: relative;
    z-index: 1;
    transition:z-index $transitionTime $transitionTime, transform $transitionTime ease-in-out;
    display: flex;
    flex-direction: column;

    .sw-row-content {
      height:100%;
      width: 100%;
    }

    &.transition-to-fullscreen {
      z-index: 999;
      transition: z-index $transitionTime, transform $transitionTime ease-in-out;

      & > * {
        // display: none;
      }
    }
  }

  .sw-resize-vertical {
    width: 30px;
    height: 100%;
    position: absolute;
    left: calc(0px - 15px);
    top: 0;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $deepBlue-20;
      cursor: col-resize;
      transition: .2s ease-in-out;
    }

    &:hover {
      &:after {
        width: 4px;
        transition: .2s ease-in-out;
      }
    }
  }

  .sw-resize-horizontal { // figure out how to do the trigger zones when we have rows
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(0px - 15px);
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 2px;
      left: 0;
      transform: translateY(-50%);
      transform-origin: 50% 50%;
      background-color: $deepBlue-20;
      cursor: row-resize;
      will-change: height;
      transition: .2s ease-in-out;
    }

    &:hover {
      &:after {
        transform-origin: 50% 50%;
        transform: translateY(-50%) scaleY(4);
        transition: .2s ease-in-out;
      }
    }
  }
}
