.app-view-controller {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.services-wrapper {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    //justify-content: center;
    flex-direction: column;
    background-color: #FAFAFA;
    padding-top: 160px;
}

.services-card {
    width: 100%;
    max-width: 500px;
    margin: 20px 30px;
}

.row {
    height: 80px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    
    h3 {
        padding: 0;
        color: $deepBlue-100;
        padding-left: 40px;
        font-weight: 400;
    }
    
    button {
        max-width: 150px;
        margin-right: 60px !important;
        font-weight: 400 !important;
    }
}