.tile {
  @include size(100%, 100%);

  iframe {
    @include size(100%, 100%);
  }
}



// If resizing

.tile-resizing-overlay {
  display: none;
}
.sw-fullscreen-transition-row{
  .tile * {
    display:none;
  }
}
.sw-grid-resizing {

  .tile > *:not(.tile-resizing-overlay) {
    display: none;
  }

  .tile-resizing-overlay {
    @include size(100%, 100%);
    background-color: white;

    @extend %flex;

    &__content {
      @include size(100%, 100%);
      @extend %flex;

      .app-icon {
        @include size(40px, 40px);

        img {
          @include size(40px, 40px);
        }
      }
    }
  }
}


// Maximizing
