.tile {
  @include size(100%, 100%);

  iframe {
    @include size(100%, 100%);
  }
}

.tile-topbar {
  $action-button-size: 22px;

  @include size(100%, 55px);
  background-color: transparent;
  padding: 0 10px;
  position: relative;

  @extend %flex;
  justify-content: space-between !important;

  &_content {
    height: 100%;

    @extend %flex;

    &-menu {
      @include size($action-button-size, $action-button-size);
      border-radius: 50%;
      border: 1px solid $deepBlue-20;
      transition: 0s;

      @extend %flex;

      .menu-icon {
        @include menu-icon(9px, 2px, 2px, $deepBlue-20);
      }

      &:hover {
        border: 1px solid $deepBlue-90;
        background-color: $deepBlue-90;

        .menu-icon {
          @include menu-icon(11px, 2px, 1px, white);
        }
      }
    }

    &-title {
      font-size: 14px;
      font-weight: 500;
      color: $deepBlue-100;
      margin-left: 10px;
    }

    &-seperator {
      @include size(1px, 15px);
      background-color: $deepBlue-40;
      margin: 0 10px;
    }

    &-account {
      color: $deepBlue-40;
      letter-spacing: 1px;
      font-size: .7em;
    }
  }

  &_actions {
    @include size(60px, 100%);

    @extend %flex;
    justify-content: space-around !important;

    &-collapse {
      @include size($action-button-size, $action-button-size);
      border-radius: 50%;
      border: 1px solid $deepBlue-20;
      transition: 0s;

      @extend %flex;

      .collapse-icon {
        @include collapse-icon(8px, 2px, $deepBlue-20);
        transition: 0s;
      }

      &:hover {
        border: 1px solid $deepBlue-90;
        background-color: $deepBlue-90;
        transition: 0s;

        .collapse-icon {
          @include collapse-icon(8px, 2px, white);
          transition: 0s;
        }
      }
    }

    &-fullscreen {
      @include size($action-button-size, $action-button-size);
      border-radius: 50%;
      border: 1px solid $studioGray-100;
      transition: 0s;

      @extend %flex;

      .fullscreen-icon {
        @include fullscreen-icon(10px, 4px, $deepBlue-20, white);
        transition: 0s;
      }

      &:hover {
        border: 1px solid $deepBlue-90;
        background-color: $deepBlue-90;
        transition: 0s;

        .fullscreen-icon {
          @include fullscreen-icon(10px, 4px, white, $deepBlue-90);
          transition: 0s;
        }
      }
    }
  }
}



// If resizing

.tile-resizing-overlay {
  display: none;
}

.sw-grid-resizing {

  iframe {
    display: none;
  }

  .tile-resizing-overlay {
    @include size(100%, 100%);
    background-color: #333ddd;

    @extend %flex;
  }
}
