.tile {
  @include size(100%, 100%);

  iframe {
    @include size(100%, 100%);
  }
}

.tile-topbar {
  $action-button-size: 25px;

  @include size(100%, 50px);
  background-color: transparent;
  padding: 0 10px;
  position: relative;

  @extend %flex;
  justify-content: space-between !important;

  &_content {
    height: 100%;
    @extend %flex;

    &-title {
      color: $deepBlue-100;
    }

    &-seperator {
      @include size(1px, 20px);
      background-color: $deepBlue-40;
      margin: 0 7px;
    }

    &-account {
      color: $deepBlue-60;
      letter-spacing: .5px;
      font-size: .8em;
    }
  }

  &_actions {
    @include size(60px, 100%);

    @extend %flex;
    justify-content: space-around !important;

    &-collapse {
      @include size($action-button-size, $action-button-size);
      border-radius: 50%;
      border: 1px solid $studioGray-100;
      background-color: yellow;
    }

    &-fullscreen {
      @include size($action-button-size, $action-button-size);
      border-radius: 50%;
      border: 1px solid $studioGray-100;
      background-color: red;
    }
  }
}



// If resizing

.tile-resizing-overlay {
  display: none;
}

.sw-grid-resizing {

  iframe {
    display: none;
  }

  .tile-resizing-overlay {
    @include size(100%, 100%);
    background-color: #333ddd;

    @extend %flex;
  }
}
