$topbarSize: 50px;
$searchbarSize: 120px;
$fullscreenTopbarSize: 70px;

.sw-topbar {
	@include size(100%, $searchbarSize);
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(
		to right,
		#141562,
		#486FBC,
		#EAB5A1,
		#8DD6FF,
		#4973C9,
		#D07CA7,
		#F4915E,
		#F5919E,
		#B46F89,
		#141562,
		#486FBC);
	background-size: 1000% 1000%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transform: translateY(calc((#{$searchbarSize} - #{$topbarSize}) * -1));

	@extend %flex;
	align-items: flex-end !important;

	&__content {
		@include size(100%, $topbarSize);
		padding: 0 15px;
		color: white;

		@extend %flex;
		justify-content: space-between !important;

		&--info {
			@extend %flex;

			.topbar-icon {
				@include size(30px, 30px);

				img {
					@include size(30px, 30px);
				}
			}

			.topbar-title {
				margin-left: 10px;
			}
		}
	}

	&.fullscreen {
		transform: translateY(calc((#{$searchbarSize} - #{$fullscreenTopbarSize}) * -1));

		&__content {
			@include size(100%, $fullscreenTopbarSize);
		}
	}
}
