.top-bar-container{
	height:$top-bar-height;
	position:absolute;
	width:100%;
	z-index: 1999;
	top:0;
	// This is the default background color of navbar
    h5{
		text-align: center;
      	line-height: $top-bar-height;
		//color: #555;
		color: $deepBlue-60;
		font-size: 18px;
		font-weight: 400;
    }
    .material-icons{
    	font-size: 22px;
    }
	.feedback-button {
		position:absolute;
    	top: 0;
    	right: 2 * $top-bar-height;
    	padding: 10px;
		color: $deepBlue-60;
    	height: $top-bar-height;
		display: flex;
		font-size: 13px;
		align-items: center;
		justify-content: center;

			&:hover {
				background-color: $studioGray-20;
			}

			i {
				color: $red;
				padding-right: 10px;
			}
		}


    .grid-button{
    	position:absolute;
    	//cursor: default;
    	top: 0;
    	right: $top-bar-height;
    	width:$top-bar-height;
    	padding: 10px;
    	height: $top-bar-height;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				background-color: $studioGray-20;
			}

			i {
				color: $deepBlue-40 !important;
			}
    }
    .add-button{
    	position:absolute;
    	//cursor: default;
    	top: 0;
    	right: 0;
    	width:$top-bar-height;
    	padding: 10px;
    	height: $top-bar-height;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				background-color: $studioGray-20;
			}

			i.material-icons {
				font-size: 26px;
				color: $deepBlue-40 !important;
			}
    }
    .connection-status {
        width: 100%;
        height: 30px;
        //text-align: center;
        position: absolute;
        left: 0;
        top: 60px;
        //line-height: 20px;
        transition: .2s ease-in-out;
        display: none;
        align-items: center;
        justify-content: center;

        &.online {

        }

        &.offline {

        }

        .connecting {

        }

        .loader {
            clip: rect(0, 20px, 20px, 10px);
            height: 20px;
            width: 20px;
            position: absolute;
            left: calc(50% - 75px);
            top: calc(50% - 10px);
            margin-right: 50px;
            animation: loader-one 1.05s linear infinite;

            &:after {
                clip: rect(0, 20px, 20px, 10px);
                content:'';
                border-radius: 50%;
                height: 20px;
                width: 20px;
                position: absolute;
                animation: loader-two 1.05s linear infinite;
            }

            @keyframes loader-one {
                0% {
                    transform: rotate(0deg)
                }
                100% {
                    transform: rotate(220deg)
                }
            }

            @keyframes loader-two {
                0% {
                    box-shadow: inset #2c3e50 0 0 0 2px;
                    transform: rotate(-140deg);
                }
                100% {
                    box-shadow: inset #2c3e50 0 0 0 2px;
                    transform: rotate(140deg);
                }
            }
        }

        span {
            line-height: 30px;
        }

        i {
            line-height: 30px;
            margin: 0;
            padding: 0;
        }
    }

}

$swipes-shadow-one: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);

.swipes-dropdown {
	width:150px;
	height: 50px;
	margin-left: 60px;
	margin-top: 5px;
   	//background-color: white;
	padding: 0;
	line-height: 40px;
	font-weight: 600;
	user-select: none;
	position: relative;
	//box-shadow: $swipes-shadow-one;
	border-bottom: 1px solid $studioGray-60;

	&:hover {
		background-color: rgba(255,255,255,.1);
	}

	.dropdown-arrow {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 15px;
		padding-right: 15px;
		cursor: default;
	}

	& * {
		user-select: none;
	}

	li {
		width: 100%;
		padding: 5px 10px;
		padding-right: 20px;
		z-index: 2;
		color: white;
		cursor: default;

		&:not(.init) {
			float: left;
			height: 50px;
			width: 100%;
			display: none;
			background: white;
			color: $deepBlue-100;
			box-shadow: $swipes-shadow-one;

			&:hover, ul li.selected:not(.init) {
				background: $studioGray-20;
			}
		}

		&.init {
			cursor: default;
		}
	}
}

@keyframes showingIcon {
	0% {
		transform: translateX(-14px) scale(.8);
	}

	50% {
		transform: translateX(0px) scale(.8);
	}

	100% {
		transform: translateX(0px) scale(1);
	}
}
