
// Topbar variables
$top-bar-height: 60px;

$sidebar-dark-color: #1B1E23;
$unselected-color: #9E9E9E;
$unselected-text-color: #ffffff;
$unread-text-color: #010D2E;
$dark-background: #252d51;
$white-background: #ffffff;

$online-green: #66cc8f;
$busy-yellow: #FF512F;
$orange: #e85c41;

$sidebar-width: 210px;


$studioGray-20: #F4F4F5;
$studioGray-60: #DDDEE0;
$deepBlue-100: #000C2F;