@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.milestone-result {
  @include size(100%, 61px);
  @include flexContainer('row', left, center);
  padding: 0 6px;
  transition: .2s ease;
}

// ======================================================
// Elements
// ======================================================

.milestone-result {

  &__icon {
    @include size(36px);
    @include flexContainer('row', center, center);
    background-color: $deepBlue-5;
    border-radius: 3px;
  }

  &__svg {
    @include size(18px);
    @include svg-color($deepBlue-100);
  }

  &__title {
    @include size(100%, auto);
    @include font(15px, $deepBlue-90, 24px);
    padding-left: 12px;
    padding-right: 6px;
    transition: .2s ease;
  }
}

// ======================================================
// Hovers
// ======================================================

.milestone-result {
  $b: &;

  &:hover {
    background-color: $blue-5;
    transition: .2s ease;
  
    #{$b}__title {
      @include font($c: $blue-100);
      transition: .2s ease;
    }
  }
}