@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.search-result {
  border-bottom: 1px solid $deepBlue-5;
}

// ======================================================
// Empty states
// ======================================================

.search-results {

  &__empty-state {
    @include size(100%);
    @include flexContainer('column', center, top);
    padding-top: 60px;
  }

  &__empty-svg {
    @include size(360px);
    margin-bottom: 12px;
    opacity: 0.8;
  }

  &__empty-title {
    @include font(11px, $deepBlue-100, 18px, bold)
    text-transform: uppercase;
    pointer-events: all;
  }

  &__empty-text {
    @include font(12px, $deepBlue-40, 18px);
    margin-top: 9px;
    text-align: center;
    pointer-events: all;
  }
}
