@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.search {
  &__field {
    @include size(100%, 54px);
    @include flexContainer('row', left, center);
    border-bottom: 1px solid $blue-60;
    padding-bottom: 24px;

    input {
      @include size(100%, 54px);
      @include font(24px, $deepBlue-100, 36px);
      padding-right: 15px;
      transition: .2s ease;

      &::-webkit-input-placeholder {
        @include font(24px, $deepBlue-30, 36px);
      }
    }
  }
}
