@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.search-results {
  // border-bottom: 1px solid $deepBlue-5;
}

// ======================================================
// Modifiers
// ======================================================

.search-results {

  &#{&}--empty-state {
    @include size(100%)
  }
}

// ======================================================
// Empty states
// ======================================================

.search-results {

  &__empty-state {
    @include size(100%);
    @include flexContainer('column', center, top);
    padding-top: 60px;
  }

  &__empty-illustration {
    @include size(100%, 60%);
    @include flexContainer('column', center, center);
    margin-bottom: 12px;
  }

  &__empty-svg {
    @include size(auto, 100%);
    max-width: 360px;
    opacity: 0.8;
  }

  &__empty-title {
    @include font(11px, $deepBlue-100, 18px, bold)
    text-transform: uppercase;
    pointer-events: all;
  }

  &__empty-text {
    @include font(12px, $deepBlue-40, 18px);
    margin-top: 9px;
    text-align: center;
    pointer-events: all;
  }
}
