@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.section {
  $b: &;
  @include size(100%, auto);
  position: relative;
  padding: 30px 0;
  border-top: 1px solid $deepBlue-10;
  background-color: $bg;

  &__title {
    @include size(100%, 21px);
    @include flex(center, flex-end);
    position: absolute;
    left: 0; top: 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    color: $deepBlue-60;

    &:empty {
      display: none;
    }
  }

  &--first {
    padding: 0;
    border: none;
  }
}
