@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.section {
  $b: &;
  @include size(100%, auto);
  background-color: $bg;

  &__header {
    @include size(100%, 39px);
    @include flexContainer('row', between, center);
    border-bottom: 1px solid $deepBlue-100;
  }

  &__title {
    @include font(12px, $deepBlue-100, 15px, 500);
  }
  &__icon-container {
  }
  &__icon {
    @include size(24px);
    @include svg-color($deepBlue-100);
  }
}
