@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.section {
  $b: &;
  @include size(100%, auto);
  position: relative;
  padding: 30px 0;
  border-top: 1px solid $deepBlue-20;
  background-color: $bg;
  transition: margin-top .4s ease-in, opacity .4s ease;
  will-change: margin-top;

  &__title {
    @include size(100%, auto);
    @include flex(center, flex-start);
    @include font(12px, $deepBlue-80, 15px, bold);
    position: absolute;
    left: 0; top: 12px;
    text-transform: capitalize;;

    &:empty {
      display: none;
    }
  }

  &--first {
    padding: 0;
    border: none;
  }

  &--hidden {
    opacity: 0;
    pointer-events: none;
    transition: margin-top .4s ease, opacity .4s ease;
    will-change: margin-top;
  }

  &.no-animation {
    transition: 0s;
  }
}
