@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.section {
  $b: &;
  @include size(100%, auto);
  background-color: $bg;
  padding-top: 39px;

  &__title {
    @include size(100%, 39px);
    @include flexContainer('row', left, center);
    @include font(12px, $deepBlue-100, 15px, 500);
    position: absolute;
    left: 0; top: 0;
    border-bottom: 1px solid $deepBlue-100;
  }
}
