@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.compatible-signup {
  padding-top: 30px;
}

.compatible-signup .form {
	margin-top: 40px;
}

.compatible-signup .footer {
	@include size(100%, auto);
	padding: 69px 0;
  padding-top: 90px;
}

// ======================================================
// Elements
// ======================================================

.compatible-signup {

  &__loader {
    @include widthSpecifications(initial, 100%);
    margin: 0 auto;

    img {
      @include widthSpecifications(initial, 100%);
      left: 50%;
      transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
    }
  }
}

.compatible-signup .footer {
  $b: findElementInBlock(#{&}, '.footer');

  #{$b}__error-label {
    @include font(13px, $red-80, 18px);
    margin-bottom: 15px;
    margin-top: -30px;
    text-align: center;
  }

  p#{$b}__switch {
    @include font(12px, $deepBlue-40, 18px, 500);
    text-align: center;
    margin-top: 9px;
    padding: 0 15px;

    & a {
      @include font(12px, $blue-100, 18px, 500);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #{$b}__sentence {
    @include font(12px, $deepBlue-40, 18px, 500);
    text-align: center;
    margin-top: 30px;

    & a {
      @include font(12px, $blue-100, 18px, 500);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ======================================================
// Media quary
// ======================================================

@media (max-width: 600px) {

	.compatible-signup .form {
		margin-top: 30px;
	}
}

@media (max-height: 800px) {

	.compatible-signup .form {
		margin-top: 30px;
	}

	.compatible-signup .footer {
		padding: 42px 0;
	}
}
