@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.compatible-signup {
  padding-top: 30px;
}

.compatible-signup .form {
	margin-top: 40px;
}

.compatible-signup .footer {
	@include size(100%, auto);
	padding: 69px 0;
  padding-top: 90px;
}

// ======================================================
// Elements
// ======================================================

.compatible-signup .footer {
  $b: findElementInBlock(#{&}, '.footer');

  a#{$b}__button {
    @include size(auto, 36px);
    @include font(12px, white, 36px, 500);
    background-color: $blue-100;
    border-radius: 100px;
    padding: 0 12px;
    float: right;
    margin-left: 21px;
    cursor: pointer;
    z-index: 2;

    &:hover, &:focus {
      background-color: $blue-80;
    }
  }

  #{$b}__sentence {
    @include font(12px, $deepBlue-40, 18px, 500);
    text-align: right;
    margin-top: 9px;

    & a {
      @include font(12px, $blue-100, 18px, 500);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ======================================================
// Media quary
// ======================================================

@media (max-width: 600px) {

	.compatible-signup .form {
		margin-top: 30px;
	}

  .compatible-signup .footer {
    $b: findElementInBlock(#{&}, '.footer');

    a#{$b}__button {
      float: initial;
      left: 50%;
      transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }

    #{$b}__sentence {
      text-align: center;
    }
  }
}

@media (max-height: 800px) {

	.compatible-signup .form {
		margin-top: 30px;
	}

	.compatible-signup .footer {
		padding: 42px 0;
	}
}
