@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.compatible-signup {
  padding-top: 30px;
}

.compatible-signup .form {
	margin-top: 40px;
}

.compatible-signup .footer {
	@include size(100%, auto);
	padding: 69px 0;
  padding-top: 90px;
}

// ======================================================
// Elements
// ======================================================

.compatible-signup {

  &__loader {
    @include widthSpecifications(initial, 100%);
    margin: 0 auto;

    img {
      @include widthSpecifications(initial, 100%);
      left: 50%;
      transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
    }
  }
}

.compatible-signup .footer {
  $b: findElementInBlock(#{&}, '.footer');

  p#{$b}__switch {
    @include font(12px, $deepBlue-40, 18px, 500);
    text-align: center;
    margin-top: 9px;
    padding: 0 15px;

    & a {
      @include font(12px, $blue-100, 18px, 500);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a#{$b}__button {
    @include size(250px, 36px);
    @include font(12px, white, 36px, 500);
    background-color: $blue-100;
    display: inline-block;
    float: initial;
    cursor: pointer;
    z-index: 2;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    vertical-align: middle;

    &:hover, &:focus {
      background-color: $blue-80;
    }
  }

  #{$b}__sentence {
    @include font(12px, $deepBlue-40, 18px, 500);
    text-align: center;
    margin-top: 30px;

    & a {
      @include font(12px, $blue-100, 18px, 500);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ======================================================
// Media quary
// ======================================================

@media (max-width: 600px) {

	.compatible-signup .form {
		margin-top: 30px;
	}
}

@media (max-height: 800px) {

	.compatible-signup .form {
		margin-top: 30px;
	}

	.compatible-signup .footer {
		padding: 42px 0;
	}
}
