@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.tab-bar {
  $b: &;

  @include size(100%, 48px);
	@include flex(center, flex-start);
  @include flex(none);
  background-color: $bg;
  border-top: 1px solid $deepBlue-20;
  padding: 12px 0;
  position: relative;
  z-index: 2;

  &__tab {
    @include size(auto, 48px);
    @include flex(center);
    @include font(12px, $deepBlue-30, 15px, bold);
    margin: 0;
    padding-right: 30px;
    transition: .1s;
    user-select: none;

    &:first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: darken($deepBlue-40, 5%);
    }

    &--active {
      color: $deepBlue-80;
      transition: .1s;

      &:hover {
        color: $deepBlue-100;
      }
    }
  }

  &__slider {
    @include size(100%, 2px);
    @include flex();
    background-color: $deepBlue-70;
    left: 0; top: -1px;
    position: absolute;
    transition: -webkit-clip-path .2s ease-in-out;
    z-index: 2;
  }

  &__btn {
    @include size(50px);
    @include flex();

    &:hover {

      #{$b}__icon {
        &--svg {
          fill: $deepBlue-60;
        }
      }
    }
  }

  &__icon {

    &--svg {
      @include size(24px);
      fill: $deepBlue-30;
      transition: .1s;
    }
  }
}
