@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.tab-bar {
  $b: &;

  @include size(100%, 52px);
	@include flex(center, flex-start);
  background-color: $bg;
  // max-width: 780px;
  padding: 0;
  padding-top: 12px;
  position: relative;
  z-index: 2;
  flex: none;

  &:after {
    @include size(100%, 1px);
    background-color: $deepBlue-10;
    content: "";
    left: 0; bottom: 0;
    position: absolute;
  }

  &__tab {
    @include size(auto, 40px);
    @include flex(center);
    @include font(12px, $deepBlue-30, 18px, 500);
    margin: 0;
    padding-right: 30px;
    position: relative;
    transition: .1s;
    user-select: none;

    &:first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: darken($deepBlue-40, 5%);
    }

    &--active {
      color: $blue-100;
      transition: .1s;

      &:hover {
        color: $blue-120;
      }
    }
  }

  &__slider {
    @include size(100%, 1px);
    @include flex();
    background: $blue-100;
    left: 0; bottom: 0;
    position: absolute;
    transition: -webkit-clip-path .2s ease-in-out;
    z-index: 2;
  }

  &__btn {
    @include size(50px);
    @include flex();

    &:hover {

      #{$b}__icon {
        &--svg {
          fill: $deepBlue-60;
        }
      }
    }
  }

  &__icon {

    &--svg {
      @include size(24px);
      fill: $deepBlue-30;
      transition: .1s;
    }
  }
}
