@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.tab-bar {
  $b: &;

  @include size(100%, 40px);
	@include flex(center, flex-start);
  @include flex(none);
  background-color: $bg;
  border-bottom: 1px solid $deepBlue-10;
  padding: 12px 0;
  position: relative;
  z-index: 2;

  &__tab {
    @include size(auto, 40px);
    @include flex(center);
    @include font(13px, $deepBlue-40, 17px, 500);
    margin: 0;
    padding-right: 30px;
    transition: .1s;
    user-select: none;

    &:first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: $deepBlue-100;
    }

    &--active {
      @include font(13px, $deepBlue-100, 17px, 500);
      transition: .1s;

      &:hover {
        color: $deepBlue-120;
      }
    }
  }

  &__slider {
    @include size(100%, 3px);
    @include flex();
    background-color: $deepBlue-100;
    left: 0; bottom: -1px;
    position: absolute;
    transition: -webkit-clip-path .2s ease-in-out;
    z-index: 2;
  }

  &__btn {
    @include size(50px);
    @include flex();

    &:hover {

      #{$b}__icon {
        &--svg {
          fill: $deepBlue-60;
        }
      }
    }
  }

  &__icon {

    &--svg {
      @include size(24px);
      fill: $deepBlue-30;
      transition: .1s;
    }
  }
}
