@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

@import url('https://fonts.googleapis.com/css?family=Teko');

.counter {
  $b: &;
  $flexIgnoreList: '#{$b}__header', '#{$b}__footer';
  @include size(100%);
  @include flexContainer('column');
  background-color: $blue-5;
  padding: 0 6.41%;
}

.counter {
  $b: &;

  &__header {
    @include size(100%, 115px);
    @include flexContainer('row', between, center);
    border-bottom: 4px solid rgba($deepBlue-100, .1);
    padding-top: 42px;
  }

  &__header-title {
    @include font(21px, $deepBlue-100, 27px);
  }

  &__icon {
    @include size(30px);
  }

  &__svg {
    @include size(30px);
    @include svg-color($blue-100);
  }

  &__content {
    @include size(100%);
    @include flexContainer('row', between, center);
    padding-top: 45px;
  }

  &__col {
    @include flexContainer('column', center, between);

    &--small {
      @include size(calc(25% - 8px), 100%);
    }

    &--big {
      @include size(calc(50% - 8px), 100%);
    }
  }

  &__card {
    @include flexContainer('column', center, center);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(0,12,47,0.2);

    &--small {
      @include size(100%, calc(50% - 6px));
    }

    &--big {
      @include size(100%);
    }

    &:hover {


      #{$b}__number {
        @include font($c: #333ddd);
        transition: .2s ease;
      }
    }
  }

  &__number {
    @include font(120px, $deepBlue-100, 120px);
    font-family: 'Teko';
    transition: .2s ease;

    &--big {
      @include font(300px, $deepBlue-100, 300px);
    }
  }

  &__text {
    @include font(15px, $deepBlue-60, 21px);
    text-transform: uppercase;
  }

  &__footer {
    @include size(100%, 11%);
    @include font(12px, $deepBlue-100, 15px, 500);
    opacity: .5;
    @include flexContainer('row', right);
    text-transform: uppercase;
    padding-top: 30px;
  }
}
