@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
@import '~styles/_functions.scss';

// ======================================================
// Block
// ======================================================

.trial {
  @include size(100%);
  user-select: none;
  position: absolute;
}

.trial .trial-popup {
  @include size(400px, 300px);
  @include flexContainer('column');
  @include centerAbsolute();
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 20px 3px rgba($blue-160, .1);
  padding: 0 15px;
  padding-bottom: 30px;
}

// ======================================================
// Elements
// ======================================================

.trial {

  &__indicator {
    @include flexContainer('row', right, center);
    @include size(100%, 38px);
    padding: 0 15px;
    position: absolute;
    left: 0; top: 0;
  }

  &__indicator-label {
    @include font(15px, white, 300);

    &:hover{
      text-decoration: underline;
    }
  }

  &__popup {
    @include size(100%);
    background: rgba($deepBlue-100, .5);
    position: absolute;
    z-index: 999999;
  }
}

.trial .trial-popup {
  $b: getElementSelectorInBlock(#{&}, '.trial ');

  #{$b}__title {
    @include size(100%, auto);
    @include font(30px, $deepBlue-100, 39px, 300);
    font-family: 'Aktiv-Grotesk';
    padding: 30px 0;
    text-align: center;
  }

  #{$b}__paragraph {
    @include font(15px, $deepBlue-50, 18px);
    padding-bottom: 15px;
  }

  #{$b}__actions {
    @include size(70%, 100%);
    @include flexContainer('row', around, center);
    margin-left: 30%;
  }
}

// ======================================================
// Modifiers
// ======================================================

.trial {

  &__indicator {

    &#{&}--expired {
      background: red;

      .topbar__trial--label {
        color: blue;
      }
    }
  }
}

// ======================================================
// OS targeting
// ======================================================

// windows
.platform-win32 {
  .trial {
    .trial__indicator {
      @include flexContainer('row', left, center);
    }
  }
}
