@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.side-note {
  $b: &;
  @include size(100%);
  @include flex(center, flex-start);
  @include flex(column);
  margin-left: 45px;
  overflow-y: auto;
  padding-left: 0 15px;
  position: relative;

  &:after {
    @include size(1px, 100%);
    background-color: $deepBlue-10;
    content: '';
    left: 0; top: 0;
    position: absolute;
  }

  &__header {
    @include size(100%, 84px);
    @include flex(center, flex-end);
    @include flex(none);
    color: $deepBlue-40;
    font-size: 12px;
    padding-bottom: 60px;
    padding-right: 15px;
  }

  &__btn-title {
    @include size(100%, 42px);
    @include flex(flex);
    position: absolute;
    left: 0; top: 40px;
  }

  &__title-wrap {
    @include size(100%);
    @include flex();
    position: relative;
  }

  &__title {
    @include size(100%);
    color: $deepBlue-90;
    font-size: 27px;
    font-weight: 700;
    line-height: 42px;
    max-width: 750px;
    padding: 0 25px;
  }
  &__title {
    position: absolute;
    font-size: 27px;
    font-weight: 700;
    color: #192445;
    white-space: nowrap;
  }

  &__back {
    @include flex(none);
    margin-left: 30px;
  }

  &__editing-dot {
    @include size(6px);
    background-color: $green-color;
    border-radius: 100%;
    margin-left: 12px;
    transition: .1s;

    &--active-editing {
      background-color: $blue-100;
    }

    &--locked-editing {
      background-color: $salmon;
    }
  }

  &__note {
    @include size(100%, auto);
    max-width: 650px;
    padding-top: 45px;
  }

  &--locked {

    #{$b}__header {
      color: $salmon;
    }

    & > *:not(#{$b}__header) {
      opacity: .7;
    }
  }
}
