$bg: #F9F9F9;
$lightGray: #9499A7;
$darkGray: #3C445C;
$blue: #37C7FD;
$lightBlue: #AAE9FE;
$orange: #FC3A1C;

$mat-sha-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$mat-sha-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$mat-sha-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$mat-sha-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$mat-sha-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


@mixin transition-delay($time) {
	transition-delay: $time;
}

*, *:before, *:after, h1, h2, h3, ul, li, a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	list-style: none;
	text-decoration: none;
	
	&:focus {
		outline: none;
	}
}

%flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro';
}

::-webkit-scrollbar { 
    display: none; 
}

.hidden {
	display: none;
}

.action-noti {
	padding: 5px 10px;
	color: white;
	background-color: rgba($darkGray, .6);
	position: absolute;
	
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	display: none;
	
	&.notify {
		display: block;
	}
}

.wrapper {
	width: 100%;
	height: 100%;
	//overflow: hidden;
}

.email-list {
	width: 40%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	background-color: $bg;
	box-shadow: $mat-sha-four;
	z-index: 99;
}

.emails-wrap {
	width: 100%;
	position: relative;
	
	nav {
		width: 40%;
		height: 50px;
		padding: 0 50px;
		position: fixed;
		z-index: 999;
		background-color: $bg;
		box-shadow: $mat-sha-one;
		display: flex;
		align-items: center;
		
		i {
			color: $lightGray;
			padding: 10px;
			cursor: pointer;
			
			&:first-child {
				margin-right: 100px;
			}
			
			&:hover {
				color: $darkGray;
			}
			
			&.refresh {
				
				&.loading {
					transform: rotate(1080deg);
					transition: .98s ease-in-out;
				}
			}
		}
	}
	
	ul.emails {
		width: 100%;
		transform: translateY(50px);
		
		li.email {
			width: 100%;
			min-height: 100px;
			border-bottom: 1px solid rgba($lightGray, .3);
			padding: 8px 0;
			position: relative;
			cursor: pointer;
			display: flex;
			align-items: center;
			
			& * {
				user-select: none;
			}
			
			&.new-email {
				display: none;
			}
			
			&:last-child {
				border-bottom: none;
			}
			
			&.selected {
				background-color: $lightBlue;
				
				&:hover {
					background-color: $lightBlue;
				}
			}
			
			&:hover {
				background-color: rgba($blue, .4);
			}
			
			.prof-pic {
				width: 80px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
				
				img {
					width: 40px;
					border-radius: 50%;
				}
				
				.initials {
					width: 40px;
					height: 40px;
					border: 2px solid $blue;
					border-radius: 50%;
					color: $blue;
					text-align: center;
					line-height: 36px;
				}
			}
			
			.email-summary {
				width: 100%;
				padding-right: 20px;
				
				.first-line {
					width: 100%;
					
					span.name {
						color: $lightGray;
						font-size: 16px;
						font-weight: 400;
						text-align: left;
					}
					
					span.time {
						display: flex;
						.dot {
							width: 10px;
							height: 10px;
							border-radius: 50%;
							margin: 0 10px;
							margin-top: 6px;
							
							&.unread {
								background-color: $blue;
							}
						}
						color: $lightGray;
						font-size: 16px;
						font-weight: 400;
						float: right;
					}
				}
				
				.headline {
					color: $darkGray;
					font-size: 16px;
					font-weight: 600;
					text-align: left;
					padding: 5px 0;
				}
				
				.summary {
					color: $lightGray;
					font-size: 15px;
					font-weight: 400;
				}
			}
		} 
	}
}

.email-view {
	width: 60%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	left: 40%;
	background-color: $bg;
	z-index: 1;
	
	.wrap {
		
		.action-icons {
			width: 100px;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			height: 50px;
			top: 25px;
			display: flex;
			align-items: center;
			justify-content: space-around;
			opacity: 0;
			
			&.open {
				opacity: 1;
			}
			
			i {
				line-height: 50px;
				color: $lightGray;
				cursor: pointer;
				
				&:hover {
					color: $darkGray;
				}
			}
		}
	}
}

.email-card {
	width: 90%;
	max-width: 700px;
	position: absolute;
	left: 50%;
	top: 150px;
	background-color: white;
	box-shadow: $mat-sha-two;
	border-radius: 5px;
	opacity: 0;
	overflow: hidden;
	transform: translateX(-50%);
	transition: .3s ease-in-out;
	
	&.open {
		opacity: 1;
		top: 100px;
		transition: .3s ease-in-out;
	}

	.destination-fields {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		.to-field {
			border: 1px solid rgba($lightGray,.3);
			padding: 5px 15px;
			color: rgba($lightGray, .6);
			display: flex;
			align-items: center;
			
			span.email {
				color: $darkGray;
				background-color: rgba($lightGray, .3);
				padding: 5px 10px;
				padding-right: 0px;
				border-radius: 5px;
				display: flex;
				align-items: center;
				margin-left: 15px;
				
				i {
					padding: 0 10px;
					cursor: pointer;
					font-size: 16px;
					color: rgba($darkGray, .6);
				}
				
				&:hover > i {
					color: $darkGray;
				}
			}
		}
		
		.subject-field {
			border: 1px solid rgba($lightGray,.3);
			border-top: none;
			padding: 10px 15px;
			color: rgba($lightGray, .6);
			
			span.subject {
				color: $darkGray;
				padding: 5px 5px;
				padding-right: 0px;
				margin-left: 5px;
			}
		}
	}
	
	.reply-wrap {
		width: 100%;
		min-height: 400px;
		padding: 50px 0;
		padding-bottom: 100px;
		background-color: #eee;
		position: relative;
		
		.text-editor {
			width: 90%;
			min-height: 300px;
			margin-left: 5%;
			color: $darkGray;
		}
		.editor-toolbar {
			width: 100%;
			height: 50px;
			background-color: white;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 1px solid rgba($lightGray, .4);
			
			.btn-send {
				width: 100px;
				height: 50px;
				background-color: $blue;
				color: white;
				line-height: 50px;
				position: absolute;
				right: 0;
				text-align: center;
				cursor: pointer;
			}
		}
	}
	
	.reply-prev-email {
		
		&.active {
			width: 95%;
			margin-top: 80px;
			margin-left: 5%;
			border-left: 5px solid $lightBlue;
			
			& * {
				transform: scale(.97);
			}
		}
	} 

	.headline {
		color: $darkGray;
		font-size: 22px;
		padding: 10px 15px;
	}
	
	.header {
		display: flex;
		align-items: center;
		
		.prof-pic {
			width: 80px;
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
			
			img {
				width: 40px;
				border-radius: 50%;
			}
			
			.initials {
				width: 40px;
				height: 40px;
				border: 2px solid $blue;
				border-radius: 50%;
				color: $blue;
				text-align: center;
				line-height: 36px;
			}
		}
		
		.details {
			.from {
				font-size: 14px;
				color: $lightGray;
				
				span.bold {
					font-weight: 600;
					color: $darkGray;
				}
			}
			
			.to {
				font-size: 14px;
				color: $lightGray;
			}
		}
	}
	
	.content {

	}
}

.multiple-selection {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	transition: .1s ease-in-out;
	
	&.open {
		opacity: 1;
		transition: .1s ease-in-out;
	}
	
	.items-selected {
		text-align: center;
		font-size: 30px;
		color: $lightGray;
		font-weight: 200;
		padding: 25px 30px;
	}
	
	.card {
		width: 350px;
		height: 350px;
		background-color: white;
		box-shadow: $mat-sha-one;
		border-radius: 5px;
		
		.card {
			width: 350px;
			height: 350px;
			background-color: white;
			box-shadow: $mat-sha-one;
			border-radius: 5px;
			transform: translate(3px,-3px);
			
			.card {
				width: 350px;
				height: 350px;
				background-color: white;
				box-shadow: $mat-sha-one;
				border-radius: 5px;
				text-align: center;
				transform: translate(3px,-3px);
				
				i {
					text-align: center;
					line-height: 350px;
					color: lighten($lightGray,30%);
					font-size: 60px;
				}
			}
		}
	
	
	}
}