$blue: #3676F1;
$yellow: #FCC956;
$darkGray: #363B3E;
$lightGray: #F7F7F7;
$gray: #CDD5D7;

$mat-sha-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$mat-sha-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$mat-sha-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$mat-sha-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$mat-sha-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


@mixin transition-delay($time) {
	transition-delay: $time;
}

*, *:before, *:after, h1, h2, h3, ul, li, a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	list-style: none;
	text-decoration: none;
	
	&:focus {
		outline: none;
	}
}

%flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro';
	background-color: $lightGray;
}

::-webkit-scrollbar { 
    display: none; 
}

.wrapper {
	width: 100%;
	height: 100%;
	//overflow: hidden;
}

nav {
	width: 100%;
	height: 70px;
	background-color: $yellow;
	padding: 0 10%;
	display: flex;
	align-items: center;
	
	.logo {
		height: 70px;
		display: flex;
		align-items: center;
		img {
			width: 120px;
		}
	}
	
	.folders {
		height: 70px;
		margin-left: 50px;
		
		ul {
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			a {
				height: 70px;
				display: flex;
				align-items: center;
				justify-content: center;
				li {
					margin: 0 15px;
					font-weight: 400;
					color: rgba(#000C2F, .5);
					
					&.active {
						color: #000C2F;
						font-weight: 600;
					}
					
					&:hover {
						color: #000C2F;
					}
				}
			}
		}
	}
	
	.profile {
		height: 70px;
		position: absolute;
		right: 10%;
		display: flex;
		align-items: center;
		cursor: pointer;
		
		p {
			font-size: 18px;
			color: white;
			font-weight: 600;
			letter-spacing: 1px;
		}
		
		i {
			color: white;
			margin-left: 5px;
			margin-top: 3px;
		}
		
		.profile-dropdown {
			width: 250px;
			position: absolute;
			top: 70px;
			right: 10%;
			box-shadow: $mat-sha-two;
			overflow: hidden;
			z-index: 999;
			transform: scale3d(0,0,0);
			transform-origin: 100% 0%;
			transition: .4s ease-in-out;
			&.active {
				transform: scale3d(1,1,1);
				transform-origin: 100% 0%;
				transition: .4s ease-in-out;
				
				& > ul > li {
					opacity: 1;
					transform: translate3d(0%, 0px, 0px);
					transition: .3s ease-in-out;
					
					@for $i from 1 through 3 {
						&:nth-child(#{$i}) {
							@include transition-delay((.1s * $i));
						}
					}	
				}
			}
			ul {
				width: 250px;
				background-color: white;
				
				li {
					width: 100%;
					height: 50px;
					color: $darkGray;
					font-weight: 600;
					opacity: 0;
					transform: translate3d(50%, 0px, 0px);
					display: flex;
					align-items: center;
					transition: .2s ease-in-out;
					
					&:hover > i {
						padding-right: 30px;
						transition: .2s ease-in-out;
					}
					
					&:not(:last-child) {
						border-bottom: 1px solid $gray;
					}
					
					i {
						color: $darkGray;
						padding: 0 10px;
						padding-right: 20px;
						transition: .2s ease-in-out;
					}
				}
			}
		}
	}
}

.email-list {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	transition: .4s ease-in-out;
	
	&.open {
		width: 50%;
		transition: .4s ease-in-out;
	}
}

.emails-wrap {
	
	.navbar {
		padding: 0 30px;
		padding-top: 40px;
		
		input {
			border: 1px solid $gray;
			border-radius: 20px;
			padding: 8px 15px;
			font-size: 14px;
			color: $darkGray;
			padding-right: 35px;
			
			&:hover, &:focus {
				border: 1px solid $darkGray;
				
				& + i.search {
					color: $darkGray;
				}
			}
		}
		
		i.search {
			transform: translate3d(0px, 5px, 0px);
			font-size: 18px;
			margin-left: -35px;
			color: $gray;
			cursor: pointer;
		}
	}
	
	ul.list-of-emails {
		width: 100%;
		margin-top: 50px;
		
		li {
			width: 100%;
			height: 80px;
			border-bottom: 1px solid $gray;
			cursor: pointer;
			
			&:hover {
				background-color: $gray;;
			}
		}
	}
}

.email-view {
	width: 50%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	transform: translate3d(200%, 0px, 0px);
	background-color: white;
	transition: .4s ease-in-out;
		
	&.open {
		transform: translate3d(100%, 0px, 0px);
		transition: .4s ease-in-out;
	}
	
	.wrap {
		transform: translate3d(0px, 20%, 0px);
		opacity: 0;
		
		&.open {
			transform: translate3d(0px, 0%, 0px);
			opacity: 1;
			transition: .4s ease-in-out;
			transition-delay: .2s;
		}
		
		h1 {
			color: $darkGray;
			padding: 30px 40px;
		}
		
		p {
			color: lighten($darkGray, 10%);
			padding: 10px 40px;
		}
	}
}

.an-email {
	
	&.open {
		border-top: 1px solid $gray;
		background-color: white;
		transition: .4s ease-in-out;
		
		&:hover {
			background-color: white;
			transition: .4s ease-in-out;
		}
	}
}