*, *:before, *:after, h1, h2, h3, ul, li, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  list-style: none;
  text-decoration: none;
}

*:focus, *:before:focus, *:after:focus, h1:focus, h2:focus, h3:focus, ul:focus, li:focus, a:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  background-color: #F7F7F7;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #FCC956;
  padding: 0 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  width: 120px;
}

nav .folders {
  height: 70px;
  margin-left: 50px;
}

nav .folders ul {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .folders ul a {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .folders ul a li {
  margin: 0 15px;
  font-weight: 400;
  color: rgba(0, 12, 47, 0.5);
}

nav .folders ul a li.active {
  color: #000C2F;
  font-weight: 600;
}

nav .folders ul a li:hover {
  color: #000C2F;
}

nav .profile {
  height: 70px;
  position: absolute;
  right: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .profile p {
  font-size: 18px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

nav .profile i {
  color: white;
  margin-left: 5px;
  margin-top: 3px;
}

nav .profile .profile-dropdown {
  width: 250px;
  position: absolute;
  top: 70px;
  right: 10%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  z-index: 999;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  -webkit-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}

nav .profile .profile-dropdown.active {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}

nav .profile .profile-dropdown.active > ul > li {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0px, 0px);
          transform: translate3d(0%, 0px, 0px);
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}

nav .profile .profile-dropdown.active > ul > li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

nav .profile .profile-dropdown.active > ul > li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

nav .profile .profile-dropdown.active > ul > li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

nav .profile .profile-dropdown ul {
  width: 250px;
  background-color: white;
}

nav .profile .profile-dropdown ul li {
  width: 100%;
  height: 50px;
  color: #363B3E;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translate3d(50%, 0px, 0px);
          transform: translate3d(50%, 0px, 0px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

nav .profile .profile-dropdown ul li:hover > i {
  padding-right: 30px;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

nav .profile .profile-dropdown ul li:not(:last-child) {
  border-bottom: 1px solid #CDD5D7;
}

nav .profile .profile-dropdown ul li i {
  color: #363B3E;
  padding: 0 10px;
  padding-right: 20px;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

.email-list {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}

.email-list.open {
  width: 50%;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}

.emails-wrap .navbar {
  padding: 0 30px;
  padding-top: 40px;
}

.emails-wrap .navbar input {
  border: 1px solid #CDD5D7;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  color: #363B3E;
  padding-right: 35px;
}

.emails-wrap .navbar input:hover, .emails-wrap .navbar input:focus {
  border: 1px solid #363B3E;
}

.emails-wrap .navbar input:hover + i.search, .emails-wrap .navbar input:focus + i.search {
  color: #363B3E;
}

.emails-wrap .navbar i.search {
  -webkit-transform: translate3d(0px, 5px, 0px);
          transform: translate3d(0px, 5px, 0px);
  font-size: 18px;
  margin-left: -35px;
  color: #CDD5D7;
  cursor: pointer;
}

.emails-wrap ul.list-of-emails {
  width: 100%;
  margin-top: 50px;
}

.emails-wrap ul.list-of-emails li {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #CDD5D7;
  cursor: pointer;
}

.emails-wrap ul.list-of-emails li:hover {
  background-color: #CDD5D7;
}

.email-view {
  width: 50%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-transform: translate3d(200%, 0px, 0px);
          transform: translate3d(200%, 0px, 0px);
  background-color: white;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}

.email-view.open {
  -webkit-transform: translate3d(100%, 0px, 0px);
          transform: translate3d(100%, 0px, 0px);
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}

.email-view .wrap {
  -webkit-transform: translate3d(0px, 20%, 0px);
          transform: translate3d(0px, 20%, 0px);
  opacity: 0;
}

.email-view .wrap.open {
  -webkit-transform: translate3d(0px, 0%, 0px);
          transform: translate3d(0px, 0%, 0px);
  opacity: 1;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.email-view .wrap h1 {
  color: #363B3E;
  padding: 30px 40px;
}

.email-view .wrap p {
  color: #4e5559;
  padding: 10px 40px;
}

.an-email.open {
  border-top: 1px solid #CDD5D7;
  background-color: white;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}

.an-email.open:hover {
  background-color: white;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
}
