@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.sw-tags {
  $b: &;

  @include flex(center, flex-start);
  @include size(100%, auto);
  border: 1px solid $deepBlue-10;
  border-left: 0px; border-right: 0px;
  flex-wrap: wrap;
  max-width: 750px;
  min-height: 48px;
  padding: 5px;
  position: relative;
  z-index: 999;
  margin-bottom: 30px;

  &__selected {

  }

  &__selected-tag {
    background-color: $blue-5;
    border-radius: 3px;
    border: 1px solid $blue-20;
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0;
    margin-right: 10px;
    padding: 11px 24px;

    &:hover {
      #{$b}__selected-name:after {
        color: $blue-100;
      }
    }
  }

  &__selected-name {
    color: $deepBlue-100;
    padding-right: 20px;
    position: relative;

    &:after {
      @include flex();
      content: "x";
      font-weight: 500;
      line-height: 1;
      color: $blue-20;
      position: absolute;
      right: -24px; top: 2px;
      width: 29px;
    }
  }

  &__search {
    position: relative;
  }

  &__search-input {
    background-color: $bg;
    color: $deepBlue-100;
    font-size: 12px;
    margin: 5px 0;
    padding: 11px 24px;
  }

  &__suggestions {
    border: 1px solid $deepBlue-20;
    left: 0; bottom: 0;
    position: absolute;
    transform: translateY(100%);
    white-space: nowrap;
    word-break: keep-all;

    li {
      background-color: lighten(#eee, 2%);
      color: $deepBlue-100;
      font-size: 12px;
      padding: 9px;
    }

    li.is-active {
      background-color: $blue-20;
    }
  }

  &--focused {
    border: 1px solid $blue-100;
    border-left: 0px; border-right: 0px;
  }
}
