@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.workflow__step-item {
  $b: &;
  @include size(100%, 66px);
  @include flex(center, flex-start);
  border-radius: 6px;
  margin: 0 3px;
  max-width: 750px;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: darken($blue-5, 3%);
    z-index: 5;
  }

  &__number {
    @include size(33px !important);
    @include flex(center, center);
    color: $deepBlue-80;
    font-size: 28px;
    font-weight: 500;
    margin: 0 calc(33px / 2);
  }

  &__content {
    $contentWidth: calc((100% - 66px) - (22px + 21px + 21px));
    @include size($contentWidth, 33px);
    @include flex(flex-start, center, column);
    position: relative;
  }

  &__title {
    @include size(100%, auto);
    color: $deepBlue-80;
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__type {
    color: $deepBlue-40;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .3px;
    text-transform: uppercase;
  }

  &__icons {
    @include size(22px, 100%);
    @include flex();
    margin: 0 21px;
  }

  &__icon {
    @include size(22px);
    fill: $deepBlue-40;
    transition: .1s;
  }

  &__icons:hover &__icon {
    fill: $blue-100;
  }

  &__assigning {
    @include size(30px);
    position: absolute;
    right: 15px; top: 50%;
    transform: translateY(-50%);
  }

  &__assignees {
    @include flex();
    @include size(30px, 100%);
    margin: 0 17px;
    position: relative;

    &:hover {

      #{$b}__tooltip {
        display: block;
      }
    }
  }

  &__assignee {
    @include size(30px);

    img {
      @include size();
      border-radius: 50%;
    }
  }

  &__assignee-count {
    @include flex();
    @include size(30px);
    background-color: rgba($deepBlue-100, .4);
    border-radius: 50%;
    color: white;
    font-size: 13px;
    left: 0; top: 50%;
    position: absolute;
    transform: translateY(-50%);

    &:hover {
      background-color: rgba($deepBlue-100, .8);
      transition: .15s ease-in-out;
    }
  }

  &__tooltip {
    @include size(150px, auto);
    background-color: $deepBlue-100;
    border-radius: 6px;
    display: none;
    left: calc(0px - 75px); bottom: 0;
    position: absolute;
    transform: translateY(100%);
    z-index: 2;

    &:after {
      @include size(12px);
      background-color: $deepBlue-100;
      content: "";
      position: absolute;
      right: 55px;
      top: -6px;
      transform: rotate(45deg);
    }
  }

  &__tooltip-item {
    color: white;
    font-size: 13px;
    padding: 10px;
    position: relative;
    z-index: 4;

    &:first-of-type {
      @include border-radius(6px, 6px, 0px, 0px);
    }

    &:last-of-type {
      @include border-radius(0px, 0px, 6px, 6px);
    }

    &:hover {
      background-color: $deepBlue-80;
    }
  }
}
