@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.unsubscribe {
  @include size(100%);
  background-color: rgba(56,149,252, 1);
  text-align: center;

  &__text {
    @include size(100%, auto);
    @include font(18px, white, 24px);
    position: absolute;
    left: 0; top: 50%;
    margin-top: -12px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
