@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.toasty {
  $b: &;
  @include size(200px, auto);
  position: fixed;
  z-index: 10000;
  pointer-events: none;
  right: 20px; top: 70px;
}
