@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.assignees {
  $b: &;
  @include size(auto, 30px);
  @include flex(none);

  &__profiles {
    @include flex(flex);
    @include flex(none);
  }

  &__profile {
    @include size(30px);
    @include flex(none);
    border-radius: 6px;

    &:not(:last-child) {
      margin-right: 3px;
    }

    &--image {

      img {
        @include size(30px);
        border-radius: 6px;
      }
    }

    &--name {
      @include flex();
      @include font(12px, $bg, 18px, bold);
      background-color: $deepBlue-90;
      text-transform: uppercase;
    }

    &--more {
      @include flex();
      @include font(12px, $deepBlue-70, 18px, 500);
      border: 1px solid $deepBlue-10;
      background-color: $bg;
    }
  }

  &__assign {
    @include size(30px);
    @include flex(none);
    @include flex();
    border: 1px solid $deepBlue-10;
    border-radius: 6px;
    transition: .15s ease;

    &:hover {
      background-color: $deepBlue-70;
      transition: .15s ease;

      #{$b}__icon {
        @include svg-color($bg);
        transition: .15s ease;
      }
    }
  }

  &__icon {
    @include size(24px);
    @include svg-color($deepBlue-70);
    transition: .15s ease;
  }
}
