@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$compSize: 30px;

// ======================================================
// Block
// ======================================================

.assignees {
  $b: &;
  --assigneesSize: 30px;

  @include size(auto, var(--assigneesSize, $compSize));
  @include flexContainer(null) {
    flex: none;
  };
}

// ======================================================
// Elements
// ======================================================

.assignees {
  $b: &;

  &__profiles {
    @include flexContainer();
  }

  &__people {
    @include flexContainer();

    #{$b}__profile {

      &:first-child {
        order: 2;
        margin-right: 0px;
        z-index: 1;
      }

      &:not(:first-child) {
        order: 1;
      }
    }
  }

  &__profile {
    @include size(var(--assigneesSize, $compSize) !important);
    border: 2px solid white;
    box-sizing: content-box;
    border-radius: 6px;
    margin-right: -9px;

    @include styleIfNumberOfElements(1) {
      border: none;
    }

    &--image {

      img {
        @include size(var(--assigneesSize, $compSize));
        border-radius: 6px;
      }
    }

    &--name {
      @include flex();
      @include font(12px, $bg, 18px, bold);
      background-color: $deepBlue-90;
      text-transform: uppercase;
    }

    &--more {
      @include flex();
      @include font(12px, $deepBlue-60, 18px, bold);
      background-color: $deepBlue-10;
    }

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        z-index: 20 - $i;
      }
    }
  }

  &__assign {
    @include size(var(--assigneesSize, $compSize));
    @include flexContainer('row', center, center);
    border: 1px solid $deepBlue-10;
    border-radius: 6px;
    transition: .15s ease;

    &:hover {
      background-color: $deepBlue-70;
      transition: .15s ease;

      #{$b}__icon {
        @include svg-color($bg);
        transition: .15s ease;
      }
    }
  }

  &__icon {
    @include size(24px);
    @include svg-color($deepBlue-70);
    transition: .15s ease;
  }

  &--rounded {
    #{$b}__profile {
      border-radius: 50%;

      &--image {

        img {
          border-radius: 50%;
        }
      }
    }

    #{$b}__assign {
      border-radius: 50%;
    }
  }
}
