@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-assign {
  $b: &;

  @include size(30px);
  @include flex();
  position: relative;
  z-index: 1;

  &:hover {
    z-index: 2;

    #{$b}__overlay {
      background-color: rgba($deepBlue-100, .9);
      transition: .1s;
    }

    #{$b}__tooltip {
      display: block;
    }
  }

  &__profile-image {
    @include size(30px);
    border-radius: 50%;
  }

  &__overlay {
    @include size(30px);
    @include flex();
    background-color: rgba($deepBlue-100, .4);
    border-radius: 50%;
    color: $bg;
    font-size: 13px;
    left: 0; top: 0;
    position: absolute;
    transition: .1s;
  }

  &__tooltip {
    @include flex(flex-start, flex-start, column);
    @include size(150px, auto);
    background-color: $deepBlue-80;
    display: none;
    left: 0; bottom: 0;
    position: absolute;
    transform: translateY(calc(100% + 12px)) translateX(calc(-100% + 30px));

    &:after {
      @include size(12px);
      background-color: $deepBlue-80;
      content: '';
      position: absolute;
      right: 9px; top: -6px;
      transform: rotate(45deg);
    }
  }

  &__name {
    @include size(150px, auto);
    padding: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: $bg;
  }

  &__icon {
    @include size(24px);
    fill: $deepBlue-60;
  }
}
