@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
@import '~styles/_functions.scss/';

// ======================================================
// Block
// ======================================================

.add-goal {
  @include size(100%);
  padding-bottom: 30px;
}

// ======================================================
// Elements
// ======================================================

.add-goal {
  $b: &;

  &__header {
    @include size(100%, auto);
    @include flexContainer('container');
  }

  &__title {
    @include size(100%, auto);
    @include font(26px, $deepBlue-100, 36px, 400);
    border-bottom: 1px solid transparent;
    padding: 9px 0;
    transition: .2s ease-in-out;
    padding-top: 45px;

    &:focus {
      border-bottom: 1px solid $blue-100;
      transition: .2s ease-in-out;
    }
  }

  &__handoff {
    @include size(100%, initial);
    @include font(15px, $deepBlue-80, 21px);
    @include widthSpecifications(initial, 480px);
    padding: 15px 21px;
    resize: none;
    background-color: $deepBlue-5;
    border: 1px solid $deepBlue-10;
    border-radius: 3px;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      @include font($c: $deepBlue-40);
    }
  }

  &__info {
    @include heightSpecifications(initial, 0);
    opacity: 0;
    overflow: hidden;
  }

  &__footer {
    @include size(100%, 60px);
    @include flexContainer('row', between, center);
    border-top: 1px solid $deepBlue-10;
    padding: 0 30px;
  }

  &__status {
    @include size(100%, auto);
    @include font(12px, $deepBlue-70);
    font-size: 12px;
    color: $deepBlue-70;

    & + #{$b}__actions {
      width: auto
    }
  }

  &__actions {
    @include size(100%, auto);
    @include flexContainer('row', right, center) {
      flex: none;
    };
  }

  &__btn {

    &--cta {
      margin-left: 9px;
    }
  }

  &__attachment {
    animation: fadeUpAttachments .4s ease forwards;
    opacity: 0;
    padding: 0;
    border: none;
    padding-top: 51px;
    transform: translateY(20px)
  }
}


// tempaltes list

.add-goal {
  &__templates {
    @include size(100%, auto);
    @include flexContainer('row', between, start) {
      flex-wrap: wrap;
    };
    margin-top: 48px;
  }
}

// ======================================================
// Modifiers
// ======================================================

.add-goal {
  $b: &;

  &__info {
    &--show {
      @include heightSpecifications(initial, 300px);
      opacity: 1;
      transition: all 1.5s .4s ease;
    }

    &--showing {
      @include heightSpecifications(initial, 9000px);
    }
  }
}

// ======================================================
// Animations
// ======================================================

@keyframes fadeUpAttachments {
  from {
    opacity: 0;
    transform: translateY(20px)
  }

  to {
    opacity: 1;
    transform: translateY(0px)
  }
}