@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
@import '~styles/_functions.scss/';

.add-goal {
  $b: &;

  @include size(100%);
  padding-bottom: 30px;

  &__header {
    @include size(100%, auto);
    @include flex(column);
  }

  &__title {
    @include size(100%, auto);
    border-bottom: 1px solid transparent;
    color: $deepBlue-100;
    font-size: 26px;
    line-height: 36px;
    padding: 9px 0;
    transition: .2s ease-in-out;
    font-weight: 400;
    position: relative;
    padding-top: 45px;

    &:focus {
      border-bottom: 1px solid $blue-100;
      transition: .2s ease-in-out;
    }
  }

  &__handoff {
    color: $deepBlue-80;
    font-size: 15px;
    padding: 15px 21px;
    line-height: 21px;
    resize: none;
    width: 100%;
    max-width: 480px;
    background-color: rgba($deepBlue-120, .04);
    background-color: #FCFCFC;
    border: 1px solid #E6E7EB;
    border-radius: 3px;
    font-size: 12px;
    line-height: 15px;
    color: $deepBlue-80;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $deepBlue-40;
    }
  }

  &__info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    &--show {
      max-height: 300px;
      opacity: 1;
      transition: all 1.5s .4s ease;
    }

    &--showing {
      max-height: 9000px;
    }
  }

  &__footer {
    @include size(100%, 60px);
    @include flex(center, space-between);
    border-top: 1px solid $deepBlue-10;
    padding: 0 30px;

    #{$b}__status {

    }
  }

  &__status {
    @include size(100%, auto);
    font-size: 12px;
    color: $deepBlue-70;

    & + #{$b}__actions {
      width: auto
    }
  }

  &__actions {
    @include size(100%, auto);
    @include flex(center, flex-end);
    @include flex(none);
  }

  &__btn {

    &--cta {
      margin-left: 9px;
    }
  }

  &__attachment {
    padding: 0;
    border: none;
  }
}
