@import '../global-styles/vars';
@import '../global-styles/mixins';

.swipes-dropdown {
  background-color: red;
  // position: absolute;
  // left: 0; top: 1px;

  &__title {
    height: 39px;
    @include flex(center, center);
    background-color: green;
    padding: 0 10px;
  }

  &__menu {
    background-color: blue;
    position: absolute;
    right: 0;
    top: 39px;
    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition: .4s;
    transition-delay: .05s;

    &--item {
      text-align: right;
      padding: 8px 15px;
      opacity: 0;
      transition: .1s;
    }
  }

  &:hover & {

    &__menu {
      transform: scaleY(1);
      transition: .4s;

      &--item {
        opacity: 1;
        transition: opacity .1s .3s, background-color .1s;

        &:hover {
          background-color: black;

        }
      }
    }
  }
}
