//

@function getElementSelectorInBlock($elementPath, $block) {
  $selector: str-replace($elementPath, $block);

  @return $selector;
}

// Strings

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// Math

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

@function revPyth($num) {
  $x1: ($num * $num) / 2;
  $x2: sqrt($x1);

  @return $x2;
}
