@import './vars';
@import './mixins';

#content {
  @include size(100%);
  position: relative;

  .app {
    @include size(100%);
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.content-wrapper {
  @include size(100%);
  @include flex(flex);
  position: relative;
}

.view-controller {
  @include size(100%);
  padding-left: 84px;
  padding-top: 9px;
}

.scroll-container {
  @include size(100%);
  overflow-y: scroll;
}

svg {
  pointer-events: none;
}

.main-loader {
  left: 50%; top: 50%;
  position: fixed !important;
  transform: translate(-50%, -50%);
}

.overlay {
  @include size(100%, calc(100% - 54px));
  background: $bg;
  left: 0; top: 54px;
  position:fixed;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  transition: visibility 0s .3s, opacity 0s .3s;

  &__anim-wrap {
    @include size(100%);
  }

  &--shown {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity .15s;
  }
}

.g-modal {
  @include size(100%);
  @include flex();
  left: 0; top: 0;
  position: fixed;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s;

  &--shown {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity .3s;
  }

  &__transition {
    @include size();
    @include flex();
  }

  &__overlay {
    @include size(100%);
    background-color: rgba($deepBlue-100, .96);
    left: 0; top: 0;
    position: fixed;
  }
}
