@import './vars';
@import './mixins';

// ======================================================
// Block
// ======================================================

// Containers

#content {
  @include size(100%);
  @include flex(flex);
}

#app {
  @include size(100%);
  @include flex(column);
}

.content-wrapper {
  @include size(100%);
  @include flex(flex);
  overflow: hidden;
}

.gradient-bg {
  @include size(100%);
  left: 0; top: 0;
  position: fixed;
  z-index: -1;
}

.no-select {
  user-select: none !important;
}

// ======================================================
// Elements
// ======================================================

.gradient-bg {

  &__gradient {
    @include size(100%);
    opacity: .7; // TODO: Fix later with Stefan
  }
}

// ======================================================
// Modifiers
// ======================================================

// OS specific modifiers

#app {

  // windows
  &.platform-win32 {

    .topbar__trial {
      @include flexContainer('row', left, center);
    }

    &.window-is-maximized {
      $paddingSide: 4px;
      // padding: $paddingSide;

      & section.view-container.view-container--fullscreen {
        @include size(calc(100% - (#{$paddingSide} * 2)) !important, calc(100% - (38px + #{$paddingSide})) !important);
        left: $paddingSide; top: 38px;
      }
    }

    .topbar__window-actions {
      @include flex(flex);
    }
  }

  // Mac
  &.platform-darwin {

    .content-wrapper {
      border-radius: 5px;
    }

    .topbar__trial {
      @include flexContainer('row', right, center);
    }

    &.window-is-fullscreen {
      & section.view-container.view-container--fullscreen {
        @include size(100% !important);
        left: 0; top: 0;
      }

      .topbar {
        -webkit-app-region: no-drag !important;
        //pointer-events: none;
      }
    }
  }
}
