@import "AktivGrotesk/aktiv-grotesk";
@import "material-icons/material-icons";
@import './vars/';
@import './mixins/';

*,
*:after,
*:before,
a,
button,
canvas,
g,
h1,
h2,
h3,
h4,
h5,
h6,
image,
img,
input,
li,
p,
path,
svg,
ul,
textarea {
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	cursor: default;
	font-family: 'Aktiv-Grotesk', Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	stroke-width: 2px;
	position: relative;

  &::-webkit-input-placeholder {
    font-family: inherit;
  }

  &:focus {
		border: 0 !important;
	  outline: 0 !important;
	  outline-offset: 0 !important;
  }
}


button {
	&:focus {
		outline: none;
	}
}

input {
  cursor: text;

	&:focus, &:active {
		outline: 0 !important;
	}
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input::-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html, body {
	@include size(100%);
	@include flex(flex);
	background-color: $bg;
	font-family: 'Aktiv-Grotesk', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	// width: 0;
}

h1 {
	font-size: 66px;
}

h2 {
	font-size: 56px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 34px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

p {
	font-size: 15px;
}
