@import "AktivGrotesk/aktiv-grotesk";
@import "material-icons/material-icons";
@import './vars/';
@import './mixins/';

*,
*:after,
*:before,
a,
button,
canvas,
g,
h1,
h2,
h3,
h4,
h5,
h6,
image,
img,
input,
li,
p,
path,
svg,
ul,
textarea {
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	cursor: default;
	font-family: 'Aktiv-Grotesk', Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	stroke-width: 2px;

  &::-webkit-input-placeholder {
    font-family: inherit;
  }

  &:focus {
		border: 0 !important;
	  outline: 0 !important;
	  outline-offset: 0 !important;
  }
}


button {
	&:focus {
		outline: none;
	}
}

input {
  cursor: text;

	&:focus, &:active {
		outline: 0 !important;
	}
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input::-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html, body {
	@include size(100%);
	background-color: $bg;
	font-family: 'Aktiv-Grotesk', Arial, Helvetica, sans-serif;
	font-smooth: always;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-rendering: optimizeLegibility !important;
	transform: rotate(-0.0000000001deg);
  -webkit-font-smoothing: antialiased !important;
}

::-webkit-scrollbar {
  background-color: rgba(black,0);
  overflow: hidden;
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: rgba(black,.1);
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	-webkit-border-radius: 7px;
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(black,.1);
	border-radius: 10px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	-webkit-border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

h1 {
	font-size: 66px;
}

h2 {
	font-size: 56px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 34px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

p {
	font-size: 15px;
}
