{
  "presets": ["react-native"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "transform-class-properties",
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "alias": {
        "WaitForUI": "./src/components/wait-for-ui/WaitForUI",
        "Icon": "./src/components/icons/Icon",
        "HOCHeader": "./src/components/header/HOCHeader",
        "RippleButton": "./src/components/ripple-button/RippleButton",
        "swipes-core-js": "@swipesapp/core/dist",
        "components": "./src/components/",
        "globalStyles": "./src/utils/globalStyles",
        "styles": "./src/utils/styles",
        "actions": "./src/actions",
        "constants": "./src/constants",
        "modals": "./src/modals",
        "views": "./src/views",
        "utils": "./src/utils",
      }
    }]
  ]
}
