{
  "presets": ["react-native"],
  "plugins": [
    ["module-alias", [
      { "src": "./swipes-core-js", "expose": "swipes-core-js" },
      { "src": "./src/components", "expose": "components" }
    ]]
  ]
}
