@import '../global-styles/vars';
@import '../global-styles/mixins';

.overlay {
  @include size(100%, calc(100% - 54px));
  background: $bg;
  left: 0; top: 54px;
  position:fixed;
  visibility: hidden;
  z-index: 9;

  &--shown {
    visibility: visible;
  }
}
