@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
@import '~styles/_functions.scss/';

$containerWidth: 360px;
$containerHeight: 450px;
$mainPadding: 21px;
$whiteSpacePadding: 12px;
$sectionHeight: 52px;

// ======================================================
// BLOCK
// ======================================================

.tab-menu {
  $b: &;
  $flexIgnoreList: '#{$b}__section', '#{$b}__search', '#{$b}__footer';

  @include size($containerWidth, $containerHeight);
  @include flexContainer('column', $selectorsToIgnoreFlex: $flexIgnoreList);
  background-color: $bg;
  border-radius: 6px;
  box-shadow: 0 1px 20px 3px rgba($blue-160, .1);
  overflow: hidden;
  padding: $mainPadding $mainPadding 0 $mainPadding;
  z-index: 999;
}

// ======================================================
// ELEMENTS
// ======================================================

// Header

.tab-menu {

  &__header {
    @include size(100%, auto);
  }
}

// Footer

.tab-menu {
  $b: &;

  &__footer {
    $flexIgnoreList: '#{$b}__actions';

    @include size(100%, 60px);
    @include flexContainer('row', left, center, $flexIgnoreList);
    border-top: 1px solid $deepBlue-10;
    padding: 0 15px;
  }

  &__status {
    @include size(100%, auto);
    @include font(12px, $deepBlue-40, 18px, 500);
  }

  &__actions {
    padding-left: 15px;
  }
}

// sections

.tab-menu {

  &__section {
    transition: .25s ease;
  }
}

// Search

.tab-menu {
  $b: &;

  &__search {
    @include size(100%, auto);
    border-bottom: 1px solid $deepBlue-10;
  }

  &__input {
    @include size(calc(100% - 36px), $sectionHeight);
    @include font(18px, $deepBlue-100, 24px, 400);
    padding-bottom: 9px;
    padding-top: $whiteSpacePadding;

    &::-webkit-input-placeholder {
      color: $deepBlue-30;
    }

    &:focus {
      outline: none;
    }
  }

  &__close {
    position: absolute;
    right: 0; top: calc(50% - (36px / 2));
    opacity: 0;
    pointer-events: none;
    transition: .15s ease;
  }
}

// List

.tab-menu {
  $b: &;

  &__list {

    @include size(calc(100% + (#{$mainPadding} * 2)), 100%);
    @include border-radius(0px, 0px, 6px, 6px);
    background-color: $bg;
    left: calc(-1 * #{$mainPadding}); top: auto;
    overflow-y: auto;
    padding: 0 16px 0 16px;
    transition: .25s ease-in-out;
    z-index: 12;
  }
}

// List item

.tab-menu__list {

  .result {

  }
}


// ======================================================
// MODIFIERS
// ======================================================

.tab-menu {
  $b: &;

  &__section:empty + &__list {
    @include size(calc(100% + (#{$mainPadding} * 2)), 100%);
    left: calc(-1 * #{$mainPadding}); top: auto;
    position: relative;
  }

  &--is-searching {

    #{$b}__section--tab-bar {
      max-height: 0px;
      transition: .5s ease;
    }

    #{$b}__close {
      opacity: 1;
      pointer-events: all;
      transition: .15s ease;
    }
  }

  &--dynamic-height {
    @include size($containerWidth, auto);
    max-height: $containerHeight;
    padding-bottom: 10px;
    padding-top: 10px;

    .tab-menu__list .result {

      &:hover {

        &:before {
          background-color: $blue-5;
        }

      }
    }
  }
}
