@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';
@import '~styles/_functions.scss/';

$containerWidth: 360px;
$containerHeight: 450px;
$mainPadding: 21px;
$whiteSpacePadding: 12px;
$sectionHeight: 52px;

.tab-menu {

  &__search {

  }

  &__input {

    &::-webkit-input-placeholder {

    }

    &:focus {

    }
  }

  &__close {

  }

  &__list {

    .result {

      &__icon {

      }

      &__data {

      }

      &__title {

      }

      &__subtitle {

      }
    }
  }
}

// ======================================================
// BLOCK
// ======================================================

.tab-menu {
  @include size($containerWidth, $containerHeight);

	background-color: $bg;
	border-radius: 6px;
	box-shadow: 0 1px 20px 3px rgba($blue-160, .1);
	overflow: hidden;
	padding: $mainPadding $mainPadding 0 $mainPadding;
  position: relative;
  background-color: $bg;
  z-index: 999;
}

// ======================================================
// ELEMENTS
// ======================================================


// Search

.tab-menu {
  $b: &;

  &__search {
    @include size(100%, auto);
    position: relative;
    border-bottom: 1px solid $deepBlue-10;
  }

  &__input {
    @include size(calc(100% - 36px), $sectionHeight);
    @include font(18px, $deepBlue-100, 24px, 400);
		padding-bottom: 9px;
    padding-top: $whiteSpacePadding;
    position: relative;

		&::-webkit-input-placeholder {
      color: $deepBlue-30;
    }

		&:focus {
			outline: none;
		}
  }

  &__close {
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .15s ease;
    pointer-events: none;
  }
}

// List

.tab-menu {
  $b: &;

  &__list {
    $listHeight: calc(#{$containerHeight} - (#{$sectionHeight} * 2 + #{$mainPadding}));

    @include size(100%, $listHeight);
    @include border-radius(0px, 0px, 6px, 6px);

		background-color: $bg;
		left: 0; top: calc((#{$sectionHeight} * 2 ) + #{$mainPadding} + 1px);
		overflow-y: auto;
		padding: $whiteSpacePadding $mainPadding 0 $mainPadding;
		position: absolute;
		transition: .25s ease-in-out;
    z-index: 12;
  }
}

// List item

.tab-menu__list {
  $e: &;

  .result {
    @include size(100%, auto);
    @include flex();
    min-height: 50px;
    margin-bottom: 9px;
    position: relative;
    transition: .2s ease-in-out;

    &:before {
      content: '';
      @include size(110%, 100%);
      position: absolute;
      border-radius: 3px;
      left: -5%; top: 0;
      background-color: transparent;
      transition: .15s ease-in-out;
    }

    &:hover {
      &:before {
        background-color: $deepBlue-5;
      }
    }

    &__data {
      @include size(100%, auto);
      position: relative;
      z-index: 9;
    }

    &__title {
      @include font(15px, $deepBlue-50, 21px, 500);
    }

    &__subtitle {
      @include font(12px, $deepBlue-40, 15px);
    }
  }
}

// List item buttons

.tab-menu__list .result {
  $e: &;

  &__icon {
    @include flex(none);
    position: relative;
    z-index: 9;
    transition: .15s;

    &--img {
      @include size(30px);

      img {
        @include size();
        border-radius: 50%;
      }
    }

    &--svg {
      @include size(30px);
      @include flex();

      svg {
        @include size(24px);
        @include svg-color($blue-100);
      }
    }

    &--btn {
      @include size(30px);
      @include flex();
      border: 1px solid $deepBlue-10;
      border-radius: 50%;

      svg {
        @include size(24px);
        @include svg-color($deepBlue-50);
      }

      &:hover {
        background-color: $deepBlue-10;
        transition: .15s;
      }
    }

    &--label {

    }

    &--initials {
      @include size(30px);

      .result__initials {
        @include size();
        @include flex();
        @include font(15px, $bg, 500);
        background-color: $deepBlue-100;
        border-radius: 50%;
      }
    }

    &--left {
      margin-right: 15px;
    }

    &--right {
      margin-left: 15px;
    }
  }
}

// ======================================================
// MODIFIERS
// ======================================================

.tab-menu {
  $b: &;

  &__tab-bar:empty + &__list {
      @include size(100%, calc(#{$containerHeight} - (#{$sectionHeight} + #{$mainPadding})));
      transform: translateY(-52px);
  }

  &--is-searching {

    #{$b}__list {
      @include size(100%, calc(#{$containerHeight} - (#{$sectionHeight} + #{$mainPadding})));
  		@include border-radius(0px, 0px, 6px, 6px);
  		transform: translateY(-52px);
  		transition: .25s ease-in-out;
  		box-shadow: 0 1px 20px 3px rgba(5,57,128,0.1);
    }

    #{$b}__close {
      opacity: 1;
      transition: .15s ease;
      pointer-events: all;
    }
  }
}
