@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.list-menu {
  @include size(200px, auto);
  background: $bg;
  border-radius: 6px;
  box-shadow: 0 1px 20px 3px rgba(5,57,128,0.1);

  &__item {
    @include size(100%, 60px);
    @include font(12px, $deepBlue-60, 60px);
    @include truncateString();
    padding: 0 18px;

    &:not(:last-child) {
      &:after {
        @include size(calc(100% - 24px), 1px);
        background-color: $deepBlue-10;
        content: '';
        left: 12px; bottom: 0;
        position: absolute;
      }
    }

    &:hover {
      @include font($c: $blue-100);
      background-color: rgba($deepBlue-5, .5);
    }
  }
}
