@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.list-menu {
  @include size(200px, auto);
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 20px 3px rgba(5,57,128,0.1);
  position: relative;

  &__item {
    @include size(100%, 60px);
    color: $deepBlue-60;
    font-size: 12px;
    line-height: 60px;
    padding: 0 18px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-child) {
      &:after {
        @include size(calc(100% - 24px), 1px);
        background-color: $deepBlue-10;
        content: '';
        left: 12px; bottom: 0;
        position: absolute;
      }
    }

    &:hover {
      background-color: rgba($deepBlue-5, .5);
      color: $blue-100;
    }
  }
}
