@import 'icons';

@mixin breakpoint($point, $size: 0) {
	$targetPoint: max-width;
	@if $size == height {
		$targetPoint: min-height
	}
	@if $point == mobile {
		@media ($targetPoint: 480px) { @content; }
	}
	@else if $point == mobile-horizontal {
		@media ($targetPoint: 480px) and (orientation: landscape) { @content; }
	}

	@else if $point == tablet {
		@media ($targetPoint: 768px) { @content; }
	}

	@else if $point == tablet-horizontal {
		@media ($targetPoint: 768px) and (orientation: landscape) { @content; }
	}

	@else if $point == desktop {
		@media ($targetPoint: 1170px) { @content; }
	}

	@else if $point == desktop-wide {
		@media ($targetPoint: 1500px) { @content; }
	}

	@else {
		@media($point: $size) { @content; }
	}
}

@mixin centerBlock($top, $right, $bottom, $left, $margin, $position) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	margin: $margin;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}
@mixin hide(){
	flex: 0 1;
	pointer-events: none;
	width: 0px;
	height: 0px;
}

@mixin flex($vertical, $horizontal, $direction:row) {
	display: flex;
	align-items: $vertical;
	justify-content: $horizontal;
	flex-direction: $direction;
}
