@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.external-note-view {
  padding: 0 15px;
  width: 100%;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
