@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.input-check-demo {
  @include size(18px);
  margin-right: 9px;
  border-radius: 3px;
  border: solid 1px $blue-100;

  .sw-checkbox__icon {
    @include size(18px);
    @include svg-color($blue-100);
    @include flex();
    left: -1px; top: -1px;
    position: absolute;
    stroke-width: 3px;
    pointer-events: none;
    opacity: 0;
  }

  &#{&}--checked {
    border: solid 1px $deepBlue-20;
    box-shadow: 0 0 3px 0 $blue-100;

    .sw-checkbox__icon {
      opacity: 1;
    }
  }
}

.sw-checkbox {
  $b: &;

	@include size(auto, 18px);
  @include font(15px, $deepBlue-80, 24px);
	// padding-left: 30px;
  user-select: none;
  margin: 0;

  // checked styles

  & &__input:checked ~ &__label {
    color: $deepBlue-30;
    transition: .15s ease-in-out;
    text-decoration: line-through;
  }
}
