@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-checkbox {
  $b: &;

	@include size(auto, 18px);
	line-height: 18px;
	font-size: 15px;
	color: $deepBlue-80;
	padding-left: 30px;
	position: relative;
  user-select: none;
  margin: 9px 0;

	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__indicator {
		@include size(18px);
		position: absolute;
		border-radius: 3px;
		border: solid 1px $deepBlue-20;
		left: 0; top: 0;
	}

  &__icon {
    @include size(18px);
    @include flex();
    stroke: $blue-100;
    position: absolute;
    left: -1px;
    top: -1px;
    stroke-width: 3px;
    opacity: 0;
    transition: .1s;
  }

	// hover state for unchecked

	&:hover &__input ~ &__indicator {

	}

  // checked styles

	& &__input:checked ~ &__indicator {
		#{$b}__icon {
		  opacity: 1;
		}
	}

	// hover state for checked

	&:hover &__input:checked ~ &__indicator {
		// background-color: purple;
	}
}
