@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-progress-bar {
  $b: &;

  @include size(100%, 18px);
  position: relative;
  margin-top: 12px;
  margin-bottom: 45px;

  &__step-holder {
    @include size(calc(100% - 90px), 100%);
    @include flex(flex-start, space-between);
    position: relative;
    z-index: 2;
  }

  &__line {
    @include size(100%, 2px);
    position: absolute;
    left: 0; top: 0;

    &--base {
      background-color: $deepBlue-20;
    }

    &--completed {
      background-color: $blue-100;
      transition: -webkit-clip-path .2s ease-in-out;
    }
  }

  &__slope {
    @include size(120px, 18px);
    position: absolute;
    right: 0; top: 0;
  }

  &__slope-svg {
    @include size(120px, 18px);
    fill: $deepBlue-20;
  }

  &__step {
    @include size(calc((100% / 3) - 1px), 12px);
    position: relative;
    margin-top: 4px;

    &:after {
      content: '';
      @include size(100%);
      position: absolute;
      left: 0; top: 0;
      background-color: $deepBlue-20;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
      transition: -webkit-clip-path .2s ease-in-out;
    }

    &--active {

      &:after {
        -webkit-clip-path: polygon(0 0, 100% 0, 99% 25%, 1% 25%);
      }
    }

    &--completed {

      &:after {
        background-color: $blue-100;
      }
    }
  }


  &__step-holder {

    &:hover {
      #{$b}__step {

        &:after {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
        }

        &:hover {

          &:after {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          }
        }
      }
    }
  }
}
