@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-progress-bar {
  $b: &;

  @include size(100%, 40px);
  margin-bottom: 45px;
  margin-top: 12px;
  position: relative;

  &__step-holder {
    @include flex(flex-start, space-between);
    @include size(calc(100% - 90px), 100%);
    position: relative;
    z-index: 2;
  }

  &__line {
    @include size(100%, 2px);
    left: 0; top: 11px;
    position: absolute;

    &--base {
      background-color: $deepBlue-20;
    }

    &--completed {
      background-color: $blue-100;
      transition: -webkit-clip-path .2s ease-in-out;
    }
  }

  &__slope {
    @include size(120px, 18px);
    position: absolute;
    right: 0; top: 11px;
  }

  &__slope-svg {
    @include size(120px, 18px);
    fill: $deepBlue-20;
  }

  &__iteration {
    @include flex();
    @include size(72px, 16px);
    color: $blue-100;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 2px;
    position: absolute;
    right: 0; top: 0;
    text-transform: uppercase;
  }

  &__step {
    @include size(calc((100% / 3) - 1px), calc(100% + 10px));
    position: relative;
    padding-bottom: 10px;

    &:before {
      color: $deepBlue-80;
      content: attr(data-title);
      font-size: 12px;
      font-weight: 500;
      left: 0; bottom: 15px;
      opacity: 0;
      position: absolute;
      transform: translateY(130%);
      pointer-events: none;
    }

    &:after {
      @include size(100%, 14px);
      background-color: $deepBlue-20;
      content: '';
      left: 0; top: 15px;
      position: absolute;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
      transition: -webkit-clip-path .2s ease-in-out;
    }

    &--active {

      &:after {
        -webkit-clip-path: polygon(0 0, 100% 0, 99% 25%, 1% 25%);
      }
    }

    &--completed {

      &:after {
        background-color: $blue-100;
      }
    }

    &--disabled {
      pointer-events: none;
    }
  }


  &__step-holder {

    &:hover {
      #{$b}__step  {

        &:after {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
        }

        &--active {
          &:after {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          }
        }

        &:hover {

          &:before {
            opacity: 1;
            transform: translateY(100%);
            transition: .2s ease-in-out;
          }

          &:after {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          }
        }
      }
    }
  }
}
