@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.slider {
  @include size(100%);
  @include flex(flex);

  &__nav {
    @include size(50px, 100%);
    @include flex();

    user-select: none;

    i {
      color: $deepBlue-40;
      user-select: none;
    }


    &:hover i {
      color: $deepBlue-60;
    }
  }

  &__content {
    @include size(calc(100% - 100px), 100%);
    @include flex();
  }
}

.slideLeft {

  &-enter {

    &-active {

    }
  }

  &-leave {

    &-active {

    }
  }
}

.slideRight {

  &-enter {

    &-active {

    }
  }

  &-leave {

    &-active {

    }
  }
}
