@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.slider {
  $b: &;
  @include size(100%);
  @include flex(flex);

  &__nav {
    @include size(50px, 100%);
    @include flex();

    user-select: none;

    i {
      color: $blue-60;
      user-select: none;
    }


    &:hover i {
      color: $blue-100;
    }

    &--disabled {
      cursor: not-allowed;
      pointer-events: none;

      i {
        color: $deepBlue-20;
      }
    }
  }

  &__content {
    $contentWidth: calc(100% - 100px);
    @include size($contentWidth, 100%);
    @include flex();
    position: relative;

    & > #{$b}__child {
      @include size(100%);
      @include flex();
      position: absolute;
      left: 0; top: 0;
    }
  }
}

.slideLeft {
  //empty
  &-enter {
    opacity: 0;
    transform: translateX(50%);
    transition: all .5s;
    will-change: transform, opacity;

    &-active {
      opacity: 1;
      transform: translateX(0px);
      transition: all .5s;
      will-change: transform, opacity;
    }
  }

  &-leave {
    opacity: 1;
    transform: translateX(0px);
    transition: all .5s;
    will-change: transform, opacity;

    &-active {
      opacity: 0;
      transform: translateX(-50%);
      transition: all .5s;
      will-change: transform, opacity;
    }
  }
}

.slideRight {
  //empty
  &-enter {
    opacity: 0;
    transform: translateX(-50%);
    transition: all .5s;
    will-change: transform, opacity;

    &-active {
      opacity: 1;
      transform: translateX(0px);
      transition: all .5s;
      will-change: transform, opacity;
    }
  }

  &-leave {
    opacity: 1;
    transform: translateX(0px);
    transition: all .5s;
    will-change: transform, opacity;

    &-active {
      opacity: 0;
      transform: translateX(50%);
      transition: all .5s;
      will-change: transform, opacity;
    }
  }
}
