@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.attachments {
  @include size(calc(100%), auto);
  @include flex(flex-start, space-between);
  flex-wrap: wrap;
  position: relative;

  &__add {
    position: absolute;
    right: 0; bottom: -15px;
  }

  &__empty-state {
    @include size(100%, 40px);
    @include flex(center, flex-start);
    padding-left: 6px;
    font-size: 12px;
line-height: 15px;
color: #999EAC;
  }
}
