@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.attachment {
  $b: &;
  @include size(234px, auto);
  @include flex(center, flex-start);
  position: relative;

  &__icon {
    @include size(24px, 36px);
    padding: 6px 0;
    position: relative;

    &:hover {
      #{$b}__svg {
        @include svg-color(white);
        background-color: $deepBlue-100;
        border-color: $deepBlue-100;
        transform: scale(1.2);
        transition: .15s ease;
      }
    }
  }

  &__svg {
    @include size(24px);
    @include flex(none);
    @include svg-color($deepBlue-40);
    border-radius: 3px;
    border: 1px solid $deepBlue-20;
    transform: scale(1);
    transition: .15s ease;
  }

  &__title {
    @include size(calc(100% - 24px - 12px), auto);
    @include font(12px, $deepBlue-100, 24px, 500);
    padding: 6px 0;
    transition: .15s ease;
    padding-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    &:hover {
      @include font($c: $blue-100);
      transition: .15s ease;
    }
  }

  &--flagged {

    #{$b}__icon:hover {

      #{$b}__svg {
        @include svg-color(white);
        background-color: $yellow-color;
        border-color: $yellow-color;
      }
    }

    #{$b}__svg {
      @include svg-color(white);
      background-color: $yellow-color;
      border-color: $yellow-color;
    }
  }

  &--add {

    #{$b}__title {
      @include font($c: $blue-100);
    }

    #{$b}__svg {
      border-color: $blue-100;
      @include svg-color($blue-100);
    }

    &:hover {
      #{$b}__svg {
        @include svg-color(white);
        background-color: $blue-100;
        border-color: $blue-100;
        transform: scale(1);
        transition: .15s ease;
      }
    }
  }
}
