@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.attachment {
  $b: &;
  $flexIgnoreList: '#{$b}__actions';

  @include size(100%, 60px);
  @include flexContainer('row', left, center, $flexIgnoreList);
  border-top: 1px solid darken($deepBlue-5, 3%);
  transition: .2s ease;
}

// ======================================================
// Elements
// ======================================================

.attachment {
  $b: &;

  &__title {
    $width: calc(100% - 42px);

    @include size($width, 100%);
    @include flexContainer('row', left, center);
    @include font(15px, $deepBlue-80, 24px);
    transition: .1s ease;

    &:hover {
      @include font($c: $blue-100);

      #{$b}__icon {
        @include svg-color($blue-100);
      }
    }
  }

  &__words {
    @include size(100%, auto);
    @include truncateString();
    word-break: break-all;
  }

  &__icon {
    @include size(24px);
    @include flex(none);
    margin-right: 18px;

    #{$b}__svg {
      @include svg-color($deepBlue-50);
      transition: .2s ease;
    }
  }

  &__actions {
    @include size(auto, 100%);
    @include flexContainer('row', center, center);
  }

  &__svg {
    @include size(24px);
  }
}

// Buttons

.attachment {
  $b: &;

  &__button {
    @include size(36px);
      @include flexContainer('row', center, center);
    border: 1px solid $deepBlue-10;
    border-radius: 50%;
    margin-left: 6px;
    opacity: 0;
    transition: .15s ease;

    #{$b}__svg {
      @include svg-color($deepBlue-50);
      transition: .15s ease;
    }

    &--flag {
      display: none;
      pointer-events: none;
    }

    &:hover {
      background-color: $deepBlue-10;
      transition: .15s ease;

      #{$b}__svg {
        @include svg-color($deepBlue-50);
        transition: .15s ease;
      }
    }
  }
}

// ======================================================
// Modifiers
// ======================================================

.attachment {
  $b: &;
  &--loading {
    pointer-events: none;
  }
  &--flagged {
    background-color: $blue-5;
    padding: 0 6px;
    transition: .2s ease;

    #{$b}__button--flag {
      @include flexContainer();
      border-color: transparent;
      opacity: 1;

      #{$b}__svg {
        @include svg-color($red-80);
      }
    }
  }

  &--flagable {
    #{$b}__button--flag {
      @include flexContainer();
      opacity: 1;
      pointer-events: all;
    }

    #{$b}__button--delete {
      display: none;
    }
  }
}

// ======================================================
// Hover
// ======================================================

.attachment {
  $b: &;

  &:hover {

    #{$b}__title {
      @include font($c: $blue-100);
      transition: .1s ease;
    }

    #{$b}__icon {
      #{$b}__svg {
        @include svg-color($blue-100);
        transition: .2s ease;
      }
    }

    #{$b}__button--delete {
      opacity: 1;
    }
  }
}
