@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.attachment {
  @include size(100%, 55px);
  @include flex(center, flex-start);
  border-top: 1px solid darken($deepBlue-5, 3%);
}

// ======================================================
// Elements
// ======================================================

.attachment {
  $b: &;

  &__title {
    $width: calc(100% - (36px + 2px));
    @include size($width, 100%);
    @include flex(center, flex-start);
    @include font(12px, $deepBlue-100, 18px);
    transition: .1s ease;

    &:hover {
      @include font($c: $blue-100);

      #{$b}__icon {
        @include svg-color($blue-100);
      }
    }
  }

  &__words {
    @include size(100%, auto);
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    @include size(24px);
    @include flex(none);
    margin-right: 15px;

    #{$b}__svg {
      @include svg-color($deepBlue-20);
      transition: .2s ease;
    }
  }

  &__actions {
    @include size(auto, 100%);
    @include flex();
    @include flex(none);
  }

  &__svg {
    @include size(24px);
  }
}

// Buttons

.attachment {
  $b: &;

  &__button {
    @include size(36px);
    @include flex();
    border: 1px solid $deepBlue-10;
    border-radius: 50%;
    margin-left: 6px;
    opacity: 0;
    transition: .15s ease;

    #{$b}__svg {
      @include svg-color($deepBlue-50);
      transition: .15s ease;
    }

    &--flag {
      display: none;
      pointer-events: none;
    }

    &:hover {
      background-color: $deepBlue-10;
      transition: .15s ease;

      #{$b}__svg {
        @include svg-color($deepBlue-50);
        transition: .15s ease;
      }
    }
  }
}

// ======================================================
// Modifiers
// ======================================================

.attachment {
  $b: &;

  &--flagged {
    #{$b}__button--flag {
      @include flex(flex);
      border-color: transparent;
      opacity: 1;

      #{$b}__svg {
        @include svg-color($red-80);
      }
    }
  }

  &--flagable {
    #{$b}__button--flag {
      @include flex(flex);
      opacity: 1;
      pointer-events: all;
    }

    #{$b}__button--delete {
      display: none;
    }
  }
}

// ======================================================
// Hover
// ======================================================

.attachment {
  $b: &;

  &:hover {

    #{$b}__title {
      @include font($c: $blue-100);
      transition: .1s ease;
    }

    #{$b}__icon {
      #{$b}__svg {
        @include svg-color($blue-100);
        transition: .2s ease;
      }
    }

    #{$b}__button--delete {
      opacity: 1;
    }
  }
}
