@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.attach-button {
  &__hidden-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    pointer-events: none;
  }
}
