@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.attachments {
  @include size(100%, auto);
  position: relative;

  &__add {
    position: absolute;
    right: 0; bottom: -15px;
  }

  &__empty-state {
    @include size(100%, 39px);
    @include flex(center, flex-start);
    @include font(12px, $deepBlue-30, 15px);
    padding-left: 6px;
  }

  &__add-list {
    @include size(100%, auto);
    @include flex(flex);
  }

  &__add-item {
    padding: 0px 20px 6px 6px;
    @include font(12px, $blue-100, 15px, 500);

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
