@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.attachment-item {
  $b: &;
  $flexIgnoreList: '#{$b}__type-icon', '#{$b}__delete-icon';

  @include size(180px, 36px);
  @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
  border: 1px solid $deepBlue-10;
  border-radius: 3px;
  padding: 0 9px;
  margin-right: 6px;
  transition: .2s ease;

  &__label {
    @include size(100%, auto);
    @include font(12px, $deepBlue-80, 24px, 500);
    @include truncateString();
    padding: 0 6px;
    transition: .2s ease;
  }

  &__svg {
    @include size(24px)
  }

  &__type-icon {
    @include size(24px);

    .attachment-item__svg {
      @include svg-color($deepBlue-50);
      transition: .2s ease;
    }
  }

  &__delete-icon {
    @include size(24px);
    transition: .2s ease;

    .attachment-item__svg {
      @include svg-color($deepBlue-80);
      opacity: 0;
      transition: .2s ease;
    }
  }

  &:hover {
    background-color: $blue-5;
    transition: .2s ease;

    .attachment-item__type-icon {
      .attachment-item__svg {
        @include svg-color($blue-100);
        transition: .2s ease;
      }
    }

    .attachment-item__delete-icon {
      .attachment-item__svg {
        opacity: 1;
        transition: .2s ease;
      }

      &:hover {
        background-color: $deepBlue-10;
        transition: .2s ease;
      }
    }

    .attachment-item__label {
      @include font($c: $blue-100);
      transition: .2s ease;
    }
  }
}
