@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.attachment {
  $b: &;
  @include size(234px, auto);
  @include flex(center, flex-start);
  position: relative;
  padding: 6px 0;

  &__icon {
    @include size(24px);
    @include flex(none);
    @include svg-color($deepBlue-40);
    border: 1px solid $deepBlue-20;
    border-radius: 3px;
    transition: .15s ease;
  }

  &__title {
    @include size(calc(100% - 24px - 12px), 24px);
    line-height: 24px;
    padding-left: 12px;
    color: $deepBlue-100;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    #{$b}__icon {
      @include svg-color(white);
      background-color: $deepBlue-100;
      border-color: $deepBlue-100;
      transition: .15s ease;
    }
  }

  &--add {

    #{$b}__title {
      @include font($c: $blue-100);
    }

    #{$b}__icon {
      border-color: $blue-100;
      @include svg-color($blue-100);
    }

    &:hover {
      #{$b}__icon {
        background-color: $blue-100;
        border-color: $blue-100;
        transition: .15s ease;
      }
    }
  }
}
