@import '../../../global-styles/vars/';
@import '../../../global-styles/mixins/';

.sidebar {
  @include flex(center, space-between, column);
  @include size(66px, 100%);
  background-color: #FCFCFC;
  flex: none;
  padding-bottom: 22px;
  position: relative;

  &:after {
    @include size(1px, 100%);
    background-color: $deepBlue-10;
    content: '';
    position: absolute;
    right: 0; top: 0;
  }

  &__teams {
    @include size(100%, auto);
    @include flex(flex-start, center);
    padding-top: 39px;
    @include size(32px);
  }

  &__team {
    @include size(32px);

    &--active {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -15px; top: 0;
        @include size(2px, 100%);
        background-color: $blue-100;
      }
    }
  }

  &__item {
    @include size(32px);

    &--active {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -15px; top: 0;
        @include size(2px, 100%);
        background-color: $blue-100;
      }
    }
  }

  &__image {
    @include size(32px);
    border-radius: 50%;
    pointer-events: none;
  }

  &__icon {
    @include size(32px);
    border-radius: 50%;
    pointer-events: none;
  }
}
