@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$sidebarWidth: 60px;

.sidebar {
  $b: &;
  @include flex(center, space-between, column);
  @include size($sidebarWidth, 100%);
  background-color: #FCFCFC;
  flex: none;
  padding-top: 30px;
  padding-bottom: 22px;
  position: relative;

  &:after {
    @include size(1px, 100%);
    background-color: $deepBlue-10;
    content: '';
    position: absolute;
    right: 0; top: 0;
  }

  &__top-section {
    @include size(100%, auto);
    @include flex(flex-start, center);
  }

  &__notification {
    @include flex();
    height: 12px;
    min-width: 12px;
    background: $red-color;
    color: $bg;
    position: absolute;
    left: 55%; top: 50%;
    font-size: 9px;
    padding: 3px;
    border-radius: 20px;
    transform: translateY(-110%);
  }

  &__item {
    @include size($sidebarWidth);
    @include flex();
    position: relative;

    &--active {
      #{$b}__icon {
        @include svg-color($deepBlue-90);
        filter: grayscale(0%);
      }
    }

    &:hover {
      #{$b}__icon {
        @include svg-color($deepBlue-60);
        filter: grayscale(0%);
      }
    }
  }

  &__image {
    @include size(32px);
    border-radius: 50%;
    pointer-events: none;
  }

  &__icon {
    @include size(24px);
    @include svg-color($deepBlue-40);
    pointer-events: none;
    filter: grayscale(100%);
  }
}
