@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.payment {
  @include size(100%, auto);
  @include flexContainer('column', center);  

  &__toggle {
    @include size(100%, auto);
    @include flexContainer('column', center);
    padding-top: 30px;
  }

  &__toggle-subtitle {
    @include size(420px, auto);
    @include font(12px, $deepBlue-60, 21px, 500);
    padding-top: 19px;
    padding-bottom: 60px;
  }

  &__cta {
    @include font(15px, white, 24px);
    background-color: $blue-100;
    border-radius: 50px;
    padding: 12px 39px;
    margin-top: 39px;
    cursor: pointer;

    &:hover {
      background-color: $blue-80;
    }
  }

  &__cta-subtitle {
    @include font(12px, $deepBlue-30, 15px, 500);
    margin-top: 9px;
  }

  &__bottom-section {
    @include size(420px, auto);
    @include flexContainer('column', center);

    .top-section {
      @include size(420px, auto);
      @include flexContainer('column', center);
      transition: .4s ease;
    }

    .bottom-section {
      @include size(420px, auto);
      @include flexContainer('column', center);
      position: absolute;
      left: 0; top: 0;
      transform: translateY(300%);
      opacity: 0;
      pointer-events: none;
      transition: .4s .2s ease;

      &__title {
        @include font(27px, $deepBlue-100, 36px);
        text-align: center;
        padding-bottom: 12px;
      }
    }

    &--success {

      .top-section {
        transform: translateY(-100%);
        pointer-events: none;
        opacity: 0;
        transition: .4s ease;
      }

      .bottom-section {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
        transition: .4s .2s ease;
      }
    }
  }
}



.payment-status {
  @include flexContainer('row', left, center);

  &__label {
    @include font(12px, $deepBlue-50, 21px, 500);
  }

  &__status {
    @include font(12px, $deepBlue-30, 21px, 500);
    border-radius: 2px;
    margin-left: 6px;
    height: 21px;
    padding: 0 6px;

    &--inactive {
      background-color: $deepBlue-10;
    }

    &--active {
      @include font($c:white);
      background-color: $blue-100;
    }
  }
}

  .toggle {
    $b: &;

    @include size(420px, 213px);
    @include flexContainer('row');
    color: $deepBlue-100;
    border: 1px solid $blue-100;
    border-radius: 3px;
    overflow: hidden;
    
    &__section {
      @include size(100%);
      cursor: pointer;
      transition: .2s ease;

      &:hover {
        background-color: $deepBlue-5;
        transition: .2s ease;
      }

      & > * {
        cursor: inherit;
      }
    }

    &__price {
      font-size: 42px;	line-height: 54px;
      padding-top: 24px;
      padding-left: 21px;
    }

    &__label {
      font-size: 18px; font-weight: 400; line-height: 24px;
      padding-left: 21px;
      padding-top: 9px;
    }

    &__sublabel {
      font-size: 12px;	font-weight: 500;	line-height: 15px;
      padding-top: 57px;
      padding-left: 21px;

      span {
        background-color: rgba(254,215,124,1);
        padding: 0 3px;
      }
    }

    &--first {
      
      & #{$b}__section:first-child {
        background-color: $blue-100;
        color: white;

        &:hover {
          background-color: $blue-80;
          transition: .2s ease;
        }
      }
    }

    &--second {
      
      & #{$b}__section:last-child  {
        background-color: $blue-100;
        color: white;

        &:hover {
          background-color: $blue-80;
          transition: .2s ease;
        }
      }
    }
  }

.billing {
  @include size(420px, auto);
}

.form-row {

  label {
    @include font(18px, $deepBlue-100, 24px);
  }
}

#card-element {
  @include size(100%, auto);
  padding-top: 9px;
}

.StripeElement {
  @include size(100%, auto);
  background-color: white;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid $deepBlue-10;
  display: block;
}

.StripeElement--focus {
  border: 1px solid $blue-100;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  @include font(12px, $red-80, 18px);
  padding: 6px 0;
}