@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.goal-overview{
  $b: &;
  $flexIgnoreList: '#{$b}__column--right';

  @include size(100%, auto);
  @include flexContainer('row', $selectorsToIgnoreFlex: $flexIgnoreList);
  padding-bottom: 30px;
}

.handoff-bar {
  $b: &;
  $flexIgnoreList: '#{$b}__actions';

  @include size(100%, 60px);
  @include flexContainer('row', left, center, $flexIgnoreList);
  animation: showHandoffBar .4s .3s ease forwards;
  background-color: $bg;
  border-top: 1px solid $deepBlue-10;
  padding: 0 30px;
  transform: translateY(100%);
}

.goal-side {
  @include size(100%, auto);
  margin-bottom: 60px;
}

.add-step {
  $b: &;
  $flexIgnoreList: '#{$b}__icon';

  @include size(100%, 54px);
  @include flexContainer('row', left, center, $flexIgnoreList);
}


// ======================================================
// Element
// ======================================================

.goal-overview {
  $b: &;

  &__column {

    &--left {
      $width: calc(100% - 300px);
      @include size($width,  auto);
      padding-right: 60px;
    }

    &--right {
      @include size(300px, auto);
    }
  }
}

.handoff-bar {

  &__label {
    @include size(100%, auto);
    @include font(12px, $blue-100, 500);
  }

  &__actions {
    @include size(auto);
  }
}

.goal-side {

  &__progress-bar {
    @include size(100%, auto);
    padding-bottom: 45px;

    .progress-bar {
      @include size(100%, 13px);
      border-top: 1px solid $deepBlue-20;
      border-bottom: 1px solid $deepBlue-20;

      &__fill {
        @include size(100%, 9px);
        background-color: $green-color;
        margin-top: 1px;
        transition: .35s ease;
      }

      &__status {
        @include font(12px, $deepBlue-80, 15px, bold);
        position: absolute;
        left: 0; top: 19px;
      }
    }
  }
}

.add-step {
  $b: &;

  &__icon {
    @include size(39px, 100%);
    @include flexContainer('row', left, center);
  }

  &__svg {
    @include size(24px);
    @include svg-color($blue-100);
  }

  button#{$b}__text {
    @include font(12px, $blue-100, 18px, 500);
    padding-right: 18px;
    transition: .5s ease;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

// ======================================================
// Animations
// ======================================================

@keyframes showHandoffBar {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0px);
  }
}
