@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';


// ======================================================
// Block
// ======================================================

.goal-overview{
  $b: &;
  $flexIgnoreList: '#{$b}__column--right';

  @include size(100%, auto);
  @include flexContainer('row', $selectorsToIgnoreFlex: $flexIgnoreList);
  padding-bottom: 30px;
}


// ======================================================
// Element
// ======================================================

.goal-overview {
  $b: &;

  &__header {
    @include size(100%, auto);
    @include flexContainer('row', left, top);
  }

  &__column {
    &--left {
      $width: calc(100% - 330px);
      @include size($width, auto);
      padding-right: 60px;
    }

    &--right {
      @include size(330px,  auto);
    }
  }

  &__attachments {
    animation: fadeUpAttachments .5s ease forwards;
    opacity: 0;
    padding: 0;
    border: none;
    padding-top: 51px;
    transform: translateY(50px)
  }
}


// ======================================================
// Animations
// ======================================================

@keyframes fadeUpAttachments {
  from {
    opacity: 0;
    transform: translateY(50px)
  }

  to {
    opacity: 1;
    transform: translateY(0px)
  }
}
