@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.last-update {
  @include size(100%, auto);

  &__message {
    @include font(15px, $deepBlue-80, 24px);
    font-style: italic;
    padding: 20px;
    padding-left: 13px;

    &:before {
      content: '';
      position: absolute;
      left: 0; top: 20px;
      @include size(5px, calc(100% - 40px));
      background-color: $blue-20;
    }
  }

  &__header {
    @include size(100%, auto);
    @include flex(center, flex-start);
  }

  &__label {
    @include font(12px, $deepBlue-30, 18px, 500);
    margin-left: 12px;
  }
}
