@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.last-update {
  @include size(100%, auto);
  @include flexContainer('row');
  margin-bottom: 60px;

  &__content {
    @include size(100%, auto);
    @include flex('column');
    padding-left: 12px;
  }

  &__message {
    @include font(15px, $deepBlue-80, 24px);
    font-style: italic;
  }


  &__label {
    @include font(12px, $deepBlue-40, 18px, 500);
    margin-top: 12px;
  }
}
