@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$navbarHeight: 60px;

.browser-overlay {
  @include size(100%);

  &__webview-container {
    $height: calc(100% - #{$navbarHeight});
    @include size(100%, $height);
  }
}

.browser-nav {
  $b: &;
  @include size(100%, $navbarHeight);
  @include flex(center, space-between);
  background: $bg;
  padding: 0 30px;
  position: relative;

  &:after {
    @include size(100%, 1px);
    background-color: $deepBlue-10;
    content: '';
    position: absolute;
    left: 0; bottom: 0;
  }

  &__btn {
    z-index: 9;
    margin: 0 6px;
  }

  &__left {

  }

  &__title {
    @include size(auto, 100%);
    @include flex();
    color: $deepBlue-40;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    min-width: 300px;
    padding: 0 30px;
    position: relative;

    &:before {
      content: '';
      @include size(1px, 30px);
      position: absolute;
      left: 0; top: 50%;
      transform: translateY(-50%);
      background-color: $deepBlue-20;
    }

    &:after {
      content: '';
      @include size(1px, 30px);
      position: absolute;
      right: 0; top: 50%;
      transform: translateY(-50%);
      background-color: $deepBlue-20;
    }

    &:hover {
      color: $deepBlue-90;
    }
  }

  &__right {

  }
}
