@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

$h: 85px;

// ======================================================
// Block
// ======================================================

.header-title {
  @include size(100%, $h);
  @include flex(center, flex-start);
}

// ======================================================
// Elements
// ======================================================

.header-title {
  $b: &;

  &__title {
    @include size(100%, auto);
    @include font(30px, $deepBlue-100);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    @include size(100%, auto);
    @include font(12px, $deepBlue-30, 500);
  }

  &__input {
    @include size(100%, 39px);
    @include font(30px, $deepBlue-100);

    &::-webkit-input-placeholder {
      @include font(30px, $deepBlue-30);
    }
  }

  &__actions {
    @include size(auto, 39px);
    @include flex(flex);
    @include flex(none);
    margin-left: 30px;

    &:empty {
      display: none;
    }

    & > *:not(:first-child) {
      margin-left: 12px;
    }
  }
}
