@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

$h: 105px;

// ======================================================
// Block
// ======================================================

.header-title {
  @include size(100%, $h);
  @include flexContainer('row', left, top);
  padding-top: 21px;
}

// ======================================================
// Elements
// ======================================================

.header-title {
  $b: &;

  &__title {
    @include size(100%, auto);
    @include font(30px, $deepBlue-100, 39px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    @include size(100%, auto);
    @include font(12px, $deepBlue-30, 500);
  }

  &__input {
    @include size(100%, 54px);
    @include font(30px, $deepBlue-100);
    border-bottom: 1px solid $deepBlue-10;
    padding-bottom: 15px;

    &::-webkit-input-placeholder {
      @include font(30px, $deepBlue-30);
    }

    &:focus {
      border-color: $blue-100;
    }
  }

  &__actions {
    @include size(auto, 39px);
    @include flex(flex);
    @include flex(none);
    margin-left: 30px;

    &:empty {
      display: none;
    }

    & > *:not(:first-child) {
      margin-left: 12px;
    }
  }
}
