@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.gmail-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  &.hide {
    height: 0;
    width: 0;
  }
  .webview{
    display: inline-flex;
    height: 100%;
    width: 100%;
  }
  .hide .webview{
    flex: 0 1;
    width: 0px;
    height: 0px;
  }
}
