@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.discuss-button {
  @include size(auto, 36px);
  @include flexContainer('row');
  border: 1px solid $deepBlue-10;
  border-radius: 100px;
  overflow: hidden !important;

  & &__button {
    @include size(auto, 100%);
    @include flexContainer('row', center, center);
    @include font(12px, $deepBlue-60, 18px, 500);
    padding: 0 24px;

    &:first-child {
      @include border-radius(100px, 0, 100px, 0)
    }

    &:last-child {
      @include border-radius(0, 100px, 0, 100px) 
      border-left: 1px solid $deepBlue-10;
      padding: 0 15px;
      padding-right: 18px;
    }

    &:hover {
      @include font(12px, $deepBlue-100, 18px, 500);
      background-color: $deepBlue-10
    }
  }
}
