@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

$imgContHeight: 40px;

.goal {
  $b: &;

  @include size(100%, auto);
  @include flex();
  margin: 10px 0;
  max-width: 550px;
  min-height: $imgContHeight;
  position: relative;

  &__image {
    @include size($imgContHeight);

    img {
      @include size();
      border-radius: 3px;
    }
  }

  &__content {
    $contentWidth: calc(100% - #{$imgContHeight});

    @include size($contentWidth, 100%);
    @include flex(flexstart, center, column);
    min-height: $imgContHeight;
    padding-left: 15px;
  }

  &__title {
    color: $deepBlue-80;
    font-size: 15px;
    font-weight: 500;
  }

  &__label {
    color: $deepBlue-40;
    font-size: 12px;
    font-weight: 500;
  }
}
