@import "../global-styles/mixins";
@import "../global-styles/vars";

$dotWrapper: 50px;
$imgWrapper: 50px;

.swipes-card {
  @include size(100%, auto);
  background-color: white;
  border-radius: 6px;
  box-shadow: $swipes-shadow-one;
  min-height: 50px;
  line-height: 1;
  overflow: hidden;

  .header-container {
    padding-bottom: 15px;
  }

  &__header {
    @include size(100%);
    display: flex;
    min-height: 60px;

    &__dot {
      @include size(42px);
      @include flex(center, center);

      > * {
        @include size(8px, 8px); //hack for centering the dot, some issue with no actions
      }
    }

    &__content {
      @include size(calc(100% - 42px));
      @include flex(flex-start, center, column);
      padding-right: 18px;

      &--title {
        @include size(100%);
        color: $deepBlue-100;
        font-size: 15px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 18px;
      }

      &--subtitle {
        color: $deepBlue-40;
        font-size: 11px;
        font-weight: 500;
        font-style: italic;
        letter-spacing: .3px;
        margin-top: 3px;
      }
    }

    &__image {
      @include size(50px, 100%);
      @include flex(center, center);

      img {
        @include size(30px, 30px);
      }

      &:empty {
        display: none;
      }
    }
  }

  &__description {
    color: $deepBlue-70;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 18px;
    line-height: 18px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 36px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;

    &:empty {
      display: none;
    }
  }

  &__preview {
		@include size(100%, auto);
    background-color: $blue-5;
    border-top: 1px solid $deepBlue-10;
    // box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);
    padding: 18px;
    &.no-style{
      padding: 0;
      background-color: none;
      .custom-html{
        width: 100%;
      }
    }

		&--img {
      @include flex(center, center);
			@include size(100%, auto);

      img {
        // border-radius: 3px;
        // box-shadow: $swipes-shadow-one;
      }
		}
  }
}
