$deepBlue-20: #CCCED5;
$deepBlue-40: #999EAC;
$deepBlue-60: #666D82;
$deepBlue-80: #333D59;
$deepBlue-100: #000C2F;
$deepBlue-120: #000923;

$studioGray-20: #F4F4F5;
$studioGray-40: #E8E9EB;
$studioGray-60: #DDDEE0;
$studioGray-80: #D1D3D6;
$studioGray-100: #C6C8CC;
$studioGray-120: #959699;

$blue-20: #D8F5FF;
$blue-40: #B2EBFE;
$blue-60: #8BE1FE;
$blue-80: #65D7FD;
$blue-100: #3ECDFD;
$blue-120: #2F9ABE;

$red-20: #FEDAD2;
$red-40: #FEB5A5;
$red-60: #FD9078;
$red-80: #FD6B4B;
$red-100: #FC461E;
$red-120: #BD3516;

$red: #F44336;
$matBlue: #2E90EB;

$green-color: #4CAF50;
$red-color: #FC461E; 
$yellow-color: #FFCA28; 

$swipes-shadow-one: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
$swipes-shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$swipes-shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$swipes-shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$swipes-shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$break-small: 320px;


html, body, #content {
	font-family: "Open Sans";
	height:100%;
}
#content{
	padding-bottom: 60px;
}
.chat-list-container{
	height:100%;
	overflow-y: scroll;
}

.section {
	width: 100%;
	
	.chat-date-line {
		height: 50px;
		width: calc(100% - 60px);
		margin-left: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.line {
			width: 100%;
			height: 1px;
			background-color: $studioGray-60;
		}
		
		.date {
			padding-left: 30px;
			color: $studioGray-100;
		}
	}
}

.chat-message {
	display: flex;
	padding: 10px 60px;
	@media screen and (max-width: $break-small) {
		padding: 5px 10px;
	}
}

.chat-avatar {
	min-width: 50px !important;
	height: 50px;
	position: relative;
	display: flex;
	
	@media screen and (max-width: $break-small) {
		min-width: 35px !important;
		max-width: 35px !important;
		min-height: 35px !important;
		max-height: 35px !important;
	}
	
	.avatar {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 50%;
		background-color: $studioGray-60;
		overflow: hidden;
		
		img {
			width: 100%;
		}
	}
}

p.name {
	max-width: 650px;
	font-size: 14px;
	margin: 5px 0px 0px 25px;
	color: $deepBlue-80;
	font-weight: 700;
	text-transform: uppercase;
	@media screen and (max-width: $break-small) {
		margin-left: 10px;
		margin-right: 15px;
		margin-top: 0px;
	}
	
	span.chat-timestamp {
		font-size: 12px;
		color: $studioGray-120;
		font-weight: 400;
	}
}

p.message-container {
	max-width: 650px;
	font-size: 13px;
	margin: 5px 0px 0px 25px;
	padding-right: 10px;
	color: $deepBlue-60;
	font-weight: 600;
	line-height: 1.4;
	position: relative;
	
	@media screen and (max-width: $break-small) {
		margin-left: 10px;
		margin-right: 15px;
	}
	
	&:before {
		content: "12:04";
		position: absolute;
		left: -45px;
		opacity: 0;
		color: red;
		font-size: 12px;
		top: 3px;
	}
}

.input-container {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: white;
	border-top: 2px solid $studioGray-60;
	
	textarea {
		padding: 15px 25px;
		padding-left: 51px;
		width: 100%;
		font-family: 'Open Sans';
		font-weight: 600;
		color: $studioGray-120;
		font-size: 14px;
		resize: none;
		outline: none;
		margin-top: 3px;
	}
	
	i.chat-input-attach-icon {
		position: absolute;
		height: 100%;
		line-height: 53px;
		font-size: 20px;
		width: 51px;
		text-align: center;
		color: $studioGray-120;
		cursor: pointer;
		transition: .1s ease-in-out;
		
		&:hover {
			color: $deepBlue-80;
			transition: .1s ease-in-out;
		}
	}
}