@import "icons";

$deepBlue-20: #CCCED5;
$deepBlue-40: #999EAC;
$deepBlue-60: #666D82;
$deepBlue-80: #333D59;
$deepBlue-100: #000C2F;
$deepBlue-120: #000923;

$studioGray-20: #F4F4F5;
$studioGray-40: #E8E9EB;
$studioGray-60: #DDDEE0;
$studioGray-80: #D1D3D6;
$studioGray-100: #C6C8CC;
$studioGray-120: #959699;

$blue-10: #e3f6fe;
$blue-20: #c7edfe;
$blue-40: #92dbfd;
$blue-60: #61cbfd;
$blue-80: #65D7FD;
$blue-100: #36b9fc;
$blue-120: #1583c4;

$red-20: #FEDAD2;
$red-40: #FEB5A5;
$red-60: #FD9078;
$red-80: #FD6B4B;
$red-100: #FC461E;
$red-120: #BD3516;

$red: #F44336;
$matBlue: #2E90EB;

$green-color: #4CAF50;
$red-color: #FC461E;
$yellow-color: #FFCA28;

$swipes-shadow-one: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
$swipes-shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$swipes-shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$swipes-shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$swipes-shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$break-small: 400px;
$break-mid: 650px;

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
html, body, #content {
    height:100%;
    font-family: 'Roboto';
    line-height: 1.4;

    @media screen and (max-width: $break-mid) {
        //overflow-x: hidden;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(black,0);
    //border-radius: 50px;
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(black,.1);
    //border-radius: 50px;
}

$inputHeight: 70px;
$inputButtonWidth: 50px;

.card-container{
    position:relative;
    height: 100%;
}
.chat-list-container{
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFF;
    //padding-bottom: 20px;
    position: relative;
}

.chat-list {
    max-width: 650px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}
.new-message-header{
    &.read{
        opacity: 0.5;
    }
    width: 100%;
    height: 4px;
    border-bottom: 1px solid red;
    text-align: right;
    position:relative;
    span{
        font-size: 12px;
        color: red;
        background-color: #fff;
        padding: 0 10px;
        position:absolute;
        right: 0;
        top:50%;
        margin-top:-7px;
    }

}
.new-message-post-header{
    height:4px;
    width: 100%;
}
.section {
    width: 100%;

    .chat-date-line {
        height: 30px;
        width: calc(100% - 60px);
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .line {
            width: 100%;
            height: 1px;
            background-color: $studioGray-60;
        }

        .date {
            position: absolute;
            line-height: 30px;
            font-weight: 300;
            color: $studioGray-100;
            width: 100%;
            text-align: center;
            left: 0;

            span {
                padding: 0 15px;
                background-color: #FFF;
            }
        }
    }
}

.chat-wrapper {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    display: flex;
    //flex-wrap: wrap;
    align-items: strech;
    padding-top: 3px;
    &.extra-message{
        padding-top:0px;
    }
    &:hover{
        .left-side-container{
            .secondary-time{
                opacity: 1.0;
            }
        }
        .right-side-container{
            .message-details {
                .message-time {
                    color: $deepBlue-80;
                }
            }
        }
    }
}

.left-side-container {
    //height: 36px;
    width: 40px;
    img {
        height:36px;
        width:36px;
        border-radius: 50%;
    }
    .secondary-time{
        opacity: 0.0;
        line-height: 15px;
        .message-time {
            color: $deepBlue-80;
            font-size: 11px;
            font-weight: 400;
        }
    }

}

.right-side-container {
    width: 100%;
    max-width: calc(650px - 70px);
    display: flex;
    flex-direction: column;
    padding-left: 9px;
    .message-details {
        margin-left: 0px;

        .message-author {
          color: $deepBlue-80;
          font-size: 14px;
          font-weight: 500;
        }

        .message-time {
          color: $studioGray-80;
          font-size: 12px;
          margin-left: 10px;
          font-weight: 400;
        }
    }
    .message-wrapper {
      display: flex;
      align-items: center;

      &.new-message {
        animation: newMessageLeft .4s cubic-bezier(.57,-0.04,.51,1.89) forwards;
      }

      .message {
        width: calc(100% - 20px);
        color: $deepBlue-60;
        font-size: 14px;
        word-break: break-word;

        &:hover {
          background-color: #eee;

          .share-icon {
            opacity: 1;
          }
        }

        .share-icon {
          width: 20px;
          height: 20px;
          position: absolute;
          right: 0;
          opacity: 0;

          .material-icons {
            font-size: 20px !important;
            color: $deepBlue-60 !important;
          }
        }

        .link{
          color: $blue-120;
          text-decoration: underline;
          cursor:pointer;

          &:hover{
            color: lighten($blue-120, 10%);
            text-decoration: none;
          }
        }
            //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }
}
.file-container{
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 7px;
    .image-container{
        .image-bg{
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        img{
            opacity: 0;
            border-radius: 5px;
        }
    }
}
.chat-attachment{
    max-width: 650px;
    .attachment-pretext{

    }
    .attachment-bar{
        background: #e3e4e6;
        width: 4px;
        display: table-cell;
        border-radius: 8px;
    }
    .attachment-content{
        display: table-cell;
        padding-left: 4px;
        .attachment-title{
            font-size: 16px;
            font-weight: 500;
        }
        .attachment-body{

        }
        .attachment-image{
            img{
                max-width: 400px;
                border: 1px solid #e3e4e6;
            }

        }
    }
}



.input-container {
    width: 100%;
    max-width: 650px;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    position: fixed;
    overflow: hidden;
    bottom: 0;
    background-color: #FAFAFA;
    border: 2px solid $studioGray-60;
    border-radius: 10px;
    transition: .2s ease-in-out;

    @media screen and (max-width: $break-mid) {
        transform: translateX(-50%) translateY(0px);
        border-radius: 0px;
        border: none;
        border-top: 2px solid $studioGray-60;
    }

    &.show-hint {

        //padding-top: 15px;
        transition: .2s ease-in-out;

        .hint {
            font-size: 10px;
            transform: translateY(0px) translateX(50px);
            width: calc(100% - 70px);
            background-color: #FAFAFA;
            padding: 6px 0px 6px 0px;
            justify-content: flex-start;
            transition: .2s ease-in-out;
            z-index: 3;

            @media screen and (max-width: $break-mid) {
                display: none;
            }

        }

        textarea {
            padding: 10px 25px;
            padding-left: 51px;
            padding-top: 25px;
            transition: .2s ease-in-out;

            @media screen and (max-width: $break-mid) {
                padding: 15px 25px;
                padding-left: 51px;
                padding-right: 51px;
                padding-top: 20px;
            }
        }
    }

    .hint {
        position:absolute;
        //height: 100%;
        top: 0;
        font-weight: 500;
        color: $studioGray-120;
        font-size: 14px;
        padding: 15px 25px;
        padding-top: 20px;
        padding-left: 65px;
        transition: .2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        .input-thread{
            // KV_TODO: Add animation here to this class
            color: black;
        }
    }

    textarea {
        padding: 15px 25px;
        padding-left: 51px;
        padding-right: 51px;
        padding-top: 20px;
        width: 100%;
        font-family: 'Roboto';
        font-weight: 500;
        color: $deepBlue-100;
        font-size: 14px;
        resize: none;
        outline: none;
        position: relative;
        z-index: 2;
        transition: .2s ease-in-out;
    }

    .mobile-search-at-sign {
        position: absolute;
        height: 100%;
        line-height: 58px;
        font-size: 20px;
        width: 51px;
        text-align: center;
        color: $studioGray-120;
        cursor: pointer;
        z-index: 3;
        left: 0;
        top: 0;

        @media screen and (min-width: $break-mid) {
          display: none;
       }
    }

    i.chat-input-attach-icon {
        position: absolute;
        height: 100%;
        line-height: 58px;
        font-size: 20px;
        width: 51px;
        text-align: center;
        color: $studioGray-120;
        cursor: pointer;
        z-index: 3;
        transition: .1s ease-in-out;

        @media screen and (min-width: $break-mid) {

            &:hover {
                color: $deepBlue-80;
                transition: .1s ease-in-out;
            }
        }

        @media screen and (max-width: $break-mid) {
            right: 0;
            transition: .2s cubic-bezier(.39,-0.74,.53,1.61);

            &.active {
                transform: translateY(-100%);
                transition: .2s cubic-bezier(.39,-0.74,.53,1.61);
            }
        }
    }

    i.chat-input-mobile-send {
        display: none;

        @media screen and (max-width: $break-mid) {
            display: inline;
            position: absolute;
            height: 100%;
            line-height: 58px;
            font-size: 20px;
            width: 51px;
            text-align: center;
            color: $studioGray-120;
            cursor: pointer;
            z-index: 3;
            right: 0;
            transform: translateY(100%);
            transition: .2s cubic-bezier(.39,-0.74,.53,1.61);

            &.active {
                transform: translateY(0%);
                transition: .2s cubic-bezier(.39,-0.74,.53,1.61);
            }
        }
    }
}

.chat-input-wrapper {
    width: 650px;
    min-height: 65px;
    max-height: 200px;
    position: relative;
    @extend %flex;

    .chat-input-attachment {
        width: 65px;
        height: 100%;
        position: absolute;
        cursor: pointer;
        color: $studioGray-120;

        &:hover {
            color: $deepBlue-60;
        }

        i.attach {
            width: 100%;
            height: 100%;

            @extend %flex;
        }
    }
}

.chat-input {
    width: calc(100% - 65px);
    max-height: 100px;
    margin-left: 65px;
    overflow-y: scroll;
    //background-color: red;

    &:focus {
        outline: none;
    }

    .tag {
        color: blue;
        background-color: $blue-40;
    }
}

@keyframes newMessageLeft {
    0% {
        transform: translateY(20px) scale(.5);
        opacity: 0;
        transform-origin: 0% 100%;
    }
    100% {
        transform: translateY(0px) scale(1);
        opacity: 1;
        transform-origin: 0% 100%;}
}

@keyframes newMessageRight {
    0% {
        transform: translateY(20px) scale(.5);
        opacity: 0;
        transform-origin: 100% 100%;
    }
    100% {
        transform: translateY(0px) scale(1);
        opacity: 1;
        transform-origin: 100% 100%;}
}

.todo-input {
  width: 100%;
  height: $inputHeight;
  background-color: $studioGray-20;
  position: fixed;
  //z-index: 10;
  bottom: 0;
  left: 0;
  //z-index: 1000;
  //overflow: hidden;

  &.active {
    z-index: 1000;
  }
  .file-input{
    display: none;
  }
  .send-button, .attach-icon {
    cursor: pointer;
    width: $inputButtonWidth;
    height: 100%;
    position: absolute;
    top: 0;
    @extend %flex;

    .material-icons {
      font-size:  20px !important;
      color: $deepBlue-60 !important;
    }

    &:hover {
      background-color: $deepBlue-20;
    }
  }
  .attach-icon{
    left: 0;
  }
  .send-button{
    right: 0;
  }

  textarea {
    width: calc(100% - 2 * #{$inputButtonWidth});
    resize: none;
    outline: none;
    min-height: 100%;
    margin-left: $inputButtonWidth;
    font-size: 13px;
    padding: 27px 5px;
    padding-left: 7px;
    font-weight: 300;
    color: $deepBlue-80;
    letter-spacing: 1px;
    font-family: 'Roboto';
    line-height: 15px;
    transition: .1s ease-in-out;

    &::-webkit-input-placeholder {
       color: $deepBlue-60;
       font-family: 'Roboto';
       font-weight: 400;
    }
  }
  &.focused{
    background-color: $blue-100;

    textarea{
      color: white;

      &::selection{
          background-color: white;
          color: $blue-120;
      }
      &::-moz-selection{
          background-color: white;
          color: $blue-120;
      }

      &::-webkit-input-placeholder {
         color: white;
         font-family: 'Roboto';
         font-weight: 300;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        font-family: 'Roboto';
        font-weight: 300;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        font-family: 'Roboto';
        font-weight: 300;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: white;
        font-family: 'Roboto';
        font-weight: 300;
      }
    }
    .action-button {
      &:hover {
          background-color: $blue-120;
      }
      .material-icons {
          color: white !important;
      }
    }
  }
}
