@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.DraftEditor-link {
  $b: &;

  color: $blue-100;
  cursor: pointer;
  position: relative;

  & * {
    cursor: pointer;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;

    #{$b}__tooltip {
      opacity: 1;
      pointer-events: all;
      transform: translateY(-120%) translateX(-50%);
      transition: .15s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        left: 0; bottom: 0;
        @include size(100%, 20px);
        background-color: transparent;
        transform: translateY(100%);
      }
    }
  }

  &__tooltip {
    @include flex(flex);
    @include size(250px, 30px);
    background-color: white;
    border-radius: 6px;
    border: 1px solid $deepBlue-10;
    box-shadow: 0px 0px 10px 1px rgba($deepBlue-20,0.3);
    cursor: default;
    left: 50%; top: 0;
    padding-left: 10px;
    position: absolute;
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: .15s ease-in-out;
  }

  &__tooltip-content {
    @include size(calc(100% - 30px), 100%);
    cursor: default;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
  }

  &__button {
    @include size(30px);
    @include flex();
    cursor: default;
    position: relative;
    z-index: 2;

    &:hover {
      #{$b}__icon {
        fill: $deepBlue-80;
      }
    }
  }

  &__icon {
    @include size(24px);
    cursor: default;
    fill: $deepBlue-40;
  }
}
