@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-text-editor {
  @include size(80%, 400px);
  margin: 200px auto;
  border: 1px solid red;
  position: relative;
}

.DraftEditor-root {
  height: inherit;
  position: relative;
  text-align: initial;
  background-color: $blue-10;
  overflow-y: auto;
}

.DraftEditor-editorContainer {
  background-color: rgba(255, 255, 255, 0);
  border-left: 0.1px solid transparent;
  height: inherit;
  position: relative;
  text-align: initial;
  z-index: 1;
}

.public-DraftEditor-content {
  height: inherit;
  text-align: initial;
  font-size: 15px;
  line-height: 1.6;
  color: $deepBlue-70;

  &[contenteditable="true"] {
    -webkit-user-modify: read-write-plaintext-only;
  }
}

.public-DraftEditor-block {
  position: relative;
}

.DraftEditor-alignLeft .public-DraftStyleDefault-block {
  text-align: left;
}

.DraftEditor-alignLeft .public-DraftEditorPlaceholder-root {
  left: 0;
  text-align: left;
}

.DraftEditor-alignCenter .public-DraftStyleDefault-block {
  text-align: center;
}

.DraftEditor-alignCenter .public-DraftEditorPlaceholder-root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.DraftEditor-alignRight .public-DraftStyleDefault-block {
  text-align: right;
}

.DraftEditor-alignRight .public-DraftEditorPlaceholder-root {
  right: 0;
  text-align: right;
}


.RichEditor-controls {
  @include size(auto, 42px);
  @include flex(flex);
  position: fixed;
  z-index: 2;
  background-color: $deepBlue-100;
  border-radius: 6px;
  overflow: hidden;
}

.RichEditor-styleButton {
  @include size(42px);
  @include flex();
  color: $bg;

  &:hover {
    background-color: $deepBlue-80;
  }

  &.RichEditor-activeButton {
    background-color: $blue-100;
  }
}
