@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-text-editor {
  width: 100%;
  position: relative;
}

.DraftEditor-root {
  height: 100%;
  min-height: calc(100vh - 200px);
  position: relative;
  text-align: initial;
}

.DraftEditor-editorContainer {
  height: inherit;
  min-height: calc(100vh - 200px);
  position: relative;
  text-align: initial;
  z-index: 1;
}

.public-DraftEditor-content {
  width: 100%;
  height: inherit;
  min-height: calc(100vh - 200px);
  text-align: initial;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: .6px;
  color: $deepBlue-100;
  padding: 0 15px;

  & h1 {
    letter-spacing: 0px;
    font-size: 30px;
    line-height: 1.8;
    font-weight: 500;
    color: $deepBlue-80;
  }

  & h2 {
    letter-spacing: 0px;
    font-size: 21px;
    line-height: 1.8;
    font-weight: 500;
    color: $deepBlue-80;
  }

  & ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  & li {
    list-style: initial !important;
    color: $deepBlue-80;
    margin: 3px 0;
  }

  &[contenteditable="true"] {
    -webkit-user-modify: read-write-plaintext-only;
  }
}

.public-DraftEditorPlaceholder-root {
  color: $deepBlue-30;
  position: absolute;
  z-index: 0;
  left: 15px;
}

.public-DraftEditorPlaceholder-hasFocus {
  color: $deepBlue-40;
}

.DraftEditorPlaceholder-hidden {
  display: none
}

.public-DraftEditor-block {
  position: relative;
}

.DraftEditor-alignLeft .public-DraftStyleDefault-block {
  text-align: left;
}

.DraftEditor-alignLeft .public-DraftEditorPlaceholder-root {
  left: 0;
  text-align: left;
}

.DraftEditor-alignCenter .public-DraftStyleDefault-block {
  text-align: center;
}

.DraftEditor-alignCenter .public-DraftEditorPlaceholder-root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.DraftEditor-alignRight .public-DraftStyleDefault-block {
  text-align: right;
}

.DraftEditor-alignRight .public-DraftEditorPlaceholder-root {
  right: 0;
  text-align: right;
}

.RichEditor-controls {
  @include size(auto, 42px);
  @include flex(flex);
  position: fixed;
  z-index: 2;
  background-color: $deepBlue-100;
  border-radius: 6px;
  overflow: hidden;
  animation: fadeUpControls .15s ease-out forwards;

  @keyframes fadeUpControls {
    from {
      opacity: 0;
      margin-top: 8px;
    }

    to {
      opacity: 1;
      margin-top: 0;
    }
  }
}

.RichEditor-styleButton {
  @include size(42px);
  @include flex();
  color: $bg;

  &:hover {
    background-color: $deepBlue-80;
  }

  &.RichEditor-activeButton {
    background-color: $blue-100;
  }


  &__icon {
    @include size(30px);
    fill: $bg;
  }
}
