@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.notifications {
  @include size(360px, 540px);
  background-color: $bg;
  border: 1px solid $deepBlue-10;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba(0,12,47,0.3);
}

// ======================================================
// Elements
// ======================================================

.notifications {

  &__header {
    @include size(100%, 49px);
    @include flexContainer('row', between, center);
    border-bottom: 1px solid $deepBlue-10;
    padding: 0 15px;
  }

  &__title {
    @include font(15px, $deepBlue-100, 24px);
  }

  &__mark-all {
    @include font(12px, $deepBlue-40, 24px, 500);
    transition: .2s ease;

    &:hover {
      @include font($c: $blue-100);
      transition: .2s ease;
    }
  }
}

// ======================================================
// Empty state
// ======================================================

.notifications {

  &__empty-state {
    @include size(100%);
    @include flexContainer('column', center, top);
    padding-top: 30px;
  }

  &__empty-illustration {
    margin-bottom: 12px;
  }

  &__empty-svg {
    @include size(300px);
  }

  &__empty-title {
    @include font(11px, $deepBlue-100, 18px, bold) 
    text-transform: uppercase;
    pointer-events: all;
  }

  &__empty-text {
    @include font(12px, $deepBlue-40, 18px);
    margin-top: 9px;
    text-align: center; 
    pointer-events: all;
  }
}
