@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.side-note {
  $b: &;
  @include size(100%);
  @include flex(center, flex-start);
  @include flex(column);

  &__header {
    @include size(100%, auto);
    border-bottom: 1px solid $deepBlue-20;
  }

  &--locked {

    #{$b}__header {
      color: $salmon;
    }

    & > *:not(#{$b}__header) {
      opacity: .7;
    }
  }
}
