@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.post-header {
  $b: &;
  $flexIgnoreList: '#{$b}__actions';
  @include flexContainer('row', left, top, $selectorsToIgnoreFlex: $flexIgnoreList);

  &__content {
    @include size(100%, auto);
    @include flexContainer('column', left, top);
  }

  &__actions {
    @include flexContainer('row', left, center);
  }

  &__timestamp {
    @include font(12px, $deepBlue-40, 18px);
  }

  &__title {
    @include font(15px, $deepBlue-100, 21px);

    span {
      color: $blue-100;
    }
  }

  &__styled-text {
    @include font(12px, $deepBlue-50, 18px, 500);
  }

  &__styled-button {
    @include font(12px, $deepBlue-100, 18px, 500);
  }

  &__subtitle {
    @include flexContainer('row', left, center);
    @include font(12px, $deepBlue-50, 18px, 500);

    #{$b}__span-link {

      &:not(:empty) {
        padding-right: 3px;
      }

      &:hover {
        color: $blue-100;
      }
    }
    #{$b}__timestamp {
      &:hover {
        color: $blue-100;
      }
    }
  }

  &__svg {
    @include size(12px);
    @include svg-color($deepBlue-40);
    margin-right: 6px;
  }
}
