.task-list-container{
    .task-list{
        max-width: 400px;
        margin: 10px auto;
    }
   
}
.list-item-container{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
}
.item-container{
    .task-item{
        
    }
}