{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"]
    }]
  ]
}
