{
  "presets": [
      "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "src": "./src"
        }
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": false,
        "regenerator": true,
        "useESModules": false
      }
    ],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}