@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.preview-loader {
  @include size(100%);
}

.preview-no-preview {
  @include size(100%);
  @include flex();
  @include flex(column);

  &__header {
    @include font(27px, $deepBlue-80, 36px);
  }

  &__text {
    @include size(100%, auto);
    @include widthSpecifications(300px, 425px);
    @include font(15px, $deepBlue-80, 24px);
    padding-top: 15px;
    text-align: center;
  }
}

.preview-file {
  @include size(100%);
}

.preview-content {
  @include size(100%, auto);
  @include flex(flex);
}

.preview-footer {
  @include size(100%, 60px);
  @include flex(center, flex-end);
  background-color: $bg;
  border-top: 1px solid $deepBlue-10;
  padding: 0 30px;
}

// ======================================================
// Elements
// ======================================================

.preview-content {
  $b: &;

  &__column {

    &--main {
      @include size(calc(100% - 270px - 10%), auto);
      margin-right: 10%;
    }

    &--side {
      @include size(270px, auto);
      @include flex(none);
    }
  }

  &__section {

    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  &__row {

  }
}

.preview-footer {
  $b: &;

  &__btn {
    margin-left: 15px;
  }
}

// ======================================================
// Modifiers
// ======================================================

.preview-file {
  $b: &;

  &--hidden {
    opacity: 0;
  }
}
