#modal {
  width: 80% !important;
  max-width: 640px !important;
  margin: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.db-modal {
  width: 80% !important;
  max-width: 640px !important;
}

.share-link-modal-send-form {
  max-width: 100% !important;
}

.new-collab-input {
  width: 100% !important;
}

.tokenizer_input {
  width: 99% !important;
}

#share-link-modal-custom-message {
  max-width: 100% !important;
}
