@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.filter-footer {
  $b: &;
  @include size(100%, 60px);
  @include flex(flex);
  max-width: 780px;
  background-color: $bg;

  &__section {
    @include size(100%, auto);
    @include flex(center, flex-start);
    position: relative;
    padding-left: 3px;
  }

  &__status {
    @include font(12px, $deepBlue-70, 18px, 500);
  }

  &__button {

    &--edit {
      @include font(12px, $blue-100, 40px, 500);
      padding: 0 15px;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    &--hide {
      display: none;
    }

    &--toggle {
      @include size(24px);
      @include flex(none);
      position: relative;
      border-radius: 50%;
      border: 1px solid $deepBlue-20;
      transition: .2s ease;

      &:after {
        content: '';
        @include size(18px);
        position: absolute;
        left: 2px; top: 2px;
        border-radius: 50%;
        background-color: $blue-100;
        transform: scale(0);
        transition: .3s ease;
      }

      &:hover {
        border-color: $blue-100;
        transition: .2s ease;
      }
    }

    &--active {

      &:after {
        transform: scale(1);
        transition: .3s cubic-bezier(.88,.08,.57,1.5);
      }
    }
  }
}
