@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.goals-list {
  @include size(100%, auto);
  @include flexContainer('column');
  animation: fadeList .6s ease forwards;
  z-index: 3;
}

.goals-empty-state {
  @include size(100%, auto);
  @include heightSpecifications(236px, initial);
  @include flexContainer('column', center, center);
}

// ======================================================
// Elements
// ======================================================

.goals-list {

  &__header {
    @include size(100%, auto);
  }

  &__tab-bar {
    @include size(100%, auto);
    z-index: 5;
  }

  &__filter {
    @include size(100%, auto);
    border-bottom: 1px solid $deepBlue-10;
    left: 0; top: 0;
    position: absolute;
    padding-top: 15px;
    transform: translateY(-100%);
    will-change: transform;
  }

  &__filter-wrap {
    @include flexContainer('row');
  }

  &__filter-actions {
    flex: none;
    @include size(auto, 30px);
    @include flexContainer('row', right, center);
  }

  &__filter-action {
    @include font(12px, $deepBlue-50, 18px, 500);
    padding-left: 15px;
  }
}

.goals-empty-state {


  &__title {
    @include font(27px, $deepBlue-80, 35px);
  }

  &__message {
    @include size(100%, auto);
    @include widthSpecifications(initial, 450px);
    @include font(15px, $deepBlue-80, 24px);
    text-align: center;
    margin-top: 12px;
  }

  &__button {
    margin-top: 30px;
  }
}

// ======================================================
// Modifiers
// ======================================================

.goals-list {
  $b: &;

  &__search {
    @include size(100%, 54px);
    @include flexContainer('row', left, center);
    margin-bottom: 15px;

    input {
      @include size(calc(100% + 51px), 54px);
      @include font(21px, $deepBlue-100, 30px);
      background-color: $deepBlue-5;      
      padding-left: 51px;
      padding-right: 15px;
      margin-left: -24px;
      order: 2;
      transition: .2s ease;
      
      &::-webkit-input-placeholder {
        @include font(21px, $deepBlue-30, 30px);
      }

      &:focus, &:not(:placeholder-shown) {
        @include font($c: $deepBlue-70);
        background-color: $blue-10;
        transition: .2s ease;
      }

      &:focus + .goals-list__search-svg, &:not(:placeholder-shown) + .goals-list__search-svg {
        @include svg-color($deepBlue-70 !important);
        transition: .2s ease;
      }
    }
  }

  &__search-svg {
    @include size(24px);
    @include svg-color($deepBlue-30);
    z-index: 2;
    transform: translateX(15px);
    order: 1;
    transition: .2s ease;
  }

  &__filter-action--main {
    @include font($c: $blue-100);
  }

  &--show-filters {
    #{$b}__scroller {
      will-change: padding-top;
    }

    #{$b}__filter {
      transform: translateY(0px);
      will-change: transform;
    }
  }
}

// ======================================================
// Hovers
// ======================================================

.goals-list {

  &__filter-action {

    &:hover {
      text-decoration: underline;
    }
  }
}

// ======================================================
// Animations
// ======================================================

@keyframes fadeList {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
