@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$imgContHeight: 54px;

.goal-list-item {
  $b: &;

  @include size(100%, auto);
  @include flex(center, flex-start);
  max-width: 780px;
  min-height: $imgContHeight;
  position: relative;
  padding: 12px 21px;
  padding-left: 0px;
  border-bottom: 1px solid $deepBlue-10;

  &:hover {

    #{$b}__title {
      color: $blue-100;
      transition: color .1s ease;
    }
  }

  &__image {
    @include size($imgContHeight);
    @include flex();

    #{$b}__icon {
      @include size(24px);
    }
  }

  &__content {
    @include flex(flex-start, center, column);
    @include size(100%);
    min-height: $imgContHeight;
    position: relative;
  }

  &__title {
    @include font(16px, $deepBlue-90, 400);
    width: calc(100% - 50px);
    transition: color .1s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    @include size(calc(100% - 50px), 30px);
    @include flex(center, flex-start);
    position: relative;
    overflow: hidden;
  }

  &__label {
    @include size(100%, 20px);
    @include font(12px, $deepBlue-50, 400, 20px);
    margin-top: 3px;
    letter-spacing: .5px;
    transition: .25s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__assigning {
    @include size(auto, 30px);
    @include flex(none);
    position: absolute;
    right: 0px; top: 50%;
    transform: translateY(-50%);
  }

  &__completed-icon {
    @include size(30px);
    @include svg-color($green-color);
    @include flex(none);
    border-radius: 50%;
    border: 2px solid $green-color;
    display: none;
    padding: 4px;
  }

  &--completed {
    #{$b}__subtitle {
      display: none;
    }

    #{$b}__completed-icon {
      display: block;
    }

    #{$b}__content {
      padding-left: 21px;
    }
  }
}

.goal-list-item {
  $b: &;

  .progress-bar {
    @include size(100%, 20px);
    @include flex(center, flex-center);
    position: absolute;
    left: 1px; bottom: -20px;
    background-color: $bg;
    transition: .2s ease;

    & > * {
      opacity: 0;
      transition: .2s ease;
    }

    &__frame {
      @include size(180px, 9px);
      border: 1px solid $deepBlue-20;
      border-radius: 100px;
      position: relative;
    }

    &__fill {
      height: 5px;
      max-width: 176px;
      min-width: 3%;
      background-color: $deepBlue-100;
      margin-top: 1px;
      margin-left: 1px;
      border-radius: 100px;
    }

    &__status {
      @include font(12px, $deepBlue-60);
      margin-left: 18px;
    }
  }

  &:hover {
    .progress-bar {
      transition: .2s .2s ease;
      bottom: 5px;

      & > * {
        opacity: 1;
        transition: .2s .2s ease;
      }
    }

    #{$b}__label {
      transform: translateY(-26px);
      transition: .2s .2s ease;
    }
  }
}
