@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$imgContHeight: 54px;

.goal-list-item {
  $b: &;

  @include size(100%, auto);
  max-width: 780px;
  min-height: $imgContHeight;
  position: relative;
  padding: 12px 21px;
  border-bottom: 1px solid $deepBlue-10;

  &:hover {
    background-color: $blue-10;;
    z-index: 2;
  }

  &__image {
    @include size($imgContHeight);
    @include flex();

    #{$b}__icon {
      @include size(24px);
    }
  }

  &__content {
    $contentWidth: calc(100% - 60px);
    @include flex(flex-start, center, column);
    @include size($contentWidth, 100%);
    min-height: $imgContHeight;
    position: relative;
  }

  &__title {
    width: calc(100% - 50px);
    color: $deepBlue-80;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__label {
    width: calc(100% - 50px);
    color: $deepBlue-40;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
    letter-spacing: .5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__assigning {
    @include size(30px);
    position: absolute;
    right: 21px; top: 50%;
    transform: translateY(-50%);
  }
}
