@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.goals-list {
  $b: &;
  @include size(100%, auto);
  @include flex(column);
  animation: fadeList .4s ease forwards;
  z-index: 3;

  &__header {
    @include size(100%, auto);
    padding-bottom: 10px;
    border-bottom: 1px solid $deepBlue-10;
  }

  &__tab-bar {
    @include size(100%, auto);
    z-index: 5;
  }

  &__filter {
    @include size(100%, auto);
    border-bottom: 1px solid $deepBlue-10;
    left: 0; top: 0;
    position: absolute;
    padding-top: 40px;
    transform: translateY(-100%);
    will-change: transform;
  }

  &__filter-actions {
    @include size(100%, 48px);
    @include flex(center, flex-end);
  }

  &__filter-action {
    @include font(12px, $deepBlue-50, 18px, 500);
    padding-left: 15px;

    &:hover {
      text-decoration: underline;
    }

    &--main {
      @include font($c: $blue-100);
    }
  }

  &--show-filters {
    #{$b}__scroller {
      will-change: padding-top;
    }

    #{$b}__filter {
      transform: translateY(0px);
      will-change: transform;
    }
  }
}


@keyframes fadeList {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
