@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.goals-list {
  $b: &;
  @include size(100%);
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;

  &__tab-bar {
    @include size(100%, auto);
    z-index: 5;
  }

  &__scroller {
    @include size(100%);
    position: relative;
    overflow-y: auto;
    will-change: padding-top;
    padding-bottom: 75px;
  }

  &__filter {
    @include size(100%, auto);
    border-bottom: 1px solid $deepBlue-10;
    left: 0; top: 0;
    max-width: 780px;
    position: absolute;
    padding: 30px 0;
    transform: translateY(-100%);
    will-change: transform;
  }

  &--show-filters {
    #{$b}__scroller {
      will-change: padding-top;
    }

    #{$b}__filter {
      transform: translateY(0px);
      will-change: transform;
    }
  }
}
