@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.goals-list {
  @include size(100%, auto);
  @include flexContainer('column');
  animation: fadeList .6s ease forwards;
  z-index: 3;
}

.goals-empty-state {
  @include size(100%, auto);
  @include heightSpecifications(236px, initial);
  @include flexContainer('column', center, center);
}

// ======================================================
// Elements
// ======================================================

.goals-list {

  &__header {
    @include size(100%, auto);
    padding-bottom: 10px;
    border-bottom: 1px solid $deepBlue-10;
  }

  &__tab-bar {
    @include size(100%, auto);
    z-index: 5;
  }

  &__filter {
    @include size(100%, auto);
    border-bottom: 1px solid $deepBlue-10;
    left: 0; top: 0;
    position: absolute;
    padding-top: 40px;
    transform: translateY(-100%);
    will-change: transform;
  }

  &__filter-actions {
    @include size(100%, 48px);
    @include flexContainer('row', right, center);
  }

  &__filter-action {
    @include font(12px, $deepBlue-50, 18px, 500);
    padding-left: 15px;
  }
}

.goals-empty-state {


  &__title {
    @include font(27px, $deepBlue-80, 35px);
  }

  &__message {
    @include size(100%, auto);
    @include widthSpecifications(initial, 450px);
    @include font(15px, $deepBlue-80, 24px);
    text-align: center;
    margin-top: 12px;
  }

  &__button {
    margin-top: 30px;
  }
}

// ======================================================
// Modifiers
// ======================================================

.goals-list {
  $b: &;


  &__filter-action--main {
    @include font($c: $blue-100);
  }

  &--show-filters {
    #{$b}__scroller {
      will-change: padding-top;
    }

    #{$b}__filter {
      transform: translateY(0px);
      will-change: transform;
    }
  }
}

// ======================================================
// Hovers
// ======================================================

.goals-list {

  &__filter-action {

    &:hover {
      text-decoration: underline;
    }
  }
}

// ======================================================
// Animations
// ======================================================

@keyframes fadeList {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
