<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link href="<{appDir}>/style.css" rel="stylesheet">
		<script src="<{appDir}>/script.js"></script>
	</head>
	<body>
		<div class="col grid_12 app-manager">
			<h3 class="font-bold">Admin Panel</h3>
		
			<div class="col grid_8 card main-app-list">
				<div class="col grid_12 activated">
					<h5 class="font-normal">activated apps</h5>
					
					<div class="col grid_12 app-list active"></div>
				</div>
				
				<div class="col grid_12 deactivated">
					<h5 class="font-normal">deactivated apps</h5>
					<div class="col grid_12 app-list deactive"></div>
				</div>
			</div>
		</div>

		<!--
			This is an underscore template to be rendered
		-->
		<script type="text/template" id="app-row-template">
			<%
				var activateClass = "activate";
				var activateButtonTitle = "ACTIVATE";
				if(!data.is_active){
					activateClass = "de" + activateClass;
					activateButtonTitle = "DE" + activateButtonTitle;
				}
			%>
			<div class="col grid_12 app" id="app-<%= data.id %>">
				<div class="app-icon"></div>
				<div class="app-details">
					<div class="name font-semibold"><%= data.title %></div>
					<div class="description"><%= data.description %></div>
				</div>
				<div class="app-actions">
					<button class="swipes-button outline rounded <%= activateClass %> hover-full"><%= activateButtonTitle %></button>
					<button class="swipes-button outline rounded delete hover-full">DELETE</button>
					<button class="swipes-button outline rounded settings studiogray-100 hover-full">
						<i class="material-icons">settings</i>
					</button>						
				</div>
			</div>
		</script>
	</body>
</html>