*, *:before, *:after, h1, h2, h3, h4, h5, h6, p, a, input, ul, li, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.col {
  border: 0px solid transparent;
  float: left;
  box-sizing: border-box;
  background-clip: padding-box !important;
}

@media screen and (min-width: 0px) and (max-width: 619px) {
  .col {
    margin: 0 2%;
    padding: 0 1.6%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .grid_1 {
    width: 32%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_2 {
    width: 66%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_3 {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 620px) and (max-width: 959px) {
  .col {
    margin: 0 2%;
    padding: 0 1.6%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .grid_1 {
    width: 15%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_2 {
    width: 32%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_3 {
    width: 49%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_4 {
    width: 66%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_5 {
    width: 83%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_6 {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .col {
    margin: 0 2%;
    padding: 0 1.6%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .grid_1 {
    width: 8.2%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_2 {
    width: 18.4%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_3 {
    width: 28.6%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_4 {
    width: 38.8%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_5 {
    width: 49%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_6 {
    width: 59.2%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_7 {
    width: 69.4%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_8 {
    width: 79.6%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_9 {
    width: 89.8%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_10 {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col {
    margin: 0 2%;
    padding: 0 1.6%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .grid_1 {
    width: 6.5%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_2 {
    width: 15%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_3 {
    width: 23.5%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_4 {
    width: 32%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_5 {
    width: 40.5%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_6 {
    width: 49%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_7 {
    width: 57.5%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_8 {
    width: 66%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_9 {
    width: 74.5%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_10 {
    width: 83%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_11 {
    width: 91.5%;
    border-left-width: 0;
    padding: 0 1.6%;
    margin-left: 2%;
  }
  .grid_12 {
    margin-left: 0;
    width: 100%;
  }
}

/* Font Variables
$fontBold: sf-ui-text-bold-webfont;
$fontMedium: sf-ui-text-medium-webfont;
$fontRegular: sf-ui-text-regular-webfont;

 Font-Face Import
@include font-face($fontBold, '../assets/fonts/sf-ui-text-bold-webfont');
@include font-face($fontMedium, '../assets/fonts/sf-ui-text-medium-webfont');
@include font-face($fontRegular, '../assets/fonts/sf-ui-text-regular-webfont');
*/
h1 {
  font-size: 66px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

.italic {
  font-style: italic;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.swipes-button {
  padding: 10px 20px;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}

.swipes-button.disabled {
  background-color: #C6C8CC !important;
  border-color: #C6C8CC !important;
  color: #666D82 !important;
  cursor: not-allowed !important;
}

.swipes-button.rounded {
  border-radius: 5px;
}

.swipes-button.radial {
  border-radius: 50px;
}

.swipes-button.outline {
  border-width: 1px;
  border-style: solid;
}

.swipes-button.outline.deepblue-20 {
  border-color: #CCCED5;
}

.swipes-button.outline.deepblue-40 {
  border-color: #999EAC;
}

.swipes-button.outline.deepblue-60 {
  border-color: #666D82;
}

.swipes-button.outline.deepblue-80 {
  border-color: #333D59;
}

.swipes-button.outline.deepblue-100 {
  border-color: #000C2F;
}

.swipes-button.outline.deepblue-120 {
  border-color: #000923;
}

.swipes-button.outline.studiogray-20 {
  border-color: #F4F4F5;
}

.swipes-button.outline.studiogray-40 {
  border-color: #E8E9EB;
}

.swipes-button.outline.studiogray-60 {
  border-color: #DDDEE0;
}

.swipes-button.outline.studiogray-80 {
  border-color: #D1D3D6;
}

.swipes-button.outline.studiogray-100 {
  border-color: #C6C8CC;
}

.swipes-button.outline.studiogray-120 {
  border-color: #959699;
}

.swipes-button.outline.blue-20 {
  border-color: #D8F5FF;
}

.swipes-button.outline.blue-40 {
  border-color: #B2EBFE;
}

.swipes-button.outline.blue-60 {
  border-color: #8BE1FE;
}

.swipes-button.outline.blue-80 {
  border-color: #65D7FD;
}

.swipes-button.outline.blue-100 {
  border-color: #3ECDFD;
}

.swipes-button.outline.blue-120 {
  border-color: #2F9ABE;
}

.swipes-button.outline.red-20 {
  border-color: #FEDAD2;
}

.swipes-button.outline.red-40 {
  border-color: #FEB5A5;
}

.swipes-button.outline.red-60 {
  border-color: #FD9078;
}

.swipes-button.outline.red-80 {
  border-color: #FD6B4B;
}

.swipes-button.outline.red-100 {
  border-color: #FC461E;
}

.swipes-button.outline.red-120 {
  border-color: #BD3516;
}

.swipes-button.primary.deepblue-20 {
  background-color: #CCCED5;
  color: #000923;
}

.swipes-button.primary.deepblue-40 {
  background-color: #999EAC;
  color: #000923;
}

.swipes-button.primary.deepblue-60 {
  background-color: #666D82;
  color: #F4F4F5;
}

.swipes-button.primary.deepblue-80 {
  background-color: #333D59;
  color: #F4F4F5;
}

.swipes-button.primary.deepblue-100 {
  background-color: #000C2F;
  color: #F4F4F5;
}

.swipes-button.primary.deepblue-120 {
  background-color: #000923;
  color: #F4F4F5;
}

.swipes-button.primary.studiogray-20 {
  background-color: #F4F4F5;
  color: #000923;
}

.swipes-button.primary.studiogray-40 {
  background-color: #E8E9EB;
  color: #000923;
}

.swipes-button.primary.studiogray-60 {
  background-color: #DDDEE0;
  color: #000923;
}

.swipes-button.primary.studiogray-80 {
  background-color: #D1D3D6;
  color: #000923;
}

.swipes-button.primary.studiogray-100 {
  background-color: #C6C8CC;
  color: #000923;
}

.swipes-button.primary.studiogray-120 {
  background-color: #959699;
  color: #000923;
}

.swipes-button.primary.blue-20 {
  background-color: #D8F5FF;
  color: #000923;
}

.swipes-button.primary.blue-40 {
  background-color: #B2EBFE;
  color: #000923;
}

.swipes-button.primary.blue-60 {
  background-color: #8BE1FE;
  color: #000923;
}

.swipes-button.primary.blue-80 {
  background-color: #65D7FD;
  color: #000923;
}

.swipes-button.primary.blue-100 {
  background-color: #3ECDFD;
  color: #000923;
}

.swipes-button.primary.blue-120 {
  background-color: #2F9ABE;
  color: #F4F4F5;
}

.swipes-button.primary.red-20 {
  background-color: #FEDAD2;
  color: #000923;
}

.swipes-button.primary.red-40 {
  background-color: #FEB5A5;
  color: #000923;
}

.swipes-button.primary.red-60 {
  background-color: #FD9078;
  color: #000923;
}

.swipes-button.primary.red-80 {
  background-color: #FD6B4B;
  color: #000923;
}

.swipes-button.primary.red-100 {
  background-color: #FC461E;
  color: #000923;
}

.swipes-button.primary.red-120 {
  background-color: #BD3516;
  color: #F4F4F5;
}

.swipes-floating-label {
  width: 100%;
  position: relative;
  margin: 40px 0;
}

.swipes-floating-label.error > input {
  border-color: #F44336;
}

.swipes-floating-label.error:after {
  content: attr(error-message);
  position: absolute;
  left: 0;
  bottom: -30px;
  color: #F44336;
  font-size: 12px;
}

.swipes-floating-label input {
  padding: 5px 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #999EAC;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  color: #333D59;
  position: relative;
}

.swipes-floating-label input:focus {
  outline: none;
  border-bottom-color: #3ECDFD;
}

.swipes-floating-label input:focus + label {
  color: #3ECDFD;
}

.swipes-floating-label label {
  position: absolute;
  bottom: -5px;
  left: 0;
  font-weight: 400;
  color: #999EAC;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

.swipes-floating-label label.active {
  -webkit-transform: translate3d(0px, -25px, 0px);
          transform: translate3d(0px, -25px, 0px);
  font-size: 12px;
  color: #999EAC;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

input .swipes-input {
  padding: 5px 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #999EAC;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  color: #333D59;
  position: relative;
}

input .swipes-input:focus {
  outline: none;
  border-bottom-color: #3ECDFD;
}

.swipes-range {
  width: 100%;
  position: relative;
}

.swipes-range input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  position: relative;
  z-index: 2;
}

.swipes-range input[type=range]:focus {
  outline: none;
}

.swipes-range input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #333D59;
  border-radius: 20px;
  border: 0.2px solid #010101;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

.swipes-range input[type=range]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #333D59;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -webkit-calc(-14px / 2 + 2px);
  margin-top: calc(-14px / 2 + 2px);
  -webkit-transition: 0.2s cubic-bezier(0.39, 0.01, 0.5, 5);
          transition: 0.2s cubic-bezier(0.39, 0.01, 0.5, 5);
}

.swipes-range input[type=range]:focus::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  margin-top: -7px;
  -webkit-transition: 0.2s cubic-bezier(0.39, 0.01, 0.5, 5);
          transition: 0.2s cubic-bezier(0.39, 0.01, 0.5, 5);
}

.swipes-range input[type=range]:focus::-webkit-slider-runnable-track {
  background: #999EAC;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

.swipes-range .swipes-ripple-range {
  width: 60px;
  height: 60px;
  background-color: #000c2f;
  border-radius: 50px;
  position: absolute;
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  left: 0;
  z-index: 1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 0.3s ease-in-out;
          animation: ripple 0.3s ease-in-out;
}

@-webkit-keyframes ripple {
  0% {
    opacity: .4;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    opacity: .4;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.swipes-checkbox {
  width: 21px;
  height: 21px;
  margin: 100px auto;
  border: 3px solid #959699;
  position: relative;
  box-sizing: border-box;
  border-radius: 2px;
  padding-top: 4px;
  padding-left: 3px;
  overflow: hidden;
}

.swipes-checkbox.checked {
  width: 21px;
  height: 21px;
  border: 0px solid #959699;
  background-color: #2E90EB;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}

.swipes-checkbox.checked:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: #F4F4F5;
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.swipes-checkbox.checked:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 3px;
  background-color: #F4F4F5;
  -webkit-transform: rotate(-55deg) translate(-2px, 5px);
      -ms-transform: rotate(-55deg) translate(-2px, 5px);
          transform: rotate(-55deg) translate(-2px, 5px);
}

.swipes-checkbox .swipes-input-checkbox {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.swipes-radio {
  width: 20px;
  height: 20px;
  border: 3px solid #2E90EB;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.swipes-radio.checked {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}

.swipes-radio.checked:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: -webkit-calc(50% - 3px);
  top: calc(50% - 3px);
  left: -webkit-calc(50% - 3px);
  left: calc(50% - 3px);
  background-color: #2E90EB;
}

.swipes-radio .swipes-input-radio {
  width: 0;
  height: 0;
  margin: 0;
  margin-right: 25px;
  padding: 0;
}

.swipes-dropdown {
  height: 50px;
  background-color: white;
  padding: 0;
  line-height: 40px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid #DDDEE0;
}

.swipes-dropdown i {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.swipes-dropdown * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swipes-dropdown li {
  width: 100%;
  padding: 5px 10px;
  z-index: 2;
  cursor: default;
}

.swipes-dropdown li:not(.init) {
  float: left;
  height: 50px;
  width: 100%;
  display: none;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.swipes-dropdown li:not(.init):hover, .swipes-dropdown li:not(.init) ul li.selected:not(.init) {
  background: #F4F4F5;
}

.swipes-dropdown li.init {
  cursor: pointer;
}

.swipes-context-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}

.swipes-context-btn * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swipes-context-btn:hover {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}

.swipes-context-btn.open {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}

.swipes-context-btn i {
  color: #000C2F;
  cursor: pointer;
}

.swipes-context-btn ul {
  width: 150px;
  position: absolute;
  left: -150px;
  top: 50px;
  z-index: 99;
  overflow: hidden;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
}

.swipes-context-btn ul.open {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-animation: swipes-context 0.1s ease-in-out forwards;
          animation: swipes-context 0.1s ease-in-out forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.swipes-context-btn ul .context-ripple {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.swipes-context-btn ul .context-ripple.open {
  -webkit-animation: context-ripple 0.3s ease-in-out;
          animation: context-ripple 0.3s ease-in-out;
}

.swipes-context-btn ul li {
  width: 100%;
  height: 50px;
  opacity: 0;
  line-height: 50px;
  padding-left: 20px;
  color: #000C2F;
  font-weight: 400;
  position: relative;
}

.swipes-context-btn ul li.open {
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
  -webkit-animation: context-list-open 0.1s ease-in-out forwards;
          animation: context-list-open 0.1s ease-in-out forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.swipes-context-btn ul li.open:hover {
  color: #000C2F;
  font-weight: 600;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}

@-webkit-keyframes swipes-context {
  100% {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@keyframes swipes-context {
  100% {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@-webkit-keyframes context-list-open {
  100% {
    opacity: 1;
    background-color: white;
  }
}

@keyframes context-list-open {
  100% {
    opacity: 1;
    background-color: white;
  }
}

@-webkit-keyframes context-ripple {
  0% {
    -webkit-transform: scale3d(0);
            transform: scale3d(0);
  }
  100% {
    -webkit-transform: scale(35);
            transform: scale(35);
  }
}

@keyframes context-ripple {
  0% {
    -webkit-transform: scale3d(0);
            transform: scale3d(0);
  }
  100% {
    -webkit-transform: scale(35);
            transform: scale(35);
  }
}

html, body {
  font-family: 'Open Sans';
  background-color: #F4F4F5;
}

.woba {
  display: block;
  position: absolute;
  background: #999EAC;
  border-radius: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: .5;
}

.woba.animate {
  -webkit-animation: ripple 0.5s linear forwards;
          animation: ripple 0.5s linear forwards;
}

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

.nav {
  width: 100%;
  height: 60px;
  top: 0;
  background-color: white;
  position: fixed;
  z-index: 99;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav .tab {
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999EAC;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

@media screen and (max-width: 800px) {
  .nav .tab {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .nav .tab {
    font-size: 11px;
  }
}

.nav .tab:hover {
  color: #000C2F;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}

.nav .tab.selected {
  font-weight: 700;
  color: #000C2F;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

.nav .selected-line {
  width: -webkit-calc((100% / 3) / 3);
  width: calc((100% / 3) / 3);
  height: 2px;
  background-color: #000C2F;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(95px, 0px, 0px);
          transform: translate3d(95px, 0px, 0px);
  -webkit-transition: 0.3s cubic-bezier(0.78, 0.1, 0.45, 0.94);
          transition: 0.3s cubic-bezier(0.78, 0.1, 0.45, 0.94);
}

.admin-wrapper {
  width: 100%;
  margin-top: 120px;
  padding: 0 1.6%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-wrapper .app-list {
  width: 57.5%;
}

@media screen and (max-width: 800px) {
  .admin-wrapper .app-list {
    width: 100%;
  }
}

.admin-wrapper .app-list h5 {
  color: #000C2F;
  text-transform: uppercase;
}

.admin-wrapper .app-list p {
  margin: 50px 0;
  color: #000C2F;
}

.admin-wrapper .app-list .app {
  margin: 50px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin-wrapper .app-list .app .app-icon .icon {
  width: 80px;
  height: 80px;
  background-color: #D1D3D6;
  border-radius: 10px;
}

.admin-wrapper .app-list .app .app-details {
  width: 80%;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-wrapper .app-list .app .app-details .app-title {
  color: #000C2F;
  font-weight: 700;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.admin-wrapper .app-list .app .app-details .app-title .dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  margin-left: 5px;
}

.admin-wrapper .app-list .app .app-details .app-title .dot.active {
  background-color: #6ec071;
}

.admin-wrapper .app-list .app .app-details .app-title .dot.deactive {
  background-color: #fd6f50;
}

.admin-wrapper .app-list .app .app-details .app-description {
  color: #666D82;
  font-weight: 400;
}

.admin-wrapper .app-list .app .app-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

.admin-wrapper .app-list .app .app-actions .mobile-app-actions {
  display: none;
}

@media screen and (max-width: 800px) {
  .admin-wrapper .app-list .app .app-actions .mobile-app-actions {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: -15px;
    right: 0;
  }
  .admin-wrapper .app-list .app .app-actions .mobile-app-actions:hover, .admin-wrapper .app-list .app .app-actions .mobile-app-actions.open {
    box-shadow: none;
    background-color: transparent;
  }
  .admin-wrapper .app-list .app .app-actions .mobile-app-actions .swipes-context {
    width: 150px;
  }
  .admin-wrapper .app-list .app .app-actions .mobile-app-actions .swipes-context-list {
    color: #000C2F;
  }
  .admin-wrapper .app-list .app .app-actions .mobile-app-actions .context-ripple {
    background-color: white;
  }
}

.admin-wrapper .app-list .app .app-actions .swipes-button {
  padding: 5px 20px;
  margin: 5px 0;
  cursor: pointer;
  text-align: center;
  color: #959699;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .admin-wrapper .app-list .app .app-actions .swipes-button {
    display: none;
  }
}

.admin-wrapper .app-list .app .app-actions .swipes-button.activate-app:hover {
  border-color: #4CAF50;
  background-color: #4CAF50;
  color: #F4F4F5;
}

.admin-wrapper .app-list .app .app-actions .swipes-button.disable-app:hover {
  border-color: #FFCA28;
  background-color: #FFCA28;
  color: #F4F4F5;
}

.admin-wrapper .app-list .app .app-actions .swipes-button.delete-app:hover {
  border-color: #FC461E;
  background-color: #FC461E;
  color: #F4F4F5;
}
