@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.checklist {
  @include size(100%, auto);
  @include flex(flex-start, flex-start, column);
  max-width: 500px;
  position: relative;

  &__checkbox {
    margin-bottom: 18px;
  }

  &__description {
    @include size(100%, auto);
    max-width: 420px;
    font-size: 12px;
    line-height: 21px;
    color: $deepBlue-70;
    margin-top: 6px;
    padding-left: 30px;
  }
}
