@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.sw-textarea {
  @include size(calc(100% - 50px), auto);
  @include flex();
  margin-right: 50px;
  position: relative;

  &__input {
    color: $deepBlue-80;
    font-size: 15px;
    padding: 15px 21px;
    line-height: 21px;
    resize: none;
    width: 100%;
    background-color: rgba($deepBlue-120, .04);

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $deepBlue-40;
    }
  }
}
