@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$navbarH: 90px;

// ======================================================
// Block
// ======================================================

.nav-bar {
  $b: &;
  @include size(100%, $navbarH);
  @include flex(flex);
  @include flex(none);
  background-color: $bg;
  z-index: 9;
}

.bread-crumbs {
  $b: &;
  @include size(100%, $navbarH);
  @include flex(column);
}

// ======================================================
// Elelements
// ======================================================

.nav-bar {
  $b: &;

  &__icon {
    @include size(24px);
  }

  &__actions {
    @include size(auto, 100%);
    @include flex(flex);
    @include flex(none);

    button {
      align-self: flex-end;
    }
  }
}

// Containers

.bread-crumbs {
  $b: &;

  &__history {
    @include size(100%, 30px);
    @include flex(flex);
    @include flex(none);
  }

  &__title {
    @include size(100%);
    @include flex(flex);
  }
}

// Crumb

.bread-crumbs {
  $b: &;

  &__crumb {
    @include size(auto, 100%);
    @include flex(center, flex-start);

    &:not(&--last):hover {
      #{$b}__title {
        text-decoration: underline;
      }
    }

    &--last {
      @include size(100%);
      @include flex(flex-end, flex-start);

      #{$b}__title {
        @include size(100%, auto);
        @include font(27px, $deepBlue-90, 36px, 400);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        input {
          @include size(100%, auto);
          @include font(27px, $deepBlue-90, 36px, 400);
        }
      }
    }
  }
}

// Misc

.bread-crumbs {
  $b: &;

  &__title {
    color: $blue-100;
    font-size: 15px;
    margin-right: 6px;
  }

  &__seperator {
    @include size(18px, 30px);
    @include flex();
    padding-top: 2px;
    margin-right: 6px;

    #{$b}__icon {
      fill: $deepBlue-20;
    }
  }

  &__icon {
    @include size(18px);
  }
}

// ======================================================
// Modifiers
// ======================================================
