@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.reactions {
  @include flexContainer('row', left, center);
}

// ======================================================
// Elements
// ======================================================

.reactions {

  &__button {
    height: 24px;
  }

  &__label {
    @include font(12px, $deepBlue-30 !important, 15px);
    order: 1;
    padding-right: 3px;

    &--liked {
      @include font(12px, $red-80 !important, 15px);
    }
  }

  &__button {
    height: 20px;
    order: 2;
  }

  &__heart {
    @include size(20px);
    stroke: $deepBlue-30 !important;
    fill: transparent;
    transition: .2s ease;

    path {
      stroke-width: 1px !important;
    }

    &:hover {
      stroke: $red-80 !important;
      transition: .2s ease;
    }

    &--liked {
      stroke: $red-80 !important;
      fill: $red-80 !important;
      transition: .2s ease;

      &:hover {
        opacity: .6;
        transition: .2s ease;
      }
    }
  }
}

// ======================================================
// targeting
// ======================================================

.reactions {

  &__button {

    &:hover {
      text-decoration: underline;
    }
  }
}

// ======================================================
// Modifiers
// ======================================================

.reactions {
  $b: &;

  &__button {
    &--loading {
      @include font($c: $deepBlue-100);
      pointer-events: none;
    }
 }
}