@import "swipes-ui-kit/swipes-ui-kit-styles";

$break-small: 400px;
$break-medium: 800px;
$break-large: 1200px;

html, body {
	font-family: 'Open Sans';
	background-color: $studioGray-20;
}

.woba {
	display: block; 
	position: absolute;
	background: $deepBlue-40;
	border-radius: 100%;
	transform: scale(0);
	opacity: .5;
}

.woba.animate {
	animation: ripple .5s linear forwards;
}

@keyframes ripple {
	100% {opacity: 0; transform: scale(2.5);}
}

.nav {
	width: 100%;
	height: 60px;
	top: 0;
	background-color: white;
	position: fixed;
	z-index: 99;
	box-shadow: $swipes-shadow-one;
	display: flex;
	
	.tab {
		width: calc(100% / 3);
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		color: $deepBlue-40;
		font-weight: 600;
		text-transform: uppercase;
		overflow: hidden;
		cursor: default;
		position: relative;
		transition: .2s ease-in-out;
		
		@media screen and (max-width: $break-medium) {
			font-size: 14px;
		}
		
		@media screen and (max-width: $break-small) {
			font-size: 11px;
		}
		
		&:hover {
			color: $deepBlue-100;
			transition: .1s ease-in-out;
		}
		
		&.selected {
			font-weight: 700;
			color: $deepBlue-100;
			transition: .2s ease-in-out;
		}
	}
	
	.selected-line {
		width: calc((100% / 3) / 3);
		height: 2px;
		background-color: $deepBlue-100;
		position: absolute;
		bottom: 0;
		left: 0;
		//transform: translate3d(95px, 0px, 0px);
		transition: .3s cubic-bezier(.78,.1,.45,.94);
	}
}

.admin-wrapper {
	width: 100%;
	margin-top: 120px;
	padding: 0 1.6%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.app-list {
		width: 57.5%;
		
		@media screen and (max-width: $break-medium) {
			width: 100%;
		}
			
		h5 {
			color: $deepBlue-100;
			text-transform: uppercase;
		}
		
		p {
			margin: 50px 0;
			color: $deepBlue-100;
		}
		
		.app {
			margin: 50px 0;
			position: relative;
			display: flex;
			justify-content: space-between;
			
			.app-icon {
				
				.icon {
					@include size(80px);
					background-color: $studioGray-80;
					border-radius: 10px;
				}
			}
			
			.app-details {
				width: 80%;
				padding: 0 20px;
				display: flex;
				align-content: space-between;
				flex-direction: column;
				
				.app-title {
					color: $deepBlue-100;
					font-weight: 700;
					padding-bottom: 15px;
					display: flex;
					
					.dot {
						width: 7px;
						height: 7px;
						border-radius: 50px;
						margin-left: 5px;
						
						&.active {
							background-color: lighten($green-color, 10%);
						}
						
						&.deactive {
							background-color: lighten($red-color, 10%);
						}
					}
				}
				
				.app-description {
					color: $deepBlue-60;
					font-weight: 400;
				}
			}
			
			.app-actions {
				display: flex;
				flex-direction: column;
				align-content: flex-start;
				
				.mobile-app-actions {
					display: none;
					
					@media screen and (max-width: $break-medium) {
						position: absolute;
						display: flex;
						top: -15px;
						right: 0;

						&:hover, &.open {
							box-shadow: none;
							background-color: transparent;
						}
						
						.swipes-context {
							width: 150px;
						}
						
						.swipes-context-list {
							color: $deepBlue-100;
						}

						.context-ripple {
							background-color: white;
						}
					}
				}
				
				.button-app-status {
					width: 120px;
					height: 31px;
					border: 1px solid $studioGray-120;
					color: $studioGray-120;
					text-align: center;
					border-radius: 5px;
					line-height: 31px;
					text-transform: uppercase;
					cursor: default;
					position: relative;
					overflow: hidden;
					font-size: 14px;
					margin: 5px 0;
					
					@media screen and (max-width: $break-medium) {
						display: none;
					}
					
					&.active {
						
						&:hover {
							border-color: $yellow-color;
							background-color: $yellow-color;
							color: white;
							transition: .1s ease-in-out;
						}
						
						.loader {
							background-color: $yellow-color;
						}
						
						&.loading {
							border-color: $yellow-color;
						}
					}
					
					&.delete-app {
						
						&:hover {
							border-color: $red-color;
							background-color: $red-color;
							color: white;
							transition: .1s ease-in-out;
						}
						
						.loader {
							background-color: $red-color;
						}
						
						&.loading {
							border-color: $red-color;
						}
					}
					
					&.deactive {
						
						&:hover {
							border-color: $green-color;
							background-color: $green-color;
							color: white;
							transition: .1s ease-in-out;
						}
						
						.loader {
							background-color: $green-color;
						}
						
						&.loading {
							border-color: $green-color;
						}
					}
					
					&.loading {
						transition: .2s ease-in-out;
						
						span.button-label {
							transform: translateY(-40px);
							transition: .2s ease-in-out;
						}
						
						.loader {
							transform: translateY(-40px);
							transition: .2s ease-in-out;
							
							.dot {
								animation: load-loader .7s ease-in-out infinite;
							
								&:nth-child(2) {
									animation-delay: .2s;
								}
				
								&:last-child {
									animation-delay: .4s;
								}
							}
						}
					}
					
					.loader {
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 40px;
						transition: .2s ease-in-out;
						display: flex;
						align-items: center;
						justify-content: center;
						
						.dot {
							width: 10px;
							height: 10px;
							position: relative;
							margin: 0 2px;
							margin-top: 3px;
							background-color: white;
							border-radius: 50%;
						}
					}
				}
				
				@keyframes load-loader {
					50% {
						transform: translateY(-6px);
					}
				}
			}
		}
	}
}