@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

$bigBtn: 36px;
$smallBtn: 34px;

$btnSize: $bigBtn;
$mainColor: $deepBlue-50;
$borderColor: $deepBlue-10;

.g-button {
  $b: &;

  @include flex();
  @include size(auto, $btnSize);
  display: inline-flex;
  border: 1px solid;
  border-color: $borderColor;
  border-radius: 50px;
  flex: none;
  min-width: $btnSize;
  transition: .15s;
  background-color: $bg;
  position: relative;
  z-index: 2;
  user-select: none;
}

// ELEMENTS

.g-button {
  $b: &;

  &__svg {
    @include size(24px);
    @include svg-color($mainColor);
    transition: .15s;
  }

  &__text {
    color: $mainColor;
    font-size: 12px;
    font-weight: bold;
    padding: 0 $btnSize;
    transition: .15s;
    pointer-events: none;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}


// MODIFIERS

.g-button {
  $b: &;


  &--icon-and-text {
    padding: 0 $btnSize;

    #{$b}__text {
      padding: 0 !important;
      padding-left: 6px;
    }
  }

  &--primary {
    $mainColor: $blue-100;

    border-color: $mainColor;
    transition: .15s;

    #{$b}__svg {
      fill: $mainColor;
      stroke: $mainColor;
    }

    #{$b}__text {
      color: $mainColor;
    }
  }

  &--reverse {
    #{$b}__svg {
      order: 2;
    }

    #{$b}__text {
      order: 1;
    }
  }

  &--small {
    $btnSize: $smallBtn;

    @include size(auto, $btnSize);
    min-width: $btnSize;

    #{$b}__text {
      padding: 0 $btnSize;
    }

    &#{$b}--icon-and-text {
      padding: 0 $btnSize;
    }
  }

  &--disabled {
    border-color: transparent;
    background-color: transparent;

    #{$b}__text {
      color: $deepBlue-20;
      font-weight: 400;
    }

    #{$b}__svg {
      @include svg-color($deepBlue-20);
    }
  }

  &--frameless {
    border: none;
  }
}

// HOVER

.g-button {
  $b: &;

  &:hover:not(&--primary):not(&--disabled) {
    border-color: $borderColor;
    background-color: $borderColor;

    #{$b}__svg {
      fill: $mainColor;
      stroke: $mainColor;
    }

    #{$b}__text {
      color: $mainColor;
    }
  }

  &--primary:hover {
    $mainColor: $blue-100;
    background-color: $mainColor;

    #{$b}__svg {
      fill: white;
      stroke: white;
    }

    #{$b}__text {
      color: white;
    }
  }

  &--icon-and-text:hover {

    #{$b}__svg {
      transform: translateX(-6px);
    }

    #{$b}__text {
      transform: translateX(6px);
    }
  }

  &--reverse#{&}--icon-and-text:hover {
    #{$b}__svg {
      transform: translateX(6px);
    }

    #{$b}__text {
      transform: translateX(-6px);
    }
  }

  &--disabled:hover {
    background-color: transparent !important;

    #{$b}__text {
      color: $deepBlue-20;
    }

    #{$b}__svg {
      @include svg-color($deepBlue-20 !important);
    }
  }
}
