@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

$bigBtn: 42px;
$smallBtn: 34px;

$btnSize: $bigBtn;
$mainColor: $deepBlue-100;

.g-button {
  $b: &;

  @include flex();
  @include size(auto, $btnSize);
  border: 1px solid;
  border-color: rgba($mainColor, .1);
  border-radius: 50px;
  min-width: $btnSize;
  transition: .15s;
}

// ELEMENTS

.g-button {
  $b: &;

  &__svg {
    @include size(24px);
    fill: rgba($mainColor, .8);
    stroke: rgba($mainColor, .8);
    transition: .15s;
  }

  &__text {
    color: rgba($mainColor, .6);
    font-size: 12px;
    font-weight: bold;
    padding: 0 $btnSize;
    transition: .15s;
    pointer-events: none;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}


// MODIFIERS

.g-button {
  $b: &;

  &--icon-and-text {
    padding: 0 $btnSize;

    #{$b}__text {
      padding: 0 !important;
      padding-left: 6px;
    }
  }

  &--primary {
    $mainColor: $blue-100;

    border-color: $mainColor;
    transition: .15s;

    #{$b}__svg {
      fill: $mainColor;
      stroke: $mainColor;
    }

    #{$b}__text {
      color: $mainColor;
    }
  }

  &--reverse {
    #{$b}__svg {
      order: 2;
    }

    #{$b}__text {
      order: 1;
    }
  }

  &--small {
    $btnSize: $smallBtn;

    @include size(auto, $btnSize);
    min-width: $btnSize;

    #{$b}__text {
      padding: 0 $btnSize;
    }

    &#{$b}--icon-and-text {
      padding: 0 $btnSize;
    }
  }
}

// HOVER

.g-button {
  $b: &;

  &:hover:not(&--primary) {
    border-color: transparent;
    background-color: rgba($mainColor, .1);

    #{$b}__svg {
      fill: $mainColor;
      stroke: $mainColor;
    }

    #{$b}__text {
      color: $mainColor;
    }
  }

  &--primary:hover {
    $mainColor: $blue-100;
    background-color: $mainColor;

    #{$b}__svg {
      fill: white;
      stroke: white;
    }

    #{$b}__text {
      color: white;
    }
  }

  &--icon-and-text:hover {

    #{$b}__svg {
      transform: translateX(-6px);
    }

    #{$b}__text {
      transform: translateX(6px);
    }
  }

  &--reverse#{&}--icon-and-text:hover {
    #{$b}__svg {
      transform: translateX(6px);
    }

    #{$b}__text {
      transform: translateX(-6px);
    }
  }
}
