@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swipes-services {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;

  &__placeholder {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    color: $deepBlue-60;
    font-size: 14px;
    line-height: 1.4;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 30px;
      width: 4px;
      height: calc(100% - 60px);
      background-color: $blue-60;
    }


    &--connect {
      width: auto;
      padding: 0;
      color: $deepBlue-40;
      font-size: 12px;
      line-height: 1.4;
      padding-left: 48px;
      padding-bottom: 10px;

      &:before {
        display: none;
      }
    }
  }

  &:last-child {
    margin-top: 30px;
    margin-bottom: 150px;
  }

  &__title {
    // background-color: #FAFAFA;
    position: relative;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 30px;

    &:before {
      content: "";
      position: absolute;
      left: 0; top: 50%;
      width: 100%;
      height: 1px;
      // background-color: $deepBlue-10;
      transform: translateY(-50%);
    }

    &:after {
      content: attr(data-title);
      position: absolute;
      padding: 0 15px;
      left: 30px; top: 50%;
      // background-color: #FAFAFA;
      transform: translateY(-50%);
      color: $deepBlue-80;
      font-weight: 500;
      font-size: 18px;
    }
  }

  &__row {
    @include size(100%, 48px);
    @include flex(center, flex-start);

    &__toggle {
      @include size(24px, 24px);
      margin-left: 3px;
      border-radius: 50%;
      margin-right: 20px;

      &--connected {
        border: 1px solid $deepBlue-10;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          @include size(18px, 18px);
          left: 50%; top: 50%;
          transform: translate(-50%, -50%);
          background-color: $green-color;
          border-radius: 50%;
        }

        &:hover:after {
          background-color: $salmon;
          transition: .1s;
        }
      }

      &--disconnected {
        background-color: transparent;
        border: 1px solid $deepBlue-10;
        position: relative;
        transition: .1s;

        &:before {
          content: "";
          position: absolute;
          left: 50%; top: 50%;
          width: 2px;
          height: 10px;
          transform: translate(-50%, -50%);
          background-color: $deepBlue-20;
          transition: .1s;
        }

        &:after {
          content: "";
          position: absolute;
          left: 50%; top: 50%;
          height: 2px;
          width: 10px;
          transform: translate(-50%, -50%);
          background-color: $deepBlue-20;
          transition: .1s;
        }

        &:hover {
          border: 1px solid $green-color;
          background-color: $green-color;
          transition: .1s;

          &:after, &:before {
            background-color: #FAFAFA;
            transition: .1s;
          }
        }
      }
    }

    &__info {
      @include flex(flex-start, center, column);

      &--title {
        font-weight: 400;
        font-size: 15px;
        color: $deepBlue-100
      }

      &--subtitle {
        font-weight: 400;
        font-size: 12px;
        color: $deepBlue-60;
        margin-top: 2px;
      }
    }
  }
}

.services-connect {
  @include size(100%, 100%);
  @include flex(center, center, column);

  &__illustration {
    @include size(150px, 150px);
    @include flex(center, center);
    position: relative;
    transform: translateY(-10px);

    &--svg {
      height: 100%;
    }
  }

  &__title {
    font-size: 18px;
    color: $deepBlue-80;
    text-transform: uppercase;
    @include flex(center, center);
    padding-bottom: 40px;
  }

  &__button {
    @include flex(center, center);
    width: 150px !important;
    padding: 10px 20px !important;
    background-color: $blue-100;
    border-radius: 6px;
    color: white;

    &:hover {
      background-color: $blue-80;
    }
  }

  & > * {
    width: 100%;
    max-width: 460px;
    min-width: 100px;
    padding: 15px 30px;
  }
}
