@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

// ======================================================
// Block
// ======================================================

.not-supported {
  padding: 30px 0;
}

// ======================================================
// Elements
// ======================================================

.not-supported {

  &__empty-space-block {
    @include size(100%, 30px);
  }

  &__actions {
    margin-top: -30px;
  }

  &__option-wrapper {

  }

  &__link {
    @include font($c: $blue-100);

    &:hover {
      text-decoration: underline;
    } 
  }

  &__desc {
    @include font(15px, $deepBlue-80, 18px, 300);
    padding: 21px 0; 
  }
}
