@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.preview-video {
  @include size(100%);
  @include flexContainer('row', center, center);
  max-height: 99%;
  max-width: 90vw;

  &__player {
    @include size(100%);    
    max-height: 100%;
    max-width: 100%;
  }
}

body:-webkit-full-screen-ancestor {
  & *:not(:-webkit-full-screen-ancestor):not(video) {
    position: fixed !important;
    z-index: -1 !important;
    left: 0 !important; top: 0 !important;
    transform: none !important;
    opacity: 0 !important;
  }
}