@mixin size($width:inherit, $height:inherit) {
  width: $width;
  height: $height;
}
$loaderSize: 20px;

.sw-loader__holder {

  @include size($loaderSize, $loaderSize);
  // border: 1px solid red;
  position: relative;
  transform: rotate(-45deg);
  margin: 100px auto;
  .rect {
    transition: .2s ease-in-out;
    @include size(100%, 100%);
    position: absolute;
    left: 0; top: 0;
    background: linear-gradient(
    to right,
    #141562, #486FBC, #EAB5A1, #8DD6FF, #4973C9, #D07CA7, #F4915E, #F5919E, #B46F89, #141562, #486FBC);
    background-position: 0% 50%;
    background-size: 1000% 1000%;
    overflow: hidden;
    animation: moveGradient 10s infinite;
    border-radius: 10%;


  }
}

@keyframes moveGradient {
  to {
    background-position: 100% 50%;
  }
}
