@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

// ======================================================
// Block
// ======================================================

.welcome {
	@include size(100%);
}

// ======================================================
// Element
// ======================================================

.spinner {
	@include size(25px);
	@include svg-color($blue-100);
	animation: rotateSpinner 2s linear infinite;

	&__path {
		stroke-linecap: round;
    animation: dashSpinner 1.5s ease infinite;
    stroke-width: 4;
	}
}

// containers

.welcome {

	&__card {
		@include size(100%);
		@include widthSpecifications(initial, 660px);
		@include border-radius(6px, 6px, 0px, 0px);
		animation: showSignIn 1s ease forwards;
		background-color: $bg;
		border: 1px solid $deepBlue-10;
		box-shadow: 0 6px 12px 1px rgba(0,12,47,0.3);
		margin: 0 auto;
	}

	&__header {
		@include size(100%, auto);
		padding: 0 60px;
		padding-top: 8.5vh;
	}

	&__content {
		@include size(100%, auto);
		padding: 0 60px;
	}

	&__footer {
		@include size(100%, 11vh);
		@include flexContainer('row', between, center);
		padding: 0 90px;
	}
}

// Actions

.welcome {
	$b: &;

	&__actions {
		@include size(100%);
	}

	&__icon {
		@include size(24px);
		transition: .5s ease;

		#{$b}__svg {
			@include size(24px);
			@include svg-color($blue-100);
			transition: .5s ease;
		}

		&:after {
			@include size(30px, 2px);
			background-color: $blue-100;
			content: '';
			left: 0; top: 50%;
			position: absolute;
			transform: translateY(-50%) translateX(-22px);
			transition: .5s ease;
			-webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		}
	}

	&__reset {
		@include font(12px, $deepBlue-40, 18px, 500);
		opacity: 0;
		transition: .15s ease;

		&:after {
			@include size(100%, 2px);
			background-color: $deepBlue-100;
			content: '';
			left: 0; bottom: -3px;
			position: absolute;
			transition: .5s ease;
			-webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
		}
	}

	&__continue {
		@include size(100%);
		@include font(15px, $blue-100, 24px, 500);
		@include flexContainer('row', right, center);
		margin-right: 15px;
		transition: .5s ease;

		&:after {
			content: attr(data-title);
			@include font(15px, $blue-100, 24px, 500);
			position: absolute;
			right: 0; top: 50%;
			transition: .5s ease;
		}
	}
}

// Ui

.welcome {

	&__logo {
		padding-bottom: 5.8vh;
	}

	&__svg {
		@include size(126px, 42px);
		@include svg-color($deepBlue-20);
	}
}

// ======================================================
// Modifiers
// ======================================================

.welcome {
	$b: &;

	&__actions {

		&--reset {
			@include flexContainer('row', left, center);
		}

		&--continue {
			$flexIgnoreList: '#{$b}__icon';
			@include flexContainer('row', right, center, $selectorsToIgnoreFlex: $flexIgnoreList);
		}
	}

	&__reset {

		&--show {
			opacity: 1;
			transition: .5s .5s ease;
		}
	}

	&__continue {

		&--continue {

			&:after {
				opacity: 0;
				transform: translateY(13px);
				transition: .5s ease;
			}
		}

		&--sign-in {
			@include font($c: transparent);
			transform: translateY(-30px);
			transition: .5s ease;

			&:after {
				opacity: 1;
				transform: translateY(17px);
				transition: .5s ease;
			}
		}
	}
}

// ======================================================
// Hovers
// ======================================================

.welcome {
	$b: &;

	&__actions:hover {

		#{$b}__svg {
		}

		#{$b}__icon {
			transform: translateX(15px);
			transition: .5s ease;

			&:after {
				-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				transition: .5s ease;
			}
		}

		#{$b}__reset {
			@include font($c: $deepBlue-100);
			transition: .15s ease;

			&:after {
				-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				transition: .5s ease;
			}
		}

		#{$b}__continue {
		}
	}
}

// ======================================================
// Animations
// ======================================================

@keyframes rotateSpinner {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dashSpinner {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
