@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.welcome-message {
  @include size(100%);
  padding: 0 60px;
  overflow-y: auto;
}

// ======================================================
// Elements
// ======================================================

.welcome-message {

  &__title {
    @include font(36px, $deepBlue-100, 48px, 300);
    margin-bottom: 8%;
  }

  &__paragraph {
    @include font(15px, $deepBlue-80, 27px);
    margin-bottom: 5%;
  }

  &__signature {
    margin-top: 10%;
  }

  &__svg {
    @include size(180px, 39px);
    @include svg-color($deepBlue-100);
  }
}


// ======================================================
// Empty states
// ======================================================

.welcome-message {

  &__illustration {
    @include size(100%, 45%);
    @include flexContainer('column', center, center);
    margin-bottom: 5%;
  }

  &__illustration-svg {
    @include size(auto, 100%);
  }
}
