$FontPath: "AktivGrotesk";
$FontName: "Aktiv-Grotesk";

@mixin fontdef-woff($FontPath, $FontName, $FontType:"Regular") {
  src:  url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff2') format('woff2');
  /*src:  url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff2') format('woff2'),
      url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff') format('woff'),
      url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.ttf') format('truetype');*/
}

@font-face {
  font-family: Aktiv-Grotesk;
  @include fontdef-woff($FontPath, $FontName, "ExtraBold");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Aktiv-Grotesk;
  @include fontdef-woff($FontPath, $FontName, "Bold");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Aktiv-Grotesk;
  @include fontdef-woff($FontPath, $FontName, "Medium");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Aktiv-Grotesk;
  @include fontdef-woff($FontPath, $FontName, "MediumItalic");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Aktiv-Grotesk;
  @include fontdef-woff($FontPath, $FontName, "Regular");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Aktiv-Grotesk;
  @include fontdef-woff($FontPath, $FontName, "Italic");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Aktiv-Grotesk;
  @include fontdef-woff($FontPath, $FontName, "Light");
  font-weight: 300;
  font-style: normal;
}
