@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
@import '~styles/_functions.scss/';

$contentOverflowPadding: 18px;
$innerContentWidth: calc(100% - (#{$contentOverflowPadding} * 2));

// ======================================================
// Block
// ======================================================

.sw-view {
  $b: &;
  $flexIgnoreList: '#{$b}__nav-bar', '#{$b}__header', '#{$b}__footer';

  @include size(100%);
  @include flexContainer('column', $selectorsToIgnoreFlex: $flexIgnoreList);
  animation: fadeView 0.8s ease forwards;
  will-change: width;
}

// ======================================================
// Elements
// ======================================================

.sw-view {
  &__nav-bar {
    @include size(100%, auto);
    will-change: width;
  }

  &__header {
    @include size($innerContentWidth, auto);
    margin: 0 $contentOverflowPadding;
    will-change: width;
  }

  &__footer {
    @include size(100%, auto);
    margin: 0;
    will-change: width;
  }


  &__scroll {
    @include size(calc(100% - 3px));
    overflow-y: auto;
    will-change: width;
    margin-right: 3px;
    
  }
  @supports (-ms-ime-align: auto) {
    &__scroll {
      overflow-x: hidden;
    }
  }

  &__scroll::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 6px;
      background-color: transparent;
  }

  &__scroll::-webkit-scrollbar-thumb {
      background-color: #B8B7B6;
      border-radius: 3px;
  }

  &__container {
    @include size($innerContentWidth, 100%);
    @include heightSpecifications(100%, initial);
    margin: 0 $contentOverflowPadding;
    will-change: width;
  }

  &__content {
    @include size(100%);
    margin: 0 auto;
    will-change: width;
  }
}

.sw-view {
  $b: &;

  &--no-frame {
    #{$b}__header {
      @include size(100%, auto);
      margin: 0;
    }

    #{$b}__container {
      @include size(100%);
      margin: 0;
    }
  }
  &--no-scroll {
    #{$b}__scroll {
      overflow: initial;
    }
  }
}

// ======================================================
// Animations
// ======================================================

@keyframes fadeView {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
