@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\0000351}}
html, body, #content {
  height: 100%;
  font-family: 'Roboto';
  line-height: 1.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\0000360}}
#content {
  background-color: #FAFAFA;
  padding-bottom: 65px;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\0000360}}
  #content {
    padding-bottom: 60px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\0000369}}
.chat-list-container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FAFAFA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\0000377}}
.chat-list {
  max-width: 650px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\0000382}}
.section {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\0000385}}
.section .chat-date-line {
  height: 50px;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  margin-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\0000394}}
.section .chat-date-line .line {
  width: 100%;
  height: 1px;
  background-color: #DDDEE0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003100}}
.section .chat-date-line .date {
  position: absolute;
  line-height: 50px;
  font-weight: 300;
  color: #C6C8CC;
  width: 100%;
  text-align: center;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003109}}
.section .chat-date-line .date span {
  padding: 0 15px;
  background-color: #FAFAFA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003116}}
.thread-header {
  position: absolute;
  top: 0;
  width: 100%;
  background: #D8F5FF;
  z-index: 1000;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003125}}
.chat-wrapper {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: strech;
  -webkit-align-items: strech;
      -ms-flex-align: strech;
          align-items: strech;
  padding-bottom: 20px;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003125}}
  .chat-wrapper {
    padding: 0 10px;
    padding-bottom: 10px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003141}}
.avatar {
  height: 100%;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding-bottom: 20px;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003141}}
  .avatar {
    padding: 15px 0;
    padding-bottom: 24px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003151}}
.avatar img {
  min-width: 40px !important;
  border-radius: 50%;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003151}}
  .avatar img {
    max-width: 30px !important;
    min-width: 30px !important;
    margin-left: -5px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003163}}
.chat-messages {
  width: 100%;
  max-width: -webkit-calc(650px - 70px);
  max-width: calc(650px - 70px);
  padding: 15px 0;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003171}}
.chat-messages .message-wrapper {
  min-height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003177}}
.chat-messages .message-wrapper.new-message {
  -webkit-animation: newMessageLeft 0.4s cubic-bezier(0.57, -0.04, 0.51, 1.89) forwards;
          animation: newMessageLeft 0.4s cubic-bezier(0.57, -0.04, 0.51, 1.89) forwards;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003171}}
  .chat-messages .message-wrapper {
    min-height: 30px;
    padding: 0 5px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003185}}
.chat-messages .message-wrapper .message {
  margin: 2px 0;
  padding: 10px 15px;
  background-color: #F0F0F0;
  border-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #000C2F;
  font-size: 14px;
  word-break: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003195}}
.chat-messages .message-wrapper .message .link {
  color: #2F9ABE;
  text-decoration: underline;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003199}}
.chat-messages .message-wrapper .message .link:hover {
  color: #4db1d3;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003209}}
.chat-messages .message-wrapper:last-child .message {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003217}}
.chat-messages .message-wrapper:first-child .message {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003224}}
.chat-messages .message-wrapper:first-child:last-child .message {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003236}}
.chat-wrapper.me {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003239}}
.chat-wrapper.me .document-card {
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003243}}
.chat-wrapper.me .avatar {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003248}}
.chat-wrapper.me .message-details {
  left: auto;
  right: 0px;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003248}}
  .chat-wrapper.me .message-details {
    right: 10px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003257}}
.chat-wrapper.me .chat-messages {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003260}}
.chat-wrapper.me .chat-messages .message-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003264}}
.chat-wrapper.me .chat-messages .message-wrapper.new-message {
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-animation: newMessageRight 0.4s cubic-bezier(0.57, -0.04, 0.51, 1.89) forwards;
          animation: newMessageRight 0.4s cubic-bezier(0.57, -0.04, 0.51, 1.89) forwards;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003269}}
.chat-wrapper.me .chat-messages .message-wrapper .message {
  background-color: #D8F5FF;
  text-align: right;
  position: relative;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003279}}
.chat-wrapper.me .chat-messages .message-wrapper .message.opacity {
  opacity: .5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003283}}
.chat-wrapper.me .chat-messages .message-wrapper .message.target-result {
  background-color: #B2EBFE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003290}}
.chat-wrapper.me .chat-messages .message-wrapper:last-child .message {
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003299}}
.chat-wrapper.me .chat-messages .message-wrapper:first-child .message {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003307}}
.chat-wrapper.me .chat-messages .message-wrapper:first-child:last-child .message {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003320}}
.message-details {
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 0px;
  font-size: 12px;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003320}}
  .message-details {
    margin-left: 10px;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/*.document-card {
	max-width: 400px;
	margin-left: 20px;
	background-color: white;
	border-radius: 5px;
	padding-bottom: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100px;
		left: 0;
		bottom: 15px;
		//background: linear-gradient(to top, rgba(255,255,255,1) 0%, transparent 100%);
	}
	
	.document-content {
		width: 100%;
		
		.title {
			padding: 15px 20px;
			font-size: 18px;
			color: $deepBlue-100;
			cursor: pointer;
		}
		
		.content {
			padding: 0 20px;
			font-size: 14px;
			color: rgba($deepBlue-100, .9);
			line-height: 1.4;
		}
	}
}

.image-card {
	max-width: 200px;
	margin-left: 20px;
	background-color: white;
	border-radius: 5px;
	//padding-bottom: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	flex-wrap: wrap;
	position: relative;
	//overflow: hidden;
	cursor: pointer;
		
		.img-wrap {
			max-width: 200px;
			max-height: 200px;
			cursor: pointer;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			overflow: hidden;
			
			img {
				width: 100%;
			}
		}
		
		.title {
			padding: 15px 20px;
			font-size: 14px;
			color: $deepBlue-100;
			cursor: pointer;
		}
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003409}}
.input-container {
  width: 100%;
  max-width: 650px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-5px);
      -ms-transform: translateX(-50%) translateY(-5px);
          transform: translateX(-50%) translateY(-5px);
  position: fixed;
  overflow: hidden;
  bottom: 0;
  background-color: #FAFAFA;
  border: 2px solid #DDDEE0;
  border-radius: 10px;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003409}}
  .input-container {
    -webkit-transform: translateX(-50%) translateY(0px);
        -ms-transform: translateX(-50%) translateY(0px);
            transform: translateX(-50%) translateY(0px);
    border-radius: 0px;
    border: none;
    border-top: 2px solid #DDDEE0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003429}}
.input-container.show-hint {
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003434}}
.input-container.show-hint .hint {
  font-size: 10px;
  -webkit-transform: translateY(0px) translateX(50px);
      -ms-transform: translateY(0px) translateX(50px);
          transform: translateY(0px) translateX(50px);
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
  background-color: #FAFAFA;
  padding: 6px 0px 6px 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
  z-index: 3;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003434}}
  .input-container.show-hint .hint {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003450}}
.input-container.show-hint textarea {
  padding: 10px 25px;
  padding-left: 51px;
  padding-top: 25px;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003450}}
  .input-container.show-hint textarea {
    padding: 15px 25px;
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003465}}
.input-container .hint {
  position: absolute;
  top: 0;
  font-weight: 500;
  color: #959699;
  font-size: 14px;
  padding: 15px 25px;
  padding-top: 20px;
  padding-left: 65px;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003480}}
.input-container .hint .input-thread {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003486}}
.input-container textarea {
  padding: 15px 25px;
  padding-left: 51px;
  padding-right: 51px;
  padding-top: 20px;
  width: 100%;
  font-family: 'Roboto';
  font-weight: 500;
  color: #000C2F;
  font-size: 14px;
  resize: none;
  outline: none;
  position: relative;
  z-index: 2;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003503}}
.input-container .mobile-search-at-sign {
  position: absolute;
  height: 100%;
  line-height: 58px;
  font-size: 20px;
  width: 51px;
  text-align: center;
  color: #959699;
  cursor: pointer;
  z-index: 3;
  left: 0;
  top: 0;
}
@media screen and (min-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003503}}
  .input-container .mobile-search-at-sign {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003521}}
.input-container i.chat-input-attach-icon {
  position: absolute;
  height: 100%;
  line-height: 58px;
  font-size: 20px;
  width: 51px;
  text-align: center;
  color: #959699;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}
@media screen and (min-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003535}}
  .input-container i.chat-input-attach-icon:hover {
    color: #333D59;
    -webkit-transition: .1s ease-in-out;
            transition: .1s ease-in-out;
  }
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003521}}
  .input-container i.chat-input-attach-icon {
    right: 0;
    -webkit-transition: 0.2s cubic-bezier(0.39, -0.74, 0.53, 1.61);
            transition: 0.2s cubic-bezier(0.39, -0.74, 0.53, 1.61);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003545}}
  .input-container i.chat-input-attach-icon.active {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.2s cubic-bezier(0.39, -0.74, 0.53, 1.61);
            transition: 0.2s cubic-bezier(0.39, -0.74, 0.53, 1.61);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003552}}
.input-container i.chat-input-mobile-send {
  display: none;
}
@media screen and (max-width: 650px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003552}}
  .input-container i.chat-input-mobile-send {
    display: inline;
    position: absolute;
    height: 100%;
    line-height: 58px;
    font-size: 20px;
    width: 51px;
    text-align: center;
    color: #959699;
    cursor: pointer;
    z-index: 3;
    right: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: 0.2s cubic-bezier(0.39, -0.74, 0.53, 1.61);
            transition: 0.2s cubic-bezier(0.39, -0.74, 0.53, 1.61);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kasper\/Documents\/Code\/Swipes\/swipes-api\/apps\/chat\/app\/styles\/main\.scss}line{font-family:\00003570}}
  .input-container i.chat-input-mobile-send.active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: 0.2s cubic-bezier(0.39, -0.74, 0.53, 1.61);
            transition: 0.2s cubic-bezier(0.39, -0.74, 0.53, 1.61);
  }
}

@-webkit-keyframes newMessageLeft {
  0% {
    -webkit-transform: translateY(20px) scale(0.5);
            transform: translateY(20px) scale(0.5);
    opacity: 0;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    opacity: 1;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes newMessageLeft {
  0% {
    -webkit-transform: translateY(20px) scale(0.5);
            transform: translateY(20px) scale(0.5);
    opacity: 0;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    opacity: 1;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@-webkit-keyframes newMessageRight {
  0% {
    -webkit-transform: translateY(20px) scale(0.5);
            transform: translateY(20px) scale(0.5);
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes newMessageRight {
  0% {
    -webkit-transform: translateY(20px) scale(0.5);
            transform: translateY(20px) scale(0.5);
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
