@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

.rotate-loader {
  border-radius: 50%;
  border: 2px solid $deepBlue-10;
  animation: rotateLoader 1s .25s cubic-bezier(.56,.31,.52,.78) infinite;
  -ms-animation: rotateLoader 1s .25s cubic-bezier(.56,.31,.52,.78) infinite;

  &:after {
    @include size(100%);
    content: '';
    position: absolute;
    left: 0; top: 0;
    background-color: white;
    border-radius: 50%;
  }

  svg {
    @include size(calc(100% + 2px));
    @include svg-color($blue-100);
    position: absolute;
    left: -2px; top: -2px;
  }
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
