@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

.download-app {
  @include size(100%, 48px);
  @include flexContainer('row', center, center);
  @include font(15px, white); 
  background-color: $blue-100;
  padding: 0 30px;
  text-align: center;

  &__link {
    @include font($c: white);
    padding-left: 3px;
    text-decoration: underline; 

    &:hover {
      cursor: pointer;
    }
  }

  &__close-btn {
    @include size(48px);
    @include flexContainer('row', center, center);
    position: absolute;
    right: 0; top: 0;
    transition: .2s ease;

    &:hover {
      cursor: pointer;
      background-color: rgba(white, .2);
      transition: .2s ease;
    }
  }

  &__svg {
    @include size(24px);
    @include svg-color(white);
  }
}
