@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

.screen-size-overlay {
  $b: &;

  &__title {
    display: none;
  }

  &__subtitle {
    display: none;
  }

  &#{&}--too-small {
    @include size(100%);
    @include flexContainer('column', center, center);
    background-color: rgba($deepBlue-100, .99);
    left: 0; top: 0;
    padding: 0 60px;
    position: fixed;
    z-index: 99999999;

    #{$b}__title {
      @include font(36px, white, 48px, 300);
      display: block;
      text-align: center;
    }

    #{$b}__subtitle {
      @include font(15px, white, 24px, 400);
      margin-top: 12px;
      display: block;
      text-align: center;
    }
  }
}
