@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';
@import '~styles/_functions.scss/';

$contentOverflowPadding: 30px;
$innercContentWidth: calc(100% - (#{$contentOverflowPadding} * 2));

// ======================================================
// Block
// ======================================================

.view-controller {
  @include size(100%);
  overflow: hidden;
}

section.view-container {
  @include size(100%, calc(100% - (60px - 38px)));
  @include border-radius(6px, 6px, 0px, 0px);
  @include flexContainer('column');
  background-color: $bg;
  box-shadow: 0 6px 12px 1px rgba(0,12,47,0.3);
  margin-top: calc(60px - 38px);
  left: 0; top: 0;
  overflow: hidden;
  position: absolute;
  transition: transform .5s ease;
  will-change: width, left;
}

.sw-view {
  $b: &;
  $flexIgnoreList: '#{$b}__nav-bar', '#{$b}__header', '#{$b}__footer';

  @include size(100%);
  @include flexContainer('column', $selectorsToIgnoreFlex: $flexIgnoreList);
  animation: fadeView .8s ease forwards;
  will-change: width;
}

// ======================================================
// Elements
// ======================================================

section.view-container {
  $b: getElementSelectorInBlock(#{&}, 'section');

  #{$b}__header {
    @include size(calc(100% - 60px), auto);
    margin: 0 30px;
  }

  #{$b}__actions {
    @include size(auto, 100%);
    @include flexContainer();
    position: absolute;
    right: 0; top: 0;
    padding-top:  9px;
  }
}

.sw-view {

  &__nav-bar {
    @include size(100%, auto);
    will-change: width;
  }

  &__header {
    @include size($innercContentWidth, auto);
    margin: 0 $contentOverflowPadding;
    will-change: width;
  }

  &__footer {
    @include size(100%, auto);
    margin: 0;
    will-change: width;
  }

  &__scroll {
    @include size(100%);
    overflow-y: auto;
    will-change: width;
  }

  &__container {
    @include size($innercContentWidth, 100%);
    @include heightSpecifications(100%, initial);
    margin: 0 $contentOverflowPadding;
    will-change: width;
  }

  &__content {
    @include size(100%);
    margin: 0 auto;
    will-change: width;
  }
}

// ======================================================
// modifiers
// ======================================================

section.view-container {
  $b: getElementSelectorInBlock(#{&}, 'section');

  &:not(#{$b}--overlay) {
    transform: translateX(-50%);
  }

  &--overlay {
    transition: transform .3s ease;
    transform: translateX(50%);
  }
  &--underlay {
    transition: transform .3s ease;
  }

  &#{$b}--underlay > *:not(#{$b}__header) {
      pointer-events: none;
  }

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &--no-scroll {
    #{$b}__scroll {
      overflow: hidden;
    }
  }
}

.sw-view {
  $b: &;

  &--no-frame {
    #{$b}__header {
      @include size(100%, auto);
      margin: 0;
    }

    #{$b}__container {
      @include size(100%);
      margin: 0;
    }
  }
}

// Deal with fullscreen

section.view-container {
  $b: getElementSelectorInBlock(#{&}, 'section');

  &#{$b}--fullscreen {
    @include size(100% !important, calc(100% - 38px));
    left: 0; top: 38px;
    transform: translate3d(0px, 0px, 0px) !important;
    border-radius: 0px;
    margin: 0 !important;
    transition: all 0s;
    transition-delay: .3s;
    z-index: 9999 !important;
    animation: showFullscreen .6s ease forwards;
  }

  &#{$b}--not-fullscreen {
    animation: hideNotFullscreen .3s ease forwards;
  }
}

// ======================================================
// Hover
// ======================================================

section.view-container {
  $b: getElementSelectorInBlock(#{&}, 'section');

  &:hover {
    #{$b}__close-button {
      opacity: 1;
    }
  }
}

// ======================================================
// Animations
// ======================================================

@keyframes showViewContainer {
  to {
    opacity: 1;
  }
}

@keyframes fadeView {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes showFullscreen {
  0% {
    opacity: 1;
  }
  49.9999% {
    position: absolute;
  }
  50% {
    position: fixed;
    opacity: 0;
  }

  100% {
    position: fixed;
    opacity: 1;
  }
}

@keyframes hideNotFullscreen {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
