@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

$contentOverflowPadding: 45px;
$innercContentWidth: calc(100% - (#{$contentOverflowPadding} * 2));

.view-controller {
  @include size(100%);
  @include flex(column);
  position: relative;

  &--empty {
    display: none;
  }

  &:last-child {
    border-left: 1px solid $deepBlue-10;
  }
}

.sw-view {
  $b: &;
  @include size(100%);
  @include flex(column);

  &__nav-bar {
    @include size($innercContentWidth, auto);
    @include flex(none);
		margin: 0 $contentOverflowPadding;

    &--center {
      @include flex(flex-start, center);
    }
  }

  &__header {
    @include size($innercContentWidth, auto);
    @include flex(none);
		margin: 0 $contentOverflowPadding;
  }

  &__scroll {
    @include size(100%);
		overflow-y: auto;
  }

  &__container {
    @include size($innercContentWidth, 100%);
		margin: 0 $contentOverflowPadding;
    min-height: 100%;
  }

  &__content {
    @include size(100%);
  }

  &--center-content {
    @include flex(center, flex-start, column);

    #{$b}__container {
      @include flex(flex-start, center);
    }

    #{$b}__content {
      @include flex(flex-start, center);
    }
  }
}
