@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

$contentOverflowPadding: 45px;
$innercContentWidth: calc(100% - (#{$contentOverflowPadding} * 2));

// ======================================================
// Block
// ======================================================

.view-container {
  @include size(100%);
	@include flex(flex);
}

section.view-controller {
  @include size(100%);
  @include flex(column);
  will-change: width;

  &:after {
    content: '';
    @include size(calc(20vw - 60px), 100%);
    position: absolute;
    left: 0; top: 0;
    background-color: rgba($bg, 0);
    transform: translateX(-100%);
    pointer-events: none;
    transition: .5s;
  }
}

.sw-view {
  $b: &;
  @include size(100%);
  @include flex(column);
}

// ======================================================
// Elements
// ======================================================

.view-controller {

  &__close-button {
    left: 7px; top: 48px;
    position: absolute;
  }
}

.sw-view {

  &__nav-bar {
    @include size($innercContentWidth, auto);
    @include flex(none);
    margin: 0 $contentOverflowPadding;
  }

  &__header {
    @include size($innercContentWidth, auto);
    @include flex(none);
    margin: 0 $contentOverflowPadding;
  }

  &__scroll {
    @include size(100%);
    overflow-y: auto;
  }

  &__container {
    @include size($innercContentWidth, 100%);
    margin: 0 $contentOverflowPadding;
    min-height: 100%;
  }

  &__content {
    @include size(100%);
  }
}

// ======================================================
// Selector targets
// ======================================================

section.view-controller {

  &:last-child {
    border-left: 1px solid $deepBlue-10;
  }

  @include styleIfNumberOfElements(1) {
    @include size(100%);
  }

  @include styleIfNumberOfElements(2) {
    @include size(50%, 100%);
  }
}

// ======================================================
// modifiers
// ======================================================

section.view-controller {

  &--overlay {
    @include size(80vw, 100%);
    position: absolute;
    right: 0; top: 0;
    z-index: 99;
    background-color: $bg;
    box-shadow: 0 1px 20px 3px rgba(0,55,130,0.1);

    &:after {
      background-color: rgba($bg, .7);
      pointer-events: all;
      transition: .5s ease;
    }
  }

  &--empty {
    @include size(0%, 100%);
    border-left: 0px solid $deepBlue-10;
    will-change: width;
  }
}
