@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.browse-container {
  @include size(100%);
  @include flexContainer('row');
}

.browse-horizontal-scroller  {
  $flexIgnoreList: '.browse-section-list';

  @include size(100%);
  @include flexContainer('row', $selectorsToIgnoreFlex: $flexIgnoreList);
  overflow-x: scroll;
}

// ======================================================
// Elements
// ======================================================


// ======================================================
// Modifiers
// ======================================================

// ======================================================
// Targeting
// ======================================================


// scrollbar

.browse-horizontal-scroller {

  &::-webkit-scrollbar {
    @include size(16px);
    background-color: rgba(black, 0);
    overflow: hidden;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    -webkit-border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
}

// Browse Experience effects

.browse-horizontal-scroller {

  .browse-section-list {

    &:not(:last-child) {
      max-width: 200px;
      transition: max-width .5s ease;

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 4px solid transparent;
        background-clip: padding-box;
        -webkit-border-radius: 7px;
        background-color: rgba(0, 0, 0, 0);
        -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0), inset 1px 1px 0px rgba(0, 0, 0, 0);
      }

      .browse-section-item {
        &:not(.browse-section-item--selected) {
          opacity: .3;
          transition: .15s ease;
        }
      }

      &:hover {
        max-width: 390px;
        transition: max-width .5s .1s ease;

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          border: 4px solid transparent;
          background-clip: padding-box;
          -webkit-border-radius: 7px;
          background-color: rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
        }

        .browse-section-item {
          opacity: 1;
          transition: .15s ease;
        }
      }
    }

    &:hover ~ .browse-section-list {
      max-width: 200px;
      transition: max-width .3s .3s ease;
    }
  }
}
