@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.browse {

}

.browse-container {
  @include size(100%, 100%);
  @include flex(flex);
  position: relative;
  padding-top: 40px;

  &:before {
    content: '';
    position: absolute;
    left: 0; top: 39px;
    @include size(100%, 1px)
    background-color: $deepBlue-10;
  }
}

.browse-sidebar {
  @include size(100%);
  @include flex(none);
  position: relative;
  max-width: 207px;
  box-shadow: 0 1px 20px 3px rgba(0,55,130,0.1);
  z-index: 9;

  &:after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    @include size(20px, 100%);
    background-color: $bg;
    transform: translateX(-100%);
  }
}

.browse-horizontal-scroller {
  @include size(100%);
  @include flex(flex);
  overflow-y: hidden;
  overflow-x: auto;

  .browse-section-list {
    animation: makeItWork .6s ease forwards;

    &:not(:last-child) {
      max-width: 200px;
      transition: max-width .5s ease;

      &::-webkit-scrollbar-thumb {
      	border-radius: 10px;
      	border: 4px solid transparent;
      	background-clip: padding-box;
      	-webkit-border-radius: 7px;
      	background-color: rgba(0, 0, 0, 0);
      	-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0), inset 1px 1px 0px rgba(0, 0, 0, 0);
      }

      .browse-section-item {
        &:not(.browse-section-item--selected) {
          opacity: .3;
          transition: .15s ease;
        }
      }

      &:hover {
        max-width: 390px;
        transition: max-width .5s .1s ease;

        &::-webkit-scrollbar-thumb {
        	border-radius: 10px;
        	border: 4px solid transparent;
        	background-clip: padding-box;
        	-webkit-border-radius: 7px;
        	background-color: rgba(0, 0, 0, 0.15);
        	-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
        }

        .browse-section-item {
          opacity: 1;
          transition: .15s ease;
        }
      }
    }

    &:hover ~ .browse-section-list {
      max-width: 200px;
      transition: max-width .3s .3s ease;
    }
  }
}

@keyframes makeItWork {
  0% {
    transform: translateX(-100%);
    z-index: 1;
  }
  99.9% {
    z-index: 1;
  }
  100% {
    transform: translateX(0px);
    z-index: 2;
  }
}
