@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.browse {

}

.browse-container {
  @include size(calc(100% - 10px), 100%);
  @include flex(flex);
  position: relative;
  margin-left: 10px;
  padding-top: 60px;

  &:before {
    content: '';
    position: absolute;
    left: 0; top: 39px;
    @include size(100%, 1px)
    background-color: $deepBlue-10;
  }
}

.browse-sidebar {
  @include size(100%);
  @include flex(none);
  position: relative;
  max-width: 207px;
}

.browse-horizontal-scroller {
  @include size(100%);
  @include flex(flex);
  overflow-y: hidden;
  overflow-x: auto;

  .browse-section-list {
    animation: makeItWork .6s ease forwards;

    &:not(:last-child) {
      .browse-section-item {
        &:not(.browse-section-item--selected) {
          opacity: .3;
          transition: .15s ease;
        }
      }
      &:hover {
        .browse-section-item {
          opacity: 1;
          transition: .15s ease;
        }
      }
    }
  }
}

@keyframes makeItWork {
  0% {
    transform: translateX(-100%);
    z-index: 1;
  }
  99.9% {
    z-index: 1;
  }
  100% {
    transform: translateX(0px);
    z-index: 2;
  }
}
