@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';
@import '~styles/_functions.scss/';

.browse-section-list {
  $b: &;
  @include size(100%);
  @include flex(none);
  max-width: 390px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  border-right: 1px solid $deepBlue-10;
  padding-bottom: 30px;
  background-color: $bg;
  z-index: 2;

  .browse-section {
    @include size(100%, auto);
    position: relative;

    &:not(:first-child) {
      padding-top: 45px;
    }

    &__title {
      @include size(100%, auto);
      @include font(11px, $deepBlue-30, 12px, bold);
      text-transform: uppercase;
      padding: 21px 45px;
      // padding-bottom: 21px;
    }

    &-item {
      $e: getElementSelectorInBlock(#{&}, #{$b});
      @include size(100%, 33px);
      @include flex(center, flex-start);
      user-select: none;

      &__title {
        @include size(100%, 24px);
        @include font(12px, $deepBlue-80, 24px, 500);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__icon {
        @include size(45px, 24px);
        @include flex();
        @include flex(none);
        transition: .2s ease;
      }

      &__svg {
        @include size(24px);
        @include svg-color($deepBlue-20 !important);
        transition: .2s ease;
      }

      &:hover {

        #{$e}__svg {
          @include svg-color($deepBlue-80 !important);
          transition: .2s ease;

        }

        #{$e}__icon--right {
          transform: translateX(5px);
          transition: .2s ease;
        }
      }

      &--selected {
        border-top: 1px solid $deepBlue-10;
        border-bottom: 1px solid $deepBlue-10;
        position: relative;

        #{$e}__title {
          @include font($c: $blue-100);
        }

        #{$e}__svg {
          @include svg-color($blue-100 !important);
        }

        &:hover {
          #{$e}__svg {
            @include svg-color($blue-100 !important);
          }
        }
      }
    }
  }
}
