@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';
@import '~styles/_functions.scss/';

.browse-section-list {
  $b: &;
  @include size(100%);
  @include flex(none);
  max-width: 390px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  border-right: 1px solid $deepBlue-10;
  padding-bottom: 30px;
  background-color: $bg;
  z-index: 2;

  .browse-section {
    @include size(100%, auto);
    position: relative;

    &:not(:first-child) {
      padding-top: 45px;
    }

    &__title {
      @include size(100%, auto);
      @include font(10px, $deepBlue-60, 12px, bold);
      text-transform: uppercase;
      padding: 0 45px;
      padding-bottom: 21px;
    }

    &-item {
      $e: getElementSelectorInBlock(#{&}, #{$b});
      @include size(100%, 33px);
      @include flex(center, flex-start);
      user-select: none;

      &__title {
        @include size(100%, 24px);
        @include font(12px, $blue-100, 24px, 500);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &__icon {
        @include size(45px, 24px);
        @include flex();
        @include flex(none);
        transition: .2s ease;
      }

      &__svg {
        @include size(24px);
        @include svg-color($blue-100 !important);

        path {
          @include svg-color($blue-100 !important);
          stroke-width: 1px
        }
      }

      &--selected {
        border-top: 1px solid $deepBlue-10;
        border-bottom: 1px solid $deepBlue-10;
        position: relative;
      }

      &:hover {

        #{$e}__icon--right {
          transform: translateX(5px);
          transition: .2s ease;
        }
      }
    }
  }
}
