.flex-wrapper {
  @include flex(center, center);
  height: calc(100% - 56px);
}

.swipes-search-results {
  width: 100%;
  height: calc(100% - 20px);
  max-width: calc(100% - 300px);
  min-width: 70%;
  padding: 10px 20px;

  &__services {
    width: 100%;
    max-width: 100px;
    height: calc(100% - 56px);
    padding-top: 20px;
    padding-right: 20px;
    @include flex(center, flex-start, column);

    &__service {
      width: 100%;
      height: 50px;
      @include flex(center, flex-end);

      &--number {
        padding-right: 10px;
        color: $deepBlue-60
      }

      &--service-icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #eee;
        border: 1px solid $deepBlue-20;
        @include flex(center, center);

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__result-list {
    height: 100%;
    padding-left: 30px;
    padding-right: 10px;
    max-width: 600px;
    min-width: 360px;
    overflow-y: auto;

    .swipes-card {
      margin: 12px auto;
      max-width: 600px;

    }
  }
}
