@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';


.find-overlay {
  @include size(100%);

  &__input {
    @include size(70%, auto);
    color: $deepBlue-100;
    font-size: 30px;
    font-weight: bold;
    margin: 45px 60px 0 60px;
    padding: 20px;
    transform: translateX(-20px);
    transition: .2s;

    &:focus {
      background-color: $blue-10;
    }

    &::-webkit-input-placeholder {
      color: $deepBlue-30;
    }
  }

  &__tabs {
    margin: 15px 0 0 60px;
  }
}
