@import '../../global-styles/vars';
@import '../../global-styles/mixins';
@import 'search-results';
@import 'activity';

$searchbarSize: 90px;

.find-overlay {

  background: #fafafa;
  height: 100%;
  position:relative;
  // transition: transform .3s .15s;
  display: flex;

  .swipes-activities, .swipes-search-results {
    &__header {
      @include flex(center, flex-start);
      width: 100%;
      padding-bottom: 10px;

      &__title {
        font-size: 21px;
        line-height: 21px;
        font-weight: 900;
        color: $deepBlue-100;
      }

      &__seperator {
        @include size(1px, 16px);
        background-color: $deepBlue-20;
        margin: 0 9px;
        margin-top: 2px;
      }

      &__subtitle {
        color: $deepBlue-20;
        letter-spacing: .3px;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
