@import 'search-results';
@import 'activity';

$searchbarSize: 90px;
.find-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  top:0;
  left:0;
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s .15s, visibility 0s .45s;
  pointer-events: none;
  .content-container{
    padding: 5px 10px;
    padding-top: $searchbarSize + 20;
    width:96%;
    height:96%;
    margin-left:2%;
    position:relative;
    background: white;
    transition: transform .3s;
    transform: translateY(-100%);
  }
  &.open{
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s, visibility 0s;
    .content-container{
      transform: translateY(0);
      transition: transform .3s .15s;
    }
  }

}