@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.search-results {
  $b: &;
  $wrapperHeight: calc(100% - 76px - 33px - 60px);

  @include size(100%, $wrapperHeight);
  margin: 30px 0;
  overflow-y: scroll;
  padding: 0 60px;
  padding-bottom: 150px;
  position: relative;

  & > .sw-card-list:not(:first-child) {
    margin: 30px 0;
  }

  &__empty-state {
    @include size();
    @include flex();
    color: $deepBlue-80;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .5px;
  }

  &__no-results {
    @include size();
    @include flex(center, center, column);

    &__text {
      color: $deepBlue-60;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      transform: translateY(-200%);
    }

    $gb: #F2EEE8;
    $wh: #FFFFFF;
    $dark: #383A41;
    $red: #EB6D6D;
    $blue: #5E7FDC;

    .face {
      @include size(300px);
      background-color: $wh;
      border-radius: 10px;
      border: 4px solid $dark;
      margin: 0 auto;
      transform: scale(.5);

      &__band {
        @include size(350px, 27px);
        border: 4px solid $dark;
        border-radius: 5px;
        margin-left: -25px;
        margin-top: 50px;
        position: relative;

        &--red {
          height: calc(100% / 3);
          width: 100%;
          background-color: $red;
        }

        &--white {
          height: calc(100% / 3);
          width: 100%;
          background-color: $wh;
        }

        &--blue {
          height: calc(100% / 3);
          width: 100%;
          background-color: $blue;
        }

        &:before {
          content: "";
          display: inline-block;
          height: 27px;
          width: 30px;
          background-color: rgba($wh,0.3);
          position: absolute;
          z-index: 999;
        }

        &:after {
          content: "";
          display: inline-block;
          height: 24px;
          width: 30px;
          background-color: rgba($dark,0.3);
          position: absolute;
          z-index: 999;
          right: 0;
          margin-top: -23px;
        }
      }

      &__eyes {
        width: 128px;
        margin: 0 auto;
        margin-top: 60px;
        @include flex(center, center);

        &:before {
          content: "";
          display: inline-block;
          width: 30px;
          height: 15px;
          border: 7px solid $dark;
          margin-right: 20px;
          border-top-left-radius: 22px;
          border-top-right-radius: 22px;
          border-bottom: 0;
        }

        &:after {
          content: "";
          display: inline-block;
          width: 30px;
          height: 15px;
          border: 7px solid $dark;
          margin-left: 20px;
          border-top-left-radius: 22px;
          border-top-right-radius: 22px;
          border-bottom: 0;
        }
      }

      &__dimples {
        width: 180px;
        margin: 0 auto;
        margin-top: 15px;

        &:before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 80px;
          border-radius: 50%;
          background-color: rgba($red,0.4);
        }

        &:after {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-left: 80px;
          border-radius: 50%;
          background-color: rgba($red,0.4);
        }
      }

      &__mouth {
        width: 40px;
        height: 5px;
        border-radius: 5px;
        background-color: $dark;
        margin: 0 auto;
        margin-top: 25px;
      }
    }
  }
}
