@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

@include b(tab-bar) {
  @include size(100%, auto);
  @include flex();
  padding-left: 21px;

  @include e(tab) {
    @include size(100%, 50px);
    @include flex();
    color: $deepBlue-30;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .1s;

    &:not(:first-child) {
      padding-left: 15px;
    }

    &:hover {
      color: darken($deepBlue-40, 5%);
    }

    i {
      margin-right: 9px;
    }

    @include m(active) {
      color: $blue-100;
      transition: .1s;

      &:hover {
        color: $blue-120;
      }
    }
  }
}
