@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.info-tab {
  @include size(264px, 100%);
  @include heightSpecifications(initial, 500px);
  background-color: $deepBlue-100; //rgba($deepBlue-100, 0.96);
  border-radius: 6px;
  overflow-y: auto;
  padding: 30px 12px;
  padding-top: 21px;
}

// ======================================================
// Elements
// ======================================================

.info-tab {
  $b: &;

  &__actions {
    @include size(100%, auto);
  }

  &__action {
    $flexIgnoreList: '#{$b}__action-icon';

    @include size(100%, 43px);
    @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
    border-bottom: 1px solid $deepBlue-80;
    transition: .2s ease;
  }

  &__action-icon-wrapper {
    @include size(24px);
    margin: 0 3px;

    &:empty {
      @include size(0px);
    }
  }

  &__action-icon {
    @include size(24px);
    @include svg-color($blue-100);

    &#{&}--danger {
      @include svg-color($red-80)
    }

    &#{&}--danger {
      @include svg-color($green-color)
    }
  }

  &__action-title {
    @include size(100%, auto);
    @include font(12px, white, 18px, 500)
  }

  &__info {
    @include size(100%, auto);
    border-bottom: 1px solid $deepBlue-80;
    padding-bottom: 18px;
    padding-top: 6px;
    margin-bottom: 12px;
  }

  &__info-row {
    @include size(100%, auto);
    padding-top: 12px;

    &:hover {

      #{$b}__info-action {
        opacity: 1;
        transition: .15s ease;
      }
    }
  }

  &__info-title-wrapper {
    @include size(100%, auto);
    @include flexContainer('row', left, center);
  }

  &__info-title {
    @include font(10px, white, 18px, 600);
    text-transform: uppercase;
  }

  &__info-action {
    @include font(10px, $blue-100, 18px, 600);
    margin-left: 6px;
    opacity: 0;
    transition: .15s ease;

    &:hover {
      text-decoration: underline;
    }
  }

  &__info-svg {
    @include size(18px)
    @include svg-color($deepBlue-50);
    margin-top: -3px;
    margin-right: 6px;
  }

  &__info-text {
    @include font(12px, $deepBlue-50, 18px, 500);
    @include flexContainer('row', left, center);
    margin-top: 3px;
  }

  &__about {
    @include size(100%, auto);
  }

  &__about-header {
    @include size(100%, auto);
    @include flexContainer('row', left, center);
    padding-bottom: 6px;
  }

  &__about-title {
    @include font(15px, white, 24px, 500);
    padding-left: 6px;
  }

  &__about-icon {
    @include size(24px);
    @include svg-color(white);
  }

  &__about-text {
    @include font(12px, $deepBlue-60, 18px, 500)
  }
}

// ======================================================
// Hovers
// ======================================================

.info-tab {

  &__action {

    &:hover {
      background-color: $deepBlue-80;
      transition: .2s ease;
    }
  }
}
