@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.profile {
  @include size(100%, auto);
  @include flexContainer('row', center, top);
  padding-top: 99px;
}

.profile-header {
  $b: &;
  $flexIgnoreList: '#{$b}__profile-image';

  @include size(100%, auto);
  @include flexContainer('row', left, stretch, $selectorsToIgnoreFlex: $flexIgnoreList);
  margin-bottom: calc(81px - 33px);
}

.profile-form {
  @include size(100%, auto);
}

// ======================================================
// Elements
// ======================================================

// Loader

.spinner {
	@include size(25px);
	@include svg-color($blue-100);
	animation: rotateSpinner 2s linear infinite;

	&__path {
		stroke-linecap: round;
    animation: dashSpinner 1.5s ease infinite;
    stroke-width: 4;
	}
}

// wrappers

.profile {
  $b: &;

  &__wrapper {
    @include size(432px, auto);
    z-index: 2;
  }

  &__edit-button {
    @include size(calc((100% - 432px) / 2), auto);
    @include flexContainer('row', right, top);
    @include font(12px, $deepBlue-30, 18px, 500);
    position: absolute;
    right: 0;
    padding-right: 60px;
  }

  &__error-icon {
    @include size(36px);
    @include flexContainer('row', center, center);
    border: 2px solid $red-100;
    border-radius: 50%;
    animation: fadeLableOut .5s ease reverse forwards;

    &:after {
      @include font(12px, white, 16px);
      content: attr(data-error);
      position: absolute;
      top: -14px; left: 50%;
      background-color: $red-100;
      transform: translateX(-50%) translateY(-100%);
      padding: 6px 9px;
      border-radius: 3px;
      white-space: nowrap;
      animation: fadeLableOut .5s 3s ease forwards;
    }

    &:before {
      @include size(12px);
      content: '';
      position: absolute;
      top: -22px; left: 50%;
      transform: translateX(-50%) rotate(45deg);
      background-color: $red-100;
      animation: fadeLableOut .5s 3s ease forwards;
    }

    #{$b}__svg {
      @include size(24px);
      @include svg-color($red-100);
    }
  }

  &__success-icon {
    @include size(36px);
    @include flexContainer('row', center, center);
    animation: fadeLableOut .5s ease reverse forwards;

    #{$b}__svg {
      @include size(24px);
      @include svg-color($green-color);
    }
  }
}

// header
.profile-header {

  &__profile-image {
    @include size(72px);
    @include flexContainer('row', center, center);
    background-color: $deepBlue-5;
    border-radius: 50%;
    margin-right: 30px;
    overflow: hidden;

    img {
      @include size(72px);
      border-radius: 50%;
    }
  }

  &__form {
    @include size(100%);
    @include flexContainer('column');
    padding-left: 15px;
  }

  &__row {
    // background-color: red;
  }

  &__loader {
    @include size(36px);
    @include flexContainer('row', center, center);
    position: absolute;
    right: -36px; top: 0px;
  }

  &__input {
    @include size(100%, 36px);
    @include font(27px, $deepBlue-100, 36px, 800);

    &::-webkit-input-placeholder {
      @include font(27px, $deepBlue-30, 36px, 800);
    }
  }
}

// Form

.profile-form {
  $b: &;

  &__row {
    $flexIgnoreList: '#{$b}__title';

    @include size(100%, auto);
    @include flexContainer('row', left, top, $selectorsToIgnoreFlex: $flexIgnoreList);
    padding-top: 33px;
  }

  &__loader {
    @include size(36px);
    @include flexContainer('row', center, center);
    position: absolute;
    right: -42px; top: 33px;
  }

  &__title {
    @include size(102px, 36px);
    @include flexContainer('row', right, center);
    @include font(11px, $deepBlue-100, 18px, bold);
    padding-right: 30px;
  }

  &__input {
    @include size(100%, 36px);
    @include font(12px, $deepBlue-100, 18px);
    background-color: $deepBlue-5;
    border-radius: 3px;
    padding: 0 15px;
    transition: .2s ease;

    &::-webkit-input-placeholder {
      @include font(12px, $deepBlue-30, 18);
    }

    &:disabled {
      background-color: transparent;
      transition: .2s ease;
    }
  }

  &__textarea {
    @include size(100%, auto);
    @include font(12px, $deepBlue-100, 18px);
    box-sizing: content-box;
    background-color: $deepBlue-5;
    border-radius: 3px;
    padding: 9px 15px;
    padding-bottom: 33px;
    resize: none;
    cursor: text;
    transition: .2s ease;

    &::-webkit-input-placeholder {
      @include font(12px, $deepBlue-30, 18);
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: transparent;
      transition: .2s ease;
    }
  }

  &__counter {
    position: absolute;
    right: 15px; bottom: 9px;
    @include font(11px, $deepBlue-30, 18px, bold);
    transition: .2s ease;
  }
}

// ======================================================
// Modifiers
// ======================================================

.profile-form {

  &__counter {

    &--limit {
      @include font($c: $red-100);
    }
  }
}

.profile {

  &:not(#{&}--editing) {
    .profile-form__counter {
      opacity: 0;
      transition: .2s ease;
    }
  }

  &--editing {
    .profile-form__input {

      &:disabled {
        background-color: $deepBlue-5;
      }
    }

    .profile-header__svg {
      @include size(24px);
      @include svg-color($deepBlue-80);
    }

    .profile-header__upload-overlay {
      @include size(100%);
      @include flexContainer('row', center, center);
      border-radius: 50%;
      background-color: rgba($deepBlue-100, .6);
      position: absolute;
      left: 0; top: 0;

      .profile-header__svg {
        @include size(24px);
        @include svg-color(white);
      }
    }
  }
}

// ======================================================
// Hover
// ======================================================

.profile {

  &__edit-button span:hover {
    @include font($c: $blue-100);
  }

  &__error-icon:hover {
    &:after, &:before {
      animation: fadeLableOut 1s ease reverse forwards;
    }
  }
}


// ======================================================
// Animations
// ======================================================

@keyframes rotateSpinner {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dashSpinner {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes fadeLableOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
