.setup{
	max-width: 600px;
	margin: 0 auto;
	.column-pickers{
		height:200px;
	}
	.project-picker{
		height: 100px;
	}
	.button-picker{
		height:100px;
	}
}
.task-list-container{
    .task-list{
        max-width: 400px;
        margin: 10px auto;
    }
   
}
.list-item-container{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
}
.item-container{
    .task-item{
        
    }
}
@import "select";