@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.dashboard {
  @include size(100%, auto);
  @include flexContainer('column');
}

.notifications {

}

.notifications-empty-state {
  @include size(100%, auto);
  @include heightSpecifications(236px, initial);
  @include flexContainer('column', center, center);
}

// ======================================================
// Elements
// ======================================================

.dashboard {

  &__notifications {
    @include size(100%, auto);
    @include flexContainer('column');
    padding-bottom: 120px;
  }
}

.notifications {

  &__header {
    @include size(100%, 50px);
    @include flex(center, flex-start);
    @include flex(none);
    @include font(12px, $deepBlue-80, 15px, bold);
    border-top: 1px solid $deepBlue-20;
    color: $deepBlue-60;
  }
}


.notifications-empty-state {

  &__title {
    @include font(27px, $deepBlue-80, 35px);
  }

  &__message {
    @include size(100%, auto);
    @include widthSpecifications(initial, 450px);
    @include font(15px, $deepBlue-80, 24px);
    text-align: center;
    margin-top: 12px;
  }
}
