@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Blocks
// ======================================================

.notification {
  $b: &;
  $flexIgnoreList: #{$b}__icon, #{$b}__timestamp;

  @include size(100%, auto);
  @include heightSpecifications(66px, initial);
  @include flexContainer('row', $selectorsToIgnoreFlex: $flexIgnoreList);
  padding: 18px 9px;
  border-top: 1px solid $deepBlue-5;
}

.notif-attachment {
  $b: &;
  $flexIgnoreList: #{$b}__icon;

  @include size(100%, 24px);
  @include flexContainer('row', left, center, $flexIgnoreList);
}

// ======================================================
// Elements
// ======================================================

// Icon
.notification {

  &__icon {
    @include size(30px);
    @include flexContainer('row', center, center);
    background-color: $blue-100;
    border-radius: 50%;
  }

  &__svg {
    @include size(24px);
    @include svg-color($bg);
  }
}

// Content

.notification {

  &__content {
    @include size(100%, auto);
    padding-left: 21px;
    margin-top: -2px;
  }

  &__subtitle {
    @include size(100%, auto);
    @include font(12px, $deepBlue-30, 15px, 500);
  }

  &__title {
    @include size(100%, auto);
    @include font(15px, $deepBlue-90, 21px);
  }

  &__message {
    @include size(100%, auto);
    @include font(12px, $deepBlue-50, 18px, 500);
    font-style: italic;
    margin-top: 6px;
  }

  &__attachments {
    @include size(100%, auto);
    margin-top: 6px;
  }
}

// Timestamp

.notification {

  &__timeago {
    @include size(auto);
    @include font(12px, $deepBlue-30, 18px, 500);
    white-space: nowrap;
  }
}

// Attachment

.notif-attachment {

  &__icon {
    @include size(24px);
  }

  &__svg {
    @include size(24px);
    @include svg-color($blue-100);
    transition: .15s ease;
  }

  &__title {
    @include size(100%, auto);
    @include font(12px, $blue-100, 18px, 500);
    padding-left: 6px;
    transition: .15s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// ======================================================
// Modifiers
// ======================================================

.notification {
  $b: &;

  &--seen {
    #{$b}__icon {
      background-color: $deepBlue-30;
    }
  }
}

// ======================================================
// Hover
// ======================================================

.notification {
  &__title {
    &:hover {
      @include font($c: $blue-100);
    }
  }
}

.notif-attachment {
  $b: &;

  &:hover {
    #{$b}__title {
      text-decoration: underline;
    }
  }
}
