h1 {
	font-size: 66px;
}

h2 {
	font-size: 56px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 34px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

p {
	font-size: 15px;
}

.italic {
	font-style: italic;
}

.fw-100 {
	font-weight: 100;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-700 {
	font-weight: 700;
}

.fw-900 {
	font-weight: 900;
}


blockquote {
	width: 100%;
	min-height: 50px;
	padding: 20px 0;
	background-color: $studioGray-20;
	display: flex;
	align-items: center;
	padding-left: 30px;
	position: relative;
	
	&:before {
		content: "";
		height: 100%;
		width: 10px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: $studioGray-100;
	}
}