@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Blocks
// ======================================================

.notification {
  @include size(100%, auto);
  border-bottom: 1px solid $deepBlue-10;
  padding: 12px 9px;
  padding-bottom: 21px;
  overflow: hidden;
}

.notif-attachment {
  $b: &;
  $flexIgnoreList: '#{$b}__icon';
  @include size(200px, auto);
  @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
}


// ======================================================
// Elements
// ======================================================

.notification {
  $b: &;
  &__section {
    $flexIgnoreList: '#{$b}__icon-wrapper', '#{$b}__reply', '#{$b}__attachments', '#{$b}__seen-by';

    @include size(100%, auto);
    @include flexContainer('row', left, stretch, $selectorsToIgnoreFlex: $flexIgnoreList);

    &:nth-child(2) {
      margin-top: 19px;
    }
  }

  &__icon-wrapper {
    @include flexContainer('row', center, center);
  }

  &__icon {
    @include size(30px);
    @include flexContainer('row', center, center);
    background-color: $deepBlue-60;
    border-radius: 3px;
  }

  &__svg {
    @include size(24px);
    @include svg-color(white);
  }

  &__title-wrap {
    @include size($width: 100%);
    padding: 0 12px;
  }

  &__title {
    @include font(12px, $deepBlue-60, 21px);
  }

  &__subtitle {
    @include font(12px, $deepBlue-40, 15px, 400);

    span {
    }
  }

  &__reply {
    @include font(12px, $blue-100, 18px, 500);
    visibility: hidden;

    &:hover {
      text-decoration: underline;
    }
  }

  &__seen-by {
    @include flexContainer('row', left, center);
  }

  &__seen-by-text {
    @include font(12px, $deepBlue-30, 24px, 500);
    margin-right: 3px;
  }

  &__seen-by-icon {
    @include size(24px);
    @include svg-color($deepBlue-30);
  }

  &__message {
    @include size(100%, auto);
    @include font(15px, $deepBlue-60, 21px);
    padding-right: 21px;
    padding-left: 42px;

    &:before {
      content: '';
      position: absolute;
      left: 42px; top: -9px;
      @include size(calc(100% - 42px - 21px), 1px);
      background-color: $deepBlue-5;
    }
  }

  &__link {
    color: $blue-100;
    word-break: break-all;
    cursor: pointer;

    &:hover {
      cursor: pointer !important;
      text-decoration: underline;
    }
  }

  &__attachments {
    @include size(200px, auto);

    &:before {
      content: '';
      position: absolute;
      left: 0; top: -9px;
      @include size(100%, 1px);
      background-color: $deepBlue-5;
    }

    &:empty {
      &:before {
        content: '';
        position: absolute;
        left: 0; top: -9px;
        @include size(100%, 0px);
        background-color: $deepBlue-5;
        opacity: 0;
      }
    }
  }
}

.notif-attachment {
  $b: &;
  &__icon {
    @include size(24px);
  }

  &__svg {
    @include size(24px);
    @include svg-color($deepBlue-50);
    transition: .2s ease;
  }

  &__title {
    @include size(100%, auto);
    @include font(12px, $deepBlue-80, 24px, 500);
    @include truncateString();
    padding-left: 6px;
    transition: .2s ease;
  }

  &:hover {
    #{$b}__svg {
      @include svg-color($blue-100);
      transition: .2s ease;
    }
    #{$b}__title {
      @include font($c: $blue-100);
      text-decoration: underline;
      transition: .2s ease;
    }
  }
}

// ======================================================
// Targeting
// ======================================================

.notification {
  $b: &;

  &__section:first-child:empty {
    display: none;

    & + #{$b}__section {

      #{$b}__message {
        &:before {
          @include size(0px);
          opacity: 0;
        }
      }

      #{$b}__attachments {
        &:before {
          @include size(0px);
          opacity: 0;
        }
      }
    }
  }
}

// ======================================================
// Modifiers
// ======================================================

.notification {
  $b: &;

  &--unseen {

    #{$b}__icon {
      background-color: $blue-100;
    }
  }

  &__reply {

    &--replied {
      @include font($c: $deepBlue-30, $fw: 400);

      &:hover {
        text-decoration: none;
      }
    }
  }

  &--no-border {
    border: none;
  }

  &--small {
    #{$b}__title-wrap {
      padding-left: 0;
    }

    #{$b}__message {
      padding-left: 0;
    }
  }

  &--narrow {

    #{$b}__message {
      padding-left: 0;

      &:before {
        @include size(0px);
        opacity: 0;
      }
    }

    #{$b}__section:last-child {
      @include flexContainer('column');
    }

    #{$b}__attachments {
      margin-top: 9px;

      &:before {
        @include size(0px);
        opacity: 0;
      }
    }
  }

  &--pinned {
    background-color: $blue-5;
  }
}

// ======================================================
// Hovers
// ======================================================

.notification {
  $b: &;

  &:hover {
    #{$b}__reply {
      visibility: visible;
    }
  }

  &__subtitle span:hover {
    @include font($c: $blue-100);
  }
}
