@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

.compatible-back-button {
  position: absolute;
  left: -38px - 8px; top: 35px;
  vertical-align: middle; 
  display: inline-block;

  &__svg {
    @include size(38px);
    @include svg-color($deepBlue-50);
    background-color: $deepBlue-5;
    float: left;
    padding: 6px;
    border-radius: 50%;
    transition: .15s ease;
    -ms-transition: .15s ease;
  }

  &:hover &__svg {
    @include svg-color($blue-100);
    transition: .15s ease;
    -ms-transition: .15s ease;
  }
}

@media (max-width: 600px) {
  .compatible-back-button {
    display: none;
  }
}
