@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.handoff-write-message {
  @include size(100%, auto);
  @include flexContainer();
  margin-top: 21px;
  margin-bottom: 60px;

  &__image {
    padding-right: 15px;

    img {
      @include size(24px);
      border-radius: 50%;
    }
  }

  &__textarea {
    @include size(100%, auto);
    @include font(15px, $deepBlue-80, 24px);
    padding: 9px 0;
    max-width: 510px;
    resize: none;
    box-sizing: content-box;
    border-bottom: 1px solid $deepBlue-6;
    margin-top: -9px;

    &::-webkit-input-placeholder {
      @include font(15px, $deepBlue-40, 24px);
    }

    &:focus {
      outline: none;
    }
  }
}
