@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.handoff-write-message {
  @include size(100%, auto);
  @include flex(flex);
  margin-top: 50px;

  &__image {
    padding-right: 15px;

    img {
      @include size(24px);
      border-radius: 50%;
    }
  }

  &__textarea {
    @include size(100%, auto);
    @include font(15px, $deepBlue-80, 24px);
    max-width: 510px;
    resize: none;

    &::-webkit-input-placeholder {
      @include font(15px, $deepBlue-50, 24px);
      font-style: italic;
    }

    &:focus {
      outline: none;
    }
  }
}
