@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.goal-handoff {
  @include size(100%, auto);
  @include heightSpecifications(100%, initial);
}

.goal-step__attachment {
  padding-top: 51px;
}

// ======================================================
// Elements
// ======================================================

.goal-handoff {
  $b: &;

  &__header {
    $flexIgnoreList: '#{$b}__assignees';

    @include size(100%, 105px);
    @include flexContainer('row', left, top, $flexIgnoreList);
    padding-top: 21px;
  }

  &__content {
    @include size(100%, auto);
  }

  &__title {
    @include size(100%, auto);
    @include font(30px, $deepBlue-100, 39px);
    @include truncateString();
  }

  &__subtitle {
    @include font(12px, $deepBlue-40, 18px, 500);

    span {
      @include font(12px, $deepBlue-40, 18px, 500);
      padding-left: 2px;
    }

    // b {
    //   @include font($c: $blue-100);
    //
    //   &:hover {
    //     text-decoration: underline;
    //   }
    // }
  }

  &__assignees {
    @include size(auto, 39px);
    @include flexContainer('row', left, center);
  }

  &__action-bar {
    @include size(100%, 60px);
    @include flexContainer('row', left, center);
    animation: showActionBar .4s .3s ease forwards;
    background-color: $bg;
    border-top: 1px solid $deepBlue-10;
    padding: 0 30px;
    transform: translateY(100%);
  }
}

// ======================================================
// Animations
// ======================================================

@keyframes showActionBar {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0px);
  }
}
