@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.handoff-header {
  $b: &;
  @include size(100%, auto);
  @include flex(flex);

  &__section {
    @include size(50%, auto);
    padding: 30px 0;
    position: relative;

    &--left {
      @include size(50%, auto);
      padding-right: 21px;

      #{$b}__title {
        margin-right: 6px;
      }
    }

    &--right {
      padding-left: 27px;
      opacity: 0;
      transform: translateX(-10px);
      transition: .3s ease;

      #{$b}__title {

        &:hover {
          @include font($c: $blue-100);
        }
      }
    }

    &--complete {
      #{$b}__title {
        padding-left: 21px;
      }
    }

    &--active-left {

      #{$b}__assignees {
        opacity: 0;
        transform: translateY(-10px);
        transition: .4s ease;
      }
    }

    &--active-right {
      opacity: 1;
      transform: translateX(0);
      transition: .3s .3s ease;
    }
  }

  &__seperator {
    @include size(24px, 100%);
    position: absolute;
    right: 0; top: 0;

    #{$b}__svg {
      @include size(24px);
      @include svg-color($deepBlue-60);
      margin-top: 30px;
    }
  }

  &__top {
    @include size(100%, auto);
    @include flex(flex-start, space-between);
  }

  &__title {
    @include size(100%, auto);
    @include font(18px, $deepBlue-100, 24px);
    max-width: 450px;
    padding-right: 3px;

    &:not(:first-line) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__button {
    @include font(12px, $blue-100, 24px, 500);
    @include flex(none);
    padding: 0 25px;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  &__assignees {
    margin-top: -3px;
    position: relative;
    z-index: 9;
    transition: .4s ease;
  }

  &__subtitle {
    @include font(12px, $deepBlue-40, 15px, 500);
    margin-top: 12px;
  }

  &__icon {
    @include size(36px);
    @include flex();
    @include flex(none);
    border-radius: 50%;
    background-color: $green-color;
    transform: translateY(-6px);
  }

  &__svg {
    @include size(24px);
    @include svg-color($bg);
  }
}
