@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.preview-modal {
  @include size(100%, calc(100% - 38px));
  @include flex(column);
  position: fixed;
  left: 0; top: 38px;
  z-index: 9000;
  background-color: rgba($deepBlue-100, .9);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;


  .header {
    @include size(100%, calc(36px * 2));
    @include flex(center, flex-end); // change to space-between when title comes
    @include flex(none);
    position: relative;

    &__actions {
      @include size(auto, 36px);
      margin-right: 18px;
    }

    &__btn {

      &--close {
        background-color: transparent;
        border-color: $deepBlue-60;
      }
    }
  }

  &__loader {
    @include size(150px);
    @include flex();
    border-radius: 50%;
    background-color: $bg;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }

  &--shown {
    opacity: 1;
    pointer-events: all;
    transition: opacity .3s ease;
  }

  &__card {
    max-width: 90vh;
    max-height: 90vh;
    @include flex();
    position: relative;
    background-color: $bg;
    border-radius: 3px;
    border: 1px solid #E6E7EB;
    box-shadow: 0 1px 2px 0 rgba(0,12,46,0.15);
    overflow: auto;
  }

  &__file {
    // width: 100%;
    max-height: 100%;
    overflow-y: auto;
    @include flex(flex-start, center);
  }
}
