.setup{
	width: 100%;
	box-sizing: border-box;
	padding: 1% 2%;
	position: relative;
}
.task-list-container{
    .task-list{
        max-width: 600px;
        margin: 10px auto;
    }

}
.card-container {
	margin-top:10px;
	margin-bottom:10px;
	width: '100%';
	height: 72px;
	padding: 16px;
	display: 'inline-block';
	position: relative;

	:hover .menu-container {
		opacity: 1;
	}
}
.open-sprint-button{
	margin-top: 20px;
}

.title-container {
	width: 68%;
	display: inline-block;
	vertical-align: top;
	font-weight: 500;
	margin-right: 16px;
}

.title {
	color: rgba(0, 0, 0, 0.87);
	display: block;
	font-size: 15px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.subtitle {
	color: rgba(0, 0, 0, 0.54);
	display: block;
	font-size: 14px;
}

.avatar-image {
	margin-right: 16px;
}

.menu-container {
	transition: all 0.5s ease;
	position: absolute;
	top: 10px;
	right: 16px;
	opacity: 0;
}

@import "select";
@import "icons";
