@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.create-post {
  @include size(100%, auto);
  @include heightSpecifications(100%, initial);
}

.create-post-footer {
  @include size(100%, 73px);
  border-top: 1px solid $deepBlue-5;
  padding: 0 30px;
}

.create-post__attachments {
  @include size(100%, auto);
  @include flexContainer('row') {
    flex-wrap: wrap;
  };
  padding-left: 63px;
  padding-top: 15px;
}

// ======================================================
// Elements
// ======================================================

.create-post {
  &__context {
    @include size(100%, auto);
    @include flexContainer('row', left, center);
    @include font(12px, $deepBlue-40, 18px, 500);
  }

  &__svg {
    @include size(12px);
    @include svg-color($deepBlue-40);
    margin-right: 6px;
  }

  &__actions {
    @include size(100%, auto);
    @include flexContainer('row', right, center);
    border-top: 1px solid $deepBlue-5;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 21px;

    & [type=file] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__action {
    @include size(auto, 36px);
    @include flexContainer('row', center, center);
    padding: 0 15px;
    border: none;
    border-radius: 18px;
    transition: .2s ease;
  }

  &__action-icon {
    @include size(24px);
    @include svg-color($deepBlue-50);
    margin-right: 6px;
    transition: .2s ease;
  }

  &__action-label {
    @include font(12px, $deepBlue-50, 18px, 500);
    transition: .2s ease;
  }

  &__button {
    margin-left: 12px;
  }
}

.create-post__attachments {

  .post-attachment {
    $b: &;
    $flexIgnoreList: '#{$b}__type-icon', '#{$b}__delete-icon';

    @include size(180px, 36px);
    @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
    border: 1px solid $deepBlue-10;
    border-radius: 3px;
    padding: 0 9px;
    margin-right: 6px;
    transition: .2s ease;

    &__label {
      @include size(100%, auto);
      @include font(12px, $deepBlue-80, 24px, 500);
      @include truncateString();
      padding: 0 6px;
      transition: .2s ease;
    }

    &__svg {
      @include size(24px)
    }

    &__type-icon {
      @include size(24px);

      .post-attachment__svg {
        @include svg-color($deepBlue-50);
        transition: .2s ease;
      }
    }

    &__delete-icon {
      @include size(24px);
      transition: .2s ease;

      .post-attachment__svg {
        @include svg-color($deepBlue-80);
        opacity: 0;
        transition: .2s ease;
      }
    }

    &:hover {
      background-color: $blue-5;
      transition: .2s ease;

      .post-attachment__type-icon {
        .post-attachment__svg {
          @include svg-color($blue-100);
          transition: .2s ease;
        }
      }

      .post-attachment__delete-icon {
        .post-attachment__svg {
          opacity: 1;
          transition: .2s ease;
        }

        &:hover {
          background-color: $deepBlue-10;
          transition: .2s ease;
        }
      }

      .post-attachment__label {
        @include font($c: $blue-100);
        transition: .2s ease;
      }
    }
  }
}

.create-post-footer {

  &__action {
    @include size(100%, 72px);
    @include flexContainer('row', right, center);
  }
}

// ======================================================
// event target
// ======================================================

.create-post {
  $b: &;

  &__action:hover {
    background-color: $blue-5;
    transition: .2s ease;

    #{$b}__action-icon {
      @include svg-color($deepBlue-80);
      transition: .2s ease;
    }

    #{$b}__action-label {
      @include font($c: $deepBlue-80);
      transition: .2s ease;
    }
  }

  &__action:focus {
    outline: none;
  }

  &__action:active {
    transform: scale(.93);
    transition: .2s ease;
  }
}

// ======================================================
// selectors
// ======================================================

.create-post {
  $b: &;

  &__action {

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}
