@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.post-composer {
  @include size(100%, auto);
  padding-top: 24px;
}

// ======================================================
// Elements
// ======================================================

.post-composer {
  $b: &;

  &__text-wrapper {
    $flexIgnoreList: '#{$b}__profile-pic' '#{$b}__profile-initials';

    @include size(100%, auto);
    @include flexContainer('row', left, top, $selectorsToIgnoreFlex: $flexIgnoreList);
  }

  &__profile-pic {
    @include size(48px);
    border-radius: 3px;

    img {
      @include size(48px);
      border-radius: 3px;
    }
  }

  &__profile-initials {
    @include size(48px);
    @include flexContainer('row', center, center);
    background-color: $deepBlue-10;
    border-radius: 3px;
  }

  &__textarea {
    @include font(15px, $deepBlue-100, 21px);
    padding-left: 21px;
    resize: none;
    width: 100%;

    &::-webkit-input-placeholder {
      @include font(15px, $deepBlue-50, 21px);
    }

    &:focus {
      outline: none;
    }
  }

  &__subtitle {
    @include size(100%, auto);
    padding-left: 69px;
    margin-top: 9px;
  }

  &__styled-text {
    @include font(12px, $deepBlue-50, 18px, 500);
  }

  &__styled-button {
    @include font(12px, $blue-100, 18px, 500);

    &--people {


      &:after {
        content: '';
        position: absolute;
        left: 0; top: 9px;
        @include size(0%, 1px);
        background-color: $blue-100;
        transition: .2s ease;
      }

      &:hover {
        &:after {
          @include size(100%, 1px);
          transition: .2s ease;
        }
      }
    }

    &--type {
      &:after {
        content: '';
        position: absolute;
        left: 0; bottom: -3px;
        @include size(100%, 3px);
        background-color: $blue-10;
        transition: .15s ease;
        z-index: -1;
      }

      &:hover {
        &:after {
          @include size(100%, 1px);
          background-color: $blue-100;
          transform: translateY(3px);
          transition: .15s ease;
        }
      }
    }
  }
}