.list-modal {
  background-color: white;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border-bottom: 1px solid #F4F4F5;

    img {
      width: 35px;
      height: 35px;
    }

    &__title {
      width: 100%;
      height: 70px;
      line-height: 70px;
      color: $deepBlue-60;
      font-size: 14px;
      padding-left: 5%;
      font-weight: 400;
    }

    &:hover {
      background-color: $studioGray-20;
    }
  }

  &__loader {
    height:100px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
