@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-note-field {
  @include size(100%);
  position: relative;

  &__editor-container {
    @include size(100%);
    margin: 0 auto;
    position: relative;
  }

  &__title {
    @include size(100%, auto);
    max-width: 600px;
    font-size: 33px;
    line-height: 1.27;
    color: $deepBlue-100;
    margin: 30px auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &__card {
    @include size(calc(100% - 50px), auto);
  }
}
