@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}


$font: Roboto;

//Font-Face Import

@include font-face($font, 'fonts/roboto-black-webfont', 900, normal);
@include font-face($font, 'fonts/roboto-blackitalic-webfont', 900, italic);
@include font-face($font, 'fonts/roboto-bold-webfont', 700, normal);
@include font-face($font, 'fonts/roboto-bolditalic-webfont', 700, italic);
@include font-face($font, 'fonts/roboto-medium-webfont', 500, normal);
@include font-face($font, 'fonts/roboto-mediumitalic-webfont', 500, italic);
@include font-face($font, 'fonts/roboto-regular-webfont', 400, normal);
@include font-face($font, 'fonts/roboto-italic-webfont', 400, italic);
@include font-face($font, 'fonts/roboto-light-webfont', 300, normal);
@include font-face($font, 'fonts/roboto-lightitalic-webfont', 300, italic);
@include font-face($font, 'fonts/roboto-thin-webfont', 100, normal);
@include font-face($font, 'fonts/roboto-thinitalic-webfont', 100, italic);