.lightbox {
  background-color: rgba($deepBlue-100, .8);
  //pointer-events: none;

  @extend %flex;
  flex-direction: column;

  h2.image-title {
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 0;
    letter-spacing: 0.02rem;
  }

  img.lightbox-image {
    max-height: 70%;
    max-width: 70%;
    border-radius: 5px;
    box-sizing: $swipes-shadow-five;
    transition: .2s;

    &.active {
      opacity: 1;
      transition: .2s;
    }

    &.inactive {
      opacity: 0;
      transition: .2s;
    }
  }

  .lightbox-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);

    &.active {
      display: block;
    }

    &.inactive {
      display: none;
    }
  }

  a.lightbox-button {
    color: white;
    background-color: $blue-100;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 15px;

    &:hover {
      background-color: $blue-120;
    }

    &:visited {
      color: white;
    }

    &:active {
      background-color: $matBlue;
    }
  }
}