@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.sw-filter {
  $b: &;
  @include font(27px, $deepBlue-90, 42px, 300);

  button#{$b}__selector {
    @include font(27px, $blue-100, 42px, 400);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0; bottom: 3px;
      @include size(100%, 6px);
      background-color: $blue-10;
      transition: .15s ease;
      z-index: -1;
    }

    &:hover, &:focus {

      &:before {
        @include size(100%, 2px);
        background-color: $blue-100;
        transform: translateY(3px);
        transition: .15s ease;
      }
    }
  }
}
