{
  "presets": [
    "es2015"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "src": "../server/src",
          "swipes-core-js": "../mobile/swipes-core-js"
        }
      }
    ],
    "transform-object-rest-spread",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"]
    }],
  ]
}
