@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

$navbarH: 49px;

// ======================================================
// Block
// ======================================================

.bread-crumbs {
  $b: &;
  @include size(100%, $navbarH);
  @include flexContainer();
  padding-top: 4px;
  border-bottom: 1px solid $deepBlue-20;
}

// ======================================================
// Elelements
// ======================================================

// Crumb

.bread-crumbs {
  $b: &;

  &__crumb {
    @include size(auto, 100%);
    @include flexContainer('row', left, center);
  }
}

// Misc

.bread-crumbs {
  $b: &;

  &__title {
    @include font(11px, $blue-100, 19px, 500);
    text-transform: uppercase;
    &.no-click{
      color: $deepBlue-100;
    }
    &:hover {
      text-decoration: underline;
    }
    &.no-click:hover{
      text-decoration: none;
    }
  }

  &__seperator {
    @include size(24px, $navbarH);
    @include flexContainer('row', center, center);
    margin: 0 3px;

    #{$b}__icon {
      @include svg-color($deepBlue-30);
    }
  }

  &__icon {
    @include size(24px);
  }
}

// ======================================================
// Modifiers
// ======================================================

.bread-crumbs {

  &--small:empty {
    @include size($height: 15px);
    border: none;
  }
}
