@import '../global-styles/vars';
@import '../global-styles/mixins';

$itemHeight: 24px;
$indicatorWidth: 5px;
$indicatorHeight: 0px;
$indicatorUnreadHeight: 1px;

$color: #d0d4d9;
$hoverColor: #a0a4a9;
$unreadColor: #F44336;

$activeColor: #1581e2;

$notificationHeight: 17px;
$expandedWidth: 250px;
$minWidth: 40px;

$returnDelay: .2s;
$pushDelay: .1s;

.swipes-sidemenu {
	@include size($expandedWidth, 100%);
	background-color: $bg;
	border-right: 1px solid #eee;
	left: 0; top: 0;
	overflow: hidden;
	position: absolute;
	transform: translateX( - ($expandedWidth -  $minWidth) );
	transition-delay: $returnDelay;
	transition: 0.1s ease-in;
	z-index: 999;

	@media screen and (max-width: 600px) {
		border-right: none;
		opacity: 0;
    z-index: 99;
  }

	&__relative-wrapper {
		@include size(100%, 100%);
		position: relative;
	}

	&__scroll-wrapper {
		width:100%;
		height:100%;
		overflow: hidden;
	}

	&__title {
		color: $deepBlue-80;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 2px;
		opacity: 0;
		padding: 10px 30px;
		text-transform: uppercase;
		transition-delay: $returnDelay;
		transition: .1s;

		&:not(:first-child) {
			margin-top: 24px;
		}
	}

	&__item {
		@include size(100%, $itemHeight);
		position: relative;

		&--icon & {

			&__title {
				padding-left: 60px;
			}
		}

		&__icon {
			@include size($itemHeight, $itemHeight);
			@include flex(center, center);
			left: 30px; top: 0;
			position: absolute;

			img {
				@include size();
			}

			svg {
				@include size(10px, 10px);
			}
		}

		&__indicator {
			@include size($indicatorWidth, $indicatorHeight);
			background: $color;
			left: $expandedWidth - $minWidth; top:50%;
			margin-top: - $indicatorUnreadHeight / 2;
			position: absolute;
			transition-delay: $returnDelay;

			&--even {
				animation: indicator-glow-even 1.5s 1;
			}

			&--odd {
				animation: indicator-glow 1.5s 1;
			}
		}

		&__notification {
			border-radius: $notificationHeight/2;
			border: 1px solid $hoverColor;
			color: $hoverColor;
			font-size: 9px;
			font-weight: 400;
			height: $notificationHeight;
			line-height: 15px;
			padding: 0 8px;
			position: absolute;
			right: 8px; top: ($itemHeight - $notificationHeight) / 2;
			text-align: center;

			&--even {
				animation: notification-glow-even 1.5s 1;
			}
			&--odd {
				animation: notification-glow 1.5s 1;
			}
		}

		&__title {
			color: $deepBlue-40;
			cursor: default;
			font-size: 13px;
			font-weight: 500;
			line-height: $itemHeight;
			opacity: 0;
			overflow: hidden;
			padding-left: 40px;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: $expandedWidth - $notificationHeight - 20px;
		}

		&:hover {
			background: darken($blue-5, 1%);

			.swipes-sidemenu__item__title {
				color: $deepBlue-80;
			}
		}

		&--unread & {
			&__title {
				font-weight: 700;
				color: $deepBlue-100;
			}

			&__indicator {
				@include size($indicatorWidth + 4px, $indicatorUnreadHeight);
				@include border-radius(0px, 1px, 0px, 1px);
				background: $hoverColor;
			}
		}
	}

	&:hover:not(&--force-close), &--pinned {
		transform: translateX(0) !important;
		transition-delay: 0.05s !important;
		transition: 0.1s ease-in !important;

		@media screen and (max-width: 600px) {
			opacity: 1 !important;
	    z-index: 999 !important;
			border-right: 1px solid #eee !important;
			border-right: none !important;
	  }
	}

	&:hover:not(&--force-close) &, &--pinned & {
		&__scroll-wrapper {
			overflow-y: auto;
		}

		&__title {
			opacity: 1;
		}

		&__item {
			&--active {
				background-color: $blue-10;

				.swipes-sidemenu__item__title {
					// color: $deepBlue-80;
					transition: color 0s 0s;
				}
			}

			&__indicator {
				opacity: 0;
			}

			&__title {
				opacity: 1;
			}

			&__notification {
				background-color: $salmon;
				border-color: $salmon;
				color: #fbfbfb;
			}
		}
	}
}

@keyframes indicator-glow {
	15%, 90% {
		background: $salmon;
	}
}

@keyframes indicator-glow-even {
	15%, 90% {
		background: $salmon;
	}
}

@keyframes notification-glow {
	15%, 90% {
		background: $salmon;
		border: 1px solid $salmon;
		color: white;
	}
}

@keyframes notification-glow-even {
	15%, 90% {
		background: $salmon;
		border: 1px solid $salmon;
		color: white;
	}
}
