.file-container {
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 7px;

  .image-container img {
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

.chat-attachment {
  max-width: 650px;

  .attachment-bar {
    background: #e3e4e6;
    width: 4px;
    display: table-cell;
    border-radius: 8px;
  }

  .attachment-content {
    display: table-cell;
    padding-left: 4px;

    .attachment-title {
      font-size: 16px;
      font-weight: 500;
    }

    .attachment-image img {
      max-width: 400px;
      border: 1px solid #e3e4e6;
    }
  }
}
