$inputHeight: 60px;
$inputButtonWidth: 50px;

.chat-input {
  @include size(100%, $inputHeight);
  max-width: 600px;
  background-color: #fbfbfb;
  border: 2px solid $deepBlue-10;
  border-bottom: none;
  @include border-radius(6px,6px,0,0);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  z-index: 99;
  box-shadow: 0px -1px 9px 1px rgba($deepBlue-100,0.10);
  overflow: hidden;
  transition: .3s;

  &.focused {
    transform: translateX(-50%) translateY(0px);
    transition: .3s;

    textarea, .send-button, .attach-icon {
      transform: translateY(0px);
    }

    .attach-icon {
      background-color: $blue-100;
      @include border-radius(6px,0,0,0);
      border: 2px solid $blue-100;
      border-bottom: none;
      border-right: none;
      box-sizing: content-box;
      margin-left: -2px;
      margin-top: 0px;

      .material-icons {
        color: white !important
      }

      &:hover {
        border: 2px solid $blue-80;
        background-color: $blue-80;
        border-bottom: none;
        border-right: none;

        .material-icons {
          color: white !important;
        }
      }
    }
  }

  &.active {
    z-index: 1000;
  }

  .file-input {
    display: none;
  }

  .send-button, .attach-icon {
    @include size($inputButtonWidth, 100%);
    position: absolute;
    top: 0;
    cursor: default;
    @include flex(center, center);
    // opacity: 0;
    transform: translateY(-8px);
    transition: .1s, transform .3s;

    .material-icons {
      font-size: 20px !important;
      color: $deepBlue-20 !important;
    }

    &:hover .material-icons {
      color: $deepBlue-60 !important;
    }
  }

  .attach-icon {
    left: 0;
    border-right: 2px solid $deepBlue-10;
    background-color: $deepBlue-5;
  }

  .send-button {
    right: 0;
  }

  textarea {
    width: calc(100% - 2 * #{$inputButtonWidth});
    resize: none;
    outline: none;
    min-height: 100%;
    margin-left: $inputButtonWidth;
    font-size: 13px;
    padding: 22px 5px;
    padding-left: 15px;
    font-weight: 500;
    color: $deepBlue-60;
    line-height: 15px;
    transition: .3s ease-in-out;
    transform: translateY(-8px);

    &::-webkit-input-placeholder {
       color: $deepBlue-40;
       font-weight: 400;
    }
  }
}
