$inputHeight: 50px;
$inputButtonWidth: 50px;

.chat-input {
  @include size(100%, $inputHeight);
  max-width: 600px;
  background-color: $bg;
  border: 1px solid $deepBlue-10;
  // border-bottom: none;
  @include border-radius(6px,6px,6px,6px);
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  // box-shadow: 0px -1px 9px 1px rgba($deepBlue-100,0.10);
  // box-shadow: $swipes-shadow-one;
  @media screen and (max-width: 600px) {
    bottom: 0;
    border-radius: 0px;
  }

  &.responsive {
    bottom: 0;
    border-radius: 0px;
  }

  &.focused {
    .send-button {
      background-color: $blue-100;
      @include border-radius(0,6px,0,6px);
      border: 1px solid $blue-100;
      box-sizing: border-box;
      margin-left: -1px;
      margin-top: 0px;

      .material-icons {
        color: white !important
      }

      &:hover {
        border: 1px solid $blue-80;
        background-color: $blue-80;

        .material-icons {
          color: white !important;
        }
      }
    }
  }

  &.active {
    z-index: 1000;
  }

  .file-input {
    display: none;
  }

  .send-button, .attach-icon {
    @include size($inputButtonWidth, 100%);
    position: absolute;
    top: 0;
    cursor: default;
    @include flex(center, center);

    .material-icons {
      font-size: 20px !important;
      color: $deepBlue-20 !important;
    }

    &:hover .material-icons {
      color: $deepBlue-60 !important;
    }
  }

  .attach-icon {
    left: 0;
    border-right: 1px solid $deepBlue-10;
    @include border-radius(6px,0,6px,0);
  }

  .send-button {
    right: 0;
    border-left: 1px solid $deepBlue-10;
    background-color: $deepBlue-5;
    @include border-radius(0,6px,0,6px);
  }

  textarea {
    $lineHeight: 15px;
    width: calc(100% - 2 * #{$inputButtonWidth});
    resize: none;
    outline: none;

    margin-left: $inputButtonWidth;
    min-height: $inputHeight;
    font-size: 13px;
    padding: (($inputHeight - $lineHeight) / 2 ) 5px;
    padding-left: 15px;
    font-weight: 500;
    color: $deepBlue-60;
    line-height: $lineHeight;

    transition: .1s ease-in-out;

    &::-webkit-input-placeholder {
       color: $deepBlue-40;
       font-weight: 400;
    }
  }
}
