@mixin size($width:inherit, $height:inherit) {
	width: $width;
	height: $height;
}

@mixin flex($vertical, $horizontal, $direction:row) {
	display: flex;
	align-items: $vertical;
	justify-content: $horizontal;
	flex-direction: $direction;
}
