@import "../../../components/global-styles/vars";

@import "mixins";
@import "input";
@import "chat-message";
@import "chat-attachment";


.chat-list-container {
    @include size(100%, 100%);
    background-color: #fbfbfb;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    transition: .1s;
}

.chat-list {
    max-width: 650px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.typing-indicator {
  @include size(700px, auto);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 12px;
  color: $deepBlue-40;
  bottom: 60px;
  padding-left: 58px;
}

.new-message-header {
    @include size(100%, 4px);
    border-bottom: 1px solid $red;
    text-align: right;
    position:relative;

    &:not(.read) + .date {
      color: $red !important;
    }

    &.read {
      opacity: 0.2;
    }

    span {
      font-size: 12px;
      color: $red;
      background-color: #fff;
      padding: 0 10px;
      position:absolute;
      right: 0;
      top:50%;
      margin-top:-7px;
    }
}

.new-message-post-header{
  @include size(100%, 4px);
}

.section {
  @include size(100%, auto);

  .chat-date-line {
    @include size(calc(100% - 60px), 30px);
    position: relative;
    margin-left: 30px;
    @include flex(center, center);

    .line {
      @include size(100%, 1px);
      background-color: $studioGray-60;
    }

    .date {
      @include size(100%, auto);
      position: absolute;
      line-height: 30px;
      font-weight: 500;
      color: $deepBlue-40;
      text-align: right;
      font-size: 11px;
      left: 0;

      span {
        padding-left: 15px;
        background-color: #fbfbfb;
      }
    }
  }
}
