@import "../../../components/global-styles/vars";

@import "mixins";
@import "input";
@import "chat-message";
@import "chat-attachment";


.chat-list-container {
    @include size(100%, 100%);
    background-color: #fbfbfb;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    transition: .1s;
}

.chat-list {
    max-width: 650px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.section {
  @include size(100%, auto);
}

.typing-indicator {
  @include flex(center, flex-end);
  @include size(100%, auto);
  bottom: 68px;
  color: $deepBlue-40;
  font-size: 12px;
  left: 50%;
  max-width: 600px;
  position: absolute;
  transform: translateX(calc(-50% - 1px));
  z-index: 3;
}

.seperator-line {
  @include size(calc(100% - 20px), 20px);
  @include flex(center, center);
  margin-left: 20px;
  position: relative;

  &__line {
    @include size(100%, 1px);
  }

  &__message {
    background-color: #FAFAFA;
    font-size: 12px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  // Default date styles

  &--date & {
    &__line {
      background-color: $deepBlue-20;
    }

    &__message {
      color: $deepBlue-40;
    }
  }

  // Unread new message state

  &--new#{&}--unread &{
    &__line {
      background-color: $red;
    }

    &__message {
      color: $red
    }
  }

  // Read new message state

  &--new#{&}--read & {
		&__line {
      background-color: $red;
			opacity: .3;
      transition: .2s ease-in-out;
    }

    &__message {
      color: rgba($red, .3);
      transition: .2s ease-in-out;
    }
  }

  // Unread date message state

  &--date#{&}--unread & {
    &__line {
      background-color: $red;
    }

    &__message {
      color: $deepBlue-40;
    }
  }

  // Read date message state

  &--date#{&}--read & {
    &__line {
      background-color: $red;
			opacity: .3;
      transition: .2s ease-in-out;
    }

    &__message {
      color: $deepBlue-40;
    }
  }
}
