
//search view styles

#browse.fulltext_search {
  #browse-root-actions, #browse-header-wrapper {
    margin-top: 80px !important;
  }
  ol#browse-files {
    padding-top: 180px !important;
  }

  .sharing__actions {
    top: 50% !important;
  }
}

// filelist header styles

#browse-header {
  top: 40px !important;
  width: 100% !important;
  max-width: 90% !important;
  margin-left: 0 !important;
  margin-top: -40px !important; //overlapping of elements issue
  background-color: #fff !important;

  @media screen and (max-width: 1010px) {
    position: fixed !important;
    width: 90% !important;
    max-width: 100% !important;
  }
}
#breadcrumbs-box {
  margin-right: 5px !important; // when icon, spacing was wrong

  img {
    transform: translateY(-2px) !important;
  }
}

img.breadcrumb_spacer {
  margin: 0 5px !important;
  transform: translateY(1px) !important;
}

// Hiding showing the members

.preview-sf-members-box {
  display: none !important;
}

// Forcing the header to be in a column

#browse-global-actions-bar {
  display: flex !important;
  flex-direction: column !important;
  min-height: 75px !important;
}

#global-actions {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #fff !important;
  left: 0 !important;
  height: 40px !important;
  z-index: 99 !important;
  float: none !important;
  margin: 0 !important;
  border-top: 1px solid $deepBlue-20 !important;

  ul.horizontal {
    position: fixed !important;
    /* background: red; */
    width: 100% !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    li {
      display: flex !important;
    }

    li > label > a {
      border: none !important;
    }
  }
}

#browse-rightmenu {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  // flex-direction: column !important;
  min-height: 60px !important;
  float: none !important;
  position: relative !important;
  margin-top: 9px !important;

  // setting the search to be the last element in the column

  form#search-input-holder {
    order: 2 !important;
    width: 100% !important;
    height: 60px !important;

    #browse-search-input {
      width: 100% !important;
      height: 60px !important;

      .text-input-wrapper {
        right: auto !important;
        left: 0 !important;
        width: 100% !important;
        top: 0 !important;
        height: 60px !important;

        input.text-input-input[type="text"] {
          width: 99.9% !important; //this is shit. for some fucking reason autocomplete stops working if width is 100%
          margin: 0 !important;
          height: 60px !important;
          padding: 5px 15px !important;
          box-sizing: border-box !important;
          border-radius: 0 !important;
          background-color: #E6F7FE !important;
          border: none !important;
          box-shadow: none !important;

          &.focused {
            width: 100% !important;
            box-shadow: none !important;
            margin: 0 !important;
          }
        }

        label {
          padding: 0 !important;
          line-height: 60px !important;
          padding-left: 10px !important;
          top: 0 !important;
          left: 0 !important;
          padding-left: 15px !important;
          color: #666 !important;
        }
      }
    }

    button#search-button[type="submit"] {
      border-radius: 0 !important;
      height: 40px !important;
      width: 40px !important;
      top: 10px !important;
      right: 15px !important;
      position: absolute !important;
      // border: 1px solid red !important;
      border-radius: 50% !important;
      background-position: 50% 60% !important;
      background-color: #fff !important;
    }

    &.active {
      button#search-button[type="submit"] {
        background-color: #007ee5 !important;
      }
    }
  }
}

// Autocomplete List to accomodate responsive design

#browse-search-suggested-list {
  width: 100% !important;
  top: 60px !important;

  .search-text.search-item {
    width: 100% !important;
  }

  .search-results {

    .search-item {
      width: 100% !important;

      span.file-path {
        float: none !important;
        width: 100% !important;

        img {
          margin-top: 0 !important;
        }
      }
    }
  }
}


// search input, there is a fat chance this is reused somewhere

input.text-input-input {

  &.focused {
    width: 100% !important; //focused mode
  }
}

// responsive reasons

#browse-location {
  width: calc(100% - 150px) !important;
  min-height: 40px !important;
  max-height: 40px !important;
  margin: 0 !important;
  float: none !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  padding-left: 5px !important;
  font-size: 13px !important;
  // border-bottom: 1px solid $deepBlue-20 !important;

  @media screen and (min-width: 1000px) {
    width: calc(100% - 400px) !important;
  }
}

#browse-sort, #browse-root-actions {
  margin-top: 40px !important;
  padding: 0 !important;
  padding-right: 5px !important;
}

// Temporary, so elements wouldn't overlap

ol#browse-files {
  padding-top: 145px !important;
  padding-bottom: 14px !important;
}

.browse-file.fulltext_search {

  .modified {
    display: none !important;
  }
}

// Remove third col in the file list and making other cols wider

a#sharing-sorter.sortable-column-header {
  display: none !important;
}

.sharing {
  width: 85px !important;
}

.modified, #modified-sorter {
  width: calc(40% - 85px) !important;
}

.sharing > span {
  display: none !important;
}

.filename-col, #name-sorter {
  width: 60% !important;
}

#kind-sorter, #location-sorter, .kind {
  display: none !important; // I have no idea what these do, they were display none to begin with, could not find a usecase for them
}

// Sharing button vertical align

.sharing__actions {
  top: 0 !important;
  width: 85px !important;
  z-index: 10;
}

// removing padding due to removing sidebar

#page-content {
  padding-left: 0 !important;
}
