
//search view styles

#browse.fulltext_search {
  #browse-root-actions, #browse-header-wrapper {
    margin-top: 80px !important;
  }
  ol#browse-files {
    padding-top: 180px !important;
  }

  .sharing__actions {
    top: 50% !important;
  }
}

// filelist header styles

#browse-header {
  top: 40px !important;
  width: 100% !important;
  max-width: 90% !important;
  margin-left: 0 !important;
  margin-top: -40px !important; //overlapping of elements issue
  background-color: #fff !important;

  @media screen and (max-width: 1010px) {
    position: fixed !important;
    width: 90% !important;
    max-width: 100% !important;
  }
}
#breadcrumbs-box {
  margin-right: 5px !important; // when icon, spacing was wrong

  img {
    transform: translateY(-2px) !important;
  }
}

img.breadcrumb_spacer {
  margin: 0 5px !important;
  transform: translateY(1px) !important;
}

// Hiding showing the members

.preview-sf-members-box, .sf-member-preview-container {
  display: none !important;
}

h1.page-header-text {
  line-height: 40px !important;
  margin-top: 3px !important;
}

// Forcing the header to be in a column

#browse-global-actions-bar {
  display: flex !important;
  flex-direction: column !important;
  min-height: 75px !important;
}

#browse-rightmenu {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #fff !important;
  left: 0 !important;
  height: 40px !important;
  z-index: 99 !important;
  float: none !important;
  margin: 0 !important;
  border-top: 1px solid $deepBlue-20 !important;

  & > div {
    margin: 0 !important;
  }

  ul.horizontal {
    position: fixed !important;
    /* background: red; */
    width: 100% !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    li {
      display: flex !important;
    }

    li > label > a {
      border: none !important;
    }
  }
}

// action tooltips

.c-title-bubble {
  &:before {
    top: -15% !important;
    margin-left: 0 !important;
    transform: rotate(180deg) translateX(50%) !important;
  }

  &:after {
    top: -150% !important;
  }
}

// Search bar

.search-bar--container {
  width: 100% !important;
  height: 60px !important;
  margin: 0 !important;
  margin-top: 11px !important;
  float: none !important;

  &.u-l-fr {
    float: none !important;
  }

  .search-bar {
    width: 100% !important;
    height: 100% !important;
    right: auto !important;
    left: 0 !important;

    &.is-focused {
      box-shadow: none !important;
    }

    &.is-active {
      input.search-bar__button {
        border-radius: 50% !important;
        right: 10px !important;
        height: 32px !important;
        width: 32px !important;
        border: none !important;
      }
    }

    form.search-bar__input {
      padding: 0 !important;
      border-radius: 0 !important;
      width: 100% !important;
      height: 100% !important;

      input.search-bar__text-input {
        height: 100% !important;
        padding: 10px !important;
      }

      input.search-bar__button {
        top: 50% !important;
        transform: translateY(-50%) !important;
        border-radius: 50% !important;
        right: 10px !important;
        height: 32px !important;
        width: 32px !important;
        // background-color: $deepBlue-20;
        border: 1px solid $deepBlue-20 !important;
      }
    }
  }
}

#browse-global-actions-bar.u-mar-bottom-m {
  margin: 0 !important;
}

.has-preview-sf-members {

  ul.browse-file-list-header {
    margin: 0 !important;
    padding-top: 0px !important;
    margin-top: -7px !important;
    width: 90% !important;
  }

  .browse-file-list-header {
    // margin-top: -10px !important;
    margin: 0 !important;
    padding-top: 0px !important;
    margin-top: -7px !important;
    padding-top: 8px !important;
    width: 90% !important;

    @media screen and (max-width: 1010px) {
      position: fixed !important;
      width: 90% !important;
      // max-width: 100% !important;
    }
  }

  .is-sharedwith-column-visible.browse-files {
    margin-top: -17px !important;
    padding-top: 161px !important;

    @media screen and (max-width: 1010px) {
      // position: fixed !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

// Autocomplete List to accomodate responsive design

#browse-search-suggested-list {
  width: 100% !important;
  top: 60px !important;

  .search-text.search-item {
    width: 100% !important;
  }

  .search-results {

    .search-item {
      width: 100% !important;

      span.file-path {
        float: none !important;
        width: 100% !important;

        img {
          margin-top: 0 !important;
        }
      }
    }
  }
}

// responsive reasons

#browse-location {
  width: calc(100% - 150px) !important;
  min-height: 40px !important;
  max-height: 40px !important;
  margin: 0 !important;
  float: none !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  padding-left: 5px !important;
  font-size: 13px !important;
  // border-bottom: 1px solid $deepBlue-20 !important;

  @media screen and (min-width: 1000px) {
    width: calc(100% - 400px) !important;
  }
}

#browse-sort, #browse-root-actions {
  margin-top: 40px !important;
  padding: 0 !important;
  padding-right: 5px !important;
}

// Temporary, so elements wouldn't overlap
// two weeks later - maybe not so temporary
// 9th of June - Seems like it will stay fot longer

.browse-file-list-header {
  top: 117px !important;
  width: 90% !important;

  @media screen and (max-width: 1010px) {
    position: fixed !important;
    width: 90% !important;
    // max-width: 100% !important;
  }

  &[role=row] {
    top: 117px !important;
    width: 90% !important;

    @media screen and (max-width: 1010px) {
      position: fixed !important;
      width: 90% !important;
    }
  }

  li {

    &:first-child {
      display: none !important;
    }

    &:nth-child(4) {
      display: none;
    }

    &:last-child {
      display: none !important;
    }
  }
}

ul.browse-files {
  padding-top: 161px !important;
  padding-bottom: 14px !important;
}
.column--multi.browse-file-row__column.column--sharedwith {
  display: none !important;
}

.o-grid__col--6-of-12 {
  width: 70% !important;
}

.o-grid__col--3-of-12 {
  width: 30% !important;
}

.browse-file.fulltext_search {

  &.file-select-one {
    .modified {
      opacity: 0 !important;
    }
  }
}

// Remove third col in the file list and making other cols wider

a#sharing-sorter.sortable-column-header {
  display: none !important;
}

.sharing {
  width: 85px !important;
}

.modified, #modified-sorter {
  width: calc(40% - 85px) !important;
}

.sharing > span {
  display: none !important;
}

.filename-col, #name-sorter {
  width: 60% !important;
}

#kind-sorter, #location-sorter, .kind {
  display: none !important; // I have no idea what these do, they were display none to begin with, could not find a usecase for them
}

// Sharing button vertical align

.sharing__actions {
  top: 50% !important;
  width: 85px !important;
  z-index: 10 !important;
  transform: translateY(-50%) !important;

  button {
    box-shadow: none !important;
  }
}

// removing padding due to removing sidebar

#page-content {
  padding-left: 0 !important;
}
