%flex-hor-ver {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

%flex-ver {
	display: flex !important;
	align-items: center !important;
}

%flex-hor {
	display: flex !important;
	justify-content: center !important;
}
