#modal {
  width: 80% !important;
  max-width: 640px !important;
  margin: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.db-modal {
  width: 80% !important;
  max-width: 640px !important;
}
