@import '../global-styles/vars';
@import '../global-styles/mixins';

.tile {
  @include size(100%, 100%);
  background-color: $bg;
  .workflow-frame-class {
    @include size(100%, 100%);
    display:flex;
  }
}
// Hide webview when resizing
.main.draggingDot{
  .workflow-frame-class{
    pointer-events: none !important;
  }
}


.dot-drag-handler {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 50px;
  height: 50px;
  background: #FFCA28;
  border-radius: 50%;
  opacity: 0.5;
  transform: translate3d(0px, 0px, 0px);
  transform-style: preserve-3d;
  backface-visibility: visible;
  pointer-events: none;
  display: none;
  &.shown{
    display: block;
  }
}

.empty-workspace-state {
  width: 100%;
  height: 100%;
  // text-align: center;
  position: absolute;
  // top: 50%;
  // transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .play-button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 0 14px 20px;
    border-color: transparent transparent transparent #fd9078;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    cursor: default;

    animation: attentionWhore-wait1 2s linear infinite;
    transform-origin: 50% 50%;

    @keyframes attentionWhore-wait1 {
      0% {
        transform: scale(1) translate(-40%, -50%)
      }
      8.33333% {
        transform:scale(.9) rotate(-2deg) translate(-40%, -50%)
      }
      16.66667% {
        transform:scale(.9) rotate(-2deg) translate(-40%, -50%)
      }
      25% {
        transform:scale(1.1) rotate(2deg) translate(-40%, -50%)
      }
      33.33333% {
        transform:scale(1.1) rotate(-2deg) translate(-40%, -50%)
      }
      41.66667% {
        transform:scale(1.1) rotate(2deg) translate(-40%, -50%)
      }
      50% {
        transform:scale(1.1) rotate(-2deg) translate(-40%, -50%)
      }
      58.33333% {
        transform:scale(1.1) rotate(2deg) translate(-40%, -50%)
      }
      66.66667% {
        transform:scale(1) rotate(0) translate(-40%, -50%)
        }
      100% {
        transform:scale(1) rotate(0) translate(-40%, -50%)
      }
    }
  }

  svg.empty-workspace-illustration {
    width: 250px;
    cursor: default;
  }

  p.workspace-empty-text {
    text-align: center;
    margin: 100px 0;
    color: $deepBlue-40;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;

    span.strong {
      font-size: 20px;
      font-weight: 400;
      color: $deepBlue-80;
      letter-spacing: .5px;
    }
  }

  .video-box {
    width: 100%;
    height: 100%;
    background-color: rgba($deepBlue-100, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 50%;
    transform: scale(0);

    &.open {
      transform: scale(1);
      transition: .3s;

      iframe {
        opacity: 1;
        transition: .1s;
        transition-delay: .2s
      }
    }

    iframe {
      height: 85%;
      width: 90%;
      opacity: 0;
    }
  }
}

.tile-resizing-overlay {
  @include size(100%, 100%);
  background-color: $bg;

  @include flex(center, center);

  &__content {
    @include size(100%, 100%);
    @include flex(center, center);

    .app-icon {
      @include size(40px, 40px);
      @include flex(center, center);
      position: relative;

      svg, img {
        @include size();
      }
    }
  }
}

.swipes-dropzone {
  @include size(100%, 100%);
  @include flex(center, center);
  align-content: center;
  flex-wrap: wrap;
  background-color: rgba(white, .8);
  left: 0;
  padding: 0 15%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.swipes-dropzone-element {
  @include size(270px, 270px);
  @include flex(center, center, column);
  margin: 14px;
  transition: .15s ease-in-out;
  position: relative;

  &__background {
    @include size();
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 1px 20px 10px rgba($deepBlue-100, 0.1);
    left: 0;
    position: absolute;
    top: 0;
    transition: .15s ease-in-out;
  }

  &__icon {
    @include size(36px, 36px)
    @include flex(center, center);
    transition: .35s ease-in-out;
    z-index: 2;

    path {
      fill: $blue-80;
      transition: .15s ease-in-out;
    }
  }

  &__title {
    color: $deepBlue-80;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    z-index: 2;
  }

  &.hover > &__background {
    backface-visibility: hidden;
    box-shadow: 0px 1px 30px 10px rgba($deepBlue-100, 0.16);
    transform: scale(1.02) translateZ(0);
    transition: .15s ease-in-out;
  }

  &.hover & {

    &__icon {

      path {
        fill: $blue-100;
        opacity: 1;
        transition: .15s ease-in-out;
      }
    }
  }
}
