button {
	padding: 10px 20px;
	transition: .1s ease-in-out;
	
	&.disabled {
		background-color: $studioGray-100 !important;
		border-color: $studioGray-100 !important;
		color: $deepBlue-60 !important;
		cursor: not-allowed !important;
	}
	
	&.rounded {
		border-radius: 5px;
	}
	
	&.radial {
		border-radius: 50px;
	}
	
	&.outline {
		border-width: 1px;
		border-style: solid;		
		
		&.deepblue-20 {
			border-color: $deepBlue-20;
		}
		
		&.deepblue-40 {
			border-color: $deepBlue-40;
		}
		
		&.deepblue-60 {
			border-color: $deepBlue-60;
		}
		
		&.deepblue-80 {
			border-color: $deepBlue-80;
		}
		
		&.deepblue-100 {
			border-color: $deepBlue-100;
		}
		
		&.deepblue-120 {
			border-color: $deepBlue-120;
		}
		
		&.studiogray-20 {
			border-color: $studioGray-20;
		}
		
		&.studiogray-40 {
			border-color: $studioGray-40;
		}
		
		&.studiogray-60 {
			border-color: $studioGray-60;
		}
		
		&.studiogray-80 {
			border-color: $studioGray-80;
		}
		
		&.studiogray-100 {
			border-color: $studioGray-100;
		}
		
		&.studiogray-120 {
			border-color: $studioGray-120;
		}
		
		&.blue-20 {
			border-color: $blue-20;
		}
		
		&.blue-40 {
			border-color: $blue-40;
		}
		
		&.blue-60 {
			border-color: $blue-60;
		}
		
		&.blue-80 {
			border-color: $blue-80;
		}
		
		&.blue-100 {
			border-color: $blue-100;
		}
		
		&.blue-120 {
			border-color: $blue-120;
		}
		
		&.red-20 {
			border-color: $red-20;
		}
		
		&.red-40 {
			border-color: $red-40;
		}
		
		&.red-60 {
			border-color: $red-60;
		}
		
		&.red-80 {
			border-color: $red-80;
		}
		
		&.red-100 {
			border-color: $red-100;
		}
		
		&.red-120 {
			border-color: $red-120;
		}
	}
	
	&.primary {
		
		&.deepblue-20 {
			background-color: $deepBlue-20;
			color: text-color($deepBlue-20);
		}
		
		&.deepblue-40 {
			background-color: $deepBlue-40;
			color: text-color($deepBlue-40);
		}
		
		&.deepblue-60 {
			background-color: $deepBlue-60;
			color: text-color($deepBlue-60);
		}
		
		&.deepblue-80 {
			background-color: $deepBlue-80;
			color: text-color($deepBlue-80);
		}
		
		&.deepblue-100 {
			background-color: $deepBlue-100;
			color: text-color($deepBlue-100);
		}
		
		&.deepblue-120 {
			background-color: $deepBlue-120;
			color: text-color($deepBlue-120);
		}
		
		&.studiogray-20 {
			background-color: $studioGray-20;
			color: text-color($studioGray-20);
		}
		
		&.studiogray-40 {
			background-color: $studioGray-40;
			color: text-color($studioGray-40);
		}
		
		&.studiogray-60 {
			background-color: $studioGray-60;
			color: text-color($studioGray-60);
		}
		
		&.studiogray-80 {
			background-color: $studioGray-80;
			color: text-color($studioGray-80);
		}
		
		&.studiogray-100 {
			background-color: $studioGray-100;
			color: text-color($studioGray-100);
		}
		
		&.studiogray-120 {
			background-color: $studioGray-120;
			color: text-color($studioGray-120);
		}
		
		&.blue-20 {
			background-color: $blue-20;
			color: text-color($blue-20);
		}
		
		&.blue-40 {
			background-color: $blue-40;
			color: text-color($blue-40);
		}
		
		&.blue-60 {
			background-color: $blue-60;
			color: text-color($blue-60);
		}
		
		&.blue-80 {
			background-color: $blue-80;
			color: text-color($blue-80);
		}
		
		&.blue-100 {
			background-color: $blue-100;
			color: text-color($blue-100);
		}
		
		&.blue-120 {
			background-color: $blue-120;
			color: text-color($blue-120);
		}
		
		&.red-20 {
			background-color: $red-20;
			color: text-color($red-20);
		}
		
		&.red-40 {
			background-color: $red-40;
			color: text-color($red-40);
		}
		
		&.red-60 {
			background-color: $red-60;
			color: text-color($red-60);
		}
		
		&.red-80 {
			background-color: $red-80;
			color: text-color($red-80);
		}
		
		&.red-100 {
			background-color: $red-100;
			color: text-color($red-100);
		}
		
		&.red-120 {
			background-color: $red-120;
			color: text-color($red-120);
		}
	}
}