.swipes-context-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: .1s ease-in-out;
	
	& * {
		user-select: none;
	}
	
	&:hover {
		background-color: white;
		box-shadow: $swipes-shadow-one;
		transition: .1s ease-in-out;
	}
	
	&.open {
		background-color: white;
		box-shadow: $swipes-shadow-one;
		transition: .1s ease-in-out;
	} 
	
	i {
		color: $deepBlue-100;
		cursor: pointer;
	}
	
	ul {
		width: 150px;
		position: absolute;
		left: -150px;
		top: 50px;
		z-index: 99;
		overflow: hidden;
		transform: scale3d(1, 0, 1);
		
		&.open {
			transform: scale3d(1, 1, 1);
			animation: swipes-context .1s ease-in-out forwards;
			animation-delay: .3s;
		}
		
		.context-ripple {
			width: 20px;
			height: 20px;
			background-color: white;
			border-radius: 50%;
			position: absolute;
			right: -10px;
			top: -10px;
			transform: scale(0);
			
			&.open {
				animation: context-ripple .3s ease-in-out;
			}
		}
		
		li {
			width: 100%;
			height: 50px;
			opacity: 0;
			line-height: 50px;
			padding-left: 20px;
			color: $deepBlue-100;
			font-weight: 400;
			position: relative;
			
			&.open {
				transition: .1s ease-in-out;
				animation: context-list-open .1s ease-in-out forwards;
				animation-delay: .2s;
				
				&:hover {
					color: $deepBlue-100;
					font-weight: 600;
					transition: .1s ease-in-out;
				}
			}
		}
	}
	
	@keyframes swipes-context {
		100% {
			box-shadow: $swipes-shadow-two;
		}
	}

	@keyframes context-list-open {
		100% {
			opacity: 1;
			background-color: white;
		}
	}

	@keyframes context-ripple {
		0% {
			transform: scale3d(0);
		}

		100% {
			transform: scale(35);
		}
	}
}