h1 {
	font-size: 66px;
}

h2 {
	font-size: 56px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 34px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

p {
	font-size: 15px;
}

.italic {
	font-style: italic;
}

.font-light {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.font-extrabold {
	font-weight: 800;
}