@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.toast {
  $b: &;
  @include size(auto, 40px);
  @include flex(flex);
  background-color: $bg;
  box-shadow: 0 1px 20px 3px rgba($deepBlue-40, 0.4);
  border-radius: 3px;
  position: relative;

  &__loader {
    @include size(60px, 60px);
    position: relative;


    &:after {
      content: "";
      @include size(1px, 50%);
      position: absolute;
      right: 0; top: 25%;
      background-color: $deepBlue-10;
    }
  }

  &__title {
    @include size(100%);
    @include flex();
    font-size: 12px;
    color: $deepBlue-60;
    font-weight: 500;
  }
}
