html, body {	
	::-webkit-scrollbar {
	    width: 10px !important;
	    background-color: rgba(black,0) !important;
	    //border-radius: 50px;
	    // overflow: hidden !important;
	}

	::-webkit-scrollbar-thumb {
	    background-color: rgba(black,.1) !important;
	    //border-radius: 50px;
	}
}
