@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.profile {
  @include size(100%);
  @include flex(center, flex-start, column);
  padding: 12vh 0;
}

// ======================================================
// Elements
// ======================================================

.profile {

  &__svg {
    @include size(192px);
  }

  &__image {
    @include flex();
    @include size(100%);
    margin: 0 auto;
    max-height: 192px;
    max-width: 192px;
    border-radius: 50%;
    position: relative;

    img {
      border-radius: 50%;
      max-height: 192px;
      max-width: 192px;
    }
  }

  &__img-name {
    @include size();
    @include flex();
    @include font(90px, $bg, 700);
    border-radius: 50%;
    background-color: $deepBlue-100;
    text-transform: uppercase;
  }

  &__name {
    @include font(30px, $deepBlue-80, 700);
    margin-top: 5vh;
    text-align: center;
  }

  &__organization {
    @include font($c: $deepBlue-30);
    padding-top: 15px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;

    &:before {
      @include size(100px, 1px);
      background-color: $deepBlue-20;
      content: "";
      left: calc(50% - 50px); top: 0;
      position: absolute;
    }
  }

  &__button {

    &--services {
      margin-top: 5vh;
    }

    &--logout {
      position: fixed;
      right: 60px; bottom: 60px;
    }
  }
}


// ======================================================
// Modifiers
// ======================================================
