@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

$idleLight: $deepBlue-50;
$idleDark: $deepBlue-100;
$activeColor: $blue-100;
$errorColor: $red-80;

.floating-input {
  $b: &;
	@include size(100%, auto);
	padding: 15px 0;

	&__input {
		@include size(inherit, auto);
    @include font(16px, $idleDark, 27px, 400);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $deepBlue-10;
    padding: 5px 0;
    padding-top: 27px;
		user-select: auto;
		-webkit-user-select: auto;
    transition: .2s ease-in-out;
		-ms-transition: .2s ease-in-out;

		&:focus {
      outline: none;
    }
	}

	label {
		@include font(15px, $idleLight, 21px, 400);
    position: absolute;
    left: 0; top: 46px;
    transition: .2s ease-in-out;
		-ms-transition: .2s ease-in-out;
    user-select: none;
    cursor: text;
	}

  &__icon {
    @include size(30px);
    position: absolute;
    right: 0; bottom: 16px;
    user-select: none;
    display: none;

    &--visible {
      display: block;
    }

    &:hover {
      #{$b}__svg {
        @include svg-color($deepBlue-50);
        transition: .15s ease;
      }
    }
  }

  &__svg {
    @include size(24px);
    @include svg-color($deepBlue-20);
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  &--standby {

    #{$b}__input {
      transition: .2s ease-in-out;
      -ms-transition: .2s ease-in-out;

      & + label {
				@include font(11px, $idleLight);
				top: 28px;
				transition: .2s ease-in-out;
				-ms-transition: .2s ease-in-out;
			}
    }
  }

  &--active {

    #{$b}__input {
      border-bottom: 1px solid $blue-100;
      transition: .2s ease-in-out;
      -ms-transition: .2s ease-in-out;

      & + label {
				@include font(11px, $blue-100);
				top: 28px;
				transition: .2s ease-in-out;
				-ms-transition: .2s ease-in-out;
			}
    }
  }
}
