$deepBlue-20: #CCCED5;
$deepBlue-40: #999EAC;
$deepBlue-60: #666D82;
$deepBlue-80: #333D59;
$deepBlue-100: #000C2F;
$deepBlue-120: #000923;

$studioGray-20: #F4F4F5;
$studioGray-40: #E8E9EB;
$studioGray-60: #DDDEE0;
$studioGray-80: #D1D3D6;
$studioGray-100: #C6C8CC;
$studioGray-120: #959699;

$blue-20: #D8F5FF;
$blue-40: #B2EBFE;
$blue-60: #8BE1FE;
$blue-80: #65D7FD;
$blue-100: #3ECDFD;
$blue-120: #2F9ABE;

$red-20: #FEDAD2;
$red-40: #FEB5A5;
$red-60: #FD9078;
$red-80: #FD6B4B;
$red-100: #FC461E;
$red-120: #BD3516;

$red: #F44336;
$matBlue: #2E90EB;

$green-color: #4CAF50;
$red-color: #FC461E;
$yellow-color: #FFCA28;

$swipes-shadow-one: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
$swipes-shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$swipes-shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$swipes-shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$swipes-shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

%flex {
	display: flex;
	//align-items: center;
	justify-content: center;
	//flex-direction: column;
}

.main-log-wrapper {
    width: 100%;
	margin: 0;
	height: 100%;
	padding: 0;
	background-color: $deepBlue-100;
	overflow: hidden;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;

	@extend %flex;
		h1 {
		text-align: center;
		color: white;
		font-weight: 100;
		font-size: 3em;
	    padding-top: calc(272px / 3);
	}

	h3 {
		text-align: center;
		color: $deepBlue-60;
		font-weight: 400;
		font-size: 1em;
	    padding-top: 50px;
	}
	form {
		width: 100%;
	  margin-top: -30px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.login-submit {
			width: 100%;
			border: 0px solid black;
			height: 70px;
			background-color: $blue-100;
			margin-top: 20px;
			color: white;
	        cursor: default;
		}
	}
	.wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		overflow-y: auto;
		padding: 50px 0;
	    //background-color: $deepBlue-100;
	    opacity: 0;
	    transform: translateY(50px);

	    animation: signFadeIn .6s ease-in-out forwards;

	    @keyframes signFadeIn {

	        100% {
	            opacity: 1;
	            transform: translateY(0px);
	        }
	    }
	}



	.signup-button {
		text-align: center;
		color: $deepBlue-40;
		font-weight: 400;
		font-size: 1em;
		//margin-top: -10px;
	  margin-top: 15px;

		a {
			color: $deepBlue-40;
			font-weight: 400;
			font-size: 1em;

			&:visited {
				color: $deepBlue-40;
			}

			&:hover {
				color: $studioGray-100;
				text-decoration: underline;
			}
		}
	}

	.logo {
	    width: calc(272px / 3);
	    height: calc(272px / 3);
	    background-image: url("img/swipes-logo.png");
	    background-size: calc(272px / 3) calc(272px / 3);
	    position: absolute;
	    top: 20px;
	    left: 20px;
	}

	.sign-up-card {
		width: 350px;
		//height: 550px;
		margin-left: calc(50% - (350px / 2));
	    margin-top: 50px;
		background-color: white;
		position: relative;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: $swipes-shadow-five;

		h2 {
			text-align: center;
			color: $deepBlue-80;
			font-weight: 400;
	        font-size: 1.2em;
			text-transform: uppercase;
			padding: 30px 0;
	        padding-top: 40px;
		}
	}

	#Layer_1 {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		//filter: blur(1px);

		path {
			fill: none;
			stroke: rgba($blue-80,.4);
		}
	}

	#Layer_2 {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		path {
			fill: none;
			stroke: rgba($deepBlue-80,.6);
		}
	}
}
