@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.download-page {
  padding: 30px 0;
}

.section {
  margin-top: 51px;


  .device {

    &:hover {
      padding-top: 9px;
      background-color: $blue-20;
      transition: .35s ease;
      -ms-transition: .35s ease;

      .device-svg {
        @include svg-color($blue-100);
        transition: .35s ease;
        -ms-transition: .35s ease;
      }

      p {
        transition: .35s ease;
        -ms-transition: .35s ease;
      }
    }
  }
}

.section-title {
  @include font(12px, $deepBlue-100, 15px, 500);
  padding: 9px 0;
  border-bottom: 1px solid $deepBlue-100;
}


.device-wrapper {
  @include size(100%, auto);
  margin-top: 24px;
  text-align: center;
  overflow:hidden;
}

.device {
  @include size(150px);
  background-color: $blue-5;
  border-radius: 6px;
  display: inline-block;
  padding-top: 15px;
  transition: .35s ease;
  -ms-transition: .35s ease;

  &:first-child {
    float: left;
  }

  &:last-child {
    float: right;
  }

  @include styleIfNumberOfElements(2) {
    float: left;

    &:last-child {
      margin-left: 15px;
    }
  }

  p {
    @include font(12px, $blue-100, 24px, 500);
    margin: 0;padding: 0;
    transition: .35s ease;
    -ms-transition: .35s ease;
  }

  @include styleIfNumberOfElements(1) {
    padding: 0 9px;
    @include size(100%, auto);
    float: initial !important;
    padding-bottom: 15px;
  }
}

.device-svg {
  @include size(100px);
  @include svg-color($blue-60);
  margin: 0;padding: 0;
  transition: .35s ease;
  -ms-transition: .35s ease;
}

@media (max-width: 600px) {

  .device {

    @include styleIfNumberOfElements(3) {
      &:first-child {
        @include size(100%, 150px);
        float: initial !important;
        display: block !important;
        margin-bottom: 15px;
      }

      &:not(:first-child) {
        @include size(48%, 150px);
      }

      &:last-child {
        float: left;
      }
    }

    @include styleIfNumberOfElements(2) {
      @include size(100%, 150px);
      float: initial !important;
      margin: 0 !important;
      display: block;

      &:last-child {
        margin-top: 15px !important;
      }
    }
  }
}
