@import "../../../global-styles/vars";
@import "../../../global-styles/mixins";

.workflow__list {
  @include size(100%, 100%)
  @include flex(center, flex-start, column);
  background-color: $bg;
  padding: 60px 30px;
  overflow-y: auto;
}
