@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.current-step {
  @include size(100%, auto);
  position: relative;
  margin-top: -24px;
  margin-bottom: -24px;

  &:before {
    content: '';
    position: absolute;
    left: 14px; top: 15px;
    background-color: $deepBlue-10;
    @include size(1px, calc(100% - 30px));
    opacity: .5;
  }

  &__item {
    @include size(100%, 36px);
    @include flex(center, flex-start);
    font-size: 15px;
    color: $deepBlue-100;
    position: relative;
    padding-left: 30px;
    z-index: 2;

    &:before {
      @include size(9px);
      content: '';
      position: absolute;
      left: 10px; top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 1px solid $deepBlue-100;
    }

    &--prev {
      opacity: .4;

      &:before {
        background-color: $deepBlue-100;
      }
    }

    &--current {

    }

    &--next {
      opacity: .4;
    }

    &:empty {
      display: none;
    }
  }
}
