@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.goal-completed {
  @include size(100%, auto);
  padding: 45px 0;

  &__assignees {
    @include flex(flex-start, flex-end);
    padding-left: 30px;
  }

  &__top{
    @include size(100%, auto);
    @include flex(flex);
    // padding-left: calc(45px / 2);
  }

  &__title {
    @include font(27px, $deepBlue-100, 30px);
  }

  &__subtitle {
    @include size(100%, auto);
    @include font(12px, $deepBlue-60, 20px);
    max-width: 300px;
    padding-top: 21px;
    // padding-left: calc(45px / 2);
  }

  &__icon {
    @include size(36px);
    padding: 6px;
    background-color: $green-color;
    border-radius: 50%;
    @include svg-color($bg);
    margin-top: -3px;
    margin-right: 15px;
  }
}
