@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';


.goal-actions {
  @include size(100%, auto);
  @include flex(center, flex-end);

  &__status {
    @include size(100%, auto);
    @include font(12px, $deepBlue-60, 18px);

    b {
      @include font($c: $blue-100, $fw: 500);
      text-decoration: none;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__secondary {
    @include flex(none);
    margin-left: 15px;
  }

  &__primary {
    @include flex(none);
    margin-left: 15px;
  }
}
