@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.goal-step {
  $b: &;

  @include size(100%);
  min-width: 450px;
  background-color: $bg;
  position: relative;
  overflow-y: auto;
  margin-top: 15px;
  padding-top: 1px;

  &:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    @include size(100%, 1px);
    max-width: 780px;
    background-color: $deepBlue-10;
  }

  &__content {
    @include size(100%, auto);
    max-width: 780px;
    position: relative;
  }

  &__completed {
    @include size(100%, auto);
    @include flex(center, center, column);
    color: $deepBlue-100;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 85px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0; bottom: 20px;
      @include size(100%, 1px);
      background-color: $deepBlue-10;
    }

    #{$b}__icon {
      @include size(60px);
      background-color: $green-color;
      stroke: $bg;
      border-radius: 50%;
      padding: 15px;
      margin-bottom: 21px;
    }
  }

  &__hand-off-message {
    font-size: 15px;
    line-height: 1.4;
    color: $deepBlue-80;
  }

  &__status {
    @include size(100%, auto);
    font-size: 12px;
    line-height: 24px;
    color: $deepBlue-70;

    span {
      font-size: 21px;
      line-height: 24px;
      color: $deepBlue-90;
      padding-right: 24px;
      position: relative;

      &:after {
        @include size(1px, 24px);
        content: '';
        position: absolute;
        right: 12px; top: 50%;
        transform: translate(0, -50%);
        background-color: $deepBlue-20;
      }
    }
  }

  &__attachments {
    @include size(100%, auto);
    @include flex(flex-start, space-between);
    flex-wrap: wrap;
    position: relative;
  }

  &__btn {
    position: absolute;
    right: 0; bottom: 15px;
  }
}
