@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.goal-step {
  $b: &;

  @include size(100%);
  @include flex(flex-start, space-between);
  min-width: 450px;
  max-width: 780px + 253px + 150px;
  background-color: $bg;
  position: relative;
  overflow-y: auto;
  margin-top: 21px;
  padding-top: 1px;
  padding-left: 10px;

  &:before {
    content: '';
    position: absolute;
    left: 10px; top: 0;
    @include size(calc(100% - 10px), 1px);
    max-width: 780px;
    background-color: $deepBlue-10;
  }

  &__content {
    @include size(100%, auto);
    max-width: 780px;
    position: relative;
    padding-right: 15px;
  }

  &__completed {
    @include size(100%, auto);
    @include flex(center, center, column);
    color: $deepBlue-100;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 85px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0; bottom: 20px;
      @include size(100%, 1px);
      background-color: $deepBlue-10;
    }

    #{$b}__icon {
      @include size(60px);
      background-color: $green-color;
      stroke: $bg;
      border-radius: 50%;
      padding: 15px;
      margin-bottom: 21px;
    }
  }

  &__hand-off-message {
    font-size: 15px;
    line-height: 1.4;
    color: $deepBlue-80;
  }

  &__status {
    @include size(100%, auto);
    font-size: 12px;
    line-height: 24px;
    color: $deepBlue-60;

    span {
      font-size: 18px;
      line-height: 24px;
      color: $deepBlue-90;
      padding-right: 24px;
      position: relative;

      &:after {
        @include size(1px, 24px);
        content: '';
        position: absolute;
        right: 12px; top: 50%;
        transform: translate(0, -50%);
        background-color: $deepBlue-20;
      }
    }
  }

  &__attachments {
    @include size(calc(100% - 42px), auto);
    @include flex(flex-start, space-between);
    flex-wrap: wrap;
    position: relative;
  }

  &__btn {
    position: absolute;
    right: 0; bottom: 15px;
  }

  &__empty-state {
    @include size(100%, 60px);
    @include flex(center, flex-start);
    padding-left: 6px;
    color: $deepBlue-70;
    font-size: 15px;
    font-weight: 400;
  }

  &__side {
    @include size(253px, auto);
    @include flex(none);
    margin-right: 15px;

    @media (max-width: 1250px) {
      display: none;
    }
  }
}

.goal-side {
  @include size(100%, auto);

  &__progress-bar {
    @include size(100%, auto);
    padding-bottom: 36px;
    position: relative;

    .progress-bar {
      @include size(100%, 10px);
      border-top: 1px solid $deepBlue-20;
      border-bottom: 1px solid $deepBlue-20;

      &__fill {
        @include size(100%, 6px);
        background-color: $deepBlue-100;
        margin-top: 1px;
        transition: .35s ease;
      }

      &__status {
        @include font(10px, $deepBlue-60, 12px, bold);
        position: absolute;
        right: 0; top: 19px;
        text-transform: uppercase;
      }
    }
  }
}

.handoffMessageTransition {
  //empty
  &-enter {

    &-active + .section {
      background-color: red;
    }
  }

  &-leave {

    &-active {

    }
  }
}
