@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.handoff-header {
  $b: &;
  @include size(100%, auto);
  @include flex(flex);
  position: relative;
  // background-color: yellow;

  &__section {
    @include size(50%, auto);
    padding: 30px 0;
    position: relative;

    &--left {
      @include size(50%, auto);
      padding-right: 21px;

      &:before {
        content: '';
        @include size(1px, 0%);
        background-color: $deepBlue-10;
        position: absolute;
        right: 0; bottom: 0;
        transition: .3s .3s ease;
      }

      #{$b}__title {
        margin-right: 6px;
      }
    }

    &--right {
      padding-left: 45px;
      opacity: 0;
      transform: translateX(-10px);
      transition: .3s ease;
    }

    &--complete {
      #{$b}__title {
        padding-left: 21px;
      }
    }

    &--active-left {

      &:before {
        @include size(1px, 100%);
        transition: .3s .3s ease;
      }

      #{$b}__seperator:before {
        transform: translateX(50%) rotate(45deg);
        transition: .3s .7s ease;
      }
    }

    &--active-right {
      opacity: 1;
      transform: translateX(0);
      transition: .3s .7s ease;
    }
  }

  &__seperator {
    @include size(15px, 100%);
    position: absolute;
    right: 1px; top: 0;

    &:before {
      $boxSize: revPyth(30);

      content: '';
      @include size(#{$boxSize}px);
      background-color: $bg;
      position: absolute;
      right: 0; top: 30px;
      transform: translateX(-15%) rotate(45deg);
      border-right: 1px solid $deepBlue-10;
      border-top: 1px solid $deepBlue-10;
      -webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 50% 50%);
      transition: .3s ease;
    }

    &:after {
      content: '';
      @include size(100%);
      position: absolute;
      left: 0; top: 0;
      background-color: $bg;
    }
  }

  &__top {
    @include size(100%, auto);
    @include flex(flex-start, space-between);
  }

  &__title {
    @include size(100%, auto);
    @include font(21px, $deepBlue-100, 24px);
    max-width: 450px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__button {
    @include font(12px, $blue-100, 24px, 500);
    @include flex(none);
    padding: 0 25px;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  &__assignees {
    margin-top: -3px;
    position: relative;
    z-index: 9;
  }

  &__subtitle {
    @include font(12px, $deepBlue-40, 15px, 500);
    margin-top: 12px;
  }

  &__icon {
    @include size(36px);
    @include flex();
    @include flex(none);
    border-radius: 50%;
    background-color: $green-color;
    transform: translateY(-6px);
  }

  &__svg {
    @include size(24px);
    @include svg-color($bg);
  }
}
