@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.handoff-message {
  @include size(100%, auto);
  @include flex(flex);
  max-width: 780px;

  &__image {
    padding-right: 25px;

    img {
      @include size(30px);
      border-radius: 6px;
    }
  }

  &__textarea {
    @include size(100%, auto);
    @include font(15px, $deepBlue-80, 24px);
    max-width: 510px;
    resize: none;

    &::-webkit-input-placeholder {
      @include font(15px, $deepBlue-30, 24px);
    }

    &:focus {
      outline: none;
    }
  }
}
