@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.handoff-message {
  @include size(100%, auto);
  position: relative;

  &__header {
    @include size(100%, 30px);
    @include flex(center, flex-start);
  }

  &__image {
    @include size(30px);

    img {
      @include size(30px);
      border-radius: 6px;
    }
  }

  &__initials {
    @include size(30px);
    @include flex();
    @include font(12px, $bg, 18px, bold);
    background-color: $deepBlue-90;
    border-radius: 6px;
    text-transform: uppercase;
  }

  &__name {
    @include font(15px, $deepBlue-100, 21px);
    margin-left: 30px;
    position: relative;

    &:hover {
      @include font($c: $blue-100);
    }
  }

  &__slack-icon {
    @include size(15px);
    position: absolute;
    right: 0; top: 0;
    transform: translate(100%, -20%);
    background-color: $bg;
    border-radius: 50%;
    border: 1px solid $deepBlue-10;
  }

  &__time {
    @include font(12px, $deepBlue-30, 15px, 500);
    margin-left: 25px;
  }

  &__message {
    @include size(100%, auto);
    @include font(12px, $deepBlue-70, 18px);
    padding-left: 60px;
    padding-top: 6px;
    max-width: 390px;
  }
}
