@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.step-submission {
  $b: &;

  @include size(100%, auto);
  @include flex(flex-start, flex-end);
  flex-wrap: wrap;
  flex: none;

  &__actions {
    @include flex(flex);
    margin: 30px 0;
    margin-right: 3px;
    background-color: $bg;
  }
}
