@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.step-handoff {
  @include size(100%, auto);
  @include flex(flex);
  max-width: 500px;
  position: relative;

  &__icon {
    @include size(32px);
    @include flex(none);
    border-radius: 50%;
  }

  &__column {
    @include size(100%, auto);
    @include flex(column);
    padding-left: 16px;
  }

  &__name {
    @include size(100%, 32px);
    font-size: 12px;
    font-weight: 500;
    color: $deepBlue-90;
  }

  &__message {
    font-size: 12px;
    line-height: 18px;
    color: $deepBlue-70;
  }
}
