@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.step-handoff {
  @include size(100%, auto);
  @include flex(flex);
  max-width: 500px;
  position: relative;

  &__icon {
    @include size(36px);
    @include flex(none);
    border-radius: 6px;
  }

  &__column {
    @include size(100%, auto);
    @include flex(column);
    padding-left: 16px;
  }

  &__name {
    @include size(100%, calc(36px - 13px));
    font-size: 15px;
    color: $deepBlue-100;
    text-transform: capitalize;
  }

  &__message {
    font-size: 12px;
    line-height: 18px;
    color: $deepBlue-70;
  }
}
