@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.step-content-row {
  $b: &;
  @include size(100%, auto);
  @include flex(center, flex-start);
  max-width: 50%;
  position: relative;

  &__icon {
    @include size(24px);
    @include flex(none);
    border: 1px solid $deepBlue-20;
    border-radius: 3px;
    fill: $deepBlue-60;
    stroke: $deepBlue-60;
  }

  &__title {
    @include size(calc(100% - 24px - 12px), 24px);
    line-height: 24px;
    padding-left: 12px;
    color: $blue-100;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:hover {
    #{$b}__icon {
      background-color: $blue-100;
      border-color: $blue-100;
      fill: white;
      stroke: white;
    }
  }
}
