@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.step-submission {
  $b: &;

  @include size(100%, auto);
  @include flex(column);
  flex: none;

  &__actions {
    @include flex(flex);
    margin: 30px 0;
    // margin-left: 35px;
  }

  &__action:not(:first-child) {
    margin-left: 9px
  }
}
