@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.notification {
  $b: &;
  @include size(100%, auto);
  @include flex(center, flex-start);
  min-height: 66px;
  max-width: 780px;
  border-bottom: 1px solid $deepBlue-10;

  &__icon {
    @include size(36px);
    @include flex();
    @include flex(none);
    border-radius: 50%;
    margin-right: 15px;
  }

  &__svg {
    @include size(24px);
    fill: white;
    stroke: white;
  }

  &__message {
    @include size(100%, auto);
    @include font(12px, $deepBlue-70, 18px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    b {
      @include font(12px, $deepBlue-90, 18px, 500);
    }
  }

  &__timestamp {
    @include flex(none);
    font-size: 12px;
    color: $deepBlue-30;
  }
}
