@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.org-dashboard {
  @include size(100%, auto);
  @include flex(column);

  &__notifications {
    @include size(100%, auto);
    @include flex(column);
    padding-bottom: 120px;

  }
}

.notifications {

  &__header {
    @include size(100%, 50px);
    @include flex(center, flex-start);
    @include flex(none);
    position: relative;
    border-bottom: 1px solid $deepBlue-10;
    font-size: 12px;
    font-weight: bold;
    color: $deepBlue-60;
  }
}
