@import "../../global-styles/vars";
@import "../../global-styles/mixins";

.template__item {
  @include size(100%, auto);
  @include flex(center, flex-start);
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px rgba($deepBlue-40, 0.1);
  padding: 10px 0;
  position: relative;

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  &__image {
    @include size(50px, 50px);
    @include flex();

    & > * {
      @include size(40px, 40px);
    }

    &--img > img {
      border-radius: 6px;
    }
  }

  &__content {
    @include size(auto, 100%);
    @include flex(flex-start, center, column);

    &__title {
      color: $deepBlue-80;
    }

    &__subtitle {
      font-size: 12px;
      color: $deepBlue-40
    }

    &__title, &__subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
