@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';


.template__step-list {
  width: 100%;
  height: 100%;
  background-color: firebrick;
  overflow-y: scroll;
  position: relative;
}
