@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';


.template__header {
  @include size(100%, auto);
  @include flex(flex-start, center);
  background-color: #DAF3F7;
  position: relative;

  &__col {
    @include size(auto, 100%);
    @include flex(flex-start, flex-start, column);
    padding: 60px 0;

    @media (max-width: 1400px) {
      padding-bottom: 90px;
    }

    &--text {
      max-width: 600px;
      padding-right: 30px;
    }
  }

  &__image {
    @include size(150px);
    margin-right: 90px;
    margin-left: 30px;

    & > * {
      @include size();
      border-radius: 3px;
    }
  }

  &__author {
    @include size(150px, auto);
    font-size: 12px;
    padding-top: 30px;
    color: $deepBlue-40;
    line-height: 1.67;
    margin-left: 30px;
  }

  &__title {
    font-size: 21px;
    color: $deepBlue-100;
    font-weight: 400;
    padding-bottom: 9px;
    line-height: 1;
  }

  &__subtitle {
    font-size: 18px;
    color: $deepBlue-40;
    font-weight: 400;
    padding-bottom: 30px;
  }

  &__description {
    color: $deepBlue-90;
    line-height: 1.6;
    font-size: 15px;
  }

  &__cta {
    background-color: $blue-100;
    border-radius: 3px;
    bottom: 15px;
    box-shadow: 0 1px 20px 3px rgba($blue-100, 0.6);
    color: #fdfdfd;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 90px;
    padding: 15px 33px;
    position: absolute;
    text-transform: uppercase;
    transition: .2s ease-in-out;

    &:hover {
      $darkBlue: darken($blue-100, 2%);
      background-color: $darkBlue;
      box-shadow: 0 1px 10px 1px rgba($darkBlue, 0.6);
      transition: .2s ease-in-out;
    }

    @media (max-width: 1400px) {
      margin-left: 0;
      right: 60px;
      bottom: 20px;
    }
  }
}
