@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.find {
  $b: &;
  $flexIgnoreList: '#{$b}__sidebar';

  @include size(100%);
  @include flex(flex);
  @include flexContainer('row', $selectorsToIgnoreFlex: $flexIgnoreList);
  border-top: 1px solid $deepBlue-10;
}

// ======================================================
// Elements
// ======================================================

.find {

  &__content {
    @include size(100%);
    overflow: hidden;
  }
  &__setup {
    @include size(100%);
    @include flexContainer('column', center, center);
    h1 {
      @include font(27px, $deepBlue-80, 36px, 400);
    }

    h2 {
      @include size(425px, auto);
      @include font(15px, $deepBlue-80, 24px, 400);
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

// ======================================================
// Targeting
// ======================================================

.find__sidebar {
  & > .browse-section-list {
    @include size(270px, 100%);
    @include widthSpecifications(initial, initial);
  }
}
