@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';


.find-overlay {
  @include size(100%);
  @include flex(flex);
  position: relative;
}

.search {
  @include size(100%);
  @include flex(column);
  position: relative;
  padding-top: 15px;

  &__results {
    @include size(100%, auto);
    // overflow-y: auto;

    &:before {
      content: '';
      position: absolute;
      left: 0; top: 0px;
      background-color: $deepBlue-10;
      @include size(100%, 1px);
      max-width: 780px;
    }
  }
}
