@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.auto-completing {
  position: fixed;
  z-index: 9999;
  background-color: red;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  &--shown {
    visibility: visible;
    pointer-events: all;
  }
  &__item {
    height: 70px;
    &--selected {
      background-color: white;
    }
  }
}
