@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.auto-completing {
  position: fixed;
  box-shadow: 0 1px 20px 3px rgba($blue-160, .1);
  z-index: 9999;
  overflow: hidden;
  border-radius: 3px;
  background-color: white;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  &--shown {
    visibility: visible;
    pointer-events: all;
  }
  &__item {
    &--selected {
      background-color: $blue-20;
    }
    padding: 0 18px;
  }
}
