@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.input-menu {
  $b: &;
  @include size(auto, 90px);
  @include flex();
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 20px 3px rgba(5,57,128,0.1);
  position: relative;
  padding-right: 21px;

  &__input {
    @include size(274px, auto);
    @include font(12px, $deepBlue-90);
    border-bottom: 1px solid $blue-100;
    margin-left: 36px;
    margin-right: 45px;
    padding: 9px 0;

    &::-webkit-input-placeholder {
      @include font($c: $deepBlue-40);
    }
  }
}
