@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.step-list {
  @include size(100%, auto);
}

.step-list-item {
  $b: &;
  $flexIgnoreList: '#{$b}__indicator', '#{$b}__assignees';

  @include size(100%, 67px);
  @include flexContainer('row', left, center, $flexIgnoreList);
  border-top: 1px solid $deepBlue-5;
  transition: .15s ease;
}

// ======================================================
// Elements
// ======================================================

.step-list-item {

  &__indicator {
    @include size(39px, 100%);
    @include flexContainer('row', left, center);
    transition: .15s ease;
  }

  &__title {
    @include size(100%, auto);
    @include font(12px, $deepBlue-80, 18px, 500);
    transition: .15s ease;
  }

  &__assignees {
    transition: .15s ease;
  }
}

// step list number indicator

.step-list-item {
  
  .indicator {
    @include size(30px);
    @include flexContainer('row', center, center);
    background-color: $green-color;
    border-radius: 50%;
    transition: .15s ease;

    &__number {
      @include font(13px, $bg, 16px, bold);
      transition: .15s ease;
    }
  }
}

// Tooltip

.step-list-item {

  &__tooltip {
    @include font(12px, $bg, 500);
    background-color: $deepBlue-100;
    padding: 10px 15px;
    pointer-events: none;
    white-space: nowrap;
  }
}

// ======================================================
// Modifiers
// ======================================================

.step-list-item {
  $b: &;

  &--completed {

    #{$b}__title, #{$b}__assignees {
      opacity: .5;
    }
  }

  &--current {

    .indicator {
      background-color: $bg;
      border: 2px solid $deepBlue-100;

      &__number {
        @include font($c: $deepBlue-100);
      }
    }
  }

  &--future {
    opacity: .5;

    .indicator {
      background-color: $bg;
      border: 2px solid $deepBlue-100;

      &__number {
        @include font($c: $deepBlue-100);
      }
    }
  }

  &:not(&--completed)#{&}--hover {
    opacity: 1;
  }

  &:not(&--current):not(&--future)#{&}--hover {
    
  }

  &--loading {
    opacity: 1;
  }

  &--hover {
    opacity: 1;

  }
}

// ======================================================
// Targeting
// ======================================================

.step-list-item {

  &:first-child {
    border-top: 1px solid $deepBlue-5;
  }
}

// ======================================================
// Hover
// ======================================================

.step-list-item {
  $b: &;

  &:hover {
    opacity: 1;

    #{$b}__title, #{$b}__assignees {
      opacity: 1;
      transition: .15s ease;
    }
  }
}