@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.step-list {
  @include size(100%, auto);
}

.step-list-item {
  $b: &;
  $flexIgnoreList: '#{$b}__indicator', '#{$b}__assignees';

  @include size(100%, 67px);
  @include flexContainer('row', left, center, $flexIgnoreList);
  border-top: 1px solid $deepBlue-5;
  transition: .15s ease;
}

.add-step {
    $b: &;
    $flexIgnoreList: '#{$b}__indicator';

    @include size(100%, 67px);
    @include flexContainer('row', left, center, $flexIgnoreList);
    border-top: 1px solid $deepBlue-5;
    transition: .15s ease;
}

// ======================================================
// Elements
// ======================================================

.step-list-item {

  &__indicator {
    @include size(49px, 100%);
    @include flexContainer('row', left, center);
    transition: .15s ease;
  }

  &__title {
    @include size(100%, auto);
    @include font(15px, $deepBlue-80, 24px, 500);
    transition: .15s ease;
  }

  &__assignees {
    transition: .15s ease;
  }
}

// step list number indicator

.step-list-item {
  
  .indicator {
    @include size(30px);
    @include flexContainer('row', center, center);
    background-color: $green-color;
    border: 2px solid $green-color;
    border-radius: 50%;
    transition: .15s ease;

    &__number {
      @include font(13px, $bg, 16px, bold);
      transition: .15s ease;
    }
  }
}

// Tooltip

.step-list-item {

  &__tooltip {
    @include font(12px, $bg, 500);
    background-color: $deepBlue-100;
    padding: 10px 15px;
    pointer-events: none;
    white-space: nowrap;
  }
}

.step-list {

  .add-step {
    $b: &;

    &__input {
      @include size(100%, auto);
      @include font(15px, $deepBlue-100, 24px);
      order: 2;

      &::-webkit-input-placeholder {
        @include font(15px, $deepBlue-30, 24px);
        font-style: italic;
      }

      &:not(:placeholder-shown) + .add-step__indicator {
        border: 2px solid $deepBlue-100;
        color: rgba($deepBlue-100, 1);
        transition: .3s ease;
      }
    }

    &__indicator {
      @include size(30px);
      @include flexContainer('row', center, center);
      border: 2px solid $deepBlue-20;
      border-radius: 50%;
      color: rgba($deepBlue-100, 0);
      transition: .3s ease;
      margin-right: 18px;
      order: 1;
    }

    &__loader {
      @include size(24px);
      border-radius: 50%;

      &:before {
        @include size(24px);
        position: absolute;
        left: 0; top: 0;
        content: '';
        border-radius: 50%;
        background-color: $blue-100;
        -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 50%, 50% 0);
        opacity: 0;
        transition: .2s ease;
      }

      &:after {
        @include size(18px);
        position: absolute;
        left: 3px; top: 3px;
        content: '';
        border-radius: 50%;
        background-color: $bg;
        opacity: 0;
        transition: .2s .2s ease;
      }
    }
  }
}

// ======================================================
// Modifiers
// ======================================================

.step-list-item {
  $b: &;

  &--completed {

    #{$b}__title, #{$b}__assignees {
      opacity: .5;
    }
  }

  &--current {

    .indicator {
      background-color: $bg;
      border: 2px solid $deepBlue-100;

      &__number {
        @include font($c: $deepBlue-100);
      }
    }
  }

  &--future {
    opacity: .5;

    .indicator {
      background-color: $bg;
      border: 2px solid $deepBlue-100;

      &__number {
        @include font($c: $deepBlue-100);
      }
    }
  }

  &:not(&--completed)#{&}--hover {
    opacity: 1;

    .indicator {
      background-color: $green-color;
      border: 2px solid $green-color;

      &__number {
        @include font($c: $bg);
      }
    }
  }

  &:not(&--current):not(&--future)#{&}--hover {
    .indicator {
      background-color: $bg;
      border: 2px solid $deepBlue-100;

      &__number {
        @include font($c: $deepBlue-100);
      }
    }
  }

  &--loading {
    opacity: 1;
  }

  &--hover {
    opacity: 1;

  }
}

.add-step {
  $b: &;

  &--loading {

    #{$b}__indicator {
      border: 0px solid transparent !important;
      transition: .2s;
    }

    #{$b}__loader {
      animation: rotateAddLoader 1s .25s cubic-bezier(.56,.31,.52,.78) infinite;

      &:before {
        opacity: 1;
        transition: .2s .2s ease;
      }

      &:after {
        opacity: 1;
        transition: 0s .2s ease;
      }
    }
  }
}

// ======================================================
// Targeting
// ======================================================

.step-list-item {

  &:first-child {
    border-top: 1px solid $deepBlue-5;
  }
}

// ======================================================
// Hover
// ======================================================

.step-list-item {
  $b: &;

  &:hover {
    opacity: 1;

    #{$b}__title, #{$b}__assignees {
      opacity: 1;
      transition: .15s ease;
    }
  }
}

@keyframes rotateAddLoader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
