@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.step-list {
  @include size(100%, auto);
}

.add-step {
  $b: &;
  $flexIgnoreList: '#{$b}__indicator';

  @include size(100%, 67px);
  @include flexContainer('row', left, center, $flexIgnoreList);
  border-top: 1px solid $deepBlue-5;
  //border-bottom: 1px solid $deepBlue-5;
  transition: .15s ease;
}

// ======================================================
// Elements
// ======================================================

.step-list {

  &__edit-button {
    @include font(12px, $deepBlue-40, 15px, 400);
    user-select: none;

    &:hover {
      @include font($c: $blue-100);
      text-decoration: underline;
    }

    &--done {
      @include font($c: $blue-100)
    }
  }
}

.step-list {

  .add-step {
    $b: &;

    &__assignees {
      @include flexContainer('row', center, center);
      padding-left: 6px;
      transition: .2s ease;
      order: 3;
    }

    &__input {
      @include size(100%, auto);
      @include font(15px, $deepBlue-100, 24px);
      order: 2;
      @include flexContainer('row', left, center);

      &::-webkit-input-placeholder {
        @include font(15px, $deepBlue-30, 24px);
        font-style: italic;
      }
    }

    &__button {
      @include size(36px);
      position: absolute;
      right: 6px; top: calc(50% - (36px / 2) + 4px);
      opacity: 0;
      pointer-events: none;
      transform: scale(0);
      transition: .2s ease;
    }

    &__indicator {
      @include size(30px); //
      @include flexContainer('row', center, center);
      margin-right: 18px;

      &--number {
        @include font(12px, $deepBlue-30, 18px, bold);
      }
    }

    &--focused {
      .add-step__indicator {
        .add-step__indicator--number {
          @include font($c: $deepBlue-90);
        }
      }
    }
  }
}

.add-step {
  $b: &;

  &--active {

    #{$b}__assignees {
      margin-right: 46px;
      transition: .2s ease;
    }

    #{$b}__button {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
      transition: .2s .2s ease;
    }
  }

  &--loading {

    #{$b}__indicator {
      border: 0px solid transparent !important;
      transition: .2s;
    }

    #{$b}__loader {
      animation: rotateAddLoader 1s .25s cubic-bezier(.56,.31,.52,.78) infinite;

      &:before {
        opacity: 1;
        transition: .2s .2s ease;
      }

      &:after {
        opacity: 1;
        transition: 0s .2s ease;
      }
    }
  }
}

// ======================================================
// Targeting
// ======================================================

.step-list-item {

  &:first-child {
    border-top: 0px solid red;
  }
}

@keyframes rotateAddLoader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
