@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.step-list {
  @include size(100%, auto);

  &__item {
    @include size(100%, 24px);
    @include font($fz: 12px, $lh: 18px);
    @include flex(center, flex-start);
    padding-left: 39px;
    transition: .25s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-child) {
      margin-bottom: 15px;
      transition: .25s ease;
    }

    &:after {
      @include size(10px);
      border-radius: 50%;
      left: 6px; top: 7px;
      content: '';
      position: absolute;
      transition: .25s ease;
    }

    &--completed {
      @include font($c: $deepBlue-100);

      &:after {
        background-color: $deepBlue-100;
      }
    }

    &--current {
      @include font($c: $deepBlue-100);

      &:after {
        background-color: transparent;
        border: 2px solid $deepBlue-100;
      }
    }

    &--future {
      @include font($c: $deepBlue-40);

      &:after {
        @include size(11px);
        background-color: transparent;
        border: 2px solid $deepBlue-40;
      }
    }
  }
}
