
// Topbar variables
$top-bar-height: 50px;

$sidebar-dark-color: #1B1E23;
$unselected-color: #9E9E9E;
$unselected-text-color: #ffffff;
$unread-text-color: #010D2E;
$dark-background: #252d51;
$white-background: #ffffff;

$online-green: #66cc8f;
$busy-yellow: #FF512F;
$orange: #e85c41;

$sidebar-width: 210px;

$deepBlue-5: #f1f3f4;
$deepBlue-10: #e4e6ea;
$deepBlue-20: #CCCED5;
$deepBlue-40: #999EAC;
$deepBlue-60: #666D82;
$deepBlue-70: #4C546D;
$deepBlue-80: #333D59;
$deepBlue-90: #192445;
$deepBlue-100: #000C2F;
$deepBlue-120: #000923;

$studioGray-20: #F4F4F5;
$studioGray-40: #E8E9EB;
$studioGray-60: #DDDEE0;
$studioGray-80: #D1D3D6;
$studioGray-100: #C6C8CC;
$studioGray-120: #959699;

$blue-5: #F2F8FF;
$blue-10: #E6F1FF;
$blue-20: #CCE4FF;
$blue-40: #99C9FF;
$blue-60: #66AFFF;
$blue-80: #3394FF;
$blue-100: #007AFF;
$blue-120: #0063D5;
$blue-140: #004EAC;
$blue-160: #003782;

$red-5: #FEF5F5;
$red-10: #FEEDED;
$red-20: #FEDADA;
$red-40: #FEB6B5;
$red-60: #FD9291;
$red-80: #FD6E6C;
$red-100: #FD4A48;
$red-120: #CA3D42;
$red-140: #97313E;
$red-160: #652438;

$red: #F44336;
$matBlue: #2E90EB;

$salmon: #f56b72;

$green-color: #26D176;
$red-color: #FC461E;
$yellow-color: #FFB021;

$swipes-shadow-one: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
$swipes-shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$swipes-shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$swipes-shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$swipes-shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
