@import './vars';
@import './mixins';

#content {
  @include size(100%);

  .main {
    @include size();
    padding-top: 54px;
    position: relative;

    .workspace {
      @include size();
      position: relative;
    }
  }
}

.scroll-container {
  @include size(100%);
  overflow-y: scroll;
}

svg {
  pointer-events: none;
}

.main-loader {
  left: 50%; top: 50%;
  position: fixed !important;
  transform: translate(-50%, -50%);
}

.draggingDot .overlay{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.overlay {
  @include size(100%, calc(100% - 54px));
  background: $bg;
  left: 0; top: 54px;
  position:fixed;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  transition: visibility 0s .3s, opacity 0s .3s;

  &__anim-wrap {
    @include size(100%);
  }

  &--shown {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity .15s;
  }
}
