@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

$idleLight: $deepBlue-40;
$idleDark: $deepBlue-80;
$activeColor: $blue-100;
$errorColor: $red-color;


.floating-label {
  $b: &;
  position: relative;
  width: 100%;
  padding: 15px 30px;
  max-width: 350px;

  &__input {
    padding: 5px 0;
    width: inherit;
    border: none;
    border-bottom: 1px solid $idleLight;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    color: $idleDark;
    position: relative;
    transition: .2s ease-in-out;

    &:focus {
      outline: none;
    }
  }

  &__label {
    position: absolute;
    bottom: 50%;
    left: 0;
    font-weight: 400;
    color: $idleLight;
    transform: translateY(50%);
    transition: .2s ease-in-out;
    padding-left: 30px;
    font-size: 14px;
  }

  &--active & {

    &__input {
      border-bottom: 1px solid $blue-100;
      transition: .2s ease-in-out;
    }

    &__label {
      color: $blue-100;
      transform: translate3d(0px,-13px, 0px);
      font-size: 11px;
      transition: .2s ease-in-out;
    }
  }

  &--standby & {

    &__label {
      transform: translate3d(0px,-13px, 0px);
      font-size: 11px;
      transition: .2s ease-in-out;
    }
  }

  &--error {
    #{$b}__input {
      border-color: $errorColor;
    }
  }
}
