@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

$idleLight: $deepBlue-40;
$idleDark: $deepBlue-80;
$activeColor: $blue-100;
$errorColor: $red-color;

// ======================================================
// Block
// ======================================================

.floating-label {
  @include size(100%, auto);
  @include widthSpecifications(initial, 350px);
  padding: 15px 30px;
}

// ======================================================
// Elements
// ======================================================

.floating-label {
  $b: &;

  &__input {
    @include size(inherit, auto);
    @include font(16px, $idleDark, 400);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $idleLight;
    padding: 5px 0;
    transition: .2s ease-in-out;

    &:focus {
      outline: none;
    }

    &:not([type="password"]) {
      user-select: none;
    }
  }

  &__label {
    @include font(14px, $idleLight, 400);
    padding-left: 30px;
    position: absolute;
    left: 0; bottom: 50%;
    transform: translateY(50%);
    transition: .2s ease-in-out;
    user-select: none;
  }

  &__icon {
    @include size(24px);
    position: absolute;
    right: 30px; bottom: 16px;
    user-select: none;
    display: none;

    &--visible {
      display: block;
    }

    &:hover {
      #{$b}__svg {
        @include svg-color($deepBlue-50);
        transition: .15s ease;
      }
    }
  }

  &__svg {
    @include size(24px);
    @include svg-color($deepBlue-20);
    transition: .15s ease;
  }
}

// ======================================================
// Modifier
// ======================================================
.floating-label {
  $b: &;

  &--active & {

    &__input {
      border-bottom: 1px solid $blue-100;
      transition: .2s ease-in-out;
    }

    &__label {
      @include font(11px, $blue-100);
      transform: translate3d(0px, -13px, 0px);
      transition: .2s ease-in-out;
    }
  }

  &--standby & {

    &__label {
      @include font($fz: 11px);
      transform: translate3d(0px,-13px, 0px);
      transition: .2s ease-in-out;
    }
  }

  &--error {
    #{$b}__input {
      border-color: $errorColor;
    }
  }
}
