@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.sw-progress-bar {
  $b: &;

  @include size(100%, 40px);
  margin-bottom: 25px;
  margin-top: 15px;
  position: relative;

  &__step-holder {
    @include flex(flex-start, space-between);
    @include size(calc(100% - 75px), 100%);
    position: relative;
    z-index: 2;
  }

  &__line {
    @include size(100%, 2px);
    left: 0; top: 11px;
    position: absolute;

    &--base {
      background-color: $deepBlue-20;
    }

    &--completed {
      background-color: $deepBlue-60;
      transition: -webkit-clip-path .2s ease-in-out;
    }

    // For hiding overflow
    &:after {
      @include size(15px, 2px);
      background-color: $bg;
      content: '';
      position: absolute;
      right: -2px; top: 0;
      -webkit-clip-path: polygon(2% 0, 100% 0, 100% 100%, 19% 100%);
    }
  }

  &__slope {
    @include size(120px, 18px);
    position: absolute;
    right: 0; top: 11px;
  }

  &__slope-svg {
    @include size(120px, 18px);
    fill: $deepBlue-20;
  }

  &__iteration {
    @include flex();
    @include size(72px, 16px);
    color: $blue-100;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 2px;
    position: absolute;
    right: 0; top: 0;
    text-transform: uppercase;
  }

  &__step {
    // Container
    @include size(calc((100% / 3) - 1px), calc(100% + 10px));
    position: relative;
    padding-bottom: 10px;

    // tooltip
    &:before {
      color: $deepBlue-80;
      content: attr(data-title);
      font-size: 12px;
      font-weight: 500;
      left: 0; bottom: 15px;
      opacity: 0;
      position: absolute;
      transform: translateY(130%);
      pointer-events: none;
    }

    // progress step
    &:after {
      @include size(100%, 14px);
      background-color: $deepBlue-20;
      content: '';
      left: 0; top: 15px;
      position: absolute;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
      transition: -webkit-clip-path .2s ease-in-out;
    }

    // Completed Step
    &--completed {

      &:after {
        background-color: $deepBlue-60;
      }
    }

    // Active Step
    &--active {

      &:after {
        background-color: $blue-100;
        -webkit-clip-path: polygon(0 0, 100% 0, 99% 25%, 1% 25%);
      }

      // Different clipping for the last element
      &#{$b}__step--last-step {
        &:after {
          -webkit-clip-path: polygon(0 0, 92% 0, 94% 25%, 1% 25%);
        }
      }
    }

    // Hide Disabled
    &--disabled {

      &:after {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
      }
    }

    // Clipping for the last element because of the slope
    &--last-step {
      &:after {
        -webkit-clip-path: polygon(0 0, 92% 0, 92% 0%, 0% 0%);
      }
    }
  }

  // Hover logic
  &__step-holder {

    &:hover {

      // Hover container logic
      #{$b}__step  {

        // Make progress clips 50% height
        &:after {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
        }

        // Different clipping for the last element because of the slope
        &--last-step {
          &:after {
            -webkit-clip-path: polygon(0 0, 92% 0, 96% 50%, 0% 50%);
          }
        }

        // Make progress clips 100% height for the active element
        &--active {
          &:after {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          }

          // Different clipping for the last element because of the slope
          &#{$b}__step--last-step {
            &:after {
              -webkit-clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
            }
          }
        }

        // Show a little of the disabled clips
        &--disabled {

          &:after {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 20%);
          }

          // Different clipping for the last element because of the slope
          &#{$b}__step--last-step {
            &:after {
              -webkit-clip-path: polygon(0 0, 92% 0, 94% 20%, 0% 20%);
            }
          }
        }

        // Hover on a progress clip logic, nests inside of container hover
        // essentially creating a hover within a hover
        &:hover {

          // Show tooltip
          &:before {
            opacity: 1;
            transform: translateY(100%);
            transition: .2s ease-in-out;
          }

          // Make progress clip full height
          &:after {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          }
        }

        // hovering on last step creates a different clipping because of the slope
        &--last-step {
          &:hover {
            &:after {
              -webkit-clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
            }
          }
        }

        // Disabling height change on hover of a disabled clip and changing the tooltip color
        &--disabled {

          &:hover {
            &:before {
              color: $deepBlue-40;
            }

            &:after {
              -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 20%);
            }
          }

          // Clipping for the last step because of the slope
          &#{$b}__step--last-step {
            &:hover {
              &:after {
                -webkit-clip-path: polygon(0 0, 92% 0, 94% 20%, 0% 20%);
              }
            }
          }
        }
      }
    }
  }
}
