@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

$navWidth: 50px;
$contentWidth: calc(100% - #{$navWidth});

.slider {
  $b: &;

  @include size(100%);
  @include flex();
  position: relative;

  &__nav {
    @include size(50px, 100%);
    @include flex();
    position: relative;
    user-select: none;

    i {
      color: $blue-60;
      user-select: none;
    }


    &:hover i {
      color: $blue-100;
    }

    &--disabled {
      cursor: not-allowed;
      pointer-events: none;

      i {
        color: $deepBlue-20;
      }
    }
  }

  &__content {
    @include size($contentWidth, 100%);
		padding: 10% 0;
    position: relative;
  }

  &__children {
    @include size(100%);
    @include flex();
    position: relative;

    & > #{$b}__child {
      @include size(100%);
      @include flex();
    }
  }

  &__dots {
    @include size(100%, 10%);
    @include flex();
    min-height: 50px;
    position: absolute;
    left: 0;

    &--top {
      top: 3%;
    }

    &--bottom {
      bottom: 3%;
    }
  }

  &__dot {
    @include size(10px);
    background-color: $deepBlue-30;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--active {
      background-color: $deepBlue-80;
    }
  }
}

.sliderLeft {
  //empty
  &-enter {
    opacity: 0;
    left: 0; top: 0;
    position: absolute;
    transform: translateX(50%);
    transition: all .5s;
    will-change: transform, opacity;

    &-active {
      opacity: 1;
      position: relative;
      transform: translateX(0px);
      transition: all .5s;
      will-change: transform, opacity;
    }
  }

  &-leave {
    opacity: 1;
    transform: translateX(0px);
    position: relative;
    transition: all .5s;
    will-change: transform, opacity;

    &-active {
      left: 0; top: 0;
      opacity: 0;
      transform: translateX(-50%);
      position: absolute;
      transition: all .5s;
      will-change: transform, opacity;
    }
  }
}


.sliderRight {
  //empty
  &-enter {
    opacity: 0;
    left: 0; top: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all .5s;
    will-change: transform, opacity;

    &-active {
      opacity: 1;
      position: relative;
      transform: translateX(0px);
      transition: all .5s;
      will-change: transform, opacity;
    }
  }

  &-leave {
    opacity: 1;
    position: relative;
    transform: translateX(0px);
    transition: all .5s;
    will-change: transform, opacity;

    &-active {
      opacity: 0;
      left: 0; top: 0;
      position: absolute;
      transform: translateX(50%);
      transition: all .5s;
      will-change: transform, opacity;
    }
  }
}
