.setup{
	max-width: 600px;
	margin: 0 auto;
	.column-pickers{
		height:200px;
	}
	.project-picker{
		height: 100px;
	}
	.button-picker{
		height:100px;
	}
}
.task-list-container{
    .task-list{
        max-width: 600px;
        margin: 10px auto;
    }
   
}
.card-container{
	margin-top:10px;
}
.open-sprint-button{
	margin-top: 20px;
}
@import "select";