@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

$btnSize: 36px;
$iconSize: 24px;
$loaderSize: 12px;

.compatible-logout {
  @include size($btnSize);
  border: 1px solid $deepBlue-50;
  border-radius: 50%;
  float: right;
  margin-top: 30px;
}

.compatible-logout {

  &__svg {
    @include size($iconSize);
    @include svg-color($deepBlue-50);
    left: ($btnSize / 2) - ($iconSize / 2) - 1px;
    top: ($btnSize / 2) - ($iconSize / 2) - 1px;
    position: absolute;
  }

  &__loading {
    @include size($loaderSize);
    left: ($btnSize / 2) - ($loaderSize / 2) - 1px;
    top: ($btnSize / 2) - ($loaderSize / 2) - 1px;
    position: absolute;
  }
}

.compatible-logout {

  &:hover {
    background-color: $deepBlue-6;
  }
}
