@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

$btnSize: 36px;
$iconSize: 24px;
$loaderSize: 12px;

.compatible-logout {
  @include size(auto, $btnSize);
  border: 1px solid $deepBlue-50;
  border-radius: 18px;
  float: right;
  margin-top: 30px;
  transition: .2s ease;
}

.compatible-logout {

  &__label {
    @include font(13px, $deepBlue-50, 34px);
    padding: 0 15px; 
  }

  &__loading {
    @include size($loaderSize);
    left: ($btnSize / 2) - ($loaderSize / 2) - 1px;
    top: ($btnSize / 2) - ($loaderSize / 2) - 1px;
    position: absolute;
  }
}

.compatible-logout {

  &:hover {
    background-color: $deepBlue-6;
    transition: .2s ease;
  }
}
