@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

$btnSize: 36px;
$iconSize: 24px;
$loaderSize: 12px;

// ======================================================
// Block
// ======================================================

.compatible-logout {
  @include size(auto, $btnSize);
  border: 1px solid $deepBlue-50;
  border-radius: 18px;
  float: right;
  margin-top: 30px;
  transition: .2s ease;
}

// ======================================================
// Elements
// ======================================================

.compatible-logout {

  &__label {
    @include font(13px, $deepBlue-50, 34px);
    padding: 0 15px; 
  }

  &__loader {
    @include size($btnSize);
    display: none;
  }
}

// ======================================================
// Modifiers
// ======================================================

.compatible-logout {
  $b: &;

  &#{&}--loading {
    border: none;

    #{$b}__label {
      display: none;
    }
    
    #{$b}__loader {
      display: block;
    }
  }
}

// ======================================================
// Hovers
// ======================================================

.compatible-logout {

  &:not(&#{&}--loading) {
    &:hover {
      background-color: $deepBlue-6;
      transition: .2s ease;
    }
  }
}
