@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';


.workflow__step-list {
  $width: calc(100% - 396px);
  @include size($width, 100%);
  background-color: $bg;
  overflow-y: auto;
  position: relative;
  padding: 60px 0;
  padding-right: 30px;

  &__title {
    width: 100%;
    max-width: 750px;
    font-size: 33px;
    color: $deepBlue-90;
    padding: 15px 0;
    padding-left: 33px;
    line-height: 1;
    margin-bottom: 25px;
    margin-right: 30px;
    position: relative;
    border-bottom: 2px solid $blue-100;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 95%, 0% 95%, 0% 100%, 0 100%, 0 0);
    transition: .2s ease-in-out;

    &::-webkit-input-placeholder {
      color: $deepBlue-40;
      font-weight: 300;
    }

    &:focus {
      border-bottom: 2px solid $blue-100;
      -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 95%, 100% 95%, 100% 100%, 0 100%, 0 0);
      transition: .2s ease-in-out;
    }

    &:not(:placeholder-shown) {
      border-bottom: 2px solid $blue-20;
      -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 95%, 100% 95%, 100% 100%, 0 100%, 0 0);
      transition: .2s ease-in-out;

      &:focus {
        border-bottom: 2px solid $blue-100;
      }
    }
  }
}
