@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
// @import '~styles/_functions.scss';

// ======================================================
// Block
// ======================================================

.compatible-welcome {
  padding: 30px 0;
  padding-bottom: 60px;
}

.compatible-welcome .table {
  width: 100%;
  border: 1px solid $deepBlue-10;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 30px;
}

.compatible-welcome .table .col {
  @include font(15px, $deepBlue-80) 
  display: table-cell;
}

.compatible-welcome .table .row {
  $b: findElementInBlock(#{&}, '.row');

  @include size(100%, 60px);
  padding-left: 15px;
  display: table;
  transition: .15s ease;

  &:not(:last-child) {
    border-bottom: 1px solid $deepBlue-10;
  }

  &:hover {
    background-color: $deepBlue-5;
    transition: .15s ease;

    #{$b}__svg {
      @include svg-color($blue-100);
      transition: .15s ease;
    }
  }
}

.compatible-welcome .table .inviter {
  @include size(100%, 60px);
  display: table-cell;

  img {
    @include size(30px);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 30px - 15px;
  }
}

.compatible-welcome .device-wrapper {
  @include size(100%, auto);
  margin-top: 24px;
  text-align: center;
  overflow:hidden;
}

.compatible-welcome .device {
  @include size(100%, 150px);
  background-color: $blue-5;
  border-radius: 6px;
  display: inline-block;
  padding-top: 15px;
  transition: .35s ease;
  cursor: pointer;
  -ms-transition: .35s ease;

  p {
    @include font(12px, $blue-100, 24px, 500);
    margin: 0;padding: 0;
    transition: .35s ease;
    -ms-transition: .35s ease;
  }

  &:hover {
    padding-top: 9px;
    background-color: $blue-20;
    transition: .35s ease;
    -ms-transition: .35s ease;

    .device-svg {
      @include svg-color($blue-100);
      transition: .35s ease;
      -ms-transition: .35s ease;
    }

    p {
      transition: .35s ease;
      -ms-transition: .35s ease;
    }
  }
}

.compatible-welcome .device-svg {
  @include size(100px);
  @include svg-color($blue-60);
  margin: 0;padding: 0;
  transition: .35s ease;
  -ms-transition: .35s ease;
}


.compatible-welcome .all-download__link {
  @include font(12px, $blue-100);
  cursor: pointer;
}

.compatible-welcome .all-download {
  padding-top: 15px;
}

// ======================================================
// Elements
// ======================================================

.compatible-welcome {

  h4#{&}__header {
    @include font(24px, $deepBlue-90, 300);
    padding-top: 45px;
  }
}

.compatible-welcome .table {
  $b: findElementInBlock(#{&}, '.table');

  #{$b}__header {
    @include size(100%, 60px);
    border-bottom: 1px solid $deepBlue-10;
    display: table;
    padding-left: 15px;
  }
}

.compatible-welcome .table .col {
  $b: findElementInBlock(#{&}, '.col');

  &#{$b}--name {
    width: 100%;
    float: left;
    line-height: 60px;
  }

  &#{$b}--inviter {
    width: 160px;
    vertical-align: middle;
  }
}

.compatible-welcome .table .row {
  $b: findElementInBlock(#{&}, '.row');

  #{$b}__item {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
  }

  #{$b}__name {
    @include font(13px, $deepBlue-60, 60px) 
  }

  #{$b}__inviter {
    @include size(100px, 60px);
  }

  #{$b}__button {
    width: 60px;
  }

  #{$b}__svg {
    @include size(24px);
    @include svg-color($deepBlue-50);
    position: absolute;
    left: 18px; top: 18px;
    transition: .15s ease;
  }
}

// ======================================================
// input
// ======================================================

.create-org {
  $b: &;

  @include size(100%, auto);
  margin-top: 30px;

  label#{&}__wrapper {
  }

  #{$b}__wrap {
    @include size(100%, 45px);
  }

  input#{&}__input {
    @include size(100%, 45px)
    @include font(15px, $deepBlue-80, 60px) 
    border: 1px solid $deepBlue-20;
    border-radius: 6px;
    padding: 0 15px;
    transition: .2s ease;

    &::-webkit-input-placeholder {
      @include font(15px, $deepBlue-50, 60px) 
    }

    &:not(:placeholder-shown) + .create-org__label {
      @include font(11px, $deepBlue-50, 15px) 
      top: 0;
      transition: .2s ease;
    }

    &:focus {
      border: 1px solid $blue-100;
      transition: .2s ease;

      & + .create-org__label {
        @include font(11px, $deepBlue-50, 15px) 
        top: 0;
        transition: .2s ease;
      }

      & ~ .create-org__button {
        background-color: $blue-100;
        transition: .2s ease;

        .create-org__svg {
          @include svg-color(white);
          transition: .2s ease;
        }
      }
    }
  }

  &__label {
    @include font(15px, $deepBlue-50, 25px) 
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    left: 9px;
    position: absolute;
    background-color: white;
    padding: 0 6px;
    transition: .2s ease;
  }

  &__button {
    @include size(60px, 44px);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    top: 0; right: 0;
    border-left: 1px solid $deepBlue-20;
    transition: .2s ease;
  }

  &__svg {
    @include size(24px);
    @include svg-color($deepBlue-50);
    position: absolute;
    left: (60px / 2) - 12px;
    top: (44px / 2) - 12px;
    transition: .2s ease;
  }
}
