@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.goal-step {
  @include size(100%);
  @include flex(center, flex-start, column);
  position: relative;

  &__scroller {
    @include size(100%);
    padding-left: 30px;
    padding-right: 30px;
    overflow-y:auto;
  }

  &__submission {
    @include size(100%, auto);
    flex: none;
  }
}
