@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.goal-step {
  $b: &;

  @include size(100%);
  @include flex(flex-start, flex-start, column);
  position: relative;
  // background-color: red;

  &__scroller {
    @include size(100%, calc(100% - 114px));
    overflow-y:auto;
  }

  &__field {
    @include size(100%, auto);
    position: relative;
    padding-left: 50px;
    padding-bottom: 15px;

    &:first-child {
      padding-top: 30px;
    }
  }

  &__field-header {
    @include size(100%, 50px);
    @include flex(center, flex-start);
    position: relative;
    margin-bottom: 30px;
  }

  &__field-icon {
    @include size(50px);
    @include flex();
    position: absolute;
    left: -50px; top: 0;
  }

  &__field-title {
    font-size: 21px;
    color: $deepBlue-80;
  }

  &__icon {
    @include size(24px);
    fill: $deepBlue-20;
    stroke: $deepBlue-20;
  }

  &__submission {
    @include size(100%, auto);
    flex: none;
  }
}

.goal-step-intro-transition {
  //empty
  &-enter {
    opacity: 0;
    transform: translateY(50px);
    transition: all .2s ease-in-out;
    will-change: opacity,  transform;

    &-active {
      opacity: 1;
      transform: translateY(0px);
      transition: all .2s ease-in-out;
      will-change: opacity,  transform;
    }
  }

  &-leave {
    opacity: 1;
    transform: translateY(0px);
    transition: all .2s ease-in-out;
    will-change: opacity,  transform;

    &-active {
      opacity: 0;
      transform: translateY(50px);
      transition: all .2s ease-in-out;
      will-change: opacity,  transform;
    }
  }
}
