@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

$fade: .4;

.step-header {
  @include size(100%, auto);
  @include flex(center, flex-start);
  display: flex !important;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  transition: opacity .1s;

  &:before {
    content: "";
    @include size(2px, 100%);
    position: absolute;
    left: 36px; top: 0;
    background-color: $blue-20;
  }

  &:first-of-type {
    padding-bottom: 15px;

    &:before {
      content: "";
      @include size(2px, 100%);
      position: absolute;
      left: 36px; top: 5px;
      background-color: $blue-20;
    }
  }

  &:last-of-type {
    padding-top: 15px;
    padding-bottom: 0;

    &:before {
      content: "";
      @include size(2px, 90%);
      position: absolute;
      left: 36px; top: 0px;
      background-color: $blue-20;
    }
  }

  &:not(:first-of-type):not(:last-of-type) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &--last {
    padding-bottom: 0;

    &:before {
      @include size(2px, 70%);
    }
  }

  & > *:not(&__indicator) {
		opacity: $fade;
    transition: opacity .1s;
	}

  &:hover > * {
    opacity: 1;
    transition: opacity .1s;
  }

  &__indicator {
    @include size(30px);
    @include flex();
    background-color: $bg;
    border-radius: 50%;
    position: relative;

    &#{&}--index {
      color: rgba($blue-120, $fade);
      font-size: 15px;
      transition: color .1s;

      &:after {
        @include size(30px);
        border-radius: 50%;
        border: 2px solid $blue-40;
        content: "";
        left: 0; top: 0;
        position: absolute;
        opacity: $fade;
        transition: opacity .1s;
      }
    }

    &#{&}--completed {
      i {
        color: lighten($green-color, 30%);
        font-size: 216%;
        transition: color .1s;
      }
    }
  }

  &__content {
    $contentWidth: calc(100% - 30px - 30px);

    @include size($contentWidth, 39px);
    @include flex(flex-start, space-between, column);
    padding-left: 21px;
  }

  &__title {
    color: $deepBlue-100;
    font-size: 15px;
  }

  &__type {
    color: $blue-140;
    font-size: 11px;
    letter-spacing: 1px;
    opacity: .3;
    text-transform: uppercase;
  }

  &__assignees {
    @include size(30px);
    position: relative;

    img {
      @include size();
      border-radius: 50%;
    }

    &__count {
      @include size(30px);
      @include flex();
      background-color: rgba($deepBlue-100, .4);
      border-radius: 50%;
      color: white;
      font-size: 15px;
      left: 0; top: 0;
      position: absolute;

      &:hover {
        background-color: rgba($deepBlue-100, .7);
      }

      &:empty {
        display: none;
      }
    }
  }

  &:hover & {

    &__indicator {
			&--index {
				color: $blue-120;
        transition: color .1s;

        &:after {
          opacity: 1;
          transition: opacity .1s;
        }
			}

			&--completed {
				i {
          color: $green-color;
          transition: color .1s;
        }
			}
		}
  }

  &#{&}--active > * {
    opacity: 1;
    transition: opacity .1s;
  }

  &#{&}--active & {
    &__indicator {
			&--index {
				color: $blue-120;
        transition: color .1s;

        &:after {
          opacity: 1;
          transition: opacity .1s;
        }
			}

			&--completed {
				i {
          color: $green-color;
          transition: color .1s;
        }
			}
		}
  }
}
