@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

$imgContHeight: 30px;

.goal-item {
  $b: &;

  @include size(100%, auto);
  @include flex();
  max-width: 550px;
  min-height: $imgContHeight;
  position: relative;
  padding: 12px 21px;
  padding-left: 15px;
  margin: 0 auto;

  &:first-child {
    margin-top: 18px;
  }

  &:hover {
    background-color: $blue-10;;
  }

  &__image {
    @include size($imgContHeight);
    @include flex();

    #{$b}__icon {
      @include size(24px);
    }
  }

  &__content {
    $contentWidth: calc(100% - #{$imgContHeight} - 60px);
    @include flex(flex-start, center, column);
    @include size($contentWidth, 100%);
    min-height: $imgContHeight;
    padding-left: 15px;
    position: relative;
  }

  &__title {
    width: calc(100% - 50px);
    color: $deepBlue-80;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__label {
    width: calc(100% - 50px);
    color: $deepBlue-40;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.75;
    margin-top: 6px;
    letter-spacing: .5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__assigning {
    @include size(30px);
    position: absolute;
    right: 15px; top: 50%;
    transform: translateY(-50%);
  }
}
