@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.goal-step {
  $b: &;

  @include size(100%);
  @include flex(flex-start, flex-start, column);
  background-color: $bg;
  position: relative;

  &__transition-wrapper {
    @include size(100%, auto);
    background-color: $bg;
    position: absolute;
    left: 0; top: 0;
  }

  &__scroller {
    @include size(100%, 100%);
    background-color: $bg;
    position: relative;
    overflow-y:auto;
    overflow-x: hidden;
  }

  &__field {
    @include size(100%, auto);
    position: relative;
    padding-left: 50px;
    padding-bottom: 15px;

    &:first-child {
      padding-top: 30px;
    }
  }

  &__field-header {
    @include size(100%, 50px);
    @include flex(center, flex-start);
    position: relative;
    margin-bottom: 30px;
  }

  &__field-icon {
    @include size(50px);
    @include flex();
    position: absolute;
    left: -50px; top: 0;
  }

  &__field-title {
    font-size: 21px;
    color: $deepBlue-80;
  }

  &__icon {
      @include size(24px);

    &--svg {
      fill: $deepBlue-20;
      stroke: $deepBlue-20;
    }

    &--img {
      border-radius: 50%;
    }
  }

  &__field-action {
    @include size(50px);
    @include flex();
    transform: rotate(-45deg);
    // background-color: salmon;
    position: absolute;
    right: 6px; top: 0;

    #{$b}__icon {
      @include size(18px);
      transition: .15s;

      &:last-child {
        margin-left: -8px;
        transition: .15s;
        will-change: margin-left;
      }
    }

    &:hover {

      #{$b}__icon {
        fill: $deepBlue-40;
        stroke: $deepBlue-40;
        transition: .15s;

        &:last-child {
          margin-left: -4px;
          transition: .15s;
        }
      }
    }
  }

  &__hand-off-message {
    font-size: 15px;
    line-height: 1.4;
    color: $deepBlue-80;
  }

  &__status {
    @include size(100%, auto);
    flex: none;
  }
}
