@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.sw-read-me {
  @include size(100%, auto);
  @include flex(flex-start, flex-start, column);
  max-width: 550px;
  position: relative;
  padding: 30px 0;

  &__header {
    @include size(100%, auto);
    position: relative;


    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  &__icon {
    left: calc(-95px / 2); top: 1px;
    position: absolute;

    &--svg {
      @include size(24px);
      stroke: $blue-100;
      fill: $blue-100;
      margin-top: -4px;
    }

    &--font {
      color: $deepBlue-30;
      font-size: 15px;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    color: $deepBlue-80;
  }

  &__description {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    color: #4c546d;
    margin-bottom: 30px;
  }

  &__content {
    font-size: 15px;
    line-height: 1.6;
    color: #333d59
  }
}
