@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.step-header {
  @include size(100%, 60px);
  @include flex(center, flex-start);
  margin: 30px 0;
  margin-top: 50px;
  position: relative;

  &__index {
    @include size(50px, 60px);
    @include flex();
    color: $deepBlue-80;
    font-size: 30px;
    font-weight: 500;
  }

  &__title {
    $titleWidth: calc(100% - 50px - 60px);
    @include size($titleWidth, auto);
    color: $deepBlue-80;
    font-size: 24px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__assignees {
    @include size(30px);
    position: absolute;
    right: 15px; top: 50%;
    transform: translateY(-50%);
  }
}
