@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.step-header {
  @include size(100%, 36px);
  @include flex(center, flex-start);
  margin-bottom: 71px;
  position: relative;

  &__index {
    @include size(50px, 60px);
    @include flex();
    color: $deepBlue-90;
    font-size: 27px;
    line-height: 1.33;
    font-weight: bold;
  }

  &__title {
    $titleWidth: calc(100% - 50px - 60px);
    @include size($titleWidth, auto);
    color: $deepBlue-80;
    font-size: 24px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:after {
    content: '';
    @include size(100%, 1px);
    position: absolute;
    background-color: $deepBlue-20;
    left: 0; bottom: -18px;
  }
}
