@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.step-header {
  @include size(100%, auto);
  max-width: 550px;
  margin: 200px auto;

  &__flex-container {
    @include size(100%, 30px);
    @include flex(center, flex-start);
    position: relative;
  }

  &__index {
    font-size: 22px;
    color: $deepBlue-100;
  }

  &__title {
    $titleWidth: calc(100% - 70px);
    @include size($titleWidth, auto);
    margin-left: 18px;
    font-size: 21px;
    color: $deepBlue-100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__assigning {
    @include size(30px);
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
    background-color: red;
    border-radius: 50%;
  }

  &__progress-bar {
    @include size(100%, auto);
    margin-top: 30px;
  }
}
