@import '../../global-styles/vars/';
@import '../../global-styles/mixins/';

.step-submission {
  $b: &;

  @include size(100%, auto);
  @include flex(center, flex-start);
  border-top: 1px solid $blue-100;
  flex: none;

  &__actions {
    display: inline-block;
    border: 1px solid $blue-100;
    border-radius: 3px;
    margin: 30px 0;
    margin-left: calc(32px + 18px + 24px);
  }

  &__button {
    padding: 18px 40px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: $blue-100;
    text-transform: uppercase;
    letter-spacing: .5px;
    position: relative;
    transition: .1s;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        right: 0; top: 0;
        @include size(1px, 100%);
        background-color: $blue-100;
      }
    }

    &:hover {
      background-color: $blue-100;
      color: $bg;
      transition: .1s;
    }
  }
}
