@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.add-milestone {
  @include size(calc(33% - 15px), auto);
  @include widthSpecifications(300px, 50%);
  border-radius: 6px;
  flex-basis: 300px;
  flex-basis: 33%;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 30px 15px;
  transition: .25s ease;
}

// ======================================================
// Elements
// ======================================================

.add-milestone {
  b: &;

  &__header {
    @include size(100%, auto);

    input {
      @include size(100%, auto);
      @include font(21px, $deepBlue-100, 27px);
      border-bottom: 1px solid $deepBlue-5;
      padding-bottom: 15px;
      transition: .25s ease;

      &::-webkit-input-placeholder {
        @include font(21px, $deepBlue-30, 27px, 400);
      }

      &:focus {
        border-bottom: 1px solid $blue-100;
        transition: .25s ease;
      }
    }
  }

  &__body {
    @include size(100%, 212px);
    @include flexContainer('row', center, center);
    border-bottom: 1px solid $deepBlue-5;
    margin-bottom: 12px;
    transition: .25s ease;
  }

  &__svg {
    @include size(150px);
    @include svg-color($deepBlue-50);
    transition: .25s ease;
  }

  &__loader {
    @include size(100%);
    position: absolute;
    left: 0; top: 0;
    pointer-events: none;
    opacity: 0;
    transition: .25s ease;
  }
}

// ======================================================
// Modifiers
// ======================================================

.add-milestone {
  $b: &;

  &__svg#{&}__svg--active {
    @include svg-color($blue-100 !important);
    transition: .25s ease;
  }

  &__svg#{&}__svg--hidden {
    opacity: 0;
    transition: .25s ease;
  }
}

// ======================================================
// Hovers
// ======================================================

.add-milestone {
  $b: &;

  &:hover {
    box-shadow: 0 1px 20px 3px rgba(5,57,128,0.1);
    transition: .25s ease;

    #{$b}__header input:placeholder-shown {
      border-bottom: 1px solid $deepBlue-10;
    }

    #{$b}__body {
      border-bottom: 1px solid $deepBlue-10;
      transition: .25s ease;
    }

    #{$b}__svg {
      @include svg-color($deepBlue-100);
      transition: .25s ease;
    }
  }
}