@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.milestone-list {
  // @include size(100%, auto);
  @include flexContainer('row') {
    flex-wrap: wrap;
  };

  padding: 15px;

  &__header {
    padding: 0 30px;
  }
}
