@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

.milestone-list {
  // @include size(100%, auto);
  @include flexContainer('row') {
    flex-wrap: wrap;
  };
  padding: 15px;

  &__header {
    padding: 0 30px;
  }
}

.milestone-empty {
  @include size(100%);
  @include flexContainer('column', center, center);
  @include font(15px, $deepBlue-40, 24px);

  &__content {
    @include size(425px, auto);
    @include flexContainer('column', center, center);
    text-align: center;
  }

  &__action {
    @include font($c: $blue-100);

    &:hover {
      text-decoration: underline;
    }
  }
}
