@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';
@import '~styles/_functions.scss/';

// ======================================================
// Block
// ======================================================

.milestone {
  @include size(calc(33% - 30px), auto);
  border-radius: 6px;
  padding: 30px 15px;

  &:before {
    @include size(100%);
    background-color: $blue-5;
    content: '';
    left: 0; top: 0;
    position: absolute;
    z-index: -1;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  &:after {
    @include size(100%);
    content: '';
    position: absolute;
    left: 0; top: 0;
    transition: .25s ease-out;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  .progress {
    @include size(54px);
    @include centerAbsolute();
    @include flexContainer('row', center, center);
    background-color: $bg;
    border-radius: 50%;
  }

  .last-activity {
    $b: &;
    $flexIgnoreList: '#{$b}__left', '#{$b}__icon}';

    @include size(100%, auto);
    @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
  }

  .header {
    $b: &;
    $flexIgnoreList: '#{$b}__icon}';

    @include size(100%, auto);
    @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
  }
}

// ======================================================
// Elements
// ======================================================

.milestone {

  &__subtitle {
    @include size(100%, auto);
    @include font(11px, $deepBlue-50, 15px, 500);
    margin-top: 6px;
  }

  &__seperator {
    @include size(100%, 1px);
    background-color: $deepBlue-100;
    display: none;
  }

  &__progress {
    @include size(100%, 212px);
    border-top: 1px solid $deepBlue-5;
    border-bottom: 1px solid $deepBlue-5;
    margin-bottom: 12px;
    margin-top: 15px;
    transition: .25s ease;
  }

  &__svg {
    @include size(150px);
    @include centerAbsolute($addToTransform: rotateY(180deg));
    transition: .5s ease;

    path {
      stroke-miterlimit: 10;
      stroke-width: 36px;
      transition: .4s ease;
    }

    &--bg {
      @include svg-color($deepBlue-5);
    }

    &--fg {
      @include svg-color($tisho-green);
      stroke-dasharray: 320.4876403808594;
    	stroke-dashoffset: 50;
    }
  }
}

.milestone .header {
  $b: getElementSelectorInBlock(#{&}, '.milestone');

  #{$b}__left {
    @include size(100%, auto);
    @include flexContainer('column', left, center);
  }

  #{$b}__title {
    @include size(100%, auto);
    @include font(21px, $deepBlue-100, 27px);
    @include truncateString();
  }

  #{$b}__icon {
    @include size(24px);
  }

  #{$b}__svg {
    @include size(24px);
    @include svg-color($deepBlue-100);
    opacity: 0;
    transition: .3s ease;
    transform: translateX(-15px);
  }
}

.milestone .last-activity {
  $b: getElementSelectorInBlock(#{&}, '.milestone');

  #{$b}__left {
    @include flexContainer('row', center, center);

    img {
      @include size(30px);
      border-radius: 50%;
    }
  }

  #{$b}__right {
    @include size(100%, auto);
    padding-left: 12px;
  }

  #{$b}__name {
    @include size(100%, auto);
    @include font(12px, $deepBlue-60, 15px, 500);
  }

  #{$b}__label {
    @include size(100%, auto);
    @include font(12px, $deepBlue-50, 15px);
  }
}

.milestone .progress {
  $b: getElementSelectorInBlock(#{&}, '.milestone');

  #{$b}__dot {
    @include size(6px);
    background-color: $deepBlue-100;
    border-radius: 50%;
    transition: .4s ease;
  }

  #{$b}__number {
    @include size(54px);
    // @include centerAbsolute(scale(0));
    position: absolute;
    left: calc(50% - (54px / 2)); top: calc(50% - (54px / 2));
    @include flexContainer('row', center, center);
    @include font(12px, $deepBlue-100, 15px, 300);
    background-color: $bg;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1);
    transition: .4s ease;
  }
}

// ======================================================
// Targeting
// ======================================================

.milestone {
  $b: &;

  @include styleElementsAfter(4) {
    padding-top: 45px;

    #{$b}__seperator {
      display: block;
      transform: translateY(-15px)
    }
  }
}

// ======================================================
// Hovers
// ======================================================

.milestone {
  $b: &;

  &:hover {
    box-shadow: 0 1px 20px 3px rgba(5,57,128,0.1);
    transition: .25s ease;

    #{$b}__progress {
      border-top: 1px solid $deepBlue-20;
      transition: .25s ease;
    }

    #{$b}__svg {

      &--bg {
        path {
          stroke-width: 30px;
          transition: .4s ease;
        }

      }

      &--fg {
        // @include svg-color($green-color);
        transition: .4s ease;

        path {
          stroke-width: 48px;
          transition: .4s ease;
        }
      }
    }

    .header__title {
      @include font($c: $blue-100);
      transition: .25s ease;
    }

    .header__svg {
      opacity: 1;
      transition: .25s ease;
      transform: translateX(0px);
    }

    .progress__dot {
      opacity: 0;
      background-color: $tisho-green;
      // transform: scale(5);
      // transition: .2s ease;

    }

    .progress__number {
      opacity: 1;
      transform: scale(2);
      transition: transform .4s ease, opacity .2s ease;
    }
  }
}
