@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.no-milestone-item {
  @include size(calc(33% - 15px), auto);
  @include widthSpecifications(300px, 33%);
  border-radius: 6px;
  flex-basis: 300px;
  flex-basis: 33%;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 30px 15px;
  transition: .25s ease;

  .header {
    $b: &;
    $flexIgnoreList: '#{$b}__icon}';

    @include size(100%, auto);
    @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
  }
}


// ======================================================
// Elements
// ======================================================

.no-milestone-item {

  &__subtitle {
    @include size(100%, auto);
    @include font(12px, $deepBlue-50, 15px);
    margin-top: 6px;
  }

  &__body {
    @include size(100%, 212px);
    border-top: 1px solid $deepBlue-5;
    border-bottom: 1px solid $deepBlue-5;
    margin-bottom: 12px;
    margin-top: 15px;
    transition: .25s ease;
  }

  &__svg {
    @include size(150px);
    @include centerAbsolute($addToTransform: rotate(0deg));
    @include svg-color($deepBlue-5);
    transition: .5s ease;
  }

  &__circle {
    @include size(54px);
    @include centerAbsolute();
    @include flexContainer('row', center, center);
    background-color: $bg;
    border-radius: 50%;
  }

  &__dot {
    @include size(6px);
    background-color: $deepBlue-100;
    border-radius: 50%;
  }
}

.no-milestone-item .header {
  $b: getElementSelectorInBlock(#{&}, '.no-milestone-item');

  #{$b}__left {
    @include size(100%, auto);
    @include flexContainer('column', left, center);
  }

  #{$b}__title {
    @include size(100%, auto);
    @include font(21px, $deepBlue-100, 27px);
    @include truncateString();
    transition: .25s ease;
  }

  #{$b}__icon {
    @include size(24px);
  }

  #{$b}__svg {
    @include size(24px);
    @include svg-color($deepBlue-100);
    opacity: 0;
    transition: .3s ease;
    transform: translate3d(-15px, 0px, 0px);
  }
}


// ======================================================
// Modifiers
// ======================================================


// ======================================================
// Hovers
// ======================================================

.no-milestone-item {
  $b: &;

  &:hover {
    box-shadow: 0 3px 6px 0 rgba(1,13,46,0.24);
    transition: .25s ease;

    .header__svg {
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      transition: .25s ease;
    }

    #{$b}__svg {
      @include centerAbsolute($addToTransform: rotate(180deg));
      transition: 1s ease;
    }
  }
}