@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.compatible-login {
  padding-top: 30px;
}

.compatible-login .form {
  margin-top: 40px;
}

.compatible-login .footer {
  @include size(100%, auto);
  padding: 69px 0;
  padding-top: 90px;
}

// ======================================================
// Elements
// ======================================================

.compatible-login .footer {
  $b: findElementInBlock(#{&}, '.footer');

  #{$b}__error-label {
    @include font(13px, $red-80, 18px);
    margin-bottom: 15px;
    margin-top: -30px;
    text-align: center;
  }

  #{$b}__reset-password {
    text-align: center;
    z-index: 2;
    margin-top: 30px;

    a {
      @include font(12px, $deepBlue-100);
      padding: 9px 0;
      
      &:after {
        content: '';
        @include size(100%, 2px);
        background-color: rgba($deepBlue-100, .3);
        left: 0; bottom: 0;
        position: absolute;
      }

      &:hover {

        &:after {
          background-color: rgba($deepBlue-100, 1);
        }
      }
    }
  }

  p#{$b}__switch {
    @include font(12px, $deepBlue-40, 18px, 500);
    text-align: center;
    margin-top: 9px;
    padding: 0 15px;

    & a {
      @include font(12px, $blue-100, 18px, 500);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ======================================================
// Media quary
// ======================================================

@media (max-width: 600px) {

  .compatible-signup .form {
    margin-top: 30px;
  }
}

@media (max-height: 800px) {

  .compatible-signup .form {
    margin-top: 30px;
  }

  .compatible-signup .footer {
    padding: 42px 0;
  }
}
