@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.comment-input {
  $b: &;
  $flexIgnoreList: '#{$b}__image', '#{$b}__profile-initials', '#{$b}__profile-pic', '#{$b}__icon-button';

  @include size(100%, auto);
  @include heightSpecifications(38px, initial);
  border: 1px solid #E5E6EA;
  background-color: #FFFFFF;

  &__section {
    @include flexContainer('row', left, top, $selectorsToIgnoreFlex: $flexIgnoreList);
  }
}

// ======================================================
// Elements
// ======================================================

.comment-input {
  $b: &;

  &__profile-pic {
    @include size(36px);

    img {
      @include size(36px);
    }
  }

  &__profile-initials {
    @include size(36px);
    @include flexContainer('row', center, center);
    @include font(12px, $deepBlue-100); 
    background-color: $deepBlue-10;
  }

  &__textarea-wrapper {
    $flexIgnoreList: '#{$b}__icon-wrapper';

    @include flexContainer('row', left, center, $selectorsToIgnoreFlex: $flexIgnoreList);
    margin-left: 6px;
    padding-right: 6px;
    outline: none;
    width: 100%;
  }

  &__placeholder {
    @include font(12px, $deepBlue-50, 15px);
    position: absolute;
    display: none;
    left: 6px;
    pointer-events: none;

    &--shown {
      display: block;
    }
  }

  &__textarea {
    @include size(100%, auto);
    @include font(12px, $deepBlue-100, 18px);
    background-color: white;
    resize: none;
    display: inline-block;

    padding: 9px 0;
    padding-left: 6px;

    &::-webkit-input-placeholder {
      @include font(12px, $deepBlue-60, 18px);
    }

    &:focus {
      outline: none;
    }

    a {
      @include font(12px, $blue-100, 18px);
    }
  }

  &__icon-wrapper {
    @include size(30px);
    @include flexContainer('row', center, center);
    transition: .2s ease;

    &:hover {
      #{$b}__svg {
        @include svg-color($deepBlue-60);
        transition: .2s ease;
      }
    }

    &:active {
      transform: scale(.93);
      transition: .2s ease;
    }
  }

  &__svg {
    @include size(24px);
    @include svg-color($deepBlue-30);
    transition: .2s ease;
  }

  &__send-button {
    width: 0px !important;
    min-width: 0px !important;

    &#{&}--active {
      width: auto !important;
      min-width: 36px !important;
    }
  }

  &__attachments{
    @include size(100%, auto);
    @include flexContainer('row') {
      flex-wrap: wrap;
    };
    padding-left: 36px;

    .attachment-item {
      margin-right: 6px;
    }
  }
}
