@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';

// ======================================================
// Block
// ======================================================

.comment {
  @include size(100%, auto);
  @include flexContainer('row', left, top);
  padding-bottom: 12px;
  animation: fadeCommentin .25s ease-in-out forwards;
  opacity: 0;
  transform: translateY(10px);
}

// ======================================================
// Elements
// ======================================================

.comment {
  $b: &;

  &__profile-pic {
    @include size(30px);
    border-radius: 3px;

    img {
      @include size(30px);
      border-radius: 3px;
    }
  }

  &__profile-initials {
    @include size(30px);
    @include flexContainer('row', center, center);
    background-color: $deepBlue-10;
    border-radius: 3px;
  }

  &__side {
    @include size(100%, auto);
    padding-left: 12px;
  }

  &__content {
    @include font(14px, $deepBlue-100, 15px);

    span.comment__name {
      @include font(13px, $blue-100, 15px, 500);  
    }
  }

  &__underbar {
    @include font(12px, $deepBlue-40, 18px, 500);

    span.comment__react {

      &:hover {
        color: $blue-100;
      }
    }
  }
}

@keyframes fadeCommentin {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}