@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';



.post-feed {
  @include size(100%, auto);
  padding-bottom: 30px;

  &__item {
    @include size(100%, auto);
    overflow: hidden;
    padding-top: 9px;
    margin-top: 9px;

    &:not(:first-child) {
      border-top: 1px solid $deepBlue-10;
      padding-top: 24px;
      margin-top: 23px;
    }

    .post__comments {
    }

    .post__header {
      padding: 0 0 0 3px;
    }
  }

  &#{&}--empty-state {
    @include size(100%);
  }
}

// ======================================================
// Empty states
// ======================================================

.post-feed {

  &__empty-state {
    @include size(100%);
    @include flexContainer('column', center, top);
    padding-top: 3%;
  }

  &__empty-illustration {
    @include size(100%, 60%);
    @include flexContainer('column', center, center);
    margin-bottom: 12px;
  }

  &__empty-svg {
    @include size(auto, 100%);
  }

  &__empty-title {
    @include font(11px, $deepBlue-100, 18px, bold) 
    text-transform: uppercase;
    pointer-events: all;
  }

  &__empty-text {
    @include font(12px, $deepBlue-40, 18px);
    margin-top: 9px;
    margin-bottom: 18px;
    text-align: center; 
    pointer-events: all;
  }
}
