@import '~styles/_vars.scss/';
@import '~styles/_mixins.scss/';



.post-feed {

  &__item {
    @include size(100%, auto);
    border: 1px solid $deepBlue-10;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 24px;
    margin-bottom: 12px;

    .post__comments {
      padding: 0 15px;
    }

    .post__header {
      padding: 0 15px;
    }
  }
}

