@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

// ======================================================
// Block
// ======================================================

.take-action {
  @include size(100%, auto);
  @include flexContainer('column');
  animation: fadeList .6s ease forwards;
  z-index: 3;
  padding-bottom: 30px;
}

// ======================================================
// Elements
// ======================================================

.take-action {
  &__header {
    @include size(100%, auto);
  }

}

// ======================================================
// Empty states
// ======================================================

.take-action {

  &__empty-state {
    @include size(100%, auto);
    @include flexContainer('column', center, top);
    transform: translateY(-40px);
    transition: .15s ease;
    pointer-events: none;
  }

  &__empty-arrow {
    padding-bottom: 30px;
  }

  &__empty-arrow-svg {
    @include size(54px, 114px);
    transform: translateX(calc(-50% + 3px));
  }

  &__empty-title {
    @include font(11px, $deepBlue-100, 18px, bold) 
    text-transform: uppercase;
    pointer-events: all;
  }

  &__empty-text {
    @include font(12px, $deepBlue-40, 18px);
    margin-top: 9px;
    text-align: center; 
    pointer-events: all;
  }
}
