@import '~styles/_vars.scss';
@import '~styles/_mixins.scss';

.card-wrapper {
  @include size(100%);
  padding-top: 30px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  & .card {
    @include size(100%, auto);
    @include heightSpecifications(100%, initial);
    @include widthSpecifications(initial, 600px);
    @include border-radius(3px, 3px, 0px, 0px);
    background-color: white;
    box-shadow: 0 6px 12px 1px rgba(0,12,47,0.3);
    margin: 0 auto;
    padding: 0 60px;
  }
}